[2017-02-15 14:40] harryhoch commented on #383
ok, so I'm a user and I want to know how to output my graph in a parseable format. Which of these should I use and why?

We need to give users some guidance to help them make sense of the tools...

[2017-02-15 15:12] espinoj commented on #383
@jdramsey Do you know if anyone is using the previous json output format from Tetrad?  In the CCD we created a new JSON document that has been also been extended to include parameters for the run by Kong.  Should it be retained or deprecated/removed?

[2017-02-28 15:41] yuanzhou opened #386 "Where to specify `experimental` mode?"
I'm working on some UI changes that requires modifications to the `configpost.xml`. I noticed that there is also a `configplay.xml`. And by looking at the code in https://github.com/cmu-phil/tetrad/blob/development/tetrad-gui/src/main/java/edu/cmu/tetradapp/app/TetradApplicationConfig.java#L64

I saw the `experimental` property. Where can specify this so I can test things out with `configplay.xml`

[2017-02-28 19:22] chirayukong opened #387 "Bug in Gfci Discrete"
Hi @jdramsey,
@kingfish777 found a bug in gfci discrete in this cross reference https://github.com/bd2kccd/r-causal/issues/36.

[2017-02-28 21:58] jdramsey commented on #386
I see. That was set in the GUI. But you can set it yourself. Just type

Preferences.userRoot().setBoolean("experimental", true)

It will be that way until unset it, even if you quite Tetrad and restart.

On Tue, Feb 28, 2017 at 10:41 AM, Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall

[2017-02-28 22:28] espinoj opened #388 "gfci refuses to run on discrete data"
version:5.3.0

session file: https://dl.dropboxusercontent.com/u/1505630/gfci.tet

logged originally by peter spirites

[2017-02-28 22:29] espinoj opened #389 "bayesnet im won't connect to a data box"
version: development

session file: https://dl.dropboxusercontent.com/u/1505630/bayesnet.tet

originally logged by peter spirites

[2017-03-01 15:13] yuanzhou commented on #386
@jdramsey Thanks for answering my question. Would it be nice if I create a `tetrad-gui.properties` file inside `tetrad-gui` directory and add the switch there? For example:

[code]

Then `TetradApplicationConfig()` will just need to load the corresponding config xml file based on the properties settings? We can even add more settings in that file later according to the development needs.

How do y

[2017-03-01 15:21] jdramsey commented on #386
That sounds reasonable.

By the way, Peter has asked me to fix a couple of bugs in the interface.
Jeremy's assigned them to me. But I'm confused which branch I should be
working in. I need to fix them and get them in the online version right
away. So I'd like to fix them in 'development' and let Jeremy's algorithm
automatically publish it. Will that screw you up with your work?

Please advise. I n

[2017-03-01 15:25] yuanzhou commented on #386
It won't. No worries, I have been only working on my own branch `zhou-data-loader-gui`, and I pull regularly from your development branch to merge your changes into my branch.

Anything you do in development branch won't affect me. Thanks for checking.

[2017-03-01 16:26] yuanzhou commented on #386
Addressed this issue in branch `zhou-data-loader-gui` via commit https://github.com/cmu-phil/tetrad/commit/8ebfe593a2c324434f587534e336632956046bc2

I'll close this issue one my changes get merged into the development branch.

[2017-03-01 18:16] jdramsey commented on #386
Thanks. :)

Joe

On Wed, Mar 1, 2017 at 11:26 AM, Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-03-02 16:53] yuanzhou commented on #386
Just to clarify that once everything is ready, I'll send a pull request to merge my changes from `zhou-data-loader-gui` into the branch `2017-04` that @espinoj created for this April release purpose. Then we test things out before merging anything into development branch.

[2017-03-02 17:36] jdramsey commented on #386
Thanks.

Joe

On Thu, Mar 2, 2017 at 11:53 AM, Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-03-16 13:49] yuanzhou opened #390 "Build error - surefire-reports"
I noticed this earlier and I ignored it by skipping the maven test. Yesterday I saw the similar build error again when working with another repo.

When I do a `mvn clean package` using the latest tetrad `development` branch, it outputs the following build error:

[code]

Can someone investigate? I have very little knowledge of `tetrad-lib`.

[2017-03-23 15:39] espinoj opened #392 "Tetrad FGESc outputs differently from previous version"

[2017-03-27 18:35] jdramsey opened #393 "Peter's machine displaying "creativity.""
There is an odd bug on Peter's machine where he'll try to run searches using the Discrete BIC score and will get no graph back, through the Compare functionality. Running through the interface isn't all that rosy either. We've been through the basics. He has the same OS as me (Mac El Capitan, same version), the same version of Java as me (1.8, build 121), the same exact code as me (he pulled direc

[2017-03-27 18:44] espinoj commented on #393
This is ok with us.  Will you try it on your branch first?  If it works definitely push it to development.

[2017-03-27 18:50] jdramsey commented on #393
OK. I might just have him insert that snippet into the Tetrad class on his
machine and try it that way. If it helps, I'll add it to development.

On Mon, Mar 27, 2017 at 2:44 PM, Jeremy Espino <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@

[2017-03-28 00:46] ps7z commented on #393
Joe,

Should I go ahead and add this code?

Peter

From: Joseph Ramsey <notifications@github.com<mailto:notifications@github.com>>
Reply-To: cmu-phil/tetrad <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 27, 2017 at 2:35 PM
To: cmu-phil/tetrad <tetrad@noreply.github.com<mailto:tetrad@noreply.github.com>>
Cc: Subscribed <subscribed@noreply.github.com<mailto:subscribed@n

[2017-03-28 08:37] jdramsey commented on #393
Yes. If I'm right, it shouldn't matter where you add it. The first time it
runs (if I'm right) it should clear it. If that doesn't work, by modus
tollens, I'm not right.

Although maybe you need to do the following:

try {
Preferences.userRoot().clear();
Preferences.userRoot().flush();
} catch (BackingStoreException e) {
e.printStackTrace();
}

I'm looking at the Preferences API reference:

https:

[2017-03-28 08:38] jdramsey commented on #393
Try this first and see if it is effective:

try {
Preferences.userRoot().clear();
} catch (BackingStoreException e) {
e.printStackTrace();
}

and then try this:

try {
Preferences.userRoot().clear();
Preferences.userRoot().flush();
} catch (BackingStoreException e) {
e.printStackTrace();
}

On Tue, Mar 28, 2017 at 4:37 AM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special

[2017-03-28 10:23] jdramsey commented on #393
I found that doing this on my machine caused *all* preferences to be
forgotten, as planned, including the file save location. So try putting it
in your code (anywhere), running it, and then commend it back out. When you
launch Tetrad you'll need to click back to where your files are; it won't
remember.

On Tue, Mar 28, 2017 at 4:38 AM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. R

[2017-03-28 10:41] jdramsey opened #394 "Documentation of GUI launch issue with connection to internet."
We need to tell users somewhere that for the Tetrad GUi if they aren't connected to the internet they won't be able to launch. I've found it confusing. I've often thought there was something wrong with the program but I finally figured it out.

Not sure who can help with this but I'm hoping Jeremy knows.

What happens is I'll be working merrily away, quit the program, and won't be able to launch i

[2017-03-28 12:21] harryhoch commented on #394
ouch. Why can' the program launch without an Internet connection? Other than HPC runs, which core functionalities need a network connection?

[2017-03-28 12:59] jdramsey commented on #394
I think it's that gadget the counts the number of launches; it needs to
communicate with the server.

On Tue, Mar 28, 2017 at 8:21 AM, Harry Hochheiser <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://w

[2017-03-28 13:03] harryhoch commented on #394
that's what I thought. Seems like a weak reason to disable the tool. Can't the "phone-home" functionality be run in a separate thread?  If it's non-blocking, it could just time out in the absence of a network connection, freeing the user to go along on her merry way.  This would be much less unfriendly than rendering Tetrad non-functional.

@espinoj, is there any reason why this shouldn't be non-b

[2017-03-28 14:10] espinoj commented on #394
In testing it failed gracefully.  Does this happen on all branches?

[2017-03-28 14:24] espinoj commented on #394
Can someone recreate the condition?  I was unable to on development or the HPC branch without internet.

What are the steps leading to the failure?
What branch?

FYI:  There are two functions that use internet: 1) get the latest version number of the program 2) HPC functionality - only in HPC client, 2017-04 branches

For the latest version functionality communication has a timeout so it fails but

[2017-03-28 14:51] kvb2univpitt commented on #392
The penalty discount has been adjusted from c (p + 1) to c (2p + 1),

[2017-03-28 14:51] #392 closed

[2017-03-28 20:14] jdramsey commented on #394
I guess I can pull from development and see if it works for me. What
happens is I'll be launching tetrad periodically to test something from
IIntellij and sometimes it will hand and not launch. All I have to do is
reset my interconnection and it starts. Could this be something weird on my
machine? Or my internet connection?

On Tue, Mar 28, 2017 at 10:24 AM, Jeremy Espino <notifications@github.com

[2017-03-29 18:04] ps7z commented on #393
Joe,

I can’t find the tetrad class on my machine. There is one called tetrad, but it has to do with calculating tetrad constraints.

Peter

From: Joseph Ramsey <notifications@github.com>
Reply-To: cmu-phil/tetrad <reply@reply.github.com>
Date: Monday, March 27, 2017 at 2:50 PM
To: cmu-phil/tetrad <tetrad@noreply.github.com>
Cc: Peter Spirtes <ps7z@andrew.cmu.edu>, Assign <assign@noreply.github.co

[2017-03-29 22:25] jdramsey commented on #393
You can just put it in the algorithm comparison tool script you're running,
run the script once, and then remove it from the script.

Joe

On Wed, Mar 29, 2017 at 2:04 PM, ps7z <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office

[2017-03-30 01:29] ps7z commented on #393
Joe, I tried putting the first piece of code in ExampleCompareFromFiles, running it, putting the second piece of code in, running it, and then removing it. Everything seems to work except the BIC score, which does not work (produces empty graphs) in either GFCI or in FGES. It also does not work in the interface.

Peter

From: Joseph Ramsey <notifications@github.com>
Reply-To: cmu-phil/tetrad <repl

[2017-03-30 01:38] jdramsey commented on #393
OK, I'll try to think about it some more. Maybe in this case it would be
helpful to peek at your machine for an hour or so.

On Wed, Mar 29, 2017 at 9:29 PM, ps7z <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-80

[2017-03-30 03:38] espinoj commented on #394
Kevin let me know he was able to replicate this today.  So tomorrow I'll determine what is going on.
@kvb2univpitt
@jdramsey

[2017-04-10 16:11] espinoj opened #398 "data manipulator"
In a beta build a user asked "where is the data manipulator?"

Ok to add this back?

@jdramsey

[2017-04-10 19:03] jdramsey commented on #398
If you have room for it in the left toolbar. I took it out because I was
running out of space for buttons.

On Mon, Apr 10, 2017 at 12:11 PM, Jeremy Espino <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http

[2017-04-17 17:43] chirayukong opened #401 "Bootstrapping on RFCI, FGES, and GFCI and its results on Tetrad"
Guys,

The new bootstrapping test was added to the tetrad-lib in the the 2017-04-bootstrap branch. The search results with the edge type's distribution was attached to the result. Below is the example of the bootstrapping GFCI result with the 20 generated discrete variables with 2 edges per node, 1000 cases, and 100 bootstrap samples:

Generating data
Bootstrapping on the GFCI algorithm
Running Bo

[2017-04-17 18:24] jdramsey commented on #401
How does that compare to the truth?

On Mon, Apr 17, 2017 at 1:43 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-04-17 18:25] jdramsey commented on #401
What do these figures mean?

nil:0.97 ta:0.01 at:0.0 ca:0.0 ac:0.01 cc:0.01 aa:0.0 tt:0.0

Joe

On Mon, Apr 17, 2017 at 2:24 PM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.

[2017-04-17 18:32] chirayukong commented on #401
Sorry. Forgot to elaborate those abbrev.

nil : no edge
ta : tail and arrow (->)
at : arrow and tail (<-)
ca : circle and arrow (o->)
ac : arrow and circle (<-o)
cc : circle and circle (o-o)
aa : arrow and arrow (<->)

For an evaluation, Mahdi tested the results with estimated graph (no
bootstrap) and truth and he said the result was ok.

On Mon, Apr 17, 2017 at 2:25 PM, Joseph Ramsey <notificatio

[2017-04-17 18:38] jdramsey commented on #401
@ps7z

Is this for continuous data or discrete data? I'm guessing continuous, but
I'm not sure...

On Mon, Apr 17, 2017 at 2:32 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-

[2017-04-17 18:49] chirayukong commented on #401
It was discrete.

On Mon, Apr 17, 2017 at 14:38 Joseph Ramsey <notifications@github.com>
wrote:

[2017-04-19 02:10] ropeless opened #402 "Invalid error "The parent graph cannot be converted to a DAG.""
The issue appears in the build versions of TETRAD:
    tetrad-gui-6.0.0-launch.jar
    tetrad-gui-6.1.0-launch.jar

Do the following to demonstrate the issue:
1) Start TETRAD (GUI), there will be a blank, untitled workspace.
2) Add a graph to the workspace
3) Double click the graph and select "Graph", click OK
4) Add 2 variables, x1 and x2, and add a directed arc from x1 to x2, click Done
5) Add a

[2017-04-19 18:25] cg09 opened #403 "Lee and Hastie does not work"
6.1.0.0 Lee and Hastie for mixed data types---Search does not work, throws an exception.

[2017-04-19 18:46] jdramsey commented on #403
The issue isn't so much Lee & Hastie as that you can't run PC after making mixed data using Lee & Hastie.

[2017-04-21 04:31] chirayukong commented on #401
Update on the bootstrap: FGESc
int penaltyDiscount = 2;
	boolean faithfulnessAssumed = false;
	int maxDegree = -1;

	int numVars = 40;
	int edgesPerNode = 2;
	int numLatentConfounders = 0;
	int numCases = 1000;
	int numBootstrapSamples = 100;
	boolean verbose = false;

	Graph dag = makeContinuousDAG(numVars, numLatentConfounders, edgesPerNode);

	System.out.println("Truth Graph:");
	System.out.pri

[2017-04-21 04:32] chirayukong commented on #401
Update on the bootstrap: FGESd
double structurePrior = 1, samplePrior = 1;
	boolean faithfulnessAssumed = false;
	int maxDegree = -1;

	int numVars = 40;
	int edgesPerNode = 2;
	int numLatentConfounders = 0;
	int numCases = 1000;
	int numBootstrapSamples = 100;
	boolean verbose = false;
	long seed = 123;

	Graph dag = makeDiscreteDAG(numVars, numLatentConfounders, edgesPerNode);

	System.out.print

[2017-04-21 04:36] chirayukong commented on #401
There are three ways to select bootstrapping edges
- Highest - choose any edge's type that has the highest prob.
- Preserved - choose the edge's type that is not nil and has the highest prob. first, otherwise choose nil.
- Majority - choose any edge's type that has a prob. > .5 otherwise choose nil.

[2017-04-23 20:57] mglymour opened #404 "Graph comparison functions missing"
In 6.0.1-0 (cloned from the development branch on April 11), when I use the comparison box on two SEM graphs (or time lag graphs) it automatically opens a Graph Intersection comparison, without giving the options for any other type of comparison. Two DAGs allows only a Graph Intersection or an Independence Facts comparison. General graphs allow all the usual options.

[2017-04-24 18:57] chirayukong commented on #401
Update on the bootstrap: GFCIc

        int penaltyDiscount = 2;
	boolean faithfulnessAssumed = false;
	int maxDegree = -1;
	int numVars = 40;
	int edgesPerNode = 2;
	int numLatentConfounders = 5;
	int numCases = 1000;
	int numBootstrapSamples = 100;
	boolean verbose = false;

	Graph dag = makeContinuousDAG(numVars, numLatentConfounders, edgesPerNode);

	DagToPag dagToPag = new DagToPag(dag);

[2017-04-24 18:58] chirayukong commented on #401
Truth PAG Graph:
Graph Nodes:
0,1,2,3,4,5,7,8,9,10,11,12,13,14,15,17,18,19,20,22,23,24,25,27,28,29,30,31,33,34,35,36,37,38,39

Graph Edges:
1. 0 o-o 13
2. 0 o-> 15
3. 0 o-> 22
4. 0 o-> 24
5. 0 o-> 28
6. 0 --> 36
7. 0 --> 39
8. 0 o-> 7
9. 0 o-> 9
10. 1 o-> 10
11. 1 o-> 27
12. 1 --> 36
13. 10 --> 15
14. 10 --> 18
15. 10 --> 23
16. 10 --> 31
17. 10 --> 34
18. 10 --> 36
19. 11 o-o 14
20. 11 o-> 20
21.

[2017-04-24 19:03] chirayukong commented on #401
Update on the bootstrap: GFCId

	double structurePrior = 1, samplePrior = 1;
	boolean faithfulnessAssumed = false;
	int maxDegree = -1;

	int numVars = 40;
	int edgesPerNode = 2;
	int numLatentConfounders = 5;
	int numCases = 1000;
	int numBootstrapSamples = 100;
	boolean verbose = false;
	long seed = 123;

	Graph dag = makeDiscreteDAG(numVars, numLatentConfounders, edgesPerNode);

	DagToPag dagTo

[2017-04-24 19:05] chirayukong commented on #401
Truth PAG Graph:
Graph Nodes:
0,1,3,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,24,26,27,28,29,30,31,32,33,35,36,37,38,39

Graph Edges:
1. 0 o-> 15
2. 0 o-> 19
3. 0 o-> 33
4. 0 o-> 35
5. 1 o-> 16
6. 1 o-> 20
7. 1 o-> 22
8. 1 o-> 26
9. 1 o-> 35
10. 1 o-> 36
11. 1 o-o 5
12. 10 o-o 12
13. 10 --> 20
14. 10 --> 22
15. 10 --> 33
16. 10 o-> 36
17. 10 --> 39
18. 11 o-> 16
19. 11 o-> 19
20. 11 o-> 26

[2017-04-24 19:08] chirayukong commented on #401
Update on the bootstrap: RFCIc

	int penaltyDiscount = 2;
	boolean faithfulnessAssumed = false;
	int maxDegree = -1;

	int numVars = 40;
	int edgesPerNode = 2;
	int numLatentConfounders = 5;
	int numCases = 1000;
	int numBootstrapSamples = 100;
	boolean verbose = false;

	Graph dag = makeContinuousDAG(numVars, numLatentConfounders, edgesPerNode);

	DagToPag dagToPag = new DagToPag(dag);
        Gr

[2017-04-24 19:08] chirayukong commented on #401
Truth PAG Graph:
Graph Nodes:
1,2,3,6,7,8,9,10,11,12,13,15,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39

Graph Edges:
1. 1 o-> 15
2. 1 o-> 17
3. 1 o-> 18
4. 1 o-> 20
5. 1 o-> 21
6. 1 o-> 23
7. 1 o-> 26
8. 1 --> 27
9. 1 --> 31
10. 1 o-> 32
11. 1 o-> 33
12. 1 o-> 34
13. 1 o-> 37
14. 1 o-> 38
15. 1 o-o 8
16. 10 o-> 21
17. 10 o-> 37
18. 11 --> 15
19. 11 --> 17
20. 11 --> 18
21.

[2017-04-24 19:10] chirayukong commented on #401
Update on the bootstrap: RFCId

	double structurePrior = 1, samplePrior = 1;
	boolean faithfulnessAssumed = false;
	int maxDegree = -1;

	int numVars = 40;
	int edgesPerNode = 2;
	int numLatentConfounders = 5;
	int numCases = 1000;
	int numBootstrapSamples = 100;
	boolean verbose = false;
	long seed = 123;

	Graph dag = makeDiscreteDAG(numVars, numLatentConfounders, edgesPerNode);

	DagToPag dagTo

[2017-04-24 19:10] chirayukong commented on #401
Truth PAG Graph:
Graph Nodes:
0,1,3,4,5,6,7,8,9,10,12,13,14,15,16,17,18,19,20,21,22,24,25,26,27,28,30,31,32,34,35,36,37,38,39

Graph Edges:
1. 0 o-> 20
2. 0 --> 28
3. 0 o-> 3
4. 0 --> 35
5. 0 o-o 6
6. 1 o-o 24
7. 1 o-> 3
8. 1 o-> 32
9. 1 --> 34
10. 1 o-o 5
11. 10 o-> 17
12. 10 o-> 20
13. 12 o-> 39
14. 13 --> 14
15. 13 --> 22
16. 13 --> 26
17. 13 --> 31
18. 13 --> 34
19. 13 --> 39
20. 14 --> 15
21.

[2017-04-24 21:31] kjchalup opened #405 "Python API"
As far as I know, most machine learning on academic level is done in Python (or, unfortunately, Matlab). I wouldn't request porting all of Tetrad to Python, but it'd be great if you had an official wrapper/API. For example, Matlab actually did a great job here: https://www.mathworks.com/help/matlab/matlab-engine-for-python.html.

[2017-04-24 22:20] rubencmu commented on #405
@kjchalup  https://github.com/bd2kccd/py-causal

[2017-04-26 06:02] mglymour opened #406 "SEM PM does not accept bidirected edges"
In the Tetrad 6.0.1-0 gui (pulled from development on April 11) the SEM PM box will not open when a graph with a bidirected edge is used as input. The following error message appears: "Attempt to set a label on a model edge that's not in the editor: X3 <-> X2."

After closing the error message, the box opens as normal.

[2017-04-26 21:01] mglymour opened #407 "Bayes IM box will not reinitialize"
In Tetrad 6.0.1-0, pulled from development on April 11, if you leave "Pick new random values every time this Bayes IM is re-initialized" unchecked when randomly assigning probabilities, then destroy the model, it is impossible to create a new model in the box; Tetrad creates a blank error message.

[2017-05-18 13:34] espinoj opened #411 "Lee Hastings implementation"
Clark reports a bug in the Lee Hastings algorithm that should be fixed.  Joe if you fix this in development I'll backport it to the 6.2 release.

[2017-05-27 03:16] jdramsey opened #416 "Graph doesn't remember layout in search box."
If you run a search, then layout the graph a particular way, then run the search again, it forgets how you laid out the graph and makes it a circle again. This is suboptimal; people sometimes spend a lot of time laying out the graph a particular way. Then they have to do all of that again.

[2017-05-31 10:23] jdramsey opened #420 "Remove forbidden and required graphs from interface"
I think we should comment out the forbidden and required graphs from the config file for the GUI until the interface has been discussed. Madelyn found it confusing when trying to write the manual, and it was kind of ad hoc anyway. Quick fix if agreed to.

[2017-05-31 10:32] jdramsey commented on #411
I can't get it to break. This may be a non-bug.

[2017-05-31 10:34] jdramsey commented on #401
Is this still a bug or is it fixed?

[2017-05-31 10:35] jdramsey commented on #388
I think this must be fixed by now, no?

[2017-05-31 10:35] #388 closed

[2017-05-31 10:36] jdramsey commented on #386
Is this fixed?

[2017-05-31 10:39] jdramsey commented on #380
By the way, I think I fixed this, but could you try again? It doesn't actually parallelize all that great, but I don't think it will break now in a parallel environment.

[2017-05-31 10:40] jdramsey commented on #379
The discussion seems to have stopped on this.

[2017-05-31 10:40] #379 closed

[2017-05-31 10:43] #405 closed

[2017-05-31 10:44] jdramsey opened #421 "Fix the conversion of patterns to DAGs"
I think the algorithms for these is wrong, after discussion with Erich Kummerfeld. Need to fix it.

[2017-05-31 10:48] jdramsey commented on #398
Sorry for the delay. If you hook up a data box to another data box like this

<img width="426" alt="screen shot 2017-05-31 at 6 46 55 am" src="https://cloud.githubusercontent.com/assets/9853255/26628680/05fbe81a-45cd-11e7-8f9a-58cbd92b3b34.png">

and double click it, you will see all of the data manipulations.

[2017-05-31 10:48] #398 closed

[2017-05-31 10:49] jdramsey commented on #393
This is fixed.

[2017-05-31 10:49] #393 closed

[2017-05-31 10:49] jdramsey commented on #363
Done.

[2017-05-31 10:49] #363 closed

[2017-05-31 10:51] jdramsey commented on #359
In any case if you use the "convert numerical discrete to continuous" manipulation (hook up a data manipulation box to your discrete data and double click) you should be able to hook up a further data manipulation to convert the data to a covariance matrix.

[2017-05-31 10:51] #359 closed

[2017-05-31 12:35] #411 closed

[2017-05-31 14:46] yuanzhou commented on #386
Yes! I'll close this issue.

[2017-05-31 14:46] #386 closed

[2017-05-31 15:10] chirayukong commented on #401
It is not a bug. Just new algorithms. :-)

[2017-05-31 15:10] #401 closed

[2017-05-31 15:39] jdramsey commented on #401
Thanks! I'm trying to clear up some of these issues.

On Wed, May 31, 2017 at 11:10 AM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-05-31 18:14] jdramsey commented on #407
Yay, spelling error! Can you spot it?

        } else if (getParams().getString("initializationMode", "manualRetain").equals("randomRatain")) {
            randomly.setSelected(true);
            randomEveryTime.setEnabled(true);
            randomEveryTime.setSelected(false);

[2017-05-31 18:14] #407 closed

[2017-05-31 18:29] jdramsey commented on #404
OK fixed this, in 'fang'. Just need to add a couple of interfaces in the right places.

[2017-05-31 18:29] #404 closed

[2017-05-31 18:29] jdramsey commented on #403
Duplicate.

[2017-05-31 18:29] #403 closed

[2017-05-31 19:05] jdramsey commented on #394
@espinoj I have not had problems with this lately. I noticed a lot of debugging code was added for it. Some of it prints out in red. Is that a problem? Here's a screenshot:

<img width="1328" alt="screen shot 2017-05-31 at 3 04 33 pm" src="https://cloud.githubusercontent.com/assets/9853255/26649055/85a4b9bc-4612-11e7-8e26-c3944358c091.png">

[2017-05-31 19:07] jdramsey commented on #390
I believe this was exhaustively discussed. We decided to remove that test from the build. Re-open if that's not true.

[2017-05-31 19:07] #390 closed

[2017-05-31 19:08] harryhoch commented on #394
@jdramsey, I have no idea if that code indicates a problem. looks ok to me. Do you need a test of the phone home functionality? I can try it out.

[2017-05-31 19:13] jdramsey commented on #389
It should not connect to the simulation box instead.

[2017-05-31 19:13] #389 closed

[2017-05-31 19:16] jdramsey commented on #317
Does anyone have any further comments on this issue?

[2017-05-31 19:17] jdramsey commented on #293
No one else seems to have been interested in this, so I'm closing it. I think it should be reopened only if the interface group finds it interesting.

[2017-05-31 19:17] #293 closed

[2017-05-31 19:18] jdramsey commented on #280
Conditional Gaussian is not a submitted paper with Bryan Andrews.

PC-Max is a tech report on arxiv.

WFGS was not worth the trouble.

GCCD was not worth the trouble.

Closing.

[2017-05-31 19:18] #280 closed

[2017-05-31 19:20] jdramsey commented on #226
This is done.

[2017-05-31 19:20] #226 closed

[2017-05-31 19:20] jdramsey commented on #60
Kun has a better idea.

[2017-05-31 19:21] #60 closed

[2017-05-31 19:21] jdramsey commented on #61
Kun has a better idea.

[2017-05-31 19:21] jdramsey commented on #62
Kun has a better idea.

[2017-05-31 19:21] #62 closed

[2017-05-31 19:22] jdramsey commented on #208
This has been fixed in the new GUI.

[2017-05-31 19:22] #208 closed

[2017-05-31 19:22] jdramsey commented on #214
Fixed.

[2017-05-31 19:22] #214 closed

[2017-05-31 19:23] jdramsey commented on #216
@espinoj I think this is done, no?

[2017-05-31 19:24] jdramsey commented on #254
If this comes up in the course of an interface discussion, I will give input.

[2017-05-31 19:24] #254 closed

[2017-05-31 19:25] jdramsey commented on #328
I believe this issue has been *thoroughly* discussed and implemented. Are there any threads left? Can it be closed?

[2017-05-31 19:25] espinoj commented on #216
@jdramsey  It isn't but it is low priority.  I am assigning to Kevin.

[2017-05-31 19:26] espinoj commented on #328
Yes these ideas are implemented.  Closing.

[2017-05-31 19:26] #328 closed

[2017-05-31 19:27] jdramsey commented on #346
Has this issue been sufficiently discussed? Can I close it?

[2017-05-31 19:28] jdramsey commented on #350
Sorry, I didn't see this. Unfortunately, tet files are binary traces of the state of the object tree as stored in the GUI; there is no fixed format.

[2017-05-31 19:28] #350 closed

[2017-05-31 19:29] espinoj commented on #346
We switched to kevin's reader in Tetrad.  I guess we should deprecate the older data reader since we've switched in all applications now.  Closing and adding an issue to deprecate.

[2017-05-31 19:29] espinoj opened #422 "Deprecate edu.cmu.tetrad.data.BigDataSetUtility"
Since we are now using new data reader.

[2017-05-31 19:30] jdramsey commented on #362
I believe this problem is fixed. In any case, it's been reported in the other project. Closing this.

[2017-05-31 19:30] #362 closed

[2017-05-31 19:38] jdramsey commented on #394
Sure, though like I said I've not been experiencing the problem lately.

Joe

On Wed, May 31, 2017 at 3:08 PM, Harry Hochheiser <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/j

[2017-05-31 19:41] jdramsey commented on #346
Thanks. I'll need to switch over several uses of the old data reader in
tests and such, but I can do that whenever.

On Wed, May 31, 2017 at 3:29 PM, Jeremy Espino <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8

[2017-05-31 19:52] jdramsey commented on #347
@kvb2univpitt Kevin, is this still a problem? Can I close?

[2017-05-31 19:53] jdramsey commented on #387
Closed in referring issues list.

[2017-05-31 19:53] #387 closed

[2017-05-31 19:55] jdramsey commented on #420
@espinoj @yuanzhou Can I just go ahead and comment these out? I am the only one who's ever used them, I think.

[2017-05-31 19:56] jdramsey commented on #380
I'm calling this fixed.

[2017-05-31 19:56] #380 closed

[2017-05-31 19:57] #346 closed

[2017-05-31 20:00] jdramsey commented on #330
These need to be deprecated; we no longer have anyone who can work on them, sorry.

[2017-05-31 20:00] #330 closed

[2017-05-31 20:08] #378 closed

[2017-05-31 20:09] jdramsey commented on #371
This is a problem somewhere in the javahelp code. We've taken Javahelp out of the GUI, so it's not a problem now.

[2017-05-31 20:09] #371 closed

[2017-05-31 20:12] jdramsey commented on #358
You're probably already done with this, but you can use the numerical discrete to continuous data manipulation to do that conversion. Reopen the issue if you want to discuss more. Right now I'm trying to get rid of old issues. -jdramsey

[2017-05-31 20:12] #358 closed

[2017-05-31 20:13] harryhoch commented on #394
happy to do so. which branch should I use?

[2017-05-31 20:17] jdramsey commented on #394
@epinoj Jeremy, which branch can Harry use to test the "phone home"
functionality? Whatever you guys are using is fine by me.

On Wed, May 31, 2017 at 4:13 PM, Harry Hochheiser <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office

[2017-05-31 20:40] harryhoch commented on #394
I just tried it on 2017-04-dev-merge and it ran fine, but it throws an ugly exception...

This is certainly low priority, but it would be cleaner to catch this exception...

16:38:35.501 [main] DEBUG org.apache.http.impl.conn.PoolingHttpClientConnectionManager - Connection manager shut down
16:38:35.505 [main] ERROR edu.cmu.tetrad.latest.LatestClient - Could not contact server for latest version
j

[2017-06-01 19:47] espinoj commented on #394
Yes, we can definitely change the log level for that to INFO.

[2017-06-02 12:06] amurrayw opened #423 "FOFC GUI bug..."
Tetrad version: 6.1.0-0
Operating system: Windows 7
Java version:  Java SE RE build 1.8.0_131-b11.

Hi Joe,

In the linked session (https://www.dropbox.com/s/ov37e4p1mjqm468/FOFC_bug%20tetrad.tet?dl=0), FOFC, FTFC, and BPC refuse to run on simulated data. Clicking the search button switches to the “Output Graphs” tab, which contains no graph or even a list of variables. Other searches (e.g., PC) p

[2017-06-02 12:12] jdramsey commented on #420
I didn't hear back from anyone--I am commenting these out in the 'fang' branch so Madelyn can finish up the manual.

[2017-06-02 12:12] #420 closed

[2017-06-02 13:05] jdramsey commented on #368
Sorry for the delay, *very* busy. I fixed this in the 'fang' branch. After I fix a bunch more bugs I'll lobby for it to be included in the 'development' branch.

[2017-06-02 13:05] #368 closed

[2017-06-02 13:31] jdramsey commented on #219
OK, I just set all values involving NaN's to zero. I think that's the best you can do if you don't want to interpolate. If you want to interpolate, you should do that up front, before you use CCI. Committing this to 'fang'; hopefully, it will end up in 'development' soon enough.

[2017-06-02 13:31] #219 closed

[2017-06-02 13:35] jdramsey commented on #344
PC-Lingam is not in the current interface; we were having problems with it. When I get a chance I'll try to add it back in, though it's not a priority for us at the moment. I'm going to close this for now, but I'll keep it in mind.

@espinoj

[2017-06-02 13:35] #344 closed

[2017-06-02 13:39] jdramsey commented on #347
This must have been fixed since it's working in the GUI now. Closing it. Reopen if you find an error.

@espinoj
@kvb2univpitt

[2017-06-02 13:39] #347 closed

[2017-06-02 13:59] jdramsey commented on #352
Did a quick edit of the README file. Not sure what else was requested. I didn't see any other README's so I wasn't sure what was being referred to. Were these in causal-command or other projects?

@yuanzhou
@espinoj

[2017-06-02 14:03] jdramsey commented on #317
I realized in some recent work with Kun that this was a design feature and not a flaw. For deterministic data, this is exactly how the algorithm should behave--that is, for PC, it should _not_ take the edge out (return a judgment of 'dependence') if these is a linear dependency Sorry I didn't think of this earlier. Closing.

[2017-06-02 14:03] #317 closed

[2017-06-02 14:52] dmalinsk commented on #317
A while ago I added a line of code to the Fisher Z test (in the method
isIndependent) to throw a warning when the outcome is NaN, because the
matrix won't invert. The line is below.

I'm not sure if this ever got added to "development" or "fang" or the
public code, but I think this is a good idea and should be added for all
the tests. People don't always know they've got multicollinearity, or wher

[2017-06-02 15:03] jdramsey commented on #317
It's already printing that, I think. I noticed this when I was working on
the determinism case the other day. But I'll check again.

On Fri, Jun 2, 2017 at 10:52 AM, dmalinsk <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office:

[2017-06-02 15:04] jdramsey commented on #317
It's printing this, which prints a message that determinism was detected:

System.out.println(SearchLogUtils.determinismDetected(z, x));

On Fri, Jun 2, 2017 at 11:03 AM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com

[2017-06-02 15:04] jdramsey commented on #317
Actually here's the whole thing:

try {
    r = partialCorrelation(x, y, z);
} catch (SingularMatrixException e) {
    System.out.println(SearchLogUtils.determinismDetected(z, x));
    return true;
}

I adjusted it to make it work right the other day.

On Fri, Jun 2, 2017 at 11:04 AM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Compu

[2017-06-02 15:07] jdramsey commented on #421
I made the one correction to SearchGraphUtils.dagFromPattern(). I looked at DagInPatternIterator and it was check colliders as required, so booyah. All fixed now. Closing.

[2017-06-02 15:07] #421 closed

[2017-06-02 15:11] jdramsey commented on #282
Won't fix.

[2017-06-02 15:11] #282 closed

[2017-06-02 15:22] jdramsey commented on #402
Tricky. Typo. Had nothing to do with the arrow flip. Fixed, closing. Thanks.

[2017-06-02 15:22] #402 closed

[2017-06-02 15:25] jdramsey commented on #351
@chirayukong I can't seem to download this file; I click download but the file does not appear on my computer. Can you send me the file somehow, dropbox google drive box?

[2017-06-02 15:26] jdramsey commented on #351
@chirayukong Actually could you rerun your test using the current API with the mixture data loader?

[2017-06-02 15:28] jdramsey commented on #383
@espinoj Sorry so late, very busy. I will swear on Andrew Jackson's grave that no one is using that json output format. It should be summarily removed! :) (Sorry, I am always so happy when things can be removed.)

[2017-06-02 15:29] jdramsey commented on #381
@harryhoch Was this fixed? Can I close the issue?

[2017-06-02 15:31] jdramsey commented on #357
@harryhoch Did anyone ever follow up on this? Is it on the right issues list? Can I close it?

[2017-06-02 15:59] jdramsey commented on #406
OK I tracked this down and fixed it, in 'fang'.

[2017-06-02 15:59] #406 closed

[2017-06-02 16:15] dmalinsk commented on #317
Only for Fisher Z? Or for all implemented independence tests?

On Fri, Jun 2, 2017 at 11:03 AM, Joseph Ramsey <notifications@github.com>
wrote:

[2017-06-02 17:42] jdramsey commented on #317
Just for Fisher Z. Once I stop feeling exhausted I'll think about the
others. I'm getting there.

On Fri, Jun 2, 2017 at 12:15 PM, dmalinsk <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cm

[2017-06-02 17:43] dmalinsk commented on #317
No worries Joe this isn't urgent so take a break!

On Fri, Jun 2, 2017 at 1:42 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2017-06-02 18:07] harryhoch commented on #357
I think this is fine, and yes, will put under causal-cmd in the future.

[2017-06-02 18:07] #357 closed

[2017-06-02 18:11] harryhoch commented on #381
Nope. not fixed. I just pulled causal-cmd-0.2.0 and built it, and it now fails silently without writing any output.

[2017-06-03 20:28] jdramsey commented on #416
One step down--now if you do a search over multiple runs and change the layout for one of the runs, it will copy that layout for the other runs. Good. But if you re-do the search, it will go back to a circle, which was the original problem. Somehow need to transfer the information...

[2017-06-04 13:00] jdramsey commented on #416
I got it! I got it! That only took me an entire day! OK NOW:

(a) If you do multiple runs and click back and forth between the graphs for separate runs, the layout stays the same. AND:

(b) If you re-run the search, the layout stays the same! Yay!

I believe that's done. In 'fang'. Closing.

[2017-06-04 13:00] #416 closed

[2017-06-04 13:20] jdramsey commented on #423
(1) I can't load this; it must be for an old version of Tetrad. Can you grab the new version?

(2) I'm attaching a session that works. I think what's happened is that you've given it data for which BPC finds no clusters. In the simulation, you need to make an MIM graph, as attached, with 4 measures per latent. Then it can find clusters.

https://www.dropbox.com/s/k20ot8zhgntw5if/examplebpc.tet?dl=

[2017-06-04 13:20] #423 closed

[2017-06-04 19:41] espinoj opened #426 "Data Reader whitespace parser doesn't handle single space"
The new data loader works well - but it doesn't seem to handle covariance data -

Richard

[2017-06-05 13:47] espinoj commented on #426
The bug is in the whitespace parser such that even though the delimited is a single space it isn't parsing correctly.  Workaround is to manually select single character->space at least for Richard's datasets

@kvb2univpitt can you check

[2017-06-05 17:49] espinoj commented on #381
moving this causal cmd project

[2017-06-05 17:49] #381 closed

[2017-06-05 17:51] espinoj commented on #357
now is https://github.com/bd2kccd/causal-cmd/issues/22

[2017-06-05 17:53] espinoj commented on #383
there is an issue in causal-cmd project to address removing
--tetrad-graph-json Create Tetrad Graph JSON output.

https://github.com/bd2kccd/causal-cmd/issues/22

[2017-06-05 18:08] espinoj commented on #216
Making an issue in causal-cmd project and closing

[2017-06-05 18:08] #216 closed

[2017-06-05 21:22] kvb2univpitt commented on #426
Fixed.  Please give it a try now.  Remember to delete the old data-reader from your local maven repository.

[2017-06-06 10:46] kvb2univpitt commented on #422
This class has been deprecated since last year.  We should completely remove it.

[2017-06-06 19:38] espinoj commented on #383
Kevin investigated this today
--json Create JSON output.
Is the format Harry and I came up with

--tetrad-graph-json Create Tetrad Graph JSON output.
is the format that is a very complete serialization of tetrad graphs (including coordinates) that Kong is using for sync between Tetrad and the HPC setup

@harryhoch if you are no longer using --json to do graph database work I suggest removing --jso

[2017-06-06 23:47] harryhoch commented on #383
@espinoj, can we leave --json in and just hide it ? ie, remove it from the usage line?

[2017-06-07 07:30] amurrayw commented on #423
Thanks, I grabbed the new version of Tetrad and FOFC runs (sorry, I usually download and compile from the git repository, but the computer I'm on is stuck in German+windows so that's difficult to set up). I must have downloaded an old version by mistake.

However, the output lacks any latent-latent edges, which I thought the algorithm could do? I seem to recall your paper with Erich running FOFC o

[2017-06-07 12:05] jdramsey commented on #423
In my simulation, I get latent-latent edges.

On Wed, Jun 7, 2017 at 3:30 AM, Alexander Murray-Watters <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-07 12:07] jdramsey commented on #423
Oh no, *I* know the problem. You're not running Mimbuild. BPC only
estimates the clusters. Mimbuild then estimates a covariance matrix over
the latents and runs a pattern search. then you get latent-latent edges if
they exist and are detectable.

On Wed, Jun 7, 2017 at 8:05 AM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
De

[2017-06-07 12:14] amurrayw commented on #423
I know about Mimbuild, but it doesn't show up in the search box. I think it used to pop up when you linked a search box to another search box?

[2017-06-07 12:36] jdramsey commented on #423
You make a new search box and feed the data and BPC into it.

On Wed, Jun 7, 2017 at 8:14 AM, Alexander Murray-Watters <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-07 12:36] jdramsey commented on #423
Didn't the example I sent do that? Sorry.

On Wed, Jun 7, 2017 at 8:36 AM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-07 14:09] espinoj commented on #383
@harryhoch yes, i'll let kevin know.
@kvb2univpitt

[2017-06-07 18:50] espinoj commented on #383
fixed in https://github.com/bd2kccd/causal-cmd/releases/tag/v0.2.1

[2017-06-07 18:50] #383 closed

[2017-06-07 19:44] espinoj opened #428 "Available edge types for different graphs seems wrong"
1) When you do a Graph, you have 4 choices: Graph, DAG, SEM graph, and Time Lag.  The Graph, SEM, and Time Lag editor seem to have the appropriate options for the types of edges you can insert - but the DAG option seems wrong.  It should only offer a directed edge, and prevent cycles.  But it also allows o->, and o-o, and <-> .

[2017-06-07 19:44] espinoj opened #429 "Creating pipelines doesn't get created in correct session"
New session.   Did a few simulations in session 1, opened a "new session" - session 2.  Clicked on first Pipeline choice - nothing happened.   Wend back to session 1, saw that my pipeline was inserted there instead of session 2.

[2017-06-09 15:29] #428 closed

[2017-06-09 15:30] espinoj commented on #428
fixed by joe

[2017-06-09 15:30] espinoj commented on #429
fixed by joe

[2017-06-09 15:30] #429 closed

[2017-06-09 18:25] rubencmu opened #432 "Opening mutiple sessions"
@jdramsey From the ccd-helpdesk:

--The logging for the new Tetrad is much less verbose. The columns of loaded data and their domains are no longer printed. Neither are the edges of found graphs.

-- I can no longer open multiple Tetrad sessions at a time

Any information about this topics is welcome.

[2017-06-09 19:08] espinoj commented on #426
fixed

[2017-06-09 19:08] #426 closed

[2017-06-09 19:09] espinoj commented on #352
Joe addressed

[2017-06-09 19:09] #352 closed

[2017-06-09 19:10] espinoj commented on #221
Done - at least first version!

[2017-06-09 19:10] #221 closed

[2017-06-09 19:25] espinoj commented on #432
@kvb2univpitt I remember verbose logging got turned off at some point by default.  Can you turn it back on?

[2017-06-09 19:38] jdramsey commented on #432
I don't understand. I can open multiple sessions. I can't open the same one twice, but if they're different I can. I wonder how to make this break?

[2017-06-09 20:08] espinoj commented on #432
@rubencmu I spoke to Kevin and he isn't sure if this is related to console logging in general.  He did note that during a search he suggested Joe turn off logging because it slowed down the search significantly.  Can you collect some more information from the user?  Is this when the search is running?  Is it on the console or some other log file?

[2017-06-10 04:46] jdramsey opened #436 "Lee & Hastie simulation not selected properly."
I noticed that in the Simulation box when you select the Lee & Hastie model you don't get the Lee & Hastie parameters. For that, you have to select Time Series. Creating a pull request with the fix.

[2017-06-10 04:48] jdramsey commented on #436
Issue https://github.com/cmu-phil/tetrad/pull/437.

[2017-06-12 13:05] espinoj opened #439 "updater doesn't work for manipulated evidence"
from richard

The updater doesn't work for manipulated evidence properly.  The non-updated and updated probability for YF set=1 should be the same, but isnt'

@jdramsey I have the guys working on this but if you have time please take a look

[2017-06-12 13:19] espinoj commented on #439
RIchard also posted a tetrad session file

https://www.dropbox.com/s/e73spl1u09hyypb/updater-bug.tet?dl=0

[2017-06-12 18:18] yuanzhou opened #440 "Knowledge box resets to two tiers after reopening"
I put variables in 3 tiers, as shown below.

![screen shot 2017-06-12 at 2 14 56 pm](https://user-images.githubusercontent.com/195873/27048387-95296eee-4f79-11e7-9389-b9990c086899.png)

And when I reopen the knowledge box, I only see two tiers.

![screen shot 2017-06-12 at 2 16 54 pm](https://user-images.githubusercontent.com/195873/27048442-d908b3b8-4f79-11e7-9bc4-798e85397e1e.png)

However I can

[2017-06-12 18:19] espinoj commented on #440
@yuanzhou can you try to debug/fix

[2017-06-12 18:30] espinoj commented on #439
Some details on this and the incorrect behavior.  Perform a hard manipulation on YP i.e., disconnect it from the graph and set Y to yes, look at the posterior of LC,  now set Y to no, look at the posterior of LC.  The posterior should not change since Y is independent but it did!

[2017-06-12 18:43] Ringenberg opened #441 "On high resolution screens, the fonts in the GUI are really small."
Several people in the CCD Summer course noted that the GUI was essentially unreadable because the font was too small.

The quick solution was to lower the user's display resolution.

This is apparently a known issue with Java/Swing which falsely reports that it is DPI aware.

[2017-06-12 19:01] espinoj opened #442 "Not an edge in this model EX2 -> X2"
Create a pipeline of Graph -> PM -> IM
Create the following graph  (use Sem graph) using X1 -> X2, X2 -> X3, X2 -> X4
Double click PM (use Sem)  Param Model)
Double clock IM (use Standardize Sem)
!  Not an edge in this model EX2 -> X2

This doesn't happen if use general graph or SEM instantiated model

[2017-06-12 19:08] jdramsey commented on #439
I'll have a look. Sorry, didn't see this in my inbox.

Joe

On Mon, Jun 12, 2017 at 2:30 PM, Jeremy Espino <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-12 19:15] jdramsey commented on #439
This is not a bug. This is an approximate updater; it sums over random
samples. So the estimates will be different from condition to condition.
They're must *much* different. If you want an exact answer, use one of the
exact updaters instead.

Joe

On Mon, Jun 12, 2017 at 3:08 PM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing

[2017-06-12 19:35] espinoj opened #443 "Tetrad doesn't copy covariance matrix into memory per spec"
There are excess tabs and row ids in the copied covariance matrix

[2017-06-12 19:42] espinoj opened #444 "Estimator from covariance matrix results in error"
Create the following pipeline
Data (Covariance matrix) -> Graph (create some edges) -> SEM PM -> Estimator
Data -> Estimator

Opening Estimator results in
<img width="906" alt="screen shot 2017-06-12 at 3 41 28 pm" src="https://user-images.githubusercontent.com/313721/27051858-ac1a544a-4f85-11e7-9856-9e053f294175.png">

[2017-06-12 20:45] jdramsey commented on #442
I'll do this.

[2017-06-12 21:55] kvb2univpitt commented on #443
I got rid of the extra space at the end of the line.  How did you export a covariance matrix with variable name in the first column of the data row?  I couldn't replicate that.

[2017-06-13 00:04] scheines opened #445 "Pipeline error"
The "Search and then estimate" pipeline creates a data, search, graph, pm and estimator, which is fine.  But it adds an arrow from the data box to the PM box, which is wrong.

[2017-06-13 00:11] scheines opened #446 "Standardized SEM"
Connecting a SEM IM --> Standardized SEM IM - two issues:
1) If the SEM IM shows the error terms, the Standardized SEM IM won't populate, the error message looks like: Not an edge in this model: E_X3 --> X3

2) In the SEM IM, the tabs available are: Graphical Editor, Tabular Editor, Implied Matrices, Model Statistics.  In the Standardized SEM IM, the tabs available are Graph, Implied Matrices.   T

[2017-06-13 00:20] scheines opened #447 "Generating Psuedo-random data"
1) To create a sample of a given size from a manually created graph, you must:
a) build a graph, PM, and IM,
b) add a simulation box
c) double click on the simulation box, which generates data at the preset sample size whether you like it or not.
d) go into the simulation box - change the sample size, and click "Simulate"

At step c you should be able to adjust the sample size.

2) If you create a

[2017-06-13 00:29] jdramsey commented on #446
I'm going to try to figure out 1 before I go to bed. 2 is a larger issue.

On Mon, Jun 12, 2017 at 8:11 PM, scheines <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-13 00:34] scheines opened #448 "Colored Arrows"
Upon doing a search that produces a pattern, one must hook-up the Graph node to the search output and select "Choose DAG in Pattern" - previous versions of the software would render edges that had been oriented arbitrarily in yellow - and edges that were oriented by the search in blue - and this would carry downstream to the PM and the Estimator.  This was phenomenal for teaching - we need it back

[2017-06-13 00:46] scheines opened #449 "Knowledge Box"
Built a 5 variable graph, did a search.  Created a knowledge box - three tiers:
1) X1 X3
2) X2 X4
3) X5

Search executed again, appropriately.   OPened up the Knowledge box to adjust it - found only two tiers, X5 not in either of them - nor in "Not in tier".     Clicked on "Edges" to inspect - clicked back on Tiers tab.  STill only 2 tiers, but now X5 appears in "Not in tier".

[2017-06-13 00:55] scheines opened #450 "Updater"
Built the graph   YF <-- Smoking --> LC, attached a bayes PM and IM.   Went to update P(LC), first on a passive observation that YF = yes, next on a manipulation to set YF = yes.   In the first case P(LC) should change, and from the manipulation it should not.   Did  Row Sum, CPT Invariance, and Approx updater.  All chanced P(LC) conditional on passive evidence.   Row Sum incorrectly also changed

[2017-06-13 03:39] kvb2univpitt commented on #444
@jdramsey The the class `edu.cmu.tetrad.performance.ComparisonParameters.ScoreType` is being typecast into `edu.cmu.tetrad.sem.SemEstimator.ScoreType`. in the `edu.cmu.tetrad.sem.SemEstimator` class on line 167.  For testing purposes, I changed the code on line 167 to this `estimator.setScoreType(SemIm.ScoreType.Fgls);` and tested it; it works!  I have no idea if this is even right.  I haven't mad

[2017-06-13 04:55] yuanzhou commented on #449
We've noticed some weird behaviors of the knowledge box. This is a duplicate of #440

After reopening the knowledge box, even though it only shows two tiers, you can change the tier number selection menu and other already added tiers with variables should show up.

[2017-06-13 05:35] yuanzhou commented on #440
@jdramsey I tried to resolve this issue and during debugging I found out that the `getNumTier()` in `Knowledge2.java` https://github.com/cmu-phil/tetrad/blob/development/tetrad-lib/src/main/java/edu/cmu/tetrad/data/Knowledge2.java#L361 is different from the user specified number of tiers on the UI. The model/data keeps adding the number of tiers regardless of user changes.

![screen shot 2017-06-1

[2017-06-13 08:36] jdramsey commented on #448
Here you go: https://github.com/cmu-phil/tetrad/pull/451

[2017-06-13 09:00] jdramsey commented on #445
This is not an error. For the discrete case, this serves as a way to get the variables with their categories into the PM box.

[2017-06-13 09:12] jdramsey commented on #447
I'm not sold yet. Maybe a better idea would be to pop up the editor for the
first time without any data in it, then let the user set the parameters and
click Simulate, then simulate the data. That would be doable I think and
would avoid the same parameter occurring in two places. Also, the
parameters may change depending on the simulation. It's not just sample
size. An extreme example, which we've

[2017-06-13 09:20] jdramsey commented on #440
I think if you just add a "+ 1" in Knowledge2, line 778, it should work.

private void ensureTiers(int tier) {
    for (int i = tierSpecs.size() *+ 1*; i <= tier; i++) {
        tierSpecs.add(new LinkedHashSet<MyNode>());

        for (int j = 0; j < i; j++) {
            forbiddenRulesSpecs.add(new
OrderedPair<>(tierSpecs.get(i), tierSpecs.get(j)));
        }
    }
}

On Tue, Jun 13, 2017 at 1:36

[2017-06-13 09:26] jdramsey commented on #444
Hmmm... I can't get this to fail. I may need more help.

On Mon, Jun 12, 2017 at 11:39 PM, Kevin Bui <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-13 09:26] jdramsey commented on #448
Duplicate?

On Mon, Jun 12, 2017 at 8:34 PM, scheines <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-13 09:47] jdramsey commented on #446
I've still got a little time; I'll try to figure out 1. 2 is a new feature; I went back in the repository to 2015; it did not exist then.

[2017-06-13 09:48] jdramsey commented on #446
There was code for a menu item to show error terms, but it doesn't work. I'll think about it some.

[2017-06-13 09:49] jdramsey commented on #446
I figured out 1. You should at least be able to show standardized SEMs.

[2017-06-13 09:53] jdramsey commented on #446
So now you have the standard SEM editor, as before, with all of the coefficients, and the implied covariance matrix. The variances are all 1, so those don't need to be shown. I have no idea how the exogenous terms managed not to be shown, but their variances are all 1, so it doesn't matter really. I'll push this version.

[2017-06-13 09:56] jdramsey commented on #436
Fixed.

[2017-06-13 09:56] #436 closed

[2017-06-13 09:58] jdramsey commented on #442
This is fixed. https://github.com/cmu-phil/tetrad/pull/452

[2017-06-13 10:02] jdramsey commented on #440
Never mind, that doesn't work.

On Tue, Jun 13, 2017 at 5:20 AM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-13 11:04] jdramsey commented on #440
I think the problem is that the numTiers field is in the view and not the model code, so it doesn't remember it. I'll try to move it and see what happens.

[2017-06-13 11:15] jdramsey commented on #440
Yeah that seems to solve the problem. I'll clean up and push.

[2017-06-13 11:32] jdramsey commented on #450
This is a hornet's nest; I don't think I'll get it done by today, but I'll think about it.

[2017-06-13 11:32] jdramsey commented on #449
Duplicate, closing.

[2017-06-13 11:32] #449 closed

[2017-06-13 11:33] jdramsey commented on #448
This is fixed now. Closing.

[2017-06-13 11:33] #448 closed

[2017-06-13 11:33] jdramsey commented on #447
This does not need to be fixed for today. I call triage.

[2017-06-13 11:35] jdramsey commented on #446
We'll have to make a plan for '

In the SEM IM, the tabs available are: Graphical Editor, Tabular Editor, Implied Matrices, Model Statistics. In the Standardized SEM IM, the tabs available are Graph, Implied Matrices. Thus, if you want to compare the linear coefficients, you can do so in the graphs. If you want to compare the standard deviations for the error terms, your only option is to: a) form

[2017-06-13 11:35] jdramsey commented on #445
Closing, not a bug. Reopen if you want to do something different, although you still have to solve the same problem.

[2017-06-13 11:35] #445 closed

[2017-06-13 11:36] jdramsey commented on #444
Can someone send me a session where this fails, please?

[2017-06-13 11:37] jdramsey commented on #443
Are you copying using control-C in the data editor?

[2017-06-13 11:37] jdramsey commented on #442
Closing.

[2017-06-13 11:37] #442 closed

[2017-06-13 11:38] jdramsey commented on #440
This is fixed. This pull request to 'development'. Closing.

[2017-06-13 11:38] #440 closed

[2017-06-13 13:48] espinoj commented on #394
There are several loggers in the system - totally confusing - so I we need to get everything using the same logger.

[2017-06-13 13:52] espinoj commented on #439
Closing this as Joe explained to Clark and Richard

[2017-06-13 13:52] #439 closed

[2017-06-13 13:56] kvb2univpitt commented on #444
@jdramsey Try this https://drive.google.com/open?id=0Bwo3byeqy6QXallQeUJoWENsV3M

[2017-06-13 14:17] espinoj commented on #443
The copy/paste version of the matrix has the extra tabs - leaving that alone.  But the saved version also has extra space so Kevin has fixed that in

https://github.com/cmu-phil/tetrad/pull/454/commits

[2017-06-13 14:17] #443 closed

[2017-06-13 14:36] espinoj opened #455 "Tetrad fails to start if instance already running"
Tetrad will fail to start if instance is already running - i.e., cannot get db lock.

We should catch the exception and report to user that Tetrad is already running instead of just failing.

[2017-06-13 15:11] jdramsey commented on #444
Fixed this. https://github.com/cmu-phil/tetrad/pull/456. You will need to delete and recreate the estimator box.

[2017-06-13 15:21] espinoj opened #457 "Users confused that can edit a graph derived from Search"
In workshop where users connect graph to search to derive a DAG from PAG they are confused as to why they can arbitrarily edit the graph i.e., they aren't constrained from editing at will.

Maybe by default lock the graph from editing until they click on something

[2017-06-13 16:08] #444 closed

[2017-06-14 14:33] espinoj opened #458 "Simulate doesn't use displayed settings after destroy"
Make a graph - regular Graph
Simulate from graph - using SEM
Destroy Simulation Model
Simulate from graph again
! even though SEM is still selected in Simulate interface it performs a BN simulation i.e., discrete

In the display - even though SEM is selected, the BN simulation parameters are seen

[2017-06-14 15:42] kvb2univpitt opened #459 "Edges Lost in Graph"
Edges disappear when variables are renamed in graph.
1. Pipelines -> Simulate from a given graph, then search
2. Double click on "Graph1" box:
a. Select "Graph".
b. Add variables.
c. Renamed all the variables.
d. Add edges to variables and click the "Done" button.
3. Doublic click "PM1" box:
a. Select "SEM Parametric Model" and click the "Done" button.
4.  Double click on "Graph1" box again and al

[2017-06-14 15:50] espinoj opened #460 "Can't indicate which variables are discrete/continuous in graph for simulation"
It would be goot to be able to indicate which variables in a simulation should be discrete vs. continuous.

Setup:
  Graph -> Simulation

[2017-06-14 15:53] espinoj opened #461 "Should not include Latents in Knowledge box"

[2017-06-14 17:42] espinoj opened #462 "What happened to calculation of empirical bayes calculation?"
in Search module you used to be able to see things like bayes factor calculation.

[2017-06-14 18:04] espinoj opened #463 "Bootstrapping sample size"
In addition to how many bootstraps, it would be good to have the number of bootstraps AND the bootstrapped sample size.

Also change the label from "the number of bootstrapping sample size" to "Number of Bootstraps"
The bootstrapped sample size label should be "Bootstrapped sample size" which would default to the size of the number of instances in the original dataset.

Also would be good to be ab

[2017-06-14 20:25] jdramsey opened #464 "Can't go from search boxes directly into Compare."
You have to go from Search to Graph, for each, then from the Graph boxes into Compare.

Can easily add the shortcut.

[2017-06-15 02:44] harryhoch opened #465 "issues with missing data"
when data files with missing data are loaded, the validation screen issues warning, but the user is not given clear feedback - can they continue? Will the missing values  be a problem? What steps should the user take?

[2017-06-15 02:45] harryhoch opened #466 "maximum number of categories for discrete variable"
the data loader has a field for maximum number of categories for a discrete variable, but it looks like it only applies to mixed data sets. This should be clarified - the option should be clearly available for both discrete and mixed data sets.

[2017-06-15 11:02] jdramsey commented on #459
This fixes it. In SEM PM, line 126, make a copy of the graph as a SEM graph

        this.graph = new SemGraph(graph);

[2017-06-15 11:10] jdramsey commented on #458
I guess I thought "destroy" meant to forget everything. Do we not want "destroy" to be an option?

[2017-06-15 11:16] jdramsey commented on #459
Somebody else should test this fix. @kvb2univpitt ?

[2017-06-15 13:17] jdramsey commented on #459
OK that didn't work. Here another idea, which will unfortunately require more extensive testing.

package edu.cmu.tetrad.graph;

/**
 * Sets whether nodes are compared by the equals method or by object
 * identity.
 * @author Joseph Ramsey
 */
public class NodeEqualityMode {
    public enum Type {NAME, OBJECT}

    private static Type type = Type.OBJECT;

    public static void setEqualityMode(Typ

[2017-06-15 13:36] jdramsey commented on #459
Stlil didn't solve all of the problems.

[2017-06-15 15:18] chirayukong commented on #463
Quick fix: changed the label of a number of bootstraps. The rest would do later.

[2017-06-15 15:34] kvb2univpitt commented on #466
@harryhoch The field "maximum number of variable" should only apply to mixed data sets.  That field is used to determine which column should be treated as discrete variable.  For the discrete data, it's obvious that all columns are discrete.  Therefore, we don't need it for discrete variable.  Maybe we should come up with a better description for that field.

[2017-06-15 15:53] kvb2univpitt commented on #465
@harryhoch The warning message says "Missing value. No missing marker was found. Assumed value is missing."  That means the data reader found a missing value that is not marked as missing.  The data reader will assumed that it is missing any way.  Therefore, the user can just continue without any intervention.  Warning message doesn't require user to do anything.  Should we change the warning mess

[2017-06-15 16:01] kvb2univpitt opened #469 "Loading"

[2017-06-15 16:04] kvb2univpitt opened #470 "Load Empty Data File"
Tetrad should not allow user to load data file that are empty.  Tetrad freezes when trying to load empty data file.

[2017-06-15 16:17] #469 closed

[2017-06-15 16:19] harryhoch commented on #466
understood, but causal-cmd will complain about too many values for a discrete variable if the "skip category limit" flag is not set. Does tetrad skip the category limit by default?

[2017-06-15 16:19] harryhoch commented on #465
@kvb2univpitt  Not sure. how do the algorithms handle the missing data?

[2017-06-15 16:38] kvb2univpitt commented on #466
@harryhoch We are talking about two different things here.  The switch in causal-cmd is to ensure that the discrete data does not have more than 10 categories.  The max num of categories is used for determine which column is discrete. Tetrad does not have any validation to ensure that number of categories does not exceed 10.  I just talked to @jdramsey about it.  One of the suggestion was to put t

[2017-06-15 16:39] kvb2univpitt commented on #465
@harryhoch That's a good question.  This question is for @jdramsey .

[2017-06-15 16:41] harryhoch commented on #466
@kvb2univpitt , in that case I might be misunderstanding the switch. What if the discrete data does have more than 10 categories? What happens in causal-cmd in that case? In Tetrad?

[2017-06-15 16:52] kvb2univpitt commented on #466
@harryhoch In that case, causal-cmd would scream at you and stop running.  If you want to ignore it and run the data any way, use the switch `--skip-category-limit`.  In Tetrad nothing happens because there's no validation for it.  Early in the project, Joe suggested we should have this kind of validation.  That's why causal-cmd has it.

[2017-06-15 16:56] jdramsey opened #471 "Loading knowledge doesn't load the correct number of tiers."
If you load in a knowledge file with 5 tiers into the Knowledge box, it uses 3 of the tiers. If you manually change the number of tiers 5 and reload it, it loads.

[2017-06-15 16:56] jdramsey opened #472 "Blocking "executing" dialogs prevents you from switching to another application."
Some of the users found this annoying. Not sure what to instead.

[2017-06-15 17:03] jdramsey opened #473 "Publish the Conditional Gaussian simulation as an alternative mixed variable simulation."
Should be easy; the model is already worked out.

[2017-06-15 17:47] jdramsey commented on #465
Unfortunately, that has to be algorithm-specific. Some algorithms deal with
missing data well; others assume you've replaced missing values with values
before running them. I think a general warning that there are missing
values, or perhaps additionally, that there are missing values in x number
of columns and x number of rows, will be sufficient. Anyone who's aware of
the problems that occur with

[2017-06-15 18:23] kvb2univpitt opened #474 "FGES Discrete Cannot Handle Missing Values"
Got the follow error when run FGES discrete on discrete data with missing values:

[code]

[2017-06-15 18:52] jdramsey opened #475 "Conditional Gaussian has too many parameters."
Discussed this with Bryan. Some of the parameters can be given default values now.

[2017-06-15 19:45] jdramsey opened #476 "Wish list: A button in the parameter box to restore defaults."
Idea: When you edit parameters in the simulation or search box, you may end up with very non-default values, and there's no way to remember what the correct defaults are.

[2017-06-15 20:03] kvb2univpitt opened #477 "Unable to Delete Selected Column From Data Box"
User unable to delete selected column via "Delete Selected Rows or Columns" from the "Edit" menu.

[2017-06-16 14:10] kvb2univpitt opened #479 "Need to Deprecate Old Data Readers"
Need to remove old data readers from `edu.cmu.tetrad.data` and `edu.cmu.tetrad.io`.

[2017-06-16 14:15] Amin-Tajgardoon opened #480 "FgesMb does not work for discrete data"
FgesMb (Search for Markov Blankets) does not work for discrete datasets.
The error message is: "Sorry, I was expecting a (tabular) continuous data set."

[2017-06-16 18:04] jdramsey commented on #480
Oh I just looked, you are right!!!

On Fri, Jun 16, 2017 at 10:15 AM, Amin Tajgardoon <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-16 18:51] jdramsey commented on #480
OK I've fixed this. Unfortunately all of my work is in the wrong branch :(
but I will move it over. You should be able to run FGES_MB with any score
now.

On Fri, Jun 16, 2017 at 2:04 PM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph

[2017-06-16 19:40] espinoj opened #481 "can't change datattype after the reading data"
can we change the datatype after parse on indicate manually what columns are discrete/continuous

[2017-06-17 12:20] jdramsey commented on #477
This used to work. I wonder how it got broken?

[2017-06-17 12:22] jdramsey commented on #475
Bryan fixed this somewhere. I think in his branch, 'bryan.

[2017-06-17 12:29] jdramsey commented on #472
This is a UI issue. The question is how in the UI to represent algorithms executing and to handle stupid interventions by the use like deleting the data, etc, without blocking other applications.

[2017-06-17 12:29] jdramsey commented on #471
This is fixed.

[2017-06-17 12:29] #471 closed

[2017-06-17 12:49] jdramsey commented on #465
The one group that presented in the datathon opted to remove all rows with missing values. That is an option in the Data box. For this it would be helpful to indicate somehow rows with missing values (and columns with missing values. Perhaps this could be done in the data editor? A UI issue, above my pay grade.

[2017-06-17 12:49] jdramsey commented on #465
The specific problems of retrofitting algorithms to deal with missing value natively I can take up.

[2017-06-17 12:53] jdramsey commented on #464
This should be easy, a matter of adding a few constructors.

[2017-06-17 12:54] jdramsey commented on #461
Trivial.

[2017-06-17 13:34] jdramsey commented on #461
Fixed. Also put variable in knowledge box in alphabetical order.

[2017-06-17 13:34] #461 closed

[2017-06-17 13:35] jdramsey commented on #464
I'll do this. Won't take more than a couple of minutes.

[2017-06-17 13:46] jdramsey commented on #464
Actually this is doing the right thing. You can't put two general algorithm runners into a compare box, because for the general algorithm runner it's comparing to the true graph. You need to first select a graph from each runner and compare them. Won't fix.

[2017-06-17 13:51] jdramsey opened #483 "Refactor GeneralAlgorithmRunner."
Every time you add an algorithm, you have to modify the editor in several places. Bigly possibility of making a mistake. This can be modular. Same really for general simulation editor.

[2017-06-17 13:53] #480 closed

[2017-06-17 13:59] jdramsey commented on #464
Actually, I take it back. What should happen if you have two GeneralAlgorithmEditors as input is you compare the two _selected_ graphs. I'll try to think of how to make that happen.

[2017-06-17 14:03] jdramsey commented on #447
I think this is a UI issue, so the UI group should weigh in. I can give input. Like I said, the main issues I have are:

(1) Simulations don't in general have just the one parameter, sample size. The problem has to be solved _in general_, not just for the case where you have just one or a couple of parameters. We may add simulations in the future with many more parameters.

(2) It makes sense to e

[2017-06-17 14:06] jdramsey commented on #458
Need to coordinate on this one--I need to refactor this code.

[2017-06-17 14:45] jdramsey commented on #473
OK, done, in 'joebugfixes'.

[2017-06-17 14:45] #473 closed

[2017-06-17 14:57] jdramsey commented on #474
We need to get Greg's input on this, I think. My plan, which I will code up now, is to make the various discrete and mixed scores simply skip rows in the data for each particular scoring operation where there is a missing value. This is on part with what PC does. Unfortunately it's suboptimal. It would be better for the user to figure out what they want to do with the missing values. But it's a so

[2017-06-17 15:32] jdramsey commented on #474
This is fixed for BDeuScore, BicScore, and ConditionalGaussianScore.

[2017-06-17 15:32] #474 closed

[2017-06-17 19:30] jdramsey commented on #483
This is too difficult and maybe not very rewarding. Maybe just a few instructions as to how to modify the class when necessary will be sufficient.

[2017-06-17 19:30] #483 closed

[2017-06-18 00:24] jdramsey commented on #450
The updating appears to be working when I make a random graph->Bayes PM->Bayes IM->Updater. The manipulation is doing the right thing.

It's possible this has to do with the renaming bug.

[2017-06-18 12:19] kvb2univpitt commented on #465
Yes, we can tally up the number of rows and tally up the number columns with missing data and report it to the user.  I can work on this.

[2017-06-18 12:21] kvb2univpitt commented on #459
@jdramsey I'll take a stab at it.

[2017-06-18 12:34] jdramsey commented on #450
This appears to fix the naming problem, BayesPm, line 405:

        for (Node node2 : newGraph.getNodes()) {
            if (oldGraph.containsNode(node2)) {
                Node _node2 = dag.getNode(node2.getName());
                DiscreteVariable oldNode2 = oldbayesPm.nodesToVariables.get(_node2);
                oldNode2.setNodeType(node2.getNodeType());
                **oldNode2.setName(node

[2017-06-18 14:09] jdramsey commented on #459
Thanks! Sorry I couldn't figure it out.

On Sun, Jun 18, 2017 at 8:21 AM, Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-06-18 16:27] jdramsey commented on #450
There is an error in the method for calculating an updated Bayes IM from an existing Bayes IM and a manipulated from in which parents for some of the variables have been removed from the graph. It records the exogenous probabilities as NaN instead of calculating the marginals. This may account for Richard's issues (together with the naming issue, above).

[2017-06-18 17:48] jdramsey commented on #450
Phew! OK, I think that's it. There were two bugs I could find:

(a) Nodes were not being renamed correctly in the manipulated PM when names of nodes changed in the graph.

(b) Manipulated Bayes IMs were not calculating marginals for exogenous nodes. The unmanipulated Bayes IM was being used for updates.

Fixing these bugs fixes all of Richard's issues, so far as I can tell.

Branch 'joebugfixes'.

[2017-06-18 17:51] #450 closed

[2017-06-18 18:34] scheines commented on #450
Go Joe!

On Sun, Jun 18, 2017 at 1:48 PM, Joseph Ramsey <notifications@github.com>
wrote:

--
Richard Scheines
Dean, Dietrich College of Humanities and Social Sciences
Professor of Philosophy
Carnegie Mellon University
412-268-2831

[2017-06-19 13:49] yuanzhou commented on #470
@kvb2univpitt  I tested with an empty file and I could load it into the data loader and the validation result page. How can I reproduce the hanging?

![capture](https://user-images.githubusercontent.com/195873/27288359-828460c2-54d4-11e7-823a-73686ff5cf06.PNG)
![capture2](https://user-images.githubusercontent.com/195873/27288363-83a97dac-54d4-11e7-8649-ce5c367c0217.PNG)

[2017-06-19 13:57] yuanzhou commented on #470
Nvm, I noticed the hanging after clicking "Load" button. Fixing it now.

[2017-06-19 14:49] jdramsey commented on #459
@kvb2univpitt I'll come back and think about this in a couple of days if you've made no progress. I've ruled a lot of things out.

[2017-06-19 15:05] yuanzhou commented on #470
Just fixed. Users won't be able to load the empty data file and the validation will notify this as well.

![capture](https://user-images.githubusercontent.com/195873/27291701-099225e0-54df-11e7-98ac-fc99891c3da6.PNG)

[2017-06-19 15:05] #470 closed

[2017-06-19 18:39] yuanzhou commented on #477
I tested this and couldn't "Delete Selected Rows or Columns".  I saw some errors in the console. I'll work on the fix.

[2017-06-19 22:17] jdramsey opened #486 "Restore Mimbuild in the interface."
In the config file, this bit of code needs to be uncommented:

            <model name="MIMBuild" acronym="MIMBuild" help="mimbuild"
                   category="Multiple Indicator Model searches">
                <logger>
                    <event id="info" description="Information" default="on"/>
                    <event id="details" description="Misc Fine Details" default="on"/>

[2017-06-19 22:20] jdramsey commented on #486
@yuanzhou
@espinoj

Maybe there's a better interface for Mimbuild, but this one at least works. Here's a screenshot.

<img width="785" alt="screen shot 2017-06-19 at 6 05 03 pm" src="https://user-images.githubusercontent.com/9853255/27308347-fe096368-551b-11e7-8589-b9078220aabd.png">

[2017-06-19 23:42] jdramsey commented on #486
Also, @ekummerfeld @ps7z

[2017-06-20 13:22] yuanzhou commented on #486
@jdramsey Do I just uncomment the config section and test things out or is there anything specific you want me to look at?

[2017-06-20 13:28] jdramsey commented on #486
@yuanzhou I think just uncomment it and try it out, as you say. It should just work; it was working before, and it worked for me just now. I thought it better if you did the honors though, so you weren't surprised.

[2017-06-20 13:43] yuanzhou commented on #486
@jdramsey no problem. Since I'm also fixing another Tetrad bug, I may combine this issue and the one I'm working on in the same pull request later.

[2017-06-20 13:54] jdramsey commented on #486
@yuanzhou Great, thanks!

[2017-06-20 16:36] yuanzhou commented on #477
@jdramsey the broken code was calling `removeCols()` at https://github.com/cmu-phil/tetrad/blob/data-box-fix/tetrad-lib/src/main/java/edu/cmu/tetrad/data/BoxDataSet.java#L1109 and there's index out of range error which I couldn't figure out.

I fixed the bug by switching to `removeColumn()` to remove each selected individual column. https://github.com/cmu-phil/tetrad/blob/data-box-fix/tetrad-lib/s

[2017-06-20 16:46] jdramsey commented on #477
@yuanzhou That's a perfectly good fix. I'll look at the removeCols method, though now that you've fixed it I'll have to think of a newly clever way to break it. :)

[2017-06-20 20:07] yuanzhou commented on #486
I was able to get the Mimbuild work. Also noticed the weird highlighting issue that we noticed int he knowledge tier box.

![mim](https://user-images.githubusercontent.com/195873/27353476-25af1ec4-55d2-11e7-8e98-56518a262eab.PNG)
![mm](https://user-images.githubusercontent.com/195873/27353478-2683b4c2-55d2-11e7-9d48-e38909eaf6bb.PNG)

@jdramsey for some reason, I could only get it work once. I tri

[2017-06-20 20:13] yuanzhou commented on #486
For example, I created a data model and imported some data. Then PC search1, FGES search2. On search3, I was able to select "Mimbuild" but it pops up this:

![capture](https://user-images.githubusercontent.com/195873/27353781-478f9126-55d3-11e7-94fd-93ebf69f61f5.PNG)

I think I'll need some instructions on how to use Mimbuild.

[2017-06-20 20:30] jdramsey commented on #486
Try simulation first.  In the Graph box make a random MIM, with four measures per latent, like this:

<img width="683" alt="screen shot 2017-06-20 at 4 15 28 pm" src="https://user-images.githubusercontent.com/9853255/27353875-b596a7cc-55d3-11e7-8f50-0bd95a0f833b.png">

Do a search, as follows:

<img width="1156" alt="screen shot 2017-06-20 at 4 17 57 pm" src="https://user-images.githubusercontent.

[2017-06-21 14:51] kvb2univpitt commented on #479
Done.

[2017-06-21 14:51] #479 closed

[2017-06-21 14:52] kvb2univpitt commented on #459
Ok.  I am going to take a stab at it.  I cannot guarantee anything. :)

[2017-06-21 16:57] yuanzhou commented on #486
Thanks @jdramsey! I also set the cluster selection to start at 3 with a upper limit of 100. It was showing 0 even though we have 3 clusters, and the upper limit was 1000, which I think is too big.

I'll send a pull request soon.

[2017-06-21 20:20] kvb2univpitt commented on #459
@jdramsey OK.  I fixed the bug.  I made this change to the class ````edu.cmu.tetradapp.workbench.AbstractWorkbench````

[code]

Took me a while to find the source of the problem.  Hopefully, this is the source.

[2017-06-21 20:29] jdramsey commented on #459
@kvb2univpitt Holy crap, you did it? I stared at that for hours.

It works! It works!!!! :) Yay! Thanks!

[2017-06-21 20:35] yuanzhou commented on #486
I'm closing this since we've had Mimbuild restored in `development` branch now.

[2017-06-21 20:35] #486 closed

[2017-06-21 20:38] yuanzhou commented on #481
But how can you manually indicate mixed data? It requires to specify the max number of discrete categories when loading mixed data.

[2017-06-21 20:38] #477 closed

[2017-06-21 20:51] #459 closed

[2017-06-21 21:40] chirayukong commented on #481
You can add another Data box and convert data type on selected columns.

On Wed, Jun 21, 2017 at 4:38 PM, Zhou (Joe) Yuan <notifications@github.com>
wrote:

[2017-06-22 07:16] amurrayw commented on #472
If I remember correctly, minimizing the Tetrad window in Linux let you use other applications (assuming you are referring to Tetrad seizing input from the keyboard). Not sure what happens on windows/mac. Might work as a stop-gap.

[2017-06-22 07:33] amurrayw commented on #472
Never mind, minimizing only allows you to use other applications with the mouse. It doesn't give back access to the keyboard.

[2017-06-22 15:56] kvb2univpitt commented on #422
BigDataSetUtility is removed.

[2017-06-22 15:56] #422 closed

[2017-06-22 16:04] kvb2univpitt commented on #432
@espinoj @rubencmu  I only suggested to Joe to reduce the number of System.out.println() in the JUnit tests so that the test can run a little faster.  This should not affect the actually logging when running algorithms.

[2017-06-22 18:34] kvb2univpitt commented on #466
@harryhoch Can we close this issue?

[2017-06-22 18:36] harryhoch commented on #466
I think so.

[2017-06-22 18:36] #466 closed

[2017-06-23 20:18] kvb2univpitt commented on #465
@jdramsey Fixed.  The data validation now says:
[code]

[2017-06-23 20:24] jdramsey commented on #465
@kvb2univpitt  Beautiful! Very useful!!!

[2017-06-23 20:28] #465 closed

[2017-06-25 17:05] dmalinsk commented on #317
Joe just checking in because I'm cleaning up some of the code on my own
branch -- was this change about printing a warning for noninvertible
correlation matrices added to the tests beside Fisher Z?

On Fri, Jun 2, 2017 at 1:42 PM, Daniel Malinsky <danielmalinsky@gmail.com>
wrote:

[2017-06-25 17:16] jdramsey opened #491 "Print warning for non-invertible matrices for all relevant conditional independence test and scores."
Like FisherZ does.

[2017-06-25 17:17] jdramsey commented on #317
No, but to be honest I'd forgotten about it. Let me put an issue in the
issue tracker for it. Just a second.

OK:

https://github.com/cmu-phil/tetrad/issues/491

On Sun, Jun 25, 2017 at 1:05 PM, dmalinsk <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

j

[2017-06-25 17:19] jdramsey commented on #317
Never mind, it's already here. I'll assign it to myself so I don't lose it.

[2017-07-04 14:48] jdramsey opened #495 "Switch to a conflict resolution rule for PC-style algorithms that doesn't produce bidirected edges"
We have three conflict resolution rules:

Priority X->Y<-Z--W, Y->Z<-W ==> X->Y<-Z--W
Overwrite (pcalg's) X->Y<-Z--W, Y->Z<-W ==> X--Y->Z<-W
Bidirected X->Y<Z--W, Y->Z<-W ==> X->Y<->Z<-W

Currently we're using bidirected, which generates issues for the R wrapper. I suggest we switch to priority instead, Dan's rule.

[2017-07-08 18:13] jdramsey commented on #495
Since no one has opined on this, I will make a unilateral decision: We will use Dan's rule (Priority). If anyone wants to object, we can change it. But I just committed code in which Dan's rule is used for all PC-style algorithms. It will be in the next release unless someone objects. There will be no bidirected edges, and the output will be expressible in R.

[2017-07-09 12:42] jdramsey commented on #495
Clark requested we put a version of the PC algorithms in the interface where the user has a choice. The combiation

[2017-07-09 12:48] jdramsey commented on #495
Reopening this.

Clark requested we put a version of PC in the interface where the user has a choice between conflict rules. The combination PC algorithm (PcAll) is such an algorithm. I suggest we put that in the GUI.

Whether we allow the user to pick a conflict rule for the version of PC that can go into R is up to @espinoj  and @chirayukong. Can the R output support bidirected edges now? I stil

[2017-07-09 12:51] jdramsey commented on #495
Also, for the GUI, @yuanzhou. PcAll supports the option now. The individual algorithms, PC, CPC, etc., all call PcAll. They could allow a choice is you wanted to put the individual algorithms in the GUI, though this would affect R. @chirayukong.

[2017-07-10 04:20] mglymour opened #497 "Cut/copy/paste of cells in data box broken"
When I attempt to copy and paste a column of cells from one data box to another, I sometimes get an off-by-one error (the wrong column is copied), and sometimes fail to paste altogether. In some cases, the correct column will be cut, but then the column next to it is what pastes, losing the data in that column entirely.

I'm using a version downloaded from development on 07/10/2017.

[2017-07-19 19:08] #455 closed

[2017-07-19 19:09] #463 closed

[2017-07-19 19:17] chirayukong commented on #495
The graph in R can't visualize on a combination of directed (arrow type) and undirected (no end point) graph. We now can only produce the textual results.

[2017-07-28 16:59] iksinje opened #503 "how to install very after downloading and unzipping the _launch.jar file"
I am sorry that I do not know this is the right place to ask my foolish questions.
I read some publications about DAG and had high interests in using the tetrad.
However,  I do not execute the tetrad even after downloading and unzipping the files.( actually I tried several times for several versions of tetrad). I do not know how to install the tetrad. What is my missing next step for installing? U

[2017-07-29 04:17] #503 closed

[2017-08-18 22:48] eberharf opened #505 "comparison of graphs incorrect?"
When I "Compare" two graphs and select "Tabular Comparison" a dialog box opens asking me to select the "true" graph. If I indeed select the true graph, then precision and recall will be calculated incorrectly in the following tables: it seems to generally (though strangely not always) select the estimated graph, resulting in AP and AR values of 1, when I can see that the output of the search is di

[2017-08-28 15:59] kvb2univpitt opened #506 "ParamDescriptions Not a Singleton."
@yuanzhou @espinoj @jdramsey @chirayukong   ParamDescriptions is not a true singleton because it has a public constructor.  Some of the code uses the public constructor to create an instance of ParamDescriptions.  This will lead to high memory usage.

I will make ParamDescriptions a true singleton.  Public constructors will be replaced by the method getInstance() to ensure only on instance is crea

[2017-08-28 18:32] kvb2univpitt opened #507 "AlgorithmDescriptionFactory Needs Refactoring and Moved to Tetrad Lib"
@yuanzhou @espinoj @chirayukong AlgorithmDescriptionFactory needs to be in tetrad-lib to so that causal-cmd can use it.  It also needs refactoring into a singleton instead of a factory.

@yuanzhou This will affect your code in the GUI.  We can go through it once I am done.

[2017-08-29 12:47] yuanzhou commented on #507
Thanks @kvb2univpitt

[2017-08-30 23:43] eberharf commented on #505
The above problem appears to arise when one has multiple "runs" in the Simulation.

[2017-09-03 21:03] cg09 opened #511 "Version 6.3.4"
Using a simple correlation matrix, It is not possible to estimate a DAG model or obtain a p value--at least I can find not way to do it (and neither has Madelyn)   This is the most elementary inference problem we have. I attach a formatted correlation matrix that the data reader validates.

Clark
[Bullmore Correlatios.txt](https://github.com/cmu-phil/tetrad/files/1273248/Bullmore.Correlatios.txt)

[2017-09-03 21:07] cg09 opened #512 "Further information on issue 22"
The difficulty is with the version downloaded from the website.6.3.4 downloaded from github works ok.
Clark

[2017-09-03 21:09] #512 closed

[2017-09-03 21:09] jdramsey commented on #511
You conclude impossibility too easily these days.

Attached.

On Sun, Sep 3, 2017 at 5:03 PM, cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-09-03 21:45] cg09 commented on #511
No attachment to your message.  Clark

[2017-09-03 21:48] mglymour commented on #511
Just popping in to help out if I can--when we input a data box and a Sem PM to the Estimator in version 6.3.4, we get the following error message:

edu.cmu.tetrad.performaance.ComparisonParameters$Scoretype cannot be cast to edu.cmu.tetrad.sem.SemIM$ScoreType

[2017-09-03 22:44] jdramsey commented on #511
See if this attaches.

On Sun, Sep 3, 2017 at 5:48 PM, mglymour <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-09-03 23:14] cg09 commented on #511
Nope, no attachment.

[2017-09-03 23:17] jdramsey commented on #511
I will send it to you as a sepate email.

On Sun, Sep 3, 2017 at 7:14 PM, cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-09-03 23:18] mglymour commented on #511
Can you cc me on that?

[2017-09-08 16:40] #507 closed

[2017-09-08 16:46] yuanzhou opened #515 "DataModelList not empty even when no dataset"
I discovered this issue during making changes in algo chooer. In `GeneralAlgorithmEditor.java`, `runner.getDataModelList()` is not empty even if there no dataset. There's one empty string in the returned list. @kvb2univpitt and I tried to debug this, but it requires more input from @jdramsey.

If I add only one dataset file, the size of this `runner.getDataModelList()` is still 1.

@jdramsey can y

[2017-09-08 17:20] jdramsey commented on #515
@yuanzhou I don't think I have the same version of the class as you.

[2017-09-08 18:51] yuanzhou commented on #515
@jdramsey I tested with the current development branch and had the same issue. This is the line of that code: https://github.com/cmu-phil/tetrad/blob/development/tetrad-gui/src/main/java/edu/cmu/tetradapp/editor/GeneralAlgorithmEditor.java#L270

I did a simple debug with the following code right before line 270,
[code]

Then I added a data box but without importing any data files. It's an empty da

[2017-09-08 18:57] yuanzhou commented on #515
The reason I wanted to fix this issue is because in the new algo chooser UI, I'm doing a check to see if the dataModelList is empty, so a popup will display to notify the users that they'll need to have at least one dataset file to select algorithm.

[2017-09-08 20:52] jdramsey commented on #515
I'll poke at it tonight. Maybe it contains an empty dataset...

[2017-09-11 12:38] jdramsey commented on #515
So now I'm confused about this. (Sorry it took me a few days to get back to
it.) You have a dataset, but you want dataModelList to be empty. It
dataModelList should contain 1 dataset, no?

Maybe that's not the condition you should be checking for?

On Fri, Sep 8, 2017 at 2:57 PM, Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computi

[2017-09-11 12:46] yuanzhou commented on #515
@jdramsey The purpose of checking the dataModelList is to ensure there's at least one dataset before the users select an algorithm and run a search.

Based on my testing, the `dataModelList` still has one empty dataset even when the users don't load any dataset, which causes the empty check always returns false.

[2017-09-11 12:57] jdramsey commented on #515
@yuanzhou In that case, can't you simply check to see if the dataset is empty?

[2017-09-11 13:40] yuanzhou commented on #515
That works as well. To my knowledge, I could only access the dataset via

[code]
in `GeneralAlgorithmEditor.java`. Please give me some pointers of how to just check dataset is empty?

[2017-09-11 13:58] jdramsey commented on #515
Well, if it has exactly one DataSet in it, get the DataSet at index zero
and check to make sure it has zero rows and zero columns.

On Mon, Sep 11, 2017 at 9:40 AM, Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Of

[2017-09-11 14:19] yuanzhou commented on #515
I can work around this but this is still a bug since the `isEmpty()` and "size()" may be used for other purposes when the `dataModelList` is supposed to be empty.

[2017-09-11 15:22] jdramsey commented on #515
My suggestion was to check to make sure it has no rows or columns. So check
that the number of rows is zero and the number of columns is zero. Then
there can be no ambiguity.

On Mon, Sep 11, 2017 at 10:19 AM, Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
P

[2017-09-11 16:28] yuanzhou commented on #515
@kvb2univpitt and I figured this out. It turned out that there's always an empty dataset is being added to the dataModelList when a new data box is created. And this empty dataset is used to  populate the empty spreadsheet in the data editor.

So we added a new method in `DataModelList.java` to check if the default dataset contains empty data (AKA zero variables), this is also suggested by @jdrams

[2017-09-11 16:28] #515 closed

[2017-09-20 20:07] chirayukong opened #518 "Forever loop on FCI continuous data"
@jdramsey, try this:
`

		int penaltyDiscount = 2;
		int depth = -1;
		int maxPathLength = -1;
		int numVars = 20;
		int edgesPerNode = 2;
		int numLatentConfounders = 2;
		int numCases = 100;
		int numBootstrapSamples = 5;
		boolean verbose = true;

		final int numEdges = (int) (numVars * edgesPerNode);

		List<Node> vars = new ArrayList<>();

		for (int i = 0; i < numVars; i++) {
			vars.add(new

[2017-09-20 21:27] jdramsey commented on #518
Those are all different judgments of determinism. I'm guessing you genuinely have a lot of determinism in your data.

This may be the problem:

	int numCases = 100;

Maybe try limiting the depth of search?

[2017-09-20 22:01] chirayukong commented on #518
Tried on limiting a depth to 3 and it works. The number of cases seems not affecting the determinism detected problems. :-)

[2017-09-20 22:01] #518 closed

[2017-09-22 18:11] ekummerfeld opened #522 "Feedback from clinicians on GFCI output"
This is relevant to the GUI representation of graphs output by GFCI and probably anything else that makes a PAG. After discussing some findings with clinicians they reported some confusion that the more definitive causal arrows had dotted lines while the less definitive causal arrows had solid lines. For users unfamiliar with interpreting these graphs, it would be nice if this was reversed by defa

[2017-09-22 18:33] jdramsey commented on #522
That's an easy fix. I second it.

[2017-09-27 17:24] ekummerfeld opened #525 "Loading Correlation Matrices doesn't work in GUI"
I might be doing something wrong, but I'm a relatively experienced Tetrad user so this shouldn't be hard.

Whenever I try to load a correlation matrix into a data box in the Tetrad GUI I get validation errors. This should not be a formatting issue on my end, because even if I create and save a correlation matrix within the Tetrad GUI, save it to file, and then try to load that file, I still get th

[2017-09-29 13:01] yuanzhou commented on #525
@ekummerfeld can you paste your dataset here so I can reproduce this error?

[2017-09-29 14:28] ekummerfeld commented on #525
I pasted the data below. This happens with all data sets for me, though. In the example I generated a simulated data set in the standard way, using default values for everything. You can see the process in the first image. I can redo that process and upload the whole as well .tet if you like, but this is not specific to any data set.

[data2.txt](https://github.com/cmu-phil/tetrad/files/1344656/da

[2017-09-29 18:40] yuanzhou commented on #525
Debugged with @kvb2univpitt and we noticed that you have an extra tab at the end of each line:

![capture](https://user-images.githubusercontent.com/195873/31030560-bdd54174-a523-11e7-92c3-f253ce65c2ec.PNG)

The validation will treat that extra tab as missing value, that's why you got the errors.

It passes the validation after removing all the ending tabs:

![captur2e](https://user-images.githubu

[2017-09-29 18:46] yuanzhou commented on #525
@jdramsey looks like the covariance matrix was generated by the simulation. And simulation adds an extra delimiter at the end of each line. This needs to be fixed.

[2017-09-29 18:57] jdramsey commented on #525
Are you sure? I thought Erich said he got this covariance matrix by saving out from the interface... I'll bet it's this code in CovarainceMatrix...

    public final String toString() {
        NumberFormat nf = NumberFormatUtil.getInstance().getNumberFormat();

        StringBuilder buf = new StringBuilder();

        int numVars = getVariableNames().size();
        buf.append(getSampleSize()).ap

[2017-09-29 19:04] yuanzhou commented on #525
@jdramsey I think you are right.

[2017-09-29 21:01] jdramsey commented on #525
@yuanzhou

This code:

    for (int j = 0; j < numVars; j++) {
        for (int i = 0; i <= j; i++) {
            buf.append(nf.format(getValue(i, j))).append("\t");
        }
        buf.append("\n");
    }

I think substituting this should do it...

        for (int j = 0; j < numVars; j++) {
            for (int i = 0; i <= j; i++) {
                buf.append(nf.format(getValue(i, j)));

[2017-10-02 13:09] yuanzhou commented on #525
@jdramsey Thanks, I'll make the change and test it out then push to development branch if everything is good.

[2017-10-02 15:50] #525 closed

[2017-10-02 15:56] yuanzhou commented on #525
@ekummerfeld can you pull the fix from development branch and try again? I tested and it's working now.

[2017-10-03 16:14] ekummerfeld commented on #525
Thanks!

[2017-10-04 03:45] jdramsey opened #528 "Can't add nodes or edges to a graph after you close and re-open it."
There is a bug that was fixed back at the summer workshop in June that seems to be broken again now. If you make a graph, then close the graph window and re-open it, you can't add node or edges to the graph anymore. This is in the development branch.

[2017-10-04 18:36] jdramsey opened #530 "Add R3 post-processor to IMagES in R-Python"
I got a note from the folks we did the R-Python version of IMaGES for--they are grateful and say it works great! They are wondering if one more thing could be done, which is to add a post-processor for R3, in general, some pairwise orientation algorithm. I'm happy to do any of the coding I can from end, but is there a good way to proceed?

Thanks!

[2017-10-12 20:11] The-Alchemist opened #531 "http://www.phil.cmu.edu/tetrad/downloads.html points to old version"
`Install Latest` points to https://cloud.ccd.pitt.edu/nexus/content/repositories/releases/edu/cmu/tetrad-gui/6.2.0/tetrad-gui-6.2.0-launch.jar, which is an old version

[2017-10-16 13:03] espinoj opened #533 "Text at bottom of algo chooser UI is cut off"
On mac the text (last line)  at the bottom of the algo chooser UI algorithm description is not visible.  Maybe the text box is bigger than the frame?

![screen shot 2017-10-16 at 3 02 35 pm](https://user-images.githubusercontent.com/313721/31613374-373bd598-b283-11e7-9a61-21f77681501c.png)

[2017-10-16 14:44] harryhoch commented on #533
I've seen something similar on the data  loader/vallidation UI

[2017-10-16 15:35] espinoj opened #534 "Highlighting an algorithm in chooser shows tail of description not head"
When highlighting an algorithm in the chooser we see the end of the description and not the beginning.

[2017-10-16 15:38] espinoj opened #535 "Uncaught NPE in algorithm chooser"
When highlighting an algorithm NPE is generated in console:

Exception in thread "AWT-EventQueue-0" java.lang.NullPointerException
	at edu.cmu.tetradapp.editor.GeneralAlgorithmEditor.getScoreWrapper(GeneralAlgorithmEditor.java:1373)
	at edu.cmu.tetradapp.editor.GeneralAlgorithmEditor.getAlgorithmFromInterface(GeneralAlgorithmEditor.java:1335)
	at edu.cmu.tetradapp.editor.GeneralAlgorithmEditor.set

[2017-10-17 21:29] kvb2univpitt opened #536 "Tetrad GUI: Cannot Handle Empty List Of Scores and Tests"
After filtering out experiment scores and tests, the list of scores for mixed datatype is empty.  GeneralAlgorithmEditor doesn't seem to handle that well.

[code]

[2017-10-18 20:04] kvb2univpitt commented on #536
Fixed.

[2017-10-18 20:04] #536 closed

[2017-10-19 20:39] #533 closed

[2017-10-19 21:17] #534 closed

[2017-10-19 21:30] chirayukong commented on #535
<img width="955" alt="screen shot 2017-10-19 at 5 30 12 pm" src="https://user-images.githubusercontent.com/4652250/31795286-384a015e-b4f3-11e7-81f2-69ea1c96e17f.png">
I don't see any NPE on the list.

[2017-10-19 21:32] chirayukong commented on #535
Also, I think the empty score wrapper problem was already fixed by @kvb2univpitt.

[2017-10-23 10:23] jdramsey opened #538 "In development, the algorithm editor seems always to revert to the first score in the list."
So when running FGES, it always uses Conditional Gaussian. I checked this by adding a stop in SEM BIC and selecting SEM BIC, but it never stops there, and then the list reverts back to Conditional Gaussian.

@yuanzhou @espinoj

[2017-10-23 19:22] chirayukong commented on #538
@jdramsey,

I can take a look on this issue.

[2017-10-24 18:29] jdramsey commented on #538
@chirayukong Thanks. Let me know. I looked at the code for a while and couldn't figure it out. I figured you'd have a better chance. :)

[2017-10-25 20:01] jdramsey commented on #538
@chirayukong Now it's working for me. I don't know what I'm doing differently. If I can get it to break again, I'll let you know.

[2017-10-25 20:20] chirayukong commented on #538
@jdramsey try on this branch [https://github.com/cmu-phil/tetrad/tree/fix-issue-538](fix-issue-538).
The problem was the UI would only set the algorithm up with the score and the test only when the algorithm selection changed. I moved that algorithm initialization to a part before the search.

[2017-10-25 20:49] jdramsey commented on #538
@chirayukong OK. Let me try that.

[2017-10-25 21:15] jdramsey commented on #538
@chirayukong So now I have this problem. I select FGES from the algorithms dropdown, then I select the SEM BIC score. But then when I go to edit the parameters for the SEM BIC score, they aren't the right parameters. It wants me to specify a "structure prior" which means it's got to be the parameters for Conditional Gaussian, which is the first score in the list. It should ask for a "penalty disco

[2017-10-25 21:22] chirayukong commented on #538
@jdramsey that needs to update the parameter panel. I'll let you know when it is done.

[2017-10-26 20:09] tding opened #542 "Is there any function to return BIC score when I use FGES?"
Hi, I am using Java GUI tool, I wonder if there is any function to return BIC score in FGES.

Thanks

[2017-10-26 20:37] chirayukong commented on #538
@jdramsey and @espinoj, could you guys give it a try again on the [https://github.com/cmu-phil/tetrad/tree/fix-issue-538](fix-issue-538) branch?

[2017-10-26 21:20] jdramsey commented on #542
Wow, I didn't know this list still existed!

There isn't a function in the interface for that, although there could be.
In the code, if you use the SEM BIC score, and call the getScore() method
on FGES, you'll get the BIC score.

Joe

On Thu, Oct 26, 2017 at 4:09 PM, tding <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philos

[2017-10-27 08:40] jdramsey commented on #538
That works, thanks!

[2017-10-27 16:08] jdramsey opened #543 ""Done" buttons can become difficult to access."
I think this is mainly a problem with the search editor. If you layout the graph to something large, you have to really work to find the Done button. You have to scroll down and scroll to the right. You don't know how much. It's about halfway across the x dimension of the graph, so you can't go too far. And then it appears and you can click done. :)

Another issue is if you open the GUI, open an e

[2017-10-27 16:12] jdramsey commented on #543
@harryhoch @espinoj @chirayukong @kvb2univpitt

[2017-10-27 16:14] jdramsey commented on #543
I'm using a 13" Macbook Pro.

[2017-10-27 16:47] jdramsey opened #544 "When you close and reopen the search editor, it forgets which score you were using."
It remembers which _algorithm_ you were using. If you were using FAS, and close and reopen, you're back at FAS. But if you were using FAS with the SEM BIC test, then close and reopen, you're now using FAS with the Conditional Correlation test, the first one in the list.

[2017-10-27 16:49] jdramsey commented on #544
This is not the same problem as before. That problem is fixed, so now if you select SEM BIC Test, you get the parameters for that, and so long as you don't close the editor, you keep using it.

[2017-10-27 17:08] chirayukong commented on #544
@jdramsey  It's an easy fix. I'll let you know when it's done.

[2017-10-27 17:44] #538 closed

[2017-10-27 17:54] jdramsey commented on #544
@chirayukong I shall wait, thanks!

[2017-10-27 18:14] jdramsey opened #546 "Parameter editor does't come up if algorithm does not take a score or a test."
If an algorithm does not take a score or a test but still has parameters, you don't get to edit those parameters. I'm looking at FASK right now. A workaround on my end it to expose the score used by FASK so you can select it, which I'll do. But I don't know where else this problem might come up.

Probably someone should check to make sure the algorithm parameters are added to the list of parameter

[2017-10-28 18:59] jdramsey opened #547 "Wishlist Item: Remember directory for Save Session menu item."
Desired behavior: When you load a session from a .tet file, it remembers the directory it was in so that when you save it again, it saves to the same directory.

Currently, if you load a dataset and then select Save Session (or type Control-S), it saves to the data directory, not the original directory.

[2017-10-28 19:30] jdramsey opened #548 "Data parsing issue."
If you try to load this dataset in the GUI by selecting Discrete and quote character = ", it hangs and never comes back.

[sachs.discretised.txt](https://github.com/cmu-phil/tetrad/files/1424548/sachs.discretised.txt)

[2017-10-30 15:27] jdramsey commented on #546
Oh, sorry, that's not the problem. I think the problem is that if you add in a new algorithm, you have to start from a new session entirely for it to be incorporated into the search editor. If I do that all of the problems like this disappear. I'll close this and make a new issue.

[2017-10-30 15:27] #546 closed

[2017-10-30 15:30] jdramsey opened #549 "If you add a new algorithm, you need to close the session and make a new session."
I noticed various problems occur if you add a new algorithm through annotation. The algorithm shows up, but sometimes the parameters aren't the right ones. Also, sometimes buttons disappear from the search editor and don't reappear even if you close the search editor an re-open it. The button to editor parameters in particular disappears.

The workaround is to close the session and re-launch the G

[2017-10-30 21:57] chirayukong commented on #544
Here we go: [https://github.com/cmu-phil/tetrad/tree/fix-issue-544](#544).

[2017-10-30 23:16] jdramsey commented on #544
Thanks!

On Mon, Oct 30, 2017 at 5:57 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-10-31 21:34] chirayukong commented on #547
As you wish, here it is https://github.com/cmu-phil/tetrad/tree/fix-issue-547.

[2017-11-01 00:38] jdramsey commented on #547
Thanks! :) You have no idea how great that will be. :)

On Tue, Oct 31, 2017 at 5:34 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramse

[2017-11-01 21:03] chirayukong opened #552 "FgesMb doesn't work with the conditional Gaussian BIC score"
I tried it on both continuous/discrete dataset. It keeps saying the "Target is not one of the variables for the fgesScore". @jdramsey

[2017-11-01 21:12] chirayukong commented on #548
<img width="948" alt="screen shot 2017-11-01 at 5 08 15 pm" src="https://user-images.githubusercontent.com/4652250/32298067-9056c42a-bf27-11e7-9e5d-bd597f628884.png">
<img width="948" alt="screen shot 2017-11-01 at 5 08 28 pm" src="https://user-images.githubusercontent.com/4652250/32298077-99bffdd8-bf27-11e7-9bdd-f841f91acab0.png">
<img width="947" alt="screen shot 2017-11-01 at 5 11 11 pm" src="h

[2017-11-01 21:29] chirayukong commented on #549
@jdramsey Do you mean that the saved session would correctly display the newly-added algorithm? I try to simulate the same situation.

[2017-11-01 22:26] jdramsey commented on #552
@chirayukong  You typed the name of the variable in the box? I noticed when I didn't type the name of the variable it said that...

[2017-11-01 22:29] chirayukong commented on #552
But I did. :-( It worked for other scores except for this one.

[2017-11-02 11:59] jdramsey commented on #549
I didn't far ahead to a solution. :) If when you opened up a saved session, it shows the newly-added algorithm, that would be fantastic. As it is, I have to throw all or my work away every time an algorithm is added.

[2017-11-02 12:24] jdramsey commented on #549
@chirayukong But it _shows_ the algorithm; the problem it has some unexpected behaviors as if the algorithm weren't being treated correctly everywhere in the interface.

[2017-11-02 12:27] jdramsey opened #553 "Graph reading--request for suggestions."
This code in GraphUtils fixes the problem with reading Dan Malinsky's time series graph but can't handle edge properties and bootstrapping at the same time. Any suggestions?

    public static Graph readerToGraphTxt(Reader reader) throws IOException {
        BufferedReader in = new BufferedReader(reader);

        while (!in.readLine().trim().equals("Graph Nodes:")) ;

        String line;

[2017-11-03 04:11] bja43 opened #554 "background knowledge and bootstrap orientations"
I've been playing around with bootstrapped fGES and gFCI using tiered prior knowledge and have noticed the following things:

1. When I run bootstrapped fGES, there are resulting edges that conflict with the prior knowledge I have provided.  However, if I were to interpret all reported edge directions in the opposite direction then the output is faithful to the prior knowledge.  For this reason, I

[2017-11-03 08:15] mglymour opened #555 "Simulation not using manually entered mean"
In 6.4.0-0, pulled from development ~2 weeks ago (I tried to download a newer version to check, but there's some sort of error preventing me from using the GUI), I've created a generalized SEM IM with error terms with non-zero means. However, the simulation box outputs simulated data in which every variable has a mean of zero. Previous versions of Tetrad do not demonstrate this error.

I've saved

[2017-11-03 12:36] jdramsey commented on #552
This fixes it: @chirayukong

https://github.com/cmu-phil/tetrad/tree/Issue552Fix

[2017-11-03 13:54] jdramsey commented on #555
@mglymour This isn't happening for me. Can you give more info? Screenshots?

[2017-11-03 14:06] jdramsey commented on #555
Here's my screenshot.

<img width="1413" alt="means" src="https://user-images.githubusercontent.com/9853255/32377630-b23cc5c8-c07e-11e7-86fe-a4435ec876ec.png">

[2017-11-03 16:15] jdramsey opened #556 "Can't launch multiple instances of Tetrad simultaneously."
Don't kill the messenger. I'm just reporting that Kun has expressed frustration at not being able to launch multiple instances of Tetrad at the same time. When you run an algorithm, it blocks, and you can't run another. He wants to get around that by launching multiple Tetrads.

[2017-11-03 17:03] kvb2univpitt commented on #506
Fixed.

[2017-11-03 17:03] #506 closed

[2017-11-03 18:31] kvb2univpitt commented on #548
@jdramsey @chirayukong @espinoj @yuanzhou It seems like WHITESPACE doesn't work well.  Use SPACE as a workaround.  Will fix this in the data reader.

[2017-11-03 18:32] chirayukong commented on #554
I'll take a look this. I'll be back when I got something. @bja43

[2017-11-03 18:43] #547 closed

[2017-11-03 18:43] #544 closed

[2017-11-04 04:09] espinoj commented on #481
Closing since there is data box workaround

[2017-11-04 04:09] #481 closed

[2017-11-04 04:21] espinoj opened #557 "Resizing of Tetrad window doesn't rescale algo chooser"
Make the tetrad window smaller while having algo chooser open
Make the tetrad window bigger
->  algo chooser doesn't resize and can't resize

[2017-11-04 04:23] espinoj opened #558 "PAG colors revision"
There was a discussion about PAG coloration to make it clearer for users.  Internally the thread led to this:

Green: no latent confounder
Blue (traditional Tetrad color): there is possibly a latent confounder.

Bold line: definitely direct.
Regular (traditional Tetrad thickness) line: it is possibly indirect.

Dashed lines would not be used.

But there was advisement to ask some more users beyond

[2017-11-04 21:02] #447 closed

[2017-11-04 21:04] jdramsey commented on #558
@espinoj Just, to be honest, the original choices were off the cuff ones I made on my own, so those were N = 1. Peter just said to have two cross-cutting visual gestures, for 4 combinations; those were the first ones that came to mind.

[2017-11-04 21:10] jdramsey commented on #531
@espinoj Am I supposed to be updating the philserv web page with each release? Would it be feasible to have a link that automatically points to the latest version? Can I just point to your website?

[2017-11-04 21:12] #511 closed

[2017-11-04 21:14] jdramsey commented on #495
@chirayukong I think that will have to suffice then.

[2017-11-04 21:16] jdramsey commented on #476
This now seems unnecessary to me. I think someone at the Workshop had suggested it. Happy for it to be closed.

[2017-11-04 21:16] jdramsey commented on #475
This is done.

[2017-11-04 21:16] #475 closed

[2017-11-04 21:17] #464 closed

[2017-11-06 18:46] chirayukong commented on #556
@jdramsey I think we made the one-running-instance-only feature for a purpose. We integrate an HPC module to the Tetrad and it comes with the built-in lightweight HyperSQL database. It allows only one connection to its database.

However, in order to solve your problem, I propose a solution that we can make Tetrad running multiple workspaces (and multiple sessions) like the typical software suite,

[2017-11-06 19:09] jdramsey commented on #556
Obviously, I'd like to know what @espinoj says, but from the sounds of it, that would be great! The only issue I can think of at the moment is that the progress bar that comes up when you run an algorithm currently blocks Tetrad from doing anything else. Is there a way to get it to block only for the displayed window?

[2017-11-06 19:17] chirayukong commented on #556
We can make it run as a background process (like submitting a job to PSC, which we already have this feature), so there is nothing blocking a displayed window. @jdramsey

[2017-11-06 19:48] jdramsey commented on #556
@chirayukong That sounds great!

[2017-11-06 20:00] #552 closed

[2017-11-07 23:37] chirayukong commented on #554
@bja43 try this: [issue 554](https://github.com/cmu-phil/tetrad/tree/fix-issue-554).

[2017-11-08 21:44] chirayukong commented on #554
The new GUI and the textual result will be more verbose as shown belows:

<img width="546" alt="screen shot 2017-11-08 at 4 25 58 pm" src="https://user-images.githubusercontent.com/4652250/32576022-b170a776-c4a3-11e7-851b-b04d838ff6fd.png">

Bootstrapping on the FCI (Fast Causal Inference) using Conditional Correlation Test
Running Bootstraps in Parallel Mode, numBoostrap = 10
thread started ...
k

[2017-11-09 13:10] jdramsey opened #561 "For some reason, FOFC, BPC, and FTFC don't work in the GUI in development."
They produce no graphs at all in cases where they obviously should.

[2017-11-09 21:01] #554 closed

[2017-11-09 21:03] chirayukong commented on #553
@jdramsey Could you give me an example of Dan Malinsky's time series graph? I can try to fix it.

[2017-11-09 21:10] dmalinsk commented on #553
These are the kind of graph files Joe has in mind, with X1:1 standing for
lagged X1, X1:2 standing for second lag of X1, etc. The problem is parsing
on the ":" symbol, which now seems to be used for other purposes.

This is a backwards compatibility issue because I didn't invent such
graphs, they were used in older versions of Tetrad.

On Thu, Nov 9, 2017 at 4:03 PM, Chirayu (Kong) Wongchokprasitt

[2017-11-09 21:54] chirayukong commented on #553
Try this:

    public static Graph readerToGraphTxt(Reader reader) throws IOException {
        BufferedReader in = new BufferedReader(reader);

        while (!in.readLine().trim().equals("Graph Nodes:")) ;

        String line;
        Graph graph = new EdgeListGraph();

        while (!(line = in.readLine().trim()).equals("")) {
            String[] tokens = line.split(",");

            for (S

[2017-11-09 21:57] chirayukong commented on #553
<img width="1018" alt="screen shot 2017-11-09 at 4 56 32 pm" src="https://user-images.githubusercontent.com/4652250/32631730-16d75aa8-c56f-11e7-998d-8d64f148ea70.png">

[2017-11-09 22:02] chirayukong commented on #553
https://github.com/cmu-phil/tetrad/tree/fix-issue-553

[2017-11-09 22:15] jdramsey commented on #553
Yay! :) Looks good to me.

[2017-11-09 22:20] #553 closed

[2017-11-09 22:22] kvb2univpitt commented on #548
This issue has been fixed in the [data-reader-0.2.3](https://github.com/bd2kccd/data-reader/releases/tag/v0.2.3).

[2017-11-09 22:22] #548 closed

[2017-11-10 20:41] espinoj commented on #561
This bug may include mimbuild not working either.

[2017-11-10 20:41] #561 closed

[2017-11-13 19:12] espinoj opened #565 "Clark - Cannot connect IM box to data box to simulate"
Choosing "Graph" one cannot generate data. An IM for a SEM or Bayes net "will not connect to the Data box. Same with choosing  "Directed Acyclic Graph" etc.

The only way to get data is via the pipeline command.

[2017-11-13 19:13] espinoj commented on #565
The way to simulate data is not to connect from IM to a Data box as in previous versions since we separated Data from Simulation.

Correct method is to connect from IM to Simulation box.

[2017-11-13 19:14] espinoj commented on #565
Need Clark to Confirm this new behavior

[2017-11-13 19:16] espinoj opened #566 "Clark - Graph box has inadequate help"
Graph box: "there is no information for the user about how the 4 graph types differ.  "

Should add to help button a description of the different graph types.

[2017-11-13 19:56] ps7z opened #567 "BIC for complete models"
The BIC score for graphs in which every pair of vertices are adjacent is set to 0.0 no matter what the data is. However, this should not be the case - the likelihoods and the sample size are well defined and the BIC should be calculated.

[2017-11-13 20:08] espinoj opened #568 "Clark - Data loader has no link to a description of data format constraints"
Add help button that describes data formats allowable

[2017-11-13 20:12] espinoj opened #569 "Clark - one cannot search for the file wanted by name only by scrolling."
From the "File" interface in the Data box, one cannot search for the file wanted by name only by scrolling.

[2017-11-13 20:13] espinoj commented on #569
Since the Java implementation of a file chooser does not include search, if we wanted to do this we would have to program a specific native file chooser routine for every OS (Linux, Windows, Mac).

[2017-11-13 20:29] chirayukong commented on #543
@jdramsey could you give a dataset and what algorithm do you use in this case? I try to simulate it but have no luck.

[2017-11-13 20:32] espinoj opened #570 "Selecting Time Series Simulation locks you in"
In Data Box, when you select Time Series the Type of Graph selector disappears which makes sense but if you select a different simulation i.e., not Time Series you don't get Type of Graph anymore.

Should make Type of Graph reappear when Time Series is deselected.

[2017-11-13 20:57] espinoj opened #571 "Clark - Can't simulate latent variables in manually created graph"
Latent Variables can't be simulated through a manually created graph.

To replicate:
Create a graph with latents
Graph->PM->IM->Simulate (no option to handle latents)

[2017-11-13 20:59] espinoj opened #572 "Clark - Placement of search, set parameters, done button"
No "search" button comes up on the interface if I connect a new search box to the pipeline simulation box!!!

[2017-11-13 21:01] espinoj commented on #572
This is likely due to the hidden search button problem on small screens.

We need to establish a minimum size wherein below that there are scroll bars.

[2017-11-13 21:14] espinoj opened #573 "Clark - Incomplete or Incorrect Algorithm Description - BPC"
"BPC (Build Pure Clusters) searches for causal structure over latent variables, where the true models are Multiple Indicator Models (MIM’s)"

False. BPC does not infer relations among latent variables.

"The algorithm to run PC or GES on this covariance matrix is called MimBuild (“MIM” is the the graph, Multiple Indicator Model"

MimBuild is no longer a Search algorithm included in the program!

"

[2017-11-13 21:21] espinoj commented on #558
This was approved by algorithms

[2017-11-13 21:23] espinoj commented on #558
![how to display directed arcs in pags](https://user-images.githubusercontent.com/313721/32749931-fb121196-c88e-11e7-88f6-37cf2c0a326d.JPG)

[2017-11-13 21:24] espinoj commented on #558
Should be updated in Tetrad/causal web and accompanying online help

[2017-11-13 21:37] espinoj opened #574 "Clark - EB Description"
EB

"Cycles can be oriented using these methods, since each edge is oriented independently of the others."

Misleading: 2-Cycles cannot be oriented.

EB is a bad algorithm as evidenced in Ramsey et al., 2014. It should be deleted. R3 does the same thing better.

Not Acceptable: My cause selection of an algorithm known to be inferior

[2017-11-13 21:37] espinoj commented on #574
Should remove EB

[2017-11-13 21:38] jdramsey commented on #543
Can I skype real quick?

On Mon, Nov 13, 2017 at 3:29 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-11-13 21:38] espinoj commented on #522
#558 Addresses this.  Closing

[2017-11-13 21:38] #522 closed

[2017-11-13 21:39] jdramsey commented on #543
I think I missed you. Tomorrow maybe?

On Mon, Nov 13, 2017 at 4:38 PM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-11-13 21:39] espinoj commented on #531
My problem is that I don't have direct control either of the web page.  I'll let you know.

[2017-11-13 22:07] chirayukong commented on #543
@jdramsey can we chat tmr at 1pm?

[2017-11-13 22:12] jdramsey commented on #543
Mmmmm... No. I have a meeting 12-2. After 2?

On Nov 13, 2017 5:07 PM, "Chirayu (Kong) Wongchokprasitti" <
notifications@github.com> wrote:

[2017-11-13 22:14] chirayukong commented on #543
No problem. Let's do it at 2:30 pm.

[2017-11-13 22:43] jdramsey commented on #543
OK I'm putting it on the calendar.

Joe

On Mon, Nov 13, 2017 at 5:14 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-11-14 00:30] akhantha opened #575 "References for nonparanormal transformation (2017 manual, p. 49)"
What are references for "Nonparanormal transformation" in the 2017 manual (p. 49)? Thank you.

[2017-11-14 14:51] espinoj opened #576 "Clark - FAS Description"
FAS

"FAS is the adjacency search of the PC algorithm, used as an adjacency search in many algorithms and sometimes useful in it own right as an undirected search that avoids marrying of parents. See Spirtes, Glymour and Scheines, Causation, Prediction and Search."

It should be noted that FAS is an alternative to GLASSO and LASSO, especially for sparse graphs.  And that it comes in two forms (wel

[2017-11-14 14:52] espinoj opened #577 "Clark - Parameter Descriptions"
We should add parameter descriptions that show up under help or popups

PARAMETERS

No explanation is given for what the parameters mean. How is a user to know what "-1" means for a conditioning set?

[2017-11-14 14:54] espinoj opened #578 "Clark - Review filters for linear and gaussian tests/oracles"
If you choose PC All you are given "filtering" boxes to check: One says "Variables with linear relationships" and one says "Gaussian Variables."So since my data are linear Gaussian, I check both.

Then even with an expanded window, no search button is available. Clicking on "Set Parameters" does nothing.  See below and attached Tetrad session "Search Problem".

Refers to for button accessibility #

[2017-11-14 14:57] espinoj opened #579 "Clark - Updater problem"
Updater Problem

The Updater connected to the contents of the Estimation box, does nothing for SEM models. See attached Updater Problem.   It should estimate the new means of variables it effects. Note in the example, the mean of the effect, X2 does not change.

[2017-11-14 14:58] espinoj opened #580 "Clark - Algorithm Description"
"FASK-LV" says it is "An adaptation of FASK to the latent variable case."  But I know of no such algorithm, and FASK is not among the list of search algorithms.

[2017-11-14 15:00] espinoj opened #581 "Clark - FCI Description"
FCI  description is ungrammatical: "This class is based off a copy of Fci.java"  One thing cannot be based "off" another, only "on" another.

[2017-11-14 15:01] espinoj opened #582 "Clark - FGES Description"
FGES is FGES with "one-edge faithfulness"  But FGES without that assumption is not included, not even as a switch.  Why not??  Need reference for "Andrew Moore's approach" or deletion

[2017-11-14 15:02] espinoj opened #583 "Clark - FGES MB Description"
FGS-MB: "This is a restriction of the FGES algorithm to union of edges over the combined Markov blankets of a set of targets, including the targets. In the interface, just one target may be specified."

Why cannot more than one target be selected in the interface? The algorithm explanation in the side window goes on to discuss multiple targets.

[2017-11-14 15:03] espinoj opened #584 "Clark - FOFC Description"
FOFC  " Similarly to BPC, MimBuild may be run on a covariance matrix estimated over the latents for the resulting clusters to find a pattern over the latents that represents the causal structure over the latents." ---NOT TRUE.

[2017-11-14 15:03] espinoj opened #585 "Clark - FTFC Description"
FTFC    There is no algorithm to use the output of this procedure to find latent structure.  Peter was working on it but I have not seen a result.  Until there is, that should be noted in the text.

[2017-11-14 15:04] espinoj opened #586 "Clark - GFCI Description"
GFCI  "Greedy Fast Causal Inference Search (GFCI) is an implementation of the revised FCI algorithm.It uses FGES followed by PC adjacency removals. Uses conservative collider orientation. Gets sepsets for X---Y from among adjacents of X or of Y."

This is too cryptic to be of help. User will not know what "conservative collider orientation" is or what "sepsets' are.

[2017-11-14 15:05] espinoj opened #587 "Clark - GLASSO Description"
GLASSO  " - MAXIT, IA, IS, ITR, IPEN, THR. These are parameters in the translated Fortan code. Defaults are given in the interface and are the same as for the Fortran code"

It is not helpful to direct users to Fortran code for the meanings of parameters they must select. Why Glasso but not Lasso or Adaptive Lasso?

[2017-11-14 15:05] espinoj opened #588 "Clark - IMAGES Description"
IMaGES and IMAGES discrete

  "Adjusts the continuous variable score (SEM BIC) of FGES so [sic] allow for multiple datasets as input. The linear, Gaussian BIC scores for each data set are averaged at each step of the algorithm, producing a model for al [sic] data sets that assumes they have the same graphical structure across dataset [sic]."

Should say: "assumes they have the same variables and s

[2017-11-14 15:06] espinoj opened #589 "Clark - MGM Description"
MGM  Needs a reference.

[2017-11-14 15:07] espinoj opened #590 "Clark - PC Descriptions"
PC-All and PC max-stable.

Clearly if PC max stable isn't in PC-All then PC All isn't all of PC.  This needs to be reconfigured, and Merloes et al. contribution of PC stable acknowledged.

"Bidirected" allows bidirected edges to be oriented when orienting new colliders.:   ""Bidirected" allows bidirected edges to be oriented when orienting new colliders." Should add:  "For some cases of immediate

[2017-11-14 15:08] espinoj opened #591 "Clark - R R2 R3 R4 Description"
R, .R2, R3, R4

Some of the description needs to be rewritten. It doesn't tell the users which algorithms do 2 cycles. It refers to EB, which ought to be eliminated.

[2017-11-14 15:09] espinoj opened #592 "Clark - RSkew and RSkewE"
RSKew and RskewE

Rskew should be removed. Only RskewE is empirically applicable. Description needs to be altered to explain why.

[2017-11-14 15:10] espinoj opened #593 "Clark - tsFCI Description"
tsFCI The description confuses tsFCI and tsGFCI, and is incomplete and has no reference. Note that "T" is capitalized in the list but not in the explanatory text.

"The tsFCI algorithm is a version of GFCI for time series data. See the GFCI documentation for a description of the GFCI algorithm, which allows for unmeasured (hidden, latent) variables in the data-generating process and produces a PAG

[2017-11-14 15:11] espinoj opened #594 "Clark - Capitalization of tsFCI and tsImages"
Decide if T should be capitalized and make it so all over the place

[2017-11-14 15:12] espinoj opened #595 "Clark - Missing Algorithms Mimbuild and Lingam"
Mimbuild      This is absolutely essential
Lingam 	 Good for very large samples

[2017-11-14 15:14] espinoj opened #596 "Clark - New algorithms that are needed"
A. Kun's algorithm for data from multiple structures. Madelyn has coded it and given it preliminary testing. Need to test further and put description on Arxiv.

B. Fask  Ramsey algorithm for fMRI time series.

C. Two-Step Kun algorithm for fmri time series.

D. FGES without one-edge faithfulness

[2017-11-14 15:19] espinoj commented on #596
FGES has an option for one-edge faithfulness

![image](https://user-images.githubusercontent.com/313721/32787735-4bb766aa-c925-11e7-83d6-74b49214a8fd.png)

[2017-11-14 15:25] espinoj opened #597 "Time Series simulation doesn't work after changing Type of Simulation Model"
Simulate a time series
Run a search
Change the Simulation Model in the simulate box
Exception
[code]

[2017-11-14 15:27] espinoj opened #598 "Clark - Copy-Paste from Graph Box to another Graph Box does not work."
Copy-Paste from Graph Box to another Graph Box does not work.

[2017-11-14 15:30] espinoj opened #599 "Clark - use of Data vs Simulation box"
You cannot start with a pipeline graph, connect to a different (e.g., to a Bayes Net) parameterization and connect to a DATA box--only to a simulation box. Highly misleading.

[2017-11-14 15:56] espinoj opened #600 "Clark - BPC categorical data"
If you try BPC on categorical data you get no result (correct response)--but no error explanation.

[2017-11-14 15:57] espinoj opened #601 "Clark - BPC on continuous and latent variable"
If you try BPC on continuous data for a one-latent variable model from the pipeline, you get no output (see right most simulation in Branching and Copying.tet

[2017-11-14 15:57] espinoj opened #602 "Clark - Output of search doesn't indicate algorithm used"
The output of search does not say what algorithm was used.

[2017-11-14 15:59] espinoj opened #603 "Clark - Parameters need descriptions"

[2017-11-14 16:00] espinoj opened #604 "Clark - MBFS Fan Search does not work"
MB FAN SEARCH DOES NOT WORK;

Sure enough MBFS doesn’t work. I could have sworn it worked when I was looking into FGES-MB for Kun. I ran it. I’ll have to track the problem down. In any case, that code hasn’t been touched in well over a decade.

Like I said, MGM as defined (see the article) is not supposed to work for continuous-only variables. I’m sure with some programming trick we could get it t

[2017-11-14 17:00] espinoj opened #605 "Clark - MGM DOES NOT WORK (ON CONTINUOUS DATA)"
MGM DOES NOT WORK (ON CONTINUOUS DATA)

[2017-11-14 17:05] dmalinsk commented on #593
I'm not sure who is the one editing all these descriptions in the manual
but... in this paragraph just replace tsGFCI with tsFCI. The names of the
algorithms tsFCI and tsGFCI start with lowercase "ts" (following earlier
convention in the literature) but the convention in in Java for naming
classes is CamelCase hence the capital T. I think in the GUI the
capitalization is just inherited from the Ja

[2017-11-14 17:17] jdramsey commented on #605
There is a question as to whether it is _supposed_ to work on continuous data. AJ had said not.

[2017-11-14 18:56] espinoj commented on #577
Making separate issue for ensemble description

[2017-11-14 18:56] #577 closed

[2017-11-14 18:59] espinoj opened #606 "Change Ensemble method description"
![image](https://user-images.githubusercontent.com/313721/32798768-b5de8c0c-c943-11e7-8cfc-c9c77774f974.png)

Change from "Ensemble Method" to "Bootstrap edge visibility"

Should also augment with parameter description

[2017-11-14 19:01] espinoj commented on #603
If parameters don't change their meaning across algorithms perhaps we add a member variable to edu.cmu.tetrad.util.Parameters called extendedDescription that the UI can add to the Algorithm Description box automatically

[2017-11-14 19:36] #565 closed

[2017-11-14 19:38] jdramsey commented on #543
Kong,

Skype's not working for me at the moment. Can we hangout instead?

Joe

On Mon, Nov 13, 2017 at 5:43 PM, Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdra

[2017-11-14 20:26] espinoj commented on #558
fixed in #607

[2017-11-14 20:47] espinoj commented on #598
Could not replicate

[2017-11-14 20:48] espinoj commented on #572
Replicate of #543

[2017-11-14 20:49] #572 closed

[2017-11-14 20:53] espinoj commented on #571
Could not replicate

[2017-11-15 00:04] ps7z opened #608 "standardized sem bug (Peter)"
When creating a standardized SEM in a SEM box, whenever the cursor crosses an edge in the graph, the coefficients disappear. It is also not possible to select an edge in order to change a coefficient by hand - the coefficient disappears, but the edge ranges for that edge do not appear, they stay the same.

[2017-11-15 15:49] dmalinsk commented on #575
see http://www.jmlr.org/papers/volume10/liu09a/liu09a.pdf
and https://projecteuclid.org/download/pdfview_1/euclid.aos/1358951383

On Mon, Nov 13, 2017 at 7:30 PM, akhantha <notifications@github.com> wrote:

[2017-11-15 17:54] espinoj commented on #543
Kevin is working on this while Kong works on the comparison bug

[2017-11-15 18:03] espinoj opened #609 "UI fails to scale on high res screens"
This is related to a previous Windows/Java bug wherein DPI is not reported to Java.  Should see if workaround exists that is universally usable

[2017-11-15 18:08] espinoj commented on #609
Top result on google is now this
https://superuser.com/questions/988379/how-do-i-run-java-apps-upscaled-on-a-high-dpi-display

Will test.

[2017-11-15 18:38] chirayukong commented on #543
@jdramsey @espinoj @kvb2univpitt guys, try this: [Fix issue 543](https://github.com/cmu-phil/tetrad/tree/fix-issue-543).

[2017-11-15 19:21] chirayukong commented on #543
@espinoj I think I fix all of them, hopefully. :-)

[2017-11-15 19:27] chirayukong commented on #543
<img width="894" alt="screen shot 2017-11-15 at 2 23 48 pm" src="https://user-images.githubusercontent.com/4652250/32855874-1921241e-ca11-11e7-8ef8-b7b4d4d0607d.png">
<img width="892" alt="screen shot 2017-11-15 at 2 24 12 pm" src="https://user-images.githubusercontent.com/4652250/32855875-19316040-ca11-11e7-8e3c-8768d3850438.png">
<img width="894" alt="screen shot 2017-11-15 at 2 25 59 pm" src="h

[2017-11-15 20:22] jdramsey commented on #543
Great!

On Wed, Nov 15, 2017 at 2:27 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2017-11-16 01:53] akhantha commented on #575
Dear Sirs/Madams,

Thank you very much

Sincerely,
Anya

On Wed, Nov 15, 2017 at 10:49 PM, dmalinsk <notifications@github.com> wrote:

--
ศาสตราจารย์ ดร.อัญญา ขันธวิทย์
   ศาสตราจารย์ในสาขาวิชาการเงินและการธนาคาร ระดับ 11 และ
   กีรตยาจารย์แห่งมหาวิทยาลัยธรรมศาสตร์
Anya Khanthavit, Ph.D.
   Distinguished Professor of Finance and Banking
   Faculty of Commerce and Accountancy
   Thammasat Universit

[2017-11-16 19:52] espinoj commented on #609
Tried all the proposed solutions in the previous link.   The only solution (Windows 10 on a Surface Pro with high resolution screen) that worked was to setup windows to prefer external manifests and then create manifest files for java.exe and javaw.exe as described in https://stackoverflow.com/questions/30555401/java-disable-dpi-aware-not-working/39372897#39372897

[2017-11-16 19:56] espinoj commented on #609
BTW:  you will also need administrator privileges to copy the manifest files to the java bin directory

[2017-11-16 21:05] chirayukong commented on #609
One comment said that there is a less intrusive solution:
1) Create a shortcut for command java -jar myJarFile.jar
2) Right click on a shortcut -> Properties
3) Go to Compatibility tab
4) Check Override high DPI scaling behavior.
5) Choose System for Scaling performed by:

[2017-11-16 21:55] espinoj commented on #609
Tried - doesn't work on updated Win10 latest Java 8.

[2017-11-17 16:32] jdramsey opened #611 "Logging and unlogging data."
We need a gadget to take the log of a dataset. It should take in a dataset and apply the function f(x) = log(a + x) to each data point, where a can be specified. It would be helpful also if there were a gadget to allow the data to be unlogged as well, that is, for the function g(x) = exp(x) - a to be applied. These can be the same gadget with a switch, I suppose.

[2017-11-17 17:24] jdramsey opened #612 "Multi datasets in DataLoader don't allow single dataset algorithms in Search"
When multiple datasets are loaded in the Data Loader and an arrow drawn to a search box, currently only the multi-dataset algorithms are shown. But the single dataset algorithms should also be shown. The behavior for these should be to run the algorithm on each dataset separately and show the list of results. This what's done if you do several runs in the simulator and then search.

I think.

[2017-11-20 21:11] yuanzhou commented on #612
Because the Search (algo chooser) checks if there are multiple datasets and only displays the algorithms that can handle multiple datasets. But if the single dataset algorithms are also supposed to be in the list, then how can you run just on one of the datasets in the Search? I don't see it allows users to specify which file to run. I thought whenever you gun a search by choosing an algorithm, it

[2017-11-20 22:20] jdramsey commented on #612
Skype sometime? Maybe I have the wrong idea... Should work though. You just produce a list of output graphs.

[2017-11-21 14:53] yuanzhou commented on #593
This is related to #594 so I just link it here.

[2017-11-21 14:59] yuanzhou commented on #543
Has this been fixed? Issue #578 is related to this.

[2017-11-21 16:02] yuanzhou commented on #612
I'll first discuss this with the team during our daily stand-up today to see if there's any other insights/understandings before we find a time to talk.

[2017-11-21 17:01] yuanzhou commented on #612
@jdramsey I just discussed this with the team and @chirayukong explained how this works. Just to confirm with you:

Regardless of single dataset or multiple datasets being loaded, the algo chooser should show all algorithms.

We can remove the filtering very easily.

[2017-11-28 22:49] chirayukong commented on #597
[Fix issue 597](https://github.com/cmu-phil/tetrad/tree/fix-issue-597)

[2017-11-28 23:51] #597 closed

[2017-11-29 16:49] espinoj opened #614 "Update Tetrad HPC to use updated REST API and Causal Cmd"
Tetrad HPC is hardcoded to allow HPC usage of GFCI and FGES but given that we have updated Causal-cmd to do almost any algorithm we can now allow HPC access to most algorithms

[2017-11-29 20:30] chirayukong commented on #604
Looks like MBFS works fine. Only thing I found is the default value of the depth parameter. @jdramsey Is it the case that MBFS needs the at least zero depth yet others can get -1?

[2017-11-29 20:55] chirayukong commented on #606
The new description is "Bootstrap edge visibility: Preserving All Edges (0), Keep Edges having prob. >= no edge's (1), Keep Edges having prob. > 0.5 (2)". @espinoj and it is in this [fix issue 606](https://github.com/cmu-phil/tetrad/tree/fix-issue-606) branch.

[2017-11-29 21:26] jdramsey commented on #604
Oh is that it. The code just needs to do a check that if it's -1 to set it
to some unreasonably high number like 1000. If I remember I'll do it when I
get a chance.

Joe

On Wed, Nov 29, 2017 at 3:30 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon U

[2017-12-01 17:07] jdramsey opened #615 "The copy selected variables gadget copies the wrong variables."
There are some indexing problems. I know how to fix this. I'll put in a fix.

Desired behavior:

* When you select variables in the data box and append a "Copy Selected Variables" box, it should copy the actual variables that you selected. It's one off. And indexing error in TabularDataJPane.

* When you close and reopen the Data box, it should show the same variables you just selected. Another in

[2017-12-04 16:07] tzimiskes opened #616 "Loading a simulation in the GUI and trying to run a search on it results in an error"
I generated some data in the GUI using these parameters

![simparameters](https://user-images.githubusercontent.com/22644852/33561453-48a01e40-d8d8-11e7-80b8-6c10a9707548.png)

Then, I saved the simulation. Afterwards, I tried loading it and running a search; see Sumulation2 below

![tetraderror1](https://user-images.githubusercontent.com/22644852/33561352-0eca4ee8-d8d8-11e7-997b-b5e0b9128f06.png)

[2017-12-05 17:08] espinoj commented on #616
Ok.  This is a confusing condition based on revision of the simulation/data boxes.  When saving a simulation it will only save the data and not the parameters of the simulation.

Workaround:   Save the simulation
Place a databox in the worksspace
Load the simulation data into the databox
Conduct your search

We need to eliminate load simulation in the simulation databox and rephrase "Save Simulati

[2017-12-05 17:10] espinoj opened #617 "Eliminate load simulation option in simulation databox"
Eliminate load simulation in the simulation databox n file menu of simulation box
Rephrase "Save Simulation" to "Save Simulated Data" in file menu of simulation box

related to #616

[2017-12-05 19:21] espinoj commented on #614
Since @yuanzhou worked on REST API can keep tabs on his completion of that update

[2017-12-05 19:22] espinoj commented on #612
Did this get fixed @yuanzhou ?

[2017-12-05 19:23] #606 closed

[2017-12-05 19:23] espinoj commented on #605
@chirayukong was this clarified?

[2017-12-05 19:24] #598 closed

[2017-12-05 20:32] chirayukong commented on #605
@espinoj I have no idea how to fix this. Need @jdramsey to jump in.

[2017-12-05 22:36] jdramsey commented on #605
I think the thing to do is pull up the original article for MGM and look to see if all continuous variables is something it can do. It can't the way the code is written. I recall AJ (who wrote the code) telling me it needed at least one continuous and at least one discrete variable to run. Here's the paper:

https://web.stanford.edu/~hastie/Papers/structmgm.pdf

Looking at the paper I don't see wh

[2017-12-06 00:06] jdramsey commented on #605
It does throw an exception. The problem is this line in VerticalDoubleDataBox, which tries to get the number of rows in the dataset from the length of the first column. This is ok...unless there is no first column! :)

    public int numRows() {
        return data[0].length;
    }

Any ideas? If the VerticalDoubleDataBox is constructed with known dimensions, I suppose those could be stored and re

[2017-12-06 00:16] jdramsey commented on #605
The problem is, even if the VerticalDoubleDataBox isn't constructed with known dimension, this should return something. I recommend we return 0. I'm not sure that will work, though.

@espinoj @chirayukong

[2017-12-06 15:15] yuanzhou commented on #612
@espinoj It was fixed in Kevin's branch with other UI changes. Hasn't pushed to development yet.

[2017-12-06 15:33] jdramsey commented on #612
@yuanzhou Thanks! That will be a huge help.

[2017-12-12 21:10] chirayukong commented on #570
Fixed! https://github.com/cmu-phil/tetrad/pull/613

[2017-12-12 21:10] #570 closed

[2017-12-28 17:12] jdramsey opened #630 "Sometimes simulation data changes if you search twice."
Sometimes if you have simulation->search and you simulate a dataset, then search twice on it, the dataset changes. So far I can't find the cause of it, but I thought I'd note it here.

For instance, if you make a Linear Fisher simulation, then search using FGES, then search again using FGES, the dataset changes.

[2017-12-28 17:38] jdramsey commented on #630
Here's the problem I think. In VerticalDoubleDataBox, line 138,

        return new VerticalDoubleDataBox(data);

should be

        return new VerticalDoubleDataBox(copy);

I'll make a branch with that change if I remember.

[2018-01-04 16:40] cabal-cmu opened #631 "From the CCD Helpdesk"
Hi, a user (vincent.lous@gmail.com) send the next Tetrad problems:

*****
I have the following issues when working with the newest Tetrad (6.3.4-0) :
- when linking a knowledge box to a search box the knowledge tab in the search box does not reflect the knowledge box
- the estimator box says "could not create a model" when i create a SEM PM on mixed data.  What are some possible causes for that er

[2018-01-05 17:05] jdramsey opened #632 "Laplace edit."
GeneralizedTemplateEditor, line 556, this:

                {"Laplace(mu, beta)", "Beta(%, %)"},

should be

                {"Laplace(mu, beta)", "Laplace(%, %)"},

I can do this when I'm in an appropriate branch, or anyone else can.

[2018-01-07 19:08] mglymour opened #633 "Simulation box does not use input graph"
In 6.4.0-0, downloaded today, the simulation box will not simulate data based on an input graph. Simulation boxes with graph input boxes act as though they are parentless simulation boxes.
<img width="1430" alt="screen shot 2018-01-07 at 2 04 24 pm" src="https://user-images.githubusercontent.com/15677053/34653042-30536350-f3b4-11e7-970b-1b3afd2a3159.png">

[2018-01-08 22:15] kvb2univpitt commented on #633
Fixed.

[2018-01-08 23:21] #633 closed

[2018-01-09 17:36] pschaldenbrand opened #635 ""Replace Missing Values With Regression Predictions" never finishes"
When I use the data component to fill in missing values with regression predictions, the executing box pops up but never finishes.  Sometimes while trying to cancel this operation, the program all together crashes or stops responding.

[2018-01-09 19:17] bja43 opened #636 "Error in DAG to PAG procedure and possibly in FCI orientation rules"
In the latest release of Tetrad, I created the following graph:

![image](https://user-images.githubusercontent.com/16494809/34738233-66d2178a-f546-11e7-9d09-83ad19e21e23.png)

I believe the correct PAG for the above DAG is:

![image](https://user-images.githubusercontent.com/16494809/34738342-b6bb57a2-f546-11e7-84a0-ef9ea1ba8c00.png)

However, using the DAG to PAG procedure, Tetrad outputs the fo

[2018-01-09 19:35] bja43 commented on #636
Actually, C is an indirect cause of D, so the FCI output is correct.  However, the DAG to PAG procedure still appears to be incorrect to me.

[2018-01-09 19:37] dmalinsk commented on #636
Brian,

Can you tell which orientation rule is being used to orient that circle
mark / are you sure that it isn't behaving correctly? I think it might be
using R4 in FCI, which orients the Co->D circle because of a discriminating
path. The definition is a bit confusing so double-check on that.

DAG2PAG uses those same orientation rules so if it is R4 then both are
correct.

--Dan

On Tue, Jan 9, 2

[2018-01-09 19:41] dmalinsk commented on #636
that is: <A,B,C,D> is a discriminating path for C

On Tue, Jan 9, 2018 at 2:36 PM, Daniel Malinsky <danielmalinsky@gmail.com>
wrote:

[2018-01-09 19:50] bja43 commented on #636
I see, thanks for clarifying. It seems that the only issue is that the DAG2PAG procedure does color or dash the output edges which need to be colored and or dashed.  I'll look into it.

[2018-01-09 20:59] #636 closed

[2018-01-11 15:07] espinoj opened #637 "Clark: search box shouldn't require scrolling to get to set parameters"
In Search box move set parameters choose algorithm and run search to where the done button is.

[2018-01-11 15:09] espinoj opened #638 "Clark: whitespace option should automatically work on tab delimited data"
Both tab and space are considered whitespace.  In addition to that, any character on the ASCII table that’s less than or equal to space character is considered whitespace.  Also, tab delimiter will treat two consecutive tabs as two delimiters while whitespace will consider it one.

[2018-01-11 15:09] #638 closed

[2018-01-11 15:10] espinoj opened #639 "Clark: Grey out filtering check boxes in Choose Independence Test when no tests/scores are available to choose"
fixed

[2018-01-11 15:10] #639 closed

[2018-01-11 15:11] espinoj opened #640 "Clark: Change "Independence Tests/Scores" to "Statistical Tests/Scores" (so that Wishart and Delta, for example, can be placed there)"

[2018-01-11 15:55] espinoj opened #641 "Clark: We should not have to click the arrow tool again if we want to draw an arrow in the workspace"

[2018-01-11 15:56] espinoj opened #642 "Clark: Pasting does not work in the data box (makes it very very difficult to add columns to a data set."

[2018-01-11 15:57] espinoj opened #643 "Clark: We need MIMBuild among the search algorithms. Joe has code, somewhere."

[2018-01-11 15:57] espinoj opened #644 "Clark: Can't get the Time Series Graph tool to work - broken or counterintuitive"

[2018-01-11 16:08] espinoj opened #645 "Clark: EB should be removed"

[2018-01-11 16:08] espinoj opened #646 "Clark: BPC FOFC FTFC have interface problems that prevent them from working"

[2018-01-11 16:09] espinoj opened #647 "Clark: FASK is not working"
Joe has fixed fask and it is awaiting testing before merge

[2018-01-11 16:09] espinoj opened #648 "Clark: There is no switch in the pipeline for producing or not values of latent variables in the data."

[2018-01-11 16:10] espinoj opened #649 "Clark: MGM does not work"
Error Message:  This is an algorithmic error--its an array out of bounds error; it is really an algorithm error-- A.J. wrote the thing so that it will not run with only continuous variables. Remove it?

[2018-01-11 16:11] espinoj opened #650 "Clark: R1,R2, and R3 do not work. Remove R4"
R1 does not work.

R2 does not work, R3 does not work

R4 should be removed

[2018-01-11 16:12] espinoj opened #651 "Clark: MIMBUILD should be in the list of algorithms"
MIMBUILD should be in the list of algorithms in the "algorithms" box--with instructions (needs input from BPC or the Knowledge box)

[2018-01-11 16:13] espinoj opened #652 "Clark: TsFCI needs a better error message when you (incorrectly) input data that is not a time series."
TsFCI needs a better error message. Here is the error message when you (incorrectly) input data that is not a time series.
![image](https://user-images.githubusercontent.com/313721/34834581-57907692-f6c0-11e7-99e6-ed298c132be1.png)

[2018-01-11 16:13] jdramsey commented on #649
If you add the exception I sent, it will notify the user that you need at least one continuous and one discrete variable to run MGM.

The problem is it gets the array of continuous data and the array of discrete data, but the vertical int databox gets its size by checking the length of the first column, but there is no first column if there are no continuous variables (or discrete variables).

[2018-01-11 16:14] espinoj opened #653 "Clark: Time Series data simulation problems"
graph -> simulation with time series or structural equation model chosen does not produce data . With anything else you get data but it is not time series data.

Input time series graph into pm -> im -> simulation produces data but not time series data.

"Number of initial lags" in edit configurations in time series graph box screws up propagation of edges.

If you change the number of lags in the

[2018-01-11 16:21] espinoj opened #654 "Clark: Trying to run FGESMB without a target get this weird error message"
Should say: "Target is not specified"

![image](https://user-images.githubusercontent.com/313721/34835004-8e6a21b2-f6c1-11e7-9f81-64acecd1491d.png)

[2018-01-11 16:24] jdramsey commented on #643
This is there. I can show you how to use it, though it's easier if BPC,
FOFC are working. (You can use the Measurement Model box if not.)

The problem is it's not in the regular list of algorithms because the
output is different--there are three graphs, not one. A GUI puzzle I was
unable to solve.

On Thu, Jan 11, 2018 at 10:57 AM, Jeremy Espino <notifications@github.com>
wrote:

--
Joseph D. Rams

[2018-01-11 16:27] jdramsey commented on #644
I think this is OK now. I just had to comment out the one spinner, which was messing things up.

[2018-01-11 16:28] espinoj commented on #649
This is the code to change Joe refers to

[code]

[2018-01-11 16:28] dmalinsk commented on #652
Agreed. I'm not modifying things in the GUI these days, too much has
changed since I implemented this. Joe, do you mind tracking down where the
error message comes from and make it more informative, e.g., "This
algorithm requires a (labeled) time series data set as input." ?
(labeled in the sense of X1 X1:1 X1:2 X2 X2:1 X2:2...)

On Thu, Jan 11, 2018 at 11:13 AM, Jeremy Espino <notifications@githu

[2018-01-11 18:19] espinoj commented on #646
Search for cluster variables that share an unmeasured common cause.  Use MIM graph to generate data and then perform search.  Currently doesn't run or doesn't output the result.

[2018-01-11 18:21] espinoj opened #655 "Time Series Simulation needs coefficients to be set"

[2018-01-11 18:28] espinoj commented on #648
Include the latents as a parameter in the simulated data.

[2018-01-11 18:29] espinoj commented on #651
Required boxes: input from clustering algorithm, knowledge, data.

[2018-01-11 18:39] espinoj opened #656 "MIMBUILD and covariance matrix"
Feature request - obtain inferred covariance matrix from the latents from the MIMBUILD from a data box attached to mimbuild (parent).

[2018-01-11 18:48] espinoj commented on #656
Data box will have get covariance boxes from cluster (just FOFC, BPC for now).  Covariance matrix then will feed to any search procedure (PC, FGES etc)

[2018-01-11 19:16] espinoj opened #657 "Online help and descriptions"
Create a html manual that Tetrad can pull updates from.

[2018-01-11 22:33] kvb2univpitt commented on #641
Fixed.

[2018-01-12 14:31] scheines opened #658 "Estimating SEM from correlation matrix"
The estimator refused to do its thing when the data is a correlation matrix for a SEM PM.  Below the data file - but I can't attach a .tet file.  Graph is Pre--> Final, Pre --> Print --> Vol --> Quiz --> Final
[pitt_newer.txt](https://github.com/cmu-phil/tetrad/files/1626321/pitt_newer.txt)

[2018-01-12 15:22] yuanzhou commented on #650
Do we want to remove the R4 class file or just the annotation but still keep the class?

[2018-01-12 15:23] yuanzhou commented on #645
Link this to https://github.com/cmu-phil/tetrad/issues/650

[2018-01-12 16:04] espinoj commented on #650
for R4 and EB keep the class.  Check with @kvb2univpitt about the experimental annotation which we will use later as an option to show all available algorithms.

[2018-01-12 16:25] espinoj commented on #658
In development branch covariance file loads ok.  I recall that we did some bug fixes in covariance loading on this round.

[2018-01-12 16:43] kvb2univpitt commented on #637
![screenshot at 2018-01-12 11-36-28](https://user-images.githubusercontent.com/10729309/34885384-d33b8a5c-f78d-11e7-9fc0-856e89e0ed92.png)

Done.

[2018-01-12 19:32] espinoj commented on #658
Discussed with @jdramsey.  I'm making a ScoreType enum class that will be used everywhere.

[2018-01-16 19:46] espinoj commented on #658
@scheines today's development build has the fix
https://cloud.ccd.pitt.edu/nexus/content/repositories/snapshots/edu/cmu/tetrad-gui/6.4.0-SNAPSHOT/tetrad-gui-6.4.0-20180116.180138-162-launch.jar

[2018-01-16 19:46] #658 closed

[2018-01-16 21:03] #647 closed

[2018-01-16 21:04] #653 closed

[2018-01-16 21:04] #644 closed

[2018-01-16 21:05] espinoj commented on #641
confirmed works

[2018-01-16 21:05] #641 closed

[2018-01-16 21:05] espinoj commented on #637
confirmed moved the button

[2018-01-16 21:05] #637 closed

[2018-01-16 21:07] espinoj commented on #651
ref #643

[2018-01-16 22:24] cabal-cmu opened #664 "Questions"
@espinoj @jdramsey

Hi, I got this problems by a user writing to the CCD-Helpdesk:

 have the following issues when working with the newest Tetrad (6.3.4-0) :
- when linking a knowledge box to a search box the knowledge tab in the search box does not reflect the knowledge box
- the estimator box says "could not create a model" when i create a SEM PM on mixed data.  What are some possible causes fo

[2018-01-17 00:05] jdramsey commented on #664
The second I don't get. An SEM PM is a continuous model, not a mixed model.

[2018-01-17 00:07] jdramsey commented on #664
Also, I thought the knowledge tab in the search box had been eliminated... yeah it's gone. This isn't a new change.

[2018-01-17 00:07] jdramsey commented on #664
I don't think they were working with the latest version.....

[2018-01-17 14:21] cabal-cmu commented on #664
@jdramsey Can Tetrad build a SEM model with continuous and discrete data ?

[2018-01-17 16:26] jdramsey commented on #664
No... SEM is a continuous model. In the Simulation box there's a gadget
(Lee & Hastie) for simulating from a mixed model.

On Wed, Jan 17, 2018 at 9:21 AM, cabal-cmu <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268

[2018-01-17 17:01] kvb2univpitt commented on #654
Fixed.

[2018-01-17 17:05] kvb2univpitt opened #665 "Tetrad GUI: Long startup delay."
Tetrad took too long to load up while waiting to connect to the remote server to check for the latest version.

[2018-01-17 17:47] kvb2univpitt commented on #665
Fixed.

[2018-01-17 20:17] yuanzhou commented on #650
Fixed via pull request #667

[2018-01-17 20:17] #650 closed

[2018-01-17 20:17] yuanzhou commented on #645
Addressed via pull request #667

[2018-01-17 20:17] #645 closed

[2018-01-17 20:23] yuanzhou commented on #649
Should MGM algorithm be filtered out from the algorithm list in algo chooser if user only has Continuous or Discrete dataset? Since we are inferring applicable algorithms based on the dataset.

[2018-01-17 22:13] jdramsey commented on #649
That would be sweet. :)

On Wed, Jan 17, 2018 at 3:23 PM, Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2018-01-17 22:16] espinoj commented on #657
working on a word document for Clark and Madelyn

[2018-01-17 23:33] kvb2univpitt commented on #646
Fixed.

[2018-01-18 00:31] #573 closed

[2018-01-18 00:31] #574 closed

[2018-01-18 00:31] #576 closed

[2018-01-18 00:31] #580 closed

[2018-01-18 00:31] #581 closed

[2018-01-18 00:31] #582 closed

[2018-01-18 00:31] #583 closed

[2018-01-18 00:31] #584 closed

[2018-01-18 00:31] #585 closed

[2018-01-18 00:31] #586 closed

[2018-01-18 00:31] #587 closed

[2018-01-18 00:31] #588 closed

[2018-01-18 00:31] #589 closed

[2018-01-18 00:31] #590 closed

[2018-01-18 00:31] #591 closed

[2018-01-18 00:31] #593 closed

[2018-01-18 00:35] espinoj commented on #664
Problem #2 is fixed in development branch and knowledge is removed from search box.  Here's today's version -
https://cloud.ccd.pitt.edu/nexus/content/repositories/snapshots/edu/cmu/tetrad-gui/6.4.0-SNAPSHOT/tetrad-gui-6.4.0-20180117.233751-169-launch.jar

[2018-01-18 00:45] jdramsey commented on #664
Thanks.

Joe

On Wed, Jan 17, 2018 at 7:35 PM, Jeremy Espino <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2018-01-18 04:25] cabal-cmu commented on #664
Thanks @jdramsey  and @espinoj

[2018-01-18 04:25] #664 closed

[2018-01-18 15:12] espinoj commented on #665
in pr #666

[2018-01-18 15:12] #665 closed

[2018-01-18 15:13] espinoj commented on #657
#669

[2018-01-18 15:18] espinoj commented on #651
fixed in #666

[2018-01-18 15:18] #651 closed

[2018-01-18 15:21] espinoj commented on #654
in #666

[2018-01-18 15:21] #654 closed

[2018-01-18 15:22] espinoj commented on #646
in #666

[2018-01-18 15:22] #646 closed

[2018-01-18 15:23] espinoj commented on #643
in #666

[2018-01-18 15:23] #643 closed

[2018-01-18 15:24] espinoj commented on #631
Think we can close this now with the latest development version?

[2018-01-18 15:26] cabal-cmu commented on #631
Yep.

[2018-01-18 15:26] #631 closed

[2018-01-18 16:19] kvb2univpitt opened #670 "Random MIM Graph Parameter"
Change the default value for parameter "Number of measurements per latent" from 1 to 5.

[2018-01-18 16:55] yuanzhou opened #671 "New Annotation for algorithms that require mixed data"
Currently we don't have any java annotations to specify those algorithms, MGM for instance, that mixed data is required to run the algorithms.

In general data types are associated with independence tests and scores instead of algorithms. But certain algorithms require a certain data type. We'll infer applicable algorithms based on the data type in algo chooser.

[2018-01-18 16:59] yuanzhou commented on #649
Addressed via pull request #672

[2018-01-18 16:59] #649 closed

[2018-01-18 17:04] kvb2univpitt commented on #670
Fixed.

[2018-01-18 21:03] espinoj commented on #601
in #666

[2018-01-18 21:03] #601 closed

[2018-01-18 21:03] espinoj commented on #600
fixed
![image](https://user-images.githubusercontent.com/313721/35121378-2ae6762e-fc69-11e7-8740-77e5692f4a28.png)

[2018-01-18 21:03] espinoj commented on #600
in #666

[2018-01-18 21:03] #600 closed

[2018-01-19 14:07] #612 closed

[2018-01-19 14:12] yuanzhou commented on #632
I'll go ahead fix this in a separate branch and send the pull request to merge.

[2018-01-19 14:24] yuanzhou commented on #614
The REST API has been updated to accommodate the new causal cmd. @chirayukong please let me know if you need me to make any other changes to the API to work with your HPC changes.

[2018-01-19 14:26] #632 closed

[2018-01-19 14:32] yuanzhou commented on #592
Same as what I did with EB (#645 ) and R4 (#650 ), I'll just add the `@Experimental` annotation to hide it from the algo chooser and leave the class file there.

[2018-01-19 14:45] jdramsey commented on #592
Wait, RSkew works! It's really good! The best of the lot! RSkewE is worse! I can explain!

Joe

@espinoj @yuanzhou

[2018-01-19 18:13] yuanzhou commented on #592
RShew is back now https://github.com/cmu-phil/tetrad/commit/89a6a301a0fcee36fe9da021d2bb7d810f9f6f0d

Currently we have R1, R2, R3, RSkew, RShewE, Skew, SkewE under the pairwise category.

[2018-01-19 19:26] jdramsey commented on #592
That sounds OK. Like I said, I can send a reference if you like; we wrote all of this up with simulation results and published it in NeuroImage.

[2018-01-19 20:14] espinoj opened #677 "Clark: red-green arrow stickiness"
The red - green arrow manipulation needs to stay on until another tool (left column) is clicked.

[2018-01-19 20:14] espinoj opened #678 "Clark: Edits in boxes have no "undo""

[2018-01-19 20:15] espinoj opened #679 "Clark: What is a "discrete BIC test"?"
What is a "discrete BIC test"?  Bayes nets should use a BDeu score.

[2018-01-19 20:15] espinoj opened #680 "Clark: Updater takes a SEM IM but does nothing with it"
The Updater takes a SEM IM but does nothing with it.  What should it do?

[2018-01-19 20:16] espinoj opened #681 "Clark: Estimator does not work with latent variable models"
The Estimator does not work with latent variable models--complains that the data matrix does not have the same dimension as the PM.

[2018-01-19 20:16] espinoj opened #682 "Clark: There is no information about what classifier is being used."
There is no information about what classifier is being used.

[2018-01-19 20:17] espinoj opened #683 "Clark: "set parameter" and "run algorithm" boxes at the bottom of the page are still not visible"
The "set parameter" and "run algorithm" boxes at the bottom of the page are still not visible on my mac when I try to run FCI.

[2018-01-19 20:17] espinoj opened #684 "Clark: can't save output graph image within a SEARCH box"
An output graph image within a SEARCH box cannot be saved. Instead an image of the main workspace is saved

[2018-01-19 20:20] ccd-helpdesk opened #685 "Problem from the CCD helpdesk: Discretizer error message"
@jdramsey @espinoj

Hi, regarding the previous problem reported via the CCD-Helpdesk. This is a follow-up

Hello,

For every search I try in this new version [the version that @espinoj send in an attachment] of Tetrad:

![image](https://user-images.githubusercontent.com/24483727/35169906-4324315e-fd2c-11e7-9ab3-97a6455224b0.png)

Thanks

CCD-helpdesk

[2018-01-19 20:27] espinoj commented on #592
Closing this.  Clark erroneously said to remove RSkew

[2018-01-19 20:27] #592 closed

[2018-01-21 13:20] jdramsey opened #686 "If you draw an arrow from Data to Knowledge, it doesn't copy the knowledge in the data box."
<img width="481" alt="screen shot 2018-01-21 at 8 18 32 am" src="https://user-images.githubusercontent.com/9853255/35194640-62a697c0-fe84-11e7-9285-3108155cd19e.png">

<img width="661" alt="screen shot 2018-01-21 at 8 14 38 am" src="https://user-images.githubusercontent.com/9853255/35194637-5d96d70e-fe84-11e7-851c-458cbd79c341.png">
This would be helpful for doing time series.

Solution:

* Make D

[2018-01-21 13:25] jdramsey commented on #686
Sorry, this wouldn't select the right images and then screwed it up when I tried to edit.

[2018-01-21 13:54] jdramsey commented on #686
Sorry, sorry, sorry, sorry, sorry. You also need to set the number of tiers, line 73 of KnowledgeBoxModel, thus:

        if (inputs.length == 1 && inputs[0] instanceof KnowledgeTransferable) {
            this.knowledge = ((KnowledgeTransferable) inputs[0]).getKnowledge();
            this.numTiers = knowledge.getNumTiers();
            return;
        }

[2018-01-21 14:07] jdramsey commented on #686
Never mind, sorry, this seems to be a problem elsewhere as well. I'll include the fix in a pull request.

[2018-01-21 14:07] #686 closed

[2018-01-22 15:34] yuanzhou commented on #679
Is this in Simulation?

[2018-01-22 15:39] yuanzhou opened #687 "Missing parameter description for probTwoCycle"
![capture](https://user-images.githubusercontent.com/195873/35229103-84e0f830-ff60-11e7-9307-b43b56109fee.PNG)

[2018-01-22 16:39] espinoj opened #688 "Clark: Changes in the PM box made with the Expression Editor are not propagated to the IM Box"
Tetrad file attached - zipped.

[PM to IM propagation.tet.zip](https://github.com/cmu-phil/tetrad/files/1652763/PM.to.IM.propagation.tet.zip)

[2018-01-22 20:51] #679 closed

[2018-01-22 20:56] yuanzhou commented on #687
Addressed and pushed to development. https://github.com/cmu-phil/tetrad/commit/63761404ac6a460633723f9aa390676b8d96e070

[2018-01-22 20:56] #687 closed

[2018-01-22 21:18] kvb2univpitt commented on #648
Fixed

[2018-01-22 21:26] #670 closed

[2018-01-23 16:51] kvb2univpitt commented on #683
Already addressed this issue in previous commit.

[2018-01-23 16:53] espinoj commented on #688
Looks like expressions are working in current development version.  Here Kevin added a pow function in the PM box which we later saw in the IM box.  Are we missing something here?

![edit_expression](https://user-images.githubusercontent.com/313721/35288942-031b9da8-0034-11e8-8989-08290dafb02c.png)

![im_result](https://user-images.githubusercontent.com/313721/35288949-09e46f34-0034-11e8-8384-c3f3

[2018-01-23 16:54] kvb2univpitt commented on #682
@espinoj Need more description for this issue.  Where should the information about the classifier appear when doing what?

[2018-01-23 16:57] #683 closed

[2018-01-23 16:57] #648 closed

[2018-01-23 17:20] espinoj commented on #682
From the source code it is using a discrete Bayes updating interface of which there are 6 instantiations but by default it is using RowSummingExactUpdater.

![image](https://user-images.githubusercontent.com/313721/35290282-c018df58-0037-11e8-876f-fa17b7713cb7.png)

Is this the type of information wanted in the classifier output i.e., text output?

[2018-01-23 17:23] espinoj commented on #682
Do we want an option for choosing a different BayesUpdater besides RowSumming?

[2018-01-23 17:46] jdramsey commented on #688
Is it possible Clark is referring to the relationship between the generalized SEM PM and generalized SEM IM?

[2018-01-23 18:53] espinoj commented on #682
Clark says no recoding needed just a description needed.

[2018-01-23 19:10] cabal-cmu commented on #685
@espinoj @jdramsey

Any advances with respect to this problem ?

[2018-01-23 19:12] espinoj commented on #685
Can you describe the steps to you performed?  I'm unable to replicate.

[2018-01-23 19:17] jdramsey commented on #685
I also am unable to replicate.

[2018-01-23 19:19] yuanzhou commented on #652
@jdramsey I can fix this, can you tell me how to check if the input data is time series?

[2018-01-23 19:38] espinoj commented on #684
This is the correct behavior but label for saving the workspace image is confusing.  If one wants to save the graph attach a graph box and then "Save Graph Image."

![image](https://user-images.githubusercontent.com/313721/35296704-e768e072-004a-11e8-9c6f-aca7434fc6dd.png)

Suggest changing "Save Session Graph Image" to "Save session workspace image"

[2018-01-23 19:44] #684 closed

[2018-01-23 19:44] yuanzhou commented on #684
I just tested and the "Save Graph Image" option works if you open the Graph editor.

![capture](https://user-images.githubusercontent.com/195873/35296920-81de6424-004b-11e8-83d4-d35e09e889d4.PNG)

I agree with @espinoj that we should rephrase the selection.

[2018-01-23 19:45] espinoj commented on #684
pushed and merged the label change

[2018-01-23 20:52] yuanzhou commented on #605
According to the fix of #649, MGM runs on mixed data. Should this issue be closed?

[2018-01-23 20:53] jdramsey commented on #652
It should implement TimeSeriesData, I think. If you load data in from a file and then convert it to a time series it's of this class. If you simulate a time series, it's of this class.

@yuanzhou

[2018-01-23 20:56] espinoj commented on #605
I just tested the required inputs (at least one discrete and at least one continuous) and it works.  All discrete and all continuous fails which is correct behavior.

Closing

[2018-01-23 20:58] #605 closed

[2018-01-23 21:05] jdramsey commented on #680
The problem I think is that the SEM update modifies the _means_ of the model, but the means of the model are not being displayed for some reason.

@espinoj

[2018-01-23 21:10] yuanzhou commented on #652
Addressed.

![capture](https://user-images.githubusercontent.com/195873/35300845-c2cb88de-0057-11e8-90b0-2aff7befc9f2.PNG)

It seems we should also add this message to TsGFCI.

[2018-01-23 21:11] jdramsey commented on #604
This fixes it:

    /**
     * Sets the maximum number of conditioning variables for any conditional independence test.
     *
     * @param depth Ibid.
     */
    public void setDepth(int depth) {
//        if (depth < 0) throw new IllegalArgumentException("Depth must be >= 0: " + depth);
        if (depth < 0) depth = 1000;
        this.depth = depth;
    }

@espinoj @yuanzhou @chirayukong

[2018-01-23 21:12] yuanzhou commented on #652
https://github.com/cmu-phil/tetrad/commit/8cd651aaa34d46b82be4a0adbfb652305ebe69c3

[2018-01-23 21:18] yuanzhou commented on #652
Got the same "-1" error message with TsGFCI. Will do the same fix.

[2018-01-23 21:22] #652 closed

[2018-01-24 18:03] yuanzhou commented on #604
I've also added two more checks.

![capture1](https://user-images.githubusercontent.com/195873/35348713-ddeef72c-0106-11e8-9eef-dd2718fd7abd.PNG)

![capture2](https://user-images.githubusercontent.com/195873/35348716-df622a48-0106-11e8-95c3-dde7b0941409.PNG)

[2018-01-24 18:05] jdramsey commented on #604
That looks great. Although "dada" should be "data".

[2018-01-24 18:06] jdramsey commented on #604
Looks good! (Ignore the previous complaint!)

[2018-01-24 18:10] #604 closed

[2018-01-24 19:08] espinoj commented on #678
Is this something that used to work and no longer does?

[2018-01-24 22:25] jdramsey commented on #681
I *think* the only estimator we have for the continuous case that can handle a latent variable model is RICF, but you first have to turn the (DAG) latent variable model into a MAG.

Need input on this from Clark, Peter.

@kvb2univpitt

[2018-01-24 22:53] kvb2univpitt commented on #681
@jdramsey We fixed the bug.  Should we merge to the development branch or wait until you get more information from Clark/Peter?

[2018-01-24 23:15] jdramsey commented on #681
@kvb2univpitt I'll talk to Clark tomorrow. Also, can you send me the branch name? Maybe I'll look at it as well.

[2018-01-25 03:04] kvb2univpitt commented on #681
@jdramsey The branch is v6.4.0-fix-estimator.

[2018-01-25 12:10] jdramsey commented on #681
@kvb2univpitt Thanks, I'll discuss it with Clark this afternoon.

[2018-01-25 14:52] cabal-cmu commented on #685
Here is more information from the user. He sent the following screenshots. He says he is working with mixed data.

<img width="439" alt="image" src="https://user-images.githubusercontent.com/32989853/35394288-605ebe3c-01b5-11e8-92c5-8a24a13664f9.png">

<img width="982" alt="image" src="https://user-images.githubusercontent.com/32989853/35394294-6c24f54c-01b5-11e8-85ac-6e4fa957c60a.png">

<img widt

[2018-01-25 15:13] yuanzhou commented on #685
I tried a mixed dataset with knowledge (Tiers and Edges) and did a FGES search with the same parameters but didn't see this error message. It gave me the graph.

This error message is coded in `Discretizer`.

[2018-01-25 15:38] cabal-cmu commented on #685
@yuanzhou  Thanks,

The user is using this version. Maybe that is the problem.

 https://cloud.ccd.pitt.edu/nexus/content/repositories/snapshots/edu/cmu/tetrad-gui/6.4.0-SNAPSHOT/tetrad-gui-6.4.0-20180117.233751-169-launch.jar

[2018-01-25 16:33] kvb2univpitt commented on #680
@espinoj @jdramsey I'll take a stab at it.

[2018-01-25 18:47] yuanzhou commented on #685
I think the Tetrad jar is fairly recent and I can't reproduce that error using this jar. We really need to know the dataset and actual steps that led to this error.

[2018-01-25 19:29] espinoj commented on #611
@jdramsey I added the log unlog gadget to branch enhance.611

Let me know if there is something I should change i.e., labels, default a value.

[2018-01-25 19:32] espinoj commented on #685
@cabal-cmu can the user provide their session file?  Then we can see what parameters are messing up the discretizer

[2018-01-25 19:33] espinoj commented on #678
Reported by Clark, this is an enhancement

[2018-01-25 19:47] jdramsey commented on #611
@espinoj I'll check it out now.

[2018-01-25 19:49] yuanzhou commented on #677
I just tested and the arrow button box stays clicked until I click another box in the pipeline.

[2018-01-25 19:52] espinoj commented on #677
I think Clark was referring to the knowledge box editor for required and forbidden edges.  I tested in the knowledge box editor and the tool stays sticky.

Looks like this is not broken.

[2018-01-25 19:56] jdramsey commented on #611
Beautiful. One small thing--could you put it in the list right before Nonparanormal transform? I.e.:

Convert to AR Residuals
Whiten
Logarithmic Transform
Nonparanormal Transform
..

I forget how to do that; maybe it's obvious.

Clark had mentioned wanting to set the base of the logarithm. I'll ask him about that. Normally that's not done.

[2018-01-25 19:57] espinoj commented on #688
I think you're right @jdramsey - Generalized SEM.  So is this a propagate changes bug or do we have to do something smarter?

[2018-01-25 20:00] espinoj commented on #611
Thanks.  Ok I'll move it and add option for setting the base with the default base being e.

[2018-01-25 20:11] jdramsey commented on #611
Nice.

[2018-01-25 21:42] jdramsey commented on #688
I think it must just be a propagate changes problem. I think if you make changes in the Generalized SEM PM, it should force the Generalized SEM IM to reinitialize. I think you just need to fire more of these:

[2018-01-25 21:42] jdramsey commented on #688
Sorry, more of these:

firePropertyChange("modelChanged", null, null);

At the appropriate point where stuff is changed.

Joe

[2018-01-25 21:54] kvb2univpitt opened #695 "Edge Coefficient Value Disappear On Mouseover Event"
Coefficient value of an edge disappear whenever the edge is mouse hovered in Graphical Editor.

[2018-01-26 14:48] tzimiskes opened #696 "Feature Request/Maybe Bug: Saving Multiple Graphs at once"
When using Tetrad 6.3.4, you can simulate multiple data sets by modifying the number of runs in the simulation box, and you can save the entire simulation to disk. Now, if I run a search on the input from from the simulation box, the search will automatically run my chosen algorithm on all the datasets, but I can't save all the output graphs at once. I know I could just run everything through algc

[2018-01-26 15:25] espinoj commented on #696
The intent on simulating multiple datasets in a single simulation was for algorithms like ImaGES that take as input multiple datasets generated from a canonical graph and generate a single graph.  Your use case wasn't something we were considering.

This is definitely a feature request that we can consider to include in future development- i.e., save multiple graphs generated through a single pipe

[2018-01-26 17:05] cabal-cmu commented on #685
@espinoj @jdramsey @yuanzhou

Ok, so I talked to the user and he told me that he cannot share the data. That he will try to reproduce the error using simulate data.

This pose a question. When a user has a problem and she cannot share data due to privacy restrictions, what would be an alternative to extract information from the problem. Is there a log file that users can easily extract and save ?

[2018-01-26 17:11] espinoj commented on #685
errors are logged to the console so if the user executes tetrad via command line they can send us any console output

[2018-01-29 15:05] jdramsey opened #698 "Pass knowledge from data to search if available."
This is particularly relevant to time lag data. The generalized algorithm editor used to do this. The time lag data creates knowledge that the future doesn't cause the past. I added a few lines of code so that if you attach a Knowledge box to a Time Lag Data box you can see the knowledge and manually give it to a search if you want. The pull request is here:

https://github.com/cmu-phil/tetrad/pul

[2018-01-29 16:00] jdramsey commented on #698
This is what it's supposed to do:

<img width="577" alt="screen shot 2018-01-29 at 11 00 05 am" src="https://user-images.githubusercontent.com/9853255/35519923-9d8d74ca-04e3-11e8-8428-0bd87e707e49.png">
<img width="984" alt="screen shot 2018-01-29 at 10 59 53 am" src="https://user-images.githubusercontent.com/9853255/35519924-9dd830e6-04e3-11e8-861a-2fca24aa4830.png">
<img width="581" alt="screen

[2018-01-29 16:05] jdramsey commented on #698
This session.

<img width="329" alt="screen shot 2018-01-29 at 11 04 48 am" src="https://user-images.githubusercontent.com/9853255/35520165-40939a3c-04e4-11e8-9fad-225d36eec467.png">

[2018-01-29 16:32] cg09 commented on #698
@cg09

[2018-01-29 16:39] #677 closed

[2018-01-29 16:40] espinoj commented on #608
ref #695

[2018-01-29 16:40] #608 closed

[2018-01-29 16:41] #611 closed

[2018-01-29 16:49] cg09 opened #699 "IM Box will only take one Simulation Box"
When a time series simulation is generated, connecting a NEW simulation box to the IM should allow a new simulation in the new simulation box--but it doesn't.   I think the problem is not restricted to time series, but is a general fault with connections between simulation boxes and an IM box.

[2018-01-29 17:10] cg09 opened #700 "time index column in time series data generation"
Currrently the time series column in the midst of the data columns is mislabeled--the entries in that column are not the times. There is a correct data column at the end of the file.

[2018-01-29 17:18] cg09 opened #701 ""merge datasets""
In Data Box, please rename "merge datasets"  to "collect data sets in one box"

[2018-01-29 17:53] jdramsey commented on #635
It's doing a separate regression for each row given all of the other variables. It's possible this is just too large a task for it, though it could be put into a thread to keep from crashing.

[2018-01-29 17:56] jdramsey commented on #549
@espinoj This appears to have been fixed for a while now.

[2018-01-29 17:58] jdramsey commented on #495
@espinoj This has been fixed for a while now. PCAll lets you choose a rule for resolving collider conflicts.

[2018-01-29 18:00] #495 closed

[2018-01-29 18:03] #575 closed

[2018-01-29 18:04] #549 closed

[2018-01-29 18:52] kvb2univpitt commented on #681
Done.

[2018-01-29 18:52] kvb2univpitt commented on #680
Fixed.

[2018-01-29 20:15] jdramsey commented on #700
I was working on this, so I self-assigned it. I have fixed the mislabeling problem by removing the variable sorting operation from the time lag filter. (That was a bad idea anyway.) The Time Lag with Index I replaced with just an Add Index manipulation. It's usually not reasonable for someone to add an index to the data and then also lag it. (Why would you do that? The Time variable will be discon

[2018-01-29 20:16] jdramsey commented on #700
Pull request https://github.com/cmu-phil/tetrad/pull/703

Here is a session that does the desired behavior:

[timelagsearchexample2.tet.zip](https://github.com/cmu-phil/tetrad/files/1675063/timelagsearchexample2.tet.zip)

[2018-01-29 20:42] jdramsey opened #704 "In time series search, Time Lag data does not pass knowledge directly to search."
I can't figure this one out. The class TimeSeriesData, by virtue of implementing the KnowledgeTransferable interface, yields knowledge the future doesn't cause the past. In GeneralAlgorihtmEditor, this used to be passed to any selected algorithm. But I don't even see KnowledgeTransferable referenced in the GeneralAlgorithmEditor anymore.

The idea is that _by _default_ a search from time lag data

[2018-01-29 20:43] jdramsey commented on #704
@cg09

[2018-01-29 20:49] jdramsey commented on #681
If it's of any help, I talked about that with Clark, and he agreed with your analysis.

[2018-01-29 21:12] jdramsey opened #705 "Fix capitalization of these algorithms..."
In the Search box.

Bpc -> BPC
FgesMb -> FGES-MB
Fofc -> FOFC
Ftfc -> FTFC
TsImage -> TsIMaGES

@cg09 @espinoj

[2018-01-29 21:52] jdramsey opened #706 "Remove prefix descriptors for +, -, /, x from menu for Calculator."
These render as prefix but not even quite right at that.

[2018-01-29 22:51] espinoj commented on #688
This is working in our current development branch.  6.3.4 not so much.

[2018-01-29 22:51] #688 closed

[2018-01-30 00:22] #681 closed

[2018-01-30 01:07] jdramsey commented on #698
Duplicate:

https://github.com/cmu-phil/tetrad/issues/704

[2018-01-30 01:07] #698 closed

[2018-01-30 01:11] jdramsey commented on #635
@pschaldenbrand I'm wondering, could you say what the dimensions of your problem were? How many samples, now many variables?

[2018-01-30 01:22] jdramsey commented on #630
@jeremy I included this fix in https://github.com/cmu-phil/tetrad/pull/703. I tested it previously; it solved the problem.

[2018-01-30 01:37] jeremy commented on #630
Looks like Jeremy is @espinoj. CCing.

[2018-01-30 01:52] jdramsey commented on #497
Add this fix to https://github.com/cmu-phil/tetrad/pull/703.

[2018-01-30 01:56] jdramsey commented on #615
This is fixed along with the fix for https://github.com/cmu-phil/tetrad/issues/497. See.  Pull request https://github.com/cmu-phil/tetrad/pull/703

[2018-01-30 01:56] #615 closed

[2018-01-30 02:02] jdramsey commented on #394
@espinoj While this turned into an issue of logging, the original complaint (can't launch Tetrad when not connected to the net) is clearly totally fixed.

[2018-01-30 02:06] jdramsey commented on #630
Thanks.

[2018-01-30 14:36] pschaldenbrand commented on #635
@jdramsey I was using a few datasets that had around five variables and 1000 samples.  I made a tiny dataset (below) to try to get this feature to finish executing, but it still did not complete.  I'm using the 6.3.4-launch.jar by the way.

X1	X2	X3
0	*	1
1	0	1
0	0	0

[2018-01-30 14:53] jdramsey commented on #635
@pschaldenbrand Interesting. I'll ponder it. I'll try your dataset. There may not be enough data to regress on, or it may be singular, but even so, it doesn't help to just hang.

[2018-01-30 16:43] #497 closed

[2018-01-30 16:45] espinoj commented on #680
Works but as Kevin has reported we should revisit the redraw of the graph image at some point

[2018-01-30 16:45] #680 closed

[2018-01-30 16:45] espinoj commented on #700
Great

[2018-01-30 16:45] #700 closed

[2018-01-31 14:11] jdramsey commented on #706
Change description because Madelyn thinks these should be kept but corrected.

[2018-01-31 14:18] jdramsey commented on #678
@espinoj Just a comment, I was mentioning to Kevin the other day that originally Richard had suggested that for each box, there be a cancel button that allows the results in the box to be canceled and not saved to the box. And there is code for this in Tetrad, somewhere in the SessionNode class I think--look for MarshalledObject. The problem is for some of the boxes the contents can be very large,

[2018-01-31 14:31] jdramsey commented on #656
@espinoj @kvb2univpitt  It already does this. We just couldn't get Mimbuild to work before Kevin's recent fixes. Attaching image.

<img width="971" alt="screen shot 2018-01-31 at 9 30 03 am" src="https://user-images.githubusercontent.com/9853255/35628293-74576304-0669-11e8-88fb-d6957ff149be.png">

[2018-01-31 14:38] jdramsey commented on #655
@espinoj You can already set coefficient for time series graphs--see the attached image. However, the range is wrong I recommend setting "coefficient low" and "coefficient high" in ParamDescriptions to 0.2 and 0.9, respectively, to prevent time series from exploding, as shown.

@espinoj @cg09

<img width="1292" alt="screen shot 2018-01-31 at 9 35 07 am" src="https://user-images.githubusercontent.c

[2018-01-31 14:41] jdramsey commented on #642
@espinoj This is fixed. See https://github.com/cmu-phil/tetrad/issues/615.

[2018-01-31 14:53] jdramsey commented on #599
@cg09 Data boxes and simulation boxes behave very differently; they shouldn't be confused. Now simulations can have many parameters that vary from simulation model to simulation model. It used to be that simulations had only one parameter--sample size; this is no longer the case, so you could just pop up a little box for sample size and be done with it. This got more complicated. @espinoj

[2018-01-31 14:55] jdramsey commented on #596
@espinoj FASK is done.

[2018-01-31 14:56] jdramsey commented on #595
@espinoj Mimbuild is done.

[2018-01-31 14:59] jdramsey commented on #571
@espinoj I think @kvb2univpitt fixed this. At least it looks fixed.

[2018-01-31 15:01] jdramsey commented on #557
@espinoj This appears to be fixed. :)

[2018-01-31 15:02] jdramsey commented on #543
@espinoj This looks fixed! :)

[2018-01-31 15:12] jdramsey commented on #528
@espinoj This looks to be fixed!!! :) :) :)

[2018-01-31 15:15] jdramsey commented on #462
@espinoj I think this was a casualty of the interface revisions. It could be put into a separate box under Comparison though; the code is still there.

[2018-01-31 15:18] jdramsey commented on #458
@espinoj This is fixed!!!!!!!!! :)

[2018-01-31 15:20] jdramsey commented on #394
@espinoj This is totally fixed!!!!!!!!!!! :)

[2018-01-31 16:01] jdramsey commented on #505
@eberharf I can't reproduce this. It is possible that it's comparison to the pattern (as it would for PC, FGES, etc.) and not the true DAG, and you're getting unexpected orientation errors as a result? Or is it possible we fixed this inadvertently? (It' been known to happen!)

Here's the link to the latest development version; I'm wondering if you could quickly look to see if it's been fixed for y

[2018-01-31 16:53] espinoj commented on #394
agreed - closing.  we should have the EC2 latest version info server up later today.

[2018-01-31 16:53] #394 closed

[2018-01-31 16:59] #458 closed

[2018-01-31 17:25] yuanzhou commented on #394
@espinoj FYI, I've created the user account in MySQL server on EC2. You'll have permission to create the database of this tracker.

[2018-01-31 17:46] yuanzhou commented on #705
I'll work on this renaming and sync with @kvb2univpitt  on the API and Causal CMD.

[2018-01-31 19:52] yuanzhou commented on #705
Fixed via pull request #708

[2018-01-31 19:52] #705 closed

[2018-01-31 20:03] yuanzhou opened #709 "Error message with TsIMaGES"
When I ran TsIMaGES on a single continuous or discrete dataset, I got this error message:

![capture1](https://user-images.githubusercontent.com/195873/35644674-96cae568-0697-11e8-8bdd-d00718b7d0a7.PNG)

![capture2](https://user-images.githubusercontent.com/195873/35644677-98c2ae64-0697-11e8-9205-e137ac43dbd2.PNG)

[2018-01-31 20:08] yuanzhou commented on #695
Example of this issue.

![capture1](https://user-images.githubusercontent.com/195873/35645012-9107cfb4-0698-11e8-8317-cac909dbfbb3.PNG)

![capture2](https://user-images.githubusercontent.com/195873/35645013-924ac070-0698-11e8-9a2c-3060a51822b4.PNG)

[2018-01-31 20:13] yuanzhou commented on #695
Another example:

![capture1](https://user-images.githubusercontent.com/195873/35645230-33b3e356-0699-11e8-8c38-c6ed32a1b4a8.PNG)

![capture2](https://user-images.githubusercontent.com/195873/35645233-353114e2-0699-11e8-9a37-d7fc6cfd4562.PNG)

[2018-01-31 21:09] jdramsey commented on #505
@espinoj I think this graph comparison issue is actually doing the right thing now, but I sent a message to Frederick for more input.