[2018-01-31 21:24] #491 closed

[2018-02-01 16:16] yuanzhou commented on #695
@jdramsey I think I found out the cause. Those coefficent values are jLabels, and whenever we mouse over the edge, the edge type label (X2-->X2) shows up and overlaps the coefficient label. To solve this problem, we'll just need to show the edge type in a tooltip instead of label.

Can you please point me to the file that creates the edge type label when we mouse over an edge in a graph?

[2018-02-01 18:49] eberharf commented on #505
Looks good -- I am unable to reconstruct the problem in this development version. I can still construct it in the older version, but no need to worry about that.

[2018-02-01 19:05] jdramsey commented on #505
@eberharf @espinoj Great! Jeremy, I move we close this issue.

[2018-02-01 20:03] cg09 opened #712 "Mouseover in IM wipes out numerical coefficient values--still"

[2018-02-02 02:09] jdramsey commented on #695
I'm thinking...it's in AbstractWorkbench, line 576, setEdgeLabel.

[2018-02-02 16:34] jdramsey commented on #595
@espinoj I'm working on LiNGAM.

[2018-02-02 16:38] cg09 opened #713 "graph display in knowledge"
The knowledge box is supposed to take a directed graph specified as "required"--when a graph box is connected to it, the names of the variables appear, but no edges appear.

[2018-02-02 17:36] jdramsey commented on #595
https://github.com/cmu-phil/tetrad/pull/714

[2018-02-02 17:41] jdramsey commented on #595
I have re-added LiNGAM as an algorithm in the interface (by adding the appropriate annotation to the LiNGAM wrapper. I have cleaned up the implementation of LiNGAM (in the search package). I implement precisely algorithm A from http://www.jmlr.org/papers/volume7/shimizu06a/shimizu06a.pdf

p. 2007, using our translation of FastICA from like a decade ago. For the 'pruning' step I use FGES with the c

[2018-02-02 17:41] jdramsey commented on #595
@cg09 Clark, once this is is merged you can try it.

@kvb2univpitt Can you merge it?

[2018-02-02 20:24] cg09 opened #715 "Comparison Box Error"
The comparison box makes errors when a search returns two edges X -> Y and X<-Y when the true graph has only one direction, e.g., X -> Y. The comparison box does not in such cases recognize X <- Y as an error.

[2018-02-02 20:38] cg09 opened #716 "Sample size options in simulation box?"
I can't find a way to control the sample size of simulated data.  There should be one.

[2018-02-02 21:30] cg09 commented on #716
Yep, I didn't pull the slider down far enough.

On Fri, Feb 2, 2018 at 3:47 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-02-04 13:54] #557 closed

[2018-02-04 13:54] #543 closed

[2018-02-04 13:55] #528 closed

[2018-02-04 13:55] #505 closed

[2018-02-04 14:20] espinoj commented on #595
this is merged in development for @cg09 to try

[2018-02-05 06:27] cg09 commented on #543
Please put whatever is closed in the version I download so that I can test
the program all again this week.

Thanks, Clark

On Sun, Feb 4, 2018 at 8:54 AM, Jeremy Espino <notifications@github.com>
wrote:

[2018-02-05 17:40] yuanzhou commented on #709
Any suggestions @jdramsey ?

[2018-02-05 19:46] jdramsey commented on #709
@yuanzhou Well here's a mistake; I wonder if this would fix it? This code block:

        if (score instanceof SemBicScore) {
            SemBicScoreImages gesScore = new SemBicScoreImages(dataModels);
            gesScore.setPenaltyDiscount(parameters.getDouble("penaltyDiscount"));
            IndependenceTest test = new IndTestScore(gesScore);
            search = new TsGFci(test, gesScore);

[2018-02-06 14:50] yuanzhou commented on #709
Thanks @jdramsey, you have eagle eyes. I'll test it out.

[2018-02-06 16:31] #695 closed

[2018-02-06 16:33] kvb2univpitt commented on #716
I guess we can close this one.  I wish all the bugs were this easy to fix. ;)

[2018-02-06 16:34] #716 closed

[2018-02-06 17:05] kvb2univpitt commented on #656
@jdramsey So, this is not an issue anymore, right?

[2018-02-06 17:11] jdramsey commented on #656
@kvb2univpitt Right.

[2018-02-06 17:12] kvb2univpitt commented on #656
@jdramsey Ok.  I'll close it.  Another easy fix. ;)

[2018-02-06 17:13] #656 closed

[2018-02-06 19:58] chirayukong opened #719 "Can't change the value of alpha in the Regression box"
The default value is 0.001 but you can't change to any other value. Once you clicked the "execute" button, the button wouldn't work again. You need to destroy the model in order to make some change in the UI.
<img width="1160" alt="screen shot 2018-02-06 at 2 54 03 pm" src="https://user-images.githubusercontent.com/4652250/35881214-1da60698-0b4e-11e8-9de3-c6fbd03e4fff.png">

[2018-02-06 22:38] chirayukong opened #720 "Logistic Regression doesn't work for either discrete or continuous dataset."
<img width="606" alt="screen shot 2018-02-06 at 5 35 09 pm" src="https://user-images.githubusercontent.com/4652250/35888088-85cfd396-0b64-11e8-8e8c-43978647bbc0.png">
<img width="1345" alt="screen shot 2018-02-06 at 5 36 30 pm" src="https://user-images.githubusercontent.com/4652250/35888089-85dc644e-0b64-11e8-92f1-5503edd16d06.png">

Exception in thread "AWT-EventQueue-0" java.lang.ClassCastExcept

[2018-02-06 22:41] chirayukong commented on #720
<img width="605" alt="screen shot 2018-02-06 at 5 39 22 pm" src="https://user-images.githubusercontent.com/4652250/35888203-eb0880d2-0b64-11e8-988b-8dffac0ce637.png">
<img width="1353" alt="screen shot 2018-02-06 at 5 39 48 pm" src="https://user-images.githubusercontent.com/4652250/35888204-eb181d76-0b64-11e8-8a32-526bd25d5568.png">

Exception in thread "AWT-EventQueue-0" java.lang.IllegalArgument

[2018-02-06 22:41] chirayukong commented on #720
Also, you can't change the alpha's value.

[2018-02-06 23:40] jdramsey commented on #720
Maybe a little documentation would help plus a few more checks. Logistic
regression requires a binary target and continuous regressors. It can't
work with all continuous variables or all discrete variables.

The alpha thing I don't get yet... should work...

On Tue, Feb 6, 2018 at 5:41 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and D

[2018-02-06 23:44] chirayukong commented on #720
How can I create regressors from the UI then, Joe?

[2018-02-07 00:30] jdramsey commented on #720
You need a binary variable somewhere. You could use the Calculator to make one. Or I guess you could load one in. If you load a mixed dataset, there may be one there.

[2018-02-07 02:00] jdramsey commented on #720
You could use the Discretizer to make one too.

[2018-02-07 15:59] kvb2univpitt commented on #712
@cg09 @jdramsey I believe this is the same issue as issue #695, right?  If so, it is fixed.

[2018-02-07 16:59] cg09 commented on #712
Yes, it is the same issue.  Glad it's fixed.  I will spend this weekend
going over the program again.

Clark

On Wed, Feb 7, 2018 at 10:59 AM, Kevin Bui <notifications@github.com> wrote:

[2018-02-07 19:39] kvb2univpitt commented on #709
@yuanzhou  @jdramsey This issue is fixed.  However, TsIMaGES is still not able to run because there's a bug in edu.cmu.tetrad.search.TsFges2.  I will create a different issue for this bug.

[2018-02-07 19:42] jdramsey commented on #709
Thanks!

[2018-02-07 20:01] kvb2univpitt opened #722 "Unable to Run TsIMaGES"
The following code in the method ```returnSimilarPairs(Node x, Node y) ``` of the edu.cmu.tetrad.search.TsFges2 class produces array index of value -1:
[code]

[2018-02-07 20:34] chirayukong commented on #720
I discretized them but still no luck. @jdramsey could take a look at it? Thanks.
[logistic_regression.tet.zip](https://github.com/cmu-phil/tetrad/files/1704648/logistic_regression.tet.zip)

[2018-02-07 20:39] chirayukong commented on #719
I tried to change the alpha from 0.001 to 0.0001 but nothing happened. The attachment is the tetrad session's file. @jdramsey

<img width="932" alt="screen shot 2018-02-07 at 3 37 02 pm" src="https://user-images.githubusercontent.com/4652250/35940403-f8055324-0c1c-11e8-9847-752061d3c984.png">
[multiple_linear_regression.tet.zip](https://github.com/cmu-phil/tetrad/files/1704658/multiple_linear_regr

[2018-02-07 21:14] jdramsey commented on #720
Like so--the target has to have 2 categories.

[logistic_regression_Joe.tet.zip](https://github.com/cmu-phil/tetrad/files/1704759/logistic_regression_Joe.tet.zip)

[2018-02-07 21:24] jdramsey commented on #722
That means it's not in the set of variables give to knowledge.

@kvb2univpitt

[2018-02-08 03:03] kvb2univpitt commented on #722
@jdramsey I didn't even use any knowledge box and still got that error.  Also, I don't know what's the best way to handle this type of error for algorithms.

[2018-02-08 14:49] yuanzhou commented on #709
I noticed some bugs during testing, posted in the pull request thread #721

Also link this issue to #722

[2018-02-08 15:54] kvb2univpitt commented on #709
@yuanzhou That bug is not related to this issue.  That bug is has to do with algorithm handing invalid indices.

[2018-02-08 16:00] #712 closed

[2018-02-08 20:24] kvb2univpitt opened #723 "Scores For TsIMaGES Need To Be Filtered"
TsIMaGES can only take SEM BIC score for continuous variables and BDeu for discrete variables.

[2018-02-08 21:20] kvb2univpitt commented on #723
Done.

[2018-02-09 13:40] yuanzhou commented on #723
Merged via pull request #724 . Thanks @kvb2univpitt

[2018-02-09 13:40] #723 closed

[2018-02-09 13:44] yuanzhou commented on #709
This issue has been addressed via pull request #721

[2018-02-09 13:44] #709 closed

[2018-02-09 19:17] kvb2univpitt commented on #719
Fixed.
@chirayukong  You can try it out now.

[2018-02-09 19:39] chirayukong commented on #719
It works. Thanks!

[2018-02-09 19:39] #719 closed

[2018-02-10 20:15] cg09 opened #726 "Random graph control"
In the graph box, selecting "graph" then "random graph" and specifying indegree, outdegree, total degree and connectivity etc. inconsistently produces some graph or other. There should be some error warning instead.

[2018-02-10 20:16] cg09 opened #727 "right clicking graph box"
right clicking "graph box" brings up "edit parameters" option--which seems to do nothing.

[2018-02-10 20:22] cg09 opened #728 "Graph propeties"
For a graph with a 2-cycle, "graph properties' inside the Graph box incorrectly reports "acyclic"

[2018-02-10 20:31] cg09 opened #729 ""meek orientations""
in Graph graph popup "meek orientations" does nothing. What is it supposed to do?

[2018-02-10 20:57] jdramsey commented on #729
@cg09 If you have X->Y<-Z, Y--Z, for example, it will orient Y->Z. If you graph allows for no further Meek orientation, it will do nothing.

I'm not committed to keeping the function there if it's confusing.

[2018-02-10 22:18] cg09 commented on #729
If you input graph Z -> X <- Y; X 0-0 W,  (you cannot put in simple
undirected edges in the graph box), nothing is done to the X 0-0 edge. Meek
rules say what should happen.

Clark

On Sat, Feb 10, 2018 at 3:57 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-02-10 22:32] jdramsey commented on #729
This is too confusing. I say we remove that menu item. For instance, to make undirected edges manually, you need to control-click on the endpoints. To add an undirected edge button we'd need to go back and make an icon for it and add another edge button to the Graph box.

[2018-02-11 03:22] cg09 commented on #729
Ok with me to delete it.

On Sat, Feb 10, 2018 at 5:32 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-02-12 16:38] yuanzhou commented on #726
I noticed that too. When I decreased the number of nodes from 10 to 3, but forgot to change the default max number of edges (10), I don't see any graph or error messages.

@jdramsey there are three tabs in the Random Graph panel: DAG, MIM, and Scale Free. Can you please list some of the common validation rules between those settings? One of the obvious is thenumber of nodes can not be smaller than

[2018-02-12 16:43] kvb2univpitt commented on #713
@cg09 Can you please elaborate on that?  Can you attach a screenshot or a session file?

[2018-02-12 16:48] jdramsey commented on #713
@kvb2univpitt I can give a description later. I'm going to a talk at 12 but after that. -Joe  @cg09

[2018-02-12 16:57] kvb2univpitt commented on #701
Done.

![screenshot at 2018-02-12 11-55-27](https://user-images.githubusercontent.com/10729309/36108831-ba4ba20e-0feb-11e8-9783-fa63b9abf3a2.png)

[2018-02-12 17:53] cg09 commented on #726
SINCE THE PARAMETERS ARE IN TERMS OF "MAX" EDGES OF VARIOUS KINDS, THERE ARE NO INCONSISTENCIES, JUST ODDITIES.  JOE, PLEASE HELP WITH THE QUESTION ABOUT SETTINGS FOR DAG, MIM AND SCALE FREE.

[2018-02-12 18:03] cg09 commented on #726
There are possible inconsistencies if "Connected" is specified, e.g.  if the max degree is say 10 and there are 10 nodes, the graph cannot be connected.  I am not sure it is worth fixing  the possible inconsistencies.  The user should maybe use some sense?

[2018-02-12 18:34] cg09 commented on #726
Parameter consistentcy in IM

Joe, this does not look consistent.  Look for example at the parameters for X3 = b1 X1 + E3 so the mean of X3 should be b1 (mean X1) + mean(E3) =. 0 + 1.54 ...but mean( X3) was fixed at 1.0.
<img width="403" alt="screen shot 2018-02-12 at 12 59 00 pm" src="https://user-images.githubusercontent.com/16354745/36112946-36f42b2a-0ff9-11e8-901f-0ba3afc4f6cc.png">

[2018-02-12 18:39] cg09 commented on #726
The mean of X3 is supposed here to be fixed at 1 and this is what the tabular view says--but since the expected value of X1 is 0 and of E3 is 1.54, and b1 is 1.0, this seems impossible.  It looks as if the interface is just taking whatever arbitrary numbers are given to it for the means, with no regard for consistency.

<img width="521" alt="screen shot 2018-02-12 at 1 28 32 pm" src="https://user-

[2018-02-12 19:04] cg09 opened #731 "Labels of Search Output"
I think this is a repeat request:  the output of a search should contain the name of the algorithm used in the search.

[2018-02-12 19:23] kvb2univpitt commented on #727
@jdramsey What would be the correct behavior for this?

[2018-02-12 19:30] jdramsey commented on #727
@kvb2univpitt I guess if there are no parameters to edit, that menu item shouldn't show...

[2018-02-12 19:33] cg09 commented on #727
I agree.

[2018-02-12 19:38] cg09 opened #732 "Wording of Algorithm parameters"
"maximum size of conditioning set (min = -1)"  is very misleading.  It should read:

"maximum size of conditioning set (unlimited = -1)"
<img width="975" alt="screen shot 2018-02-12 at 2 35 26 pm" src="https://user-images.githubusercontent.com/16354745/36115839-4c47aad4-1002-11e8-9104-c9f58503082d.png">

[2018-02-12 19:41] kvb2univpitt commented on #727
@jdramsey If there are no parameters to edit, a pop-up appears with the message "There are no parameterization for this model."  If there are parameters, it says "Should I over the contents of this box and all delete the contents of all boxes downstream?"  All the children boxes are destroyed.  Right now this is what it's doing.  I am still confused to what's wrong.

[2018-02-12 19:45] cg09 opened #733 "Running search from graph, pm or IM"
Joe,

In principle, PC and FCI should run from any of: directed graph, PM or IM.  I believe you had set it up so that they should run from a directed graph, but none of the above are possible now. The common error response is the misleading "Sorry, I was expecting a discrete data set"

[2018-02-12 20:36] kvb2univpitt commented on #727
Basically, remove the menu item "Edit Parameters" if there are no parameters to edit.

[2018-02-12 21:19] cg09 commented on #727
Yep.

On Mon, Feb 12, 2018 at 3:36 PM, Kevin Bui <notifications@github.com> wrote:

[2018-02-12 22:09] kvb2univpitt commented on #727
@jdramsey @cg09 I made the fix.  However, I am still not confident that I have cover all edge cases.  Can you please checkout the branch [v6.4.0-fix-graph-box](https://github.com/cmu-phil/tetrad/tree/v6.4.0-fix-graph-box) and try it?

The method below still return true even if there are no children.  So, I had to check the number of children.
[code]

[2018-02-13 15:20] #732 closed

[2018-02-13 15:40] yuanzhou commented on #731
This turned out to be not just a simple label change. I'll discuss with @kvb2univpitt to come up with a good plan.

[2018-02-13 21:39] kvb2univpitt commented on #731
Done.  I also added algorithm in the parameter panel.

![algo](https://user-images.githubusercontent.com/10729309/36175075-48a98048-10dc-11e8-8158-4b18c86d82ee.png)
![param](https://user-images.githubusercontent.com/10729309/36175076-48b89646-10dc-11e8-9a09-8212f0418222.png)

[2018-02-13 22:39] cg09 commented on #731
great! many thanks.

On Tue, Feb 13, 2018 at 4:39 PM, Kevin Bui <notifications@github.com> wrote:

[2018-02-13 22:52] jdramsey commented on #731
This looks great!  Joe

[2018-02-13 23:41] kvb2univpitt commented on #602
Done.  See issue #731.

[2018-02-13 23:41] #602 closed

[2018-02-14 15:45] cg09 opened #736 "Simulation box"
Deleting the contents of a simulation box does not allow it to be refilled. Nor can a further simulation box be attached to the IM box if the contents of a simulation box have been deleted.  It should be possible to run mulitple simulation boxes from the same IM.
<img width="595" alt="screen shot 2018-02-14 at 10 40 22 am" src="https://user-images.githubusercontent.com/16354745/36213228-310efc0e-1

[2018-02-14 15:51] cg09 opened #737 "More on the simulation box"
clicking the simulation box automatically generates a sample of 1,000. Then the user has to figure out that clicking "simulation set up" inside the simulation box allows the user to generate a different sample with a different sample size.   This is illogical.  Clicking the simulation box SHOULD bring up the "simulation set up" window, which then allows simulated data as specified.

[2018-02-14 15:59] #731 closed

[2018-02-14 18:46] jdramsey commented on #737
I think this is as simple as just not doing the initial simulation. I think I did that so the data tab would be populated. I think you just need to all the data tab to be unpopulated until a simulation is done.

[2018-02-14 22:08] cg09 commented on #737
???

On Wed, Feb 14, 2018 at 1:46 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-02-14 22:42] kvb2univpitt commented on #713
Done.

[2018-02-15 11:59] akhantha commented on #575
เรียน ท่านที่นับถือ

     เนื่องในโอกาสเฉลิมฉลองครบ 80 ปีแห่งการสถาปนาคณะพาณิชยศาสตร์และการบัญชี
มหาวิทยาลัยธรรมศาสตร์   คณะฯ ร่วมกับตลาดหลักทรัพย์แห่งประเทศไทย
จะจัดบรรยายวิชาการ เรื่อง “Value Creation and Enhancement for Listed
Companies with the New COSO 2017 Enterprise Risk Management (ERM)”
วันพุธที่ 14 มีนาคม 2561 เวลา 8.45 – 17.00 น. ที่หอประชุมศาสตราจารย์สังเวียน
อินทรวิชัย  อาคาร C ตลาดหล

[2018-02-16 12:28] jdramsey opened #739 "Find a way to send verbose output for CStaR to a file. Also debug CStaR; it's adding too many parents."
(I think) all of the files for the CStaS algorithm are there. I renamed my implementation to CStaS so as not to confuse it with the original CStaR. It stands for Causal Stability Selection. There are some differences.

The main search algorithm in that branch is in edu.cmu.tetrad.search.CStaS. The main method is getRecords, which returns a (properly sorted) list of records of the type Record (a su

[2018-02-16 12:31] jdramsey commented on #739
P.S. Clark has asked me to adjust the code for this so that you can run it using the Conditional Gaussian score. That will require that I add a method to each of the independence classes to let you reinitialize the test using a new dataset. I'll try to do that this morning. I'll do it in this same branch.

[2018-02-16 13:36] jdramsey commented on #739
I looked at the score and test code and realized I wouldn't be able to modify all of those classes. Plan B: Just pick SEM BIC for continuous, Chi-Square for discrete, and Conditional Gaussian for mixed. I added an enum of these test types. The wrapper class automatically picks the right one.

Please, somebody, let me know if that's OK. It works. Feel free to adjust it.

[2018-02-18 16:40] jdramsey commented on #739
I cleaned up the code and algorithm a little for CStaS. Revised description:

[cstas.report3.docx](https://github.com/cmu-phil/tetrad/files/1734879/cstas.report3.docx)

[2018-02-19 16:29] jdramsey commented on #739
Slight change to help out with the many variables few samples case.

[cstas.report4.docx](https://github.com/cmu-phil/tetrad/files/1737499/cstas.report4.docx)

[2018-02-19 17:31] cg09 opened #740 ""graph" and "edit" tabs in time series graph window"
The "edit" and "graph" tabs in the time series graph box are illogically arranged. Some of them  are to control the graph that is generated and some of them ("properties") are properties of a graph that has already been created.  For example, first thing someone creating a time series model wants is to specify the number of lags. Right now how to do that is hidden.  To specify the number of lags t

[2018-02-19 18:02] cg09 opened #741 "IM for time series with latent variables"
The tabular results for a specified lag model with latent variables seems correct, but the implied covariance matrix gives 0.00 for all latent covariances.  See attached. picture
<img width="1365" alt="screen shot 2018-02-19 at 1 01 55 pm" src="https://user-images.githubusercontent.com/16354745/36391589-24abe0b2-1575-11e8-91bb-a8ab4aba7868.png">

Further, there should not be a "model statistics" t

[2018-02-20 00:37] cg09 opened #742 "Bayesnet parameterization for time series graphs"
Why not put in a Bayesnet PM and IM and simulation for time series graphs?  It should be basically similar to the code and interface for directed graphs.

[2018-02-20 16:04] kvb2univpitt commented on #736
@cg09 @jdramsey I can't reproduce this bug.  Can you please attach a session file for this?

[2018-02-20 17:40] yuanzhou commented on #722
@jdramsey during our daily meeting I mentioned this issue, and @espinoj suggested to draw your attention on this for the release purpose.

[2018-02-20 20:01] dmalinsk commented on #722
All the "Ts" algorithms require knowledge to run. If you didn't use a
knowledge box with the labeled time series variables X1, X1:1, X1:2, X2,
X2:1, X2:2, etc then it won't work.

I believe somebody (@jdramsey ?) added an error message for tsFCI and
tsGFCI something like "this algorithm requires knowledge and labeled
nodes." Should be the same error here since this algorithm is identicial to
tsGFC

[2018-02-21 15:20] cg09 commented on #736
Kevin,

The Issues interface won't take a TETRAD file.  Send it to you by email.  Clark

[2018-02-21 15:28] jdramsey commented on #736
Clark,

We've taken to zipping the tetrad session files. The issues gadget will
take them zipped.

Joe

On Wed, Feb 21, 2018 at 10:20 AM, cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew

[2018-02-21 15:35] cg09 commented on #736
Like I know how to zip a file.

On Wed, Feb 21, 2018 at 10:29 AM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-02-21 15:58] jdramsey commented on #722
I'll look at this. Meanwhile I've made a couple of adjustments to the other time series algorihthms in this branch: joe.trying.tsimages. I solved the problem of the knowledge form the time series data not getting into the algorithms (easy). There is another issue can't quite figure out: If the knowledge is not null, the graph in the search box should automatically be laid out by this method:

Sear

[2018-02-21 17:18] jdramsey commented on #722
OK, I solved this, but I do this moment do not know why the original code didn't work. Could it be a bug in Java? A map, index, was made from nodes in the dataset to their indices. Then you looked up indices of nodes by consulting this map. You pick nodes that were in the dataset and look them up. Sometimes, I guess for concurrency reasons, this would fail, even though nodes of the correct name we

[2018-02-21 17:24] jdramsey opened #744 "In the search editor, if knowledge tiers are available from knowledge for the algorithm, by default layout by tiers."
In the general algorithm editor code somewhere or maybe in some adjacency class, graphs are being laid out by default in a circle. But if the search has knowledge defined with at least two tiers, this layout should be applied instead by default.

SearchGraphUtils.arrangeByKnowledgeTiers(graph, knowledge);

This issue is mentioned in the comments of https://github.com/cmu-phil/tetrad/issues/722/. T

[2018-02-21 17:38] kvb2univpitt commented on #736
@cg09 @jdramsey I still cannot reproduce the error.  Clark, may you are not using the latest version from the development branch.  However, I did find some other bugs relating to the simulation.  I will fix that.

![simbox](https://user-images.githubusercontent.com/10729309/36495675-08d3e93a-1704-11e8-8f99-668ed28018a9.png)

[2018-02-21 20:53] jdramsey commented on #740
@cg09 I remember thinking to myself before when I coded that, that I wasn't sure what a copy/paste operation should look like for time lag graphs. If you copy a graph from a lag 2 graph and paste it into a general graph box, should that even be allowed? The variables aren't in fact lagged unless you parse their names. What if you paste it into a lag 1 graph box and there are lag 2 edges? Etc. One

[2018-02-21 20:56] jdramsey commented on #733
@cg09 When you say PC and FCI should be runnable from a PM, do you mean from the graph in the PM?

[2018-02-21 21:08] jdramsey commented on #729
@kvb2univpitt @cg09 I commented out all of the "Meek Orientations" menu items, as per Clark's suggestion, in this pull request: https://github.com/cmu-phil/tetrad/pull/746. No actual Meek orientation functionality was harmed by this procedure.

[2018-02-21 21:42] jdramsey commented on #737
I have a suggestion for this, pull request https://github.com/cmu-phil/tetrad/pull/747. See what you guys think. I simply commented out the lines in Simulation that automatically created simulation data without the user having to click "Simulate." I thought it would break stuff but it did not. Now when you double-click the Simulation box and click on the Data tab or the Graph tab, you find no grap

[2018-02-21 22:14] cg09 opened #748 "pipeline with time series graph"
This is tricky.  If pipeline "simulate from a given graph then search" is specified, the following sequence of boxes is produced Graph-> PM -> IM -> Simulation -> Search.  This sequence will not work if in the graph box a time series graph is specified...because a time series cannot be searched from the Simulation output--that output has to first be run through a Data box and the data reformulated

[2018-02-21 22:16] cg09 commented on #733
Yes

On Wed, Feb 21, 2018 at 3:56 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-02-21 22:29] jdramsey commented on #727
@kvb2univpitt I looked at what you did and thought maybe there's an easier way to get at the idea. I just use reflection to see if I can construct the parameterized editor, and if I can't, I don't show the menu item. I think it should be foolproof. Can you check my work? I made the change in your branch, v6.4.0-fix-graph-box.

[2018-02-22 02:35] kvb2univpitt commented on #727
@jdramsey I thought the method ``` existsParameterizedConstructor() ``` already does that?  That's why I used that method.  OK.  Let me take a look at what you did.

[2018-02-22 15:32] cg09 commented on #736
Kevin,
What happens when you run the tetrad session I sent to you?

Clark

On Wed, Feb 21, 2018 at 12:38 PM, Kevin Bui <notifications@github.com>
wrote:

[2018-02-22 15:55] kvb2univpitt commented on #736
Clark, the above screenshot is from the tetrad session you sent to me.  I still don't get that error.  However, I do notice that the drop-down list does not give valid simulation model options.  For an example, if the instantiated model is a SEM the drop-down list should not include Bayes Net like it is doing now.  But, this is a different issue.

[2018-02-22 16:15] cg09 commented on #736
Kevin,

The drop down should include "Bayes net." The problem, as i reported as an
issue, is that we do not have a parametrization set up for Bayes nets as
time series.  Conceptually, its trivial I think.

I have no idea why I get different results from you on the simulation box.
It may be the versions; I hope it is not computer differences.

Clark
Clark

On Thu, Feb 22, 2018 at 10:55 AM, Kevin Bu

[2018-02-22 16:51] kvb2univpitt commented on #727
@jdramsey I checked out the changes you made.  It seems like the "parameterized editor" option is not showing up anymore, even when it should.

[2018-02-22 17:07] kvb2univpitt commented on #736
Clark, can you download the latest version from the development branch and try it?  Please let me know if you're still getting that error.

[2018-02-22 18:27] #713 closed

[2018-02-22 19:14] kvb2univpitt opened #750 "Simulation Box: Invalid Simulation Model Type"
Given a SEM model as an input model, the simulation editor should not have Bayes Net as one of the options in the drop-down list.  Likewise, if a Bayes Net model is given, the drop-down list should not have SEM as an option.

![simbox](https://user-images.githubusercontent.com/10729309/36558935-9f030a2c-17da-11e8-805d-e24342423be3.png)

[2018-02-22 19:15] #701 closed

[2018-02-22 19:16] kvb2univpitt commented on #727
@jdramsey Thanks for clarifying this.  Done.

[2018-02-22 19:16] #727 closed

[2018-02-24 14:24] bill-raynor opened #751 "What version java is needed for tetrad-gui-6.2.0-launch.jar?"
tetrad-gui-6.2.0-launch.jar fails on startup, with the error report given below. This is on a MacBook Pro running osx 10.13.3 using java version "9.0.4".  However, it starts up fine on a Parallels Windows 10 emulator running a windows java version "1.8.0_161".

1. What version of java do I need on a Mac?
2. Is there anyway to find out what version of java was used to construct the jar file. I seem

[2018-02-24 16:32] cg09 commented on #699
This seems fixed.

[2018-02-24 16:32] #699 closed

[2018-02-26 16:03] kvb2univpitt commented on #751
You will need Java 8.

[2018-02-26 16:28] Diviyan-Kalainathan commented on #60
Hi,
I wondered if the Ling algorithm is usable again, there is this mention :
https://github.com/cmu-phil/tetrad/blob/6fc8d654d366dbd4e8e2af9872dbf0acc6396d4e/tetrad-lib/src/main/java/edu/cmu/tetrad/search/Ling.java#L56-L61

But I don't know if this is related to this issue, or if that comment is still relevant.

Thanks a lot!
Best regards,
Diviyan

[2018-02-26 16:37] Diviyan-Kalainathan opened #752 "Ling Algorithm broken ?"
Hi,
I wondered if the Ling algorithm is usable, because of this mention :
https://github.com/cmu-phil/tetrad/blob/6fc8d654d366dbd4e8e2af9872dbf0acc6396d4e/tetrad-lib/src/main/java/edu/cmu/tetrad/search/Ling.java#L56-L61

But I don't know if this is related to #60, and if it is still relevant.

Thanks a lot!
Best regards,
Diviyan

[2018-02-26 20:49] jdramsey commented on #752
I did have some time to look at the ICA implementation some time ago. I concluded that was working. It could probably be updated; it's not a translation of the current ICA but of one from several years ago.

That said, the algorithm is still, last I checked, very unstable. I'll look at it again if I can get some time though.

[2018-02-27 08:58] Diviyan-Kalainathan commented on #752
Thanks a lot !

[2018-02-27 15:07] espinoj commented on #737
Clicking to generate is in line with other box behavior.  Merging.

[2018-02-27 15:07] #737 closed

[2018-02-27 16:47] bill-raynor commented on #751
Thank you.

[2018-02-27 17:47] yuanzhou commented on #751
@bill-raynor just FYI, we'll be releasing a new version of Tetrad this week or so. You may want to download the new jar. It also requires Java 8.

[2018-02-27 20:51] kvb2univpitt commented on #744
Fixed.

[2018-03-01 16:30] kvb2univpitt commented on #751
@bill-raynor A new version v6.4.0 has been released.  You will still need Java 8.

[2018-03-01 16:31] #744 closed

[2018-03-09 18:42] cg09 opened #755 "Putting ION in TETRRAD"
This is an extension: Once upon a time we had versions of the ION algorithm, which ran PC or FCI etc. on multiple data sets that share some but not all variables.  We should reimplement that algorithm. In connection, we need the ability to construct such data sets from a given data set, which we cannot now do.

[2018-03-09 18:47] cg09 opened #756 "Important: Copy/paste in Data is broken"
There should be two methods of copying  selected variables in one data box and pasting to another data box: 1. Direct copy and paste into the second data box; 2. create a second data box as a child of the first; open the first data box, select variables, click "Done"; open the second box (which MUST be a child of the first) and in the menu click "Copy selected variables."  At present neither metho

[2018-03-09 18:59] cg09 opened #757 "Bootstrap tests needed"
We need bootstrap tests that give p values.  We have the ability to subsample any data set at random, but only one subsample at a time. That needs to be automatically repeatable with a user specified number of repetitions and connected to bootstrap tests.

[2018-03-09 19:00] cg09 opened #758 "Bootstrapping"
We need bootstrap tests that give p values.  We have the ability to subsample any data set at random, but only one subsample at a time. That needs to be automatically repeatable with a user specified number of repetitions and connected to bootstrap tests.

[2018-03-09 19:01] cg09 opened #759 "Naming of "Bootstrap""
"Bootstrap" in the data manipulation interface should be renamed "Sampling with Replacement"

[2018-03-09 19:02] #758 closed

[2018-03-09 19:15] mglymour commented on #756
It looks as though the "Copy selected variables" option may be fixed in 6.4.0, but the Edit > Copy cells option is not.

[2018-03-09 19:23] jdramsey commented on #756
There's a "one-off" error somewhere. I thought I fixed them all, but
there's still one somewhere. It tries to paste one column to the right or
something like that.

On Fri, Mar 9, 2018 at 2:15 PM, mglymour <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

[2018-03-16 22:55] PanikaValecha opened #760 "Optimum Cut-off for p-value"
How do i know what  cut-off for p-value is optimum for the using FCI search algorithm?
For one of my dataset, I tried to find causal relationship by using p-values 0.01, 0.05, 0.08 and 0.09. Since no causal relationship was shown, I set p-value as 1 to see what happens, it shows executing for hardly a second and returns to the parameter window itself. It would be great if I could be explained the

[2018-03-17 00:01] jdramsey commented on #760
What kind of data is it? Are the variables in question correlated?

[2018-03-17 01:01] PanikaValecha commented on #760
I have to find the causal relationship. The dataset consists of 2 id's (say id1 and id2) and the number of occurrences per month for each id1 and id2 combination. The id's are strings and not numbers.

[2018-03-17 01:02] PanikaValecha commented on #760
Is the p-value here similar to the probability value i.e a p-value <=0.05 is considered trustworthy? If not, can you explain that.

Thanks.

[2018-03-17 01:32] jdramsey commented on #760
In general, that depends on your sample size. for a very small sample size a high alpha level is needed, but as the sample size increases, that alpha level should be decreased. As a general rule, if N = 1000, for continuous data, an alpha level, of 0.001 is appropriate, whereas if N = 200, alpha = 0.05 is appropriate. But what test are you using?

[2018-03-17 02:00] PanikaValecha commented on #760
The dataset is discrete because it is linked to the number of occurrences. The default test selected for FCI algorithm was ChiSquare Test, so I didn't change it as of now. I used the alpha level as 0.05 for one dataset. The second data set that I talked about above has N=428 (including month and number of occurrences both).
The dataset is somewhat like below:

id1 id2 combinations | aa - 01 | aa -

[2018-03-17 03:00] cg09 commented on #760
From his description he has a messed up data set. He has categorical
variable with Lots of values.

On Fri, Mar 16, 2018 at 9:32 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-03-17 04:04] PanikaValecha commented on #760
@cg09
*her description.
It would be nice if you could suggest something.
Thanks!!

[2018-03-17 04:18] cg09 commented on #760
So little as I understand it, you have a variable, call it X, that takes as
values pairs of attributes...I assume as many pairs as you have pairs of
individuals, which may be a lot. So X is a purely categorical variables.
You have another variable, call it, Y, which seems to take integers as
values; I don't know how many integers. That variable is categorical or
ordinal. You may have other variabl

[2018-03-17 13:09] jdramsey commented on #760
I'm still unclear. Do you have a table of data, like this:

           (aa, 1)  (bb, 2)
July        19        5
Aug          2       20
Sep         20      10
...

Joe

[2018-03-17 18:53] PanikaValecha commented on #760
The data is like:

X-Y | aa - 01 | aa - 01 | ab- 02 | ab - 02
-- | -- | -- | -- | --
month | 5 | 8 | 3 | 9
number of   incidents | 25 | 100 | 10 | 525

[2018-03-17 19:05] jdramsey commented on #760
Your tables look better mine. Question: Do you know when an incident occurs for both aa - 01 and aa - 02, or does that never happen?

[2018-03-17 19:34] PanikaValecha commented on #760
Yes, I know the timestamp of occurrence.

[2018-03-17 20:55] jdramsey commented on #760
So what you need is a dataset like this:

Occurrence | aa.01 | aa.02
1 | 1 | 0
2 | 1 | 1
3 | 0 | 1
4 | 0 | 0
5 | 1 | 0

Occurrence | aa.01 | aa.02
-- | -- | --
1 | 1 | 0
2 | 1 | 1
3 | 0 | 1
4 | 0 | 0
5 | 1 | 0

Occurrence | aa.01 | aa.02
-- | -- | --
1 | 1 | 0
2 | 1 | 1
3 | 0 | 1
4 | 0 | 0
5 | 1 | 0

where 1 means occurs for that case and 0 means does not occur for that case

[2018-03-17 21:04] PanikaValecha commented on #760
That seems reasonable. I understand it now. Do you think I don't need the number of occurrences( the count)? I have the data for like an year and the time is in day-month-year format.

So, which algorithm will you recommend for this? Should I continue using the FCI algorithm.

Thank you for all your guidance.

[2018-03-17 21:47] jdramsey commented on #760
No problem! Sorry about my poor pasting skills; it seems I pasted three copies of the same thing.

Once you get data in that format, I would try PC first an then FGES. If those give sensible results but you're worried about latent variables, then I would try FCI. or GFCI.

If you can put your data into the format I suggested, the counts should be implied.

[2018-03-17 21:58] PanikaValecha commented on #760
That is okay.
Yes, I am unsure of the latent variables. There could be some, there could not be. I don't have any information about it. So, that is why I though of using FCI.

 I would go ahead and give this another try. Thank you so much for all your help!! I really appreciate it.

[2018-03-28 21:20] rws2 opened #763 "Knowledge Box seems to not be working version 6.4.0"
I set up a knowledge box with three tiers and a factor in my tier 3 continually shows up with a causal arrow to a factor in my tier 1.

Stoddard  724-263-7113 cell

[2018-03-28 22:39] jdramsey commented on #763
You don't happen to have quotes around your variables names do you?

On Wed, Mar 28, 2018 at 5:20 PM, rws2 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2018-03-29 00:59] cg09 commented on #763
Joe,

Is this a knowledge box bug?

On Wed, Mar 28, 2018 at 8:22 PM, rws2 <notifications@github.com> wrote:

[2018-03-29 19:30] jdramsey opened #764 "FASK doesn't automatically remove edges forbidden in both directions."
Easy fix, just need to remember to do this soon.

[2018-04-06 16:32] isadreev commented on #595
Is there any chance LinGAM could be added to the list of algorithms in the command version of TETRAD 6.4.0 available at:
https://cloud.ccd.pitt.edu/nexus/content/repositories/releases/edu/cmu/tetrad-lib/6.4.0/ ?

[2018-04-06 19:11] yuanzhou opened #765 "Too many error/warning messages to show in data loader"
I'm creating a new issue here to address what @jdramsey encountered with the data loader when he had so many missing value warning messages. Right now the validation in data loader outputs all the error and warning messages, but when there are too many, displaying them on the GUI can be a problem.

@kvb2univpitt and I discussed that maybe we can just show the first 10 error and warning messages, a

[2018-04-12 15:17] jdramsey opened #767 "Need a way to turn PAG coloring off."
This one from Clark. While the PAG coloring is informative, there are times when one wants to be able to turn it off. Would it be possible to add a menu item to allow the PAG coloring to be turned off?

[2018-04-13 04:29] wylam055 opened #768 "Bootstrapping Result in Command Prompt Window"
I found an issue in outputting the bootstrapping result in the command prompt window. For RFCI, the bootstrapping result is perfect. It shows the confidence level for each edge among different variables. However, there is no result shown in the command prompt window when I use algorithms like PC All and FGES.

I've been restarting TETRAD several times, but the problem remains. Please advise. Thank

[2018-04-13 16:45] chirayukong commented on #768
I'll take a look at it. Do you mind sharing the dataset?

[2018-04-13 20:04] wylam055 commented on #768
Sure. Thanks!

Wayne

On Fri, Apr 13, 2018 at 12:45 PM, Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

[2018-04-15 02:30] cg09 opened #769 "Simulation Box Data Box"
Using the latest release,  if a data set is created in the Simulation Box, which is then connected to a Data Box, and a column of entries is removed from the Data Box, the same entries are removed from the Simulation Box. That should not happen.

[2018-04-17 18:32] kvb2univpitt opened #770 "Repeat Copies of Array Fuction for MatrixUtils"
Needs a function the simular to Matlab repmat fuction (https://www.mathworks.com/help/matlab/ref/repmat.html#d119e1000434) that can make repeated copies of a matrix.

[2018-04-18 17:51] cg09 opened #772 "Estimator does not give model fit statistics"
This is really annoying in practice.  The estimator gives p values for tests of edges, but it does not give an overall model fit value, e.g., a BIC score where calculable.

[2018-04-20 18:24] espinoj opened #773 "Regex option for specifying tiers"
Knowledge2 implementation in tetrad lib has a regex function for specifying which variables go into which tier.  We can expose this function in the interface.  i.e., under each tier box add a text box where a user can specify the regex and apply it.

[2018-04-20 18:24] espinoj opened #774 "Algorithm running info dialog"
When running an algorithm can we output algorithm info e.g., creating skeleton, 100 edges added, java heap 80%

[2018-04-20 19:30] cg09 commented on #774
Sure, for those users who know what a heap is.

On Fri, Apr 20, 2018 at 2:24 PM, Jeremy Espino <notifications@github.com>
wrote:

[2018-05-01 08:21] mcwigley opened #775 "Show DAGs in Pattern"
Using the latest 6.4 version. Doesn't appear to be an option to show DAGs in Pattern under graph manipulations

[2018-05-08 17:58] #441 closed

[2018-05-08 17:59] espinoj commented on #609
#441

[2018-05-08 17:59] espinoj commented on #609
Reopening to see if there is a new solution besides having users lower their resolution

[2018-05-18 01:38] cabal-cmu opened #776 "Tetrad graph output txt file"
The tetrad graph output in txt file, ie. the list of edges; has two extra blank lines at the end. Is it possible to fix the code to avoid those blank lines ?

[2018-05-18 02:03] cabal-cmu commented on #775
Hi, it seems to be properly working with the newest version 6.4. Do you still have the problem ?

[2018-05-18 19:06] espinoj opened #777 "Make available option to subsample data i.e., without replacement"

[2018-05-18 19:06] espinoj opened #778 "Tabular view of graph edges"

[2018-05-21 18:38] cabal-cmu opened #780 "edges, PM and IM"
With the new thingy that shows the edge label: X --> Y when you hover on top of the edge in the graph. If you do this in a PM or IM box, the label of the coefficients sometimes disappear.

[2018-05-21 18:45] jdramsey opened #781 "Writeup of the Knowledge file format."
Clark would like a write-up of the format of the Knowledge file to include in the manual. Is there one somewhere? -Joe

[2018-05-21 18:50] cabal-cmu commented on #781
I got this from: https://bd2kccd.github.io/docs/causal-cmd/

Sample Prior Knowledge File

From the above usage guide, we see the option of --knowledge <arg>, with which we can specify the prior knowledge file. Below is the content of a sample prior knowledge file.

The first line of the prior knowledge file must say /knowledge. And a prior knowledge file consists of three sections:

    addtempora

[2018-05-21 20:35] jdramsey commented on #781
Thanks guys. I will send this to Clark.

[2018-05-22 01:21] ykim379 opened #783 "an example of covariance matrix data?"
I like to load covariance matrix data (instead of raw tabular data) but the required format of such data is not clear in the manual. What does the matrix data look like?

[2018-05-22 01:39] ykim379 commented on #783
Oh, I found an example.

72
po fi en cv
1.0
-.175  1.0
-.480  0.330   1.0
0.868 -.391  -.430  1.0

[2018-05-22 01:39] #783 closed

[2018-05-22 02:19] cg09 commented on #783
Yikes, should have been in there. Sorrty and thanks. Try this

/covariance
Sample size [no words just a number]
Lower triangular covariance matrix [entries space separated]

Don't put spaces between the lines or periods or semi-colons or commas at
the end of a line.

Cg

On Mon, May 21, 2018 at 9:21 PM, ykim379 <notifications@github.com> wrote:

[2018-05-22 02:20] cg09 commented on #783
Good, because I forgot the line with the variable names after the sample
size.

On Mon, May 21, 2018 at 9:39 PM, ykim379 <notifications@github.com> wrote:

[2018-05-23 13:35] espinoj opened #784 "Coefficient vanishes"
Interface complaint: when you now roll over the edge coefficient in a SEM, in an estimator, or an IM, if you miss at all and hit the edge, and its hard not to - the coefficient vanishes and does not return unless you close and reopen the object.

[2018-05-25 22:47] jdramsey opened #786 "Disappearing data."
OK, guys, I know how to make the data in the Simulation box disappear. I can do it at will.

Make Simulation->Search

Double click Simulation. Make some continuous data.

Look at the data and graph. They're there.

Now go to the Search box and run a search, say FASK. See the lovely graph.

Now close the Search box and go back to the Simulation box. Click to the True Graph tab.

OK, close the Simul

[2018-05-25 22:58] cg09 commented on #786
Yep.

On Fri, May 25, 2018 at 6:47 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-05-26 12:38] jdramsey commented on #786
Actually simpler:

Just make a simulation box, double-click it, make some data. Click back and forth between the tabs, see the lovely data and graph. Close the simulation box and re-open it. The data and graph are still there. But click on either the True Graph or Data tab, then close the simulation box and re-open it. The data and graph are gone.

You don't need the search box for this.

[2018-05-29 15:14] jdramsey opened #787 "Logging issues."
Two issues from Clark:

1. For PCAll (and maybe other algorithm), independence facts are apparently not being logged.

2. When you turn logging off, it doesn't actually stop logging stuff.

3. The verbose description says "printing" but nothing is printed.

[2018-05-30 15:04] espinoj commented on #775
Closing this as sounds fixed.

[2018-05-30 15:04] #775 closed

[2018-05-30 15:08] #765 closed

[2018-05-30 15:09] espinoj commented on #657
Functions for this are done - just have to continue updating the manual.

[2018-05-30 15:09] #657 closed

[2018-05-30 18:34] espinoj commented on #776
I see one extra blank line and can fix that.  Can you confirm that it is two extra blank lines?

[2018-05-30 19:08] chirayukong commented on #768
@wylam055 Could you try it again on the [issue_768](https://github.com/cmu-phil/tetrad/tree/issue_768) branch?

[2018-05-30 19:16] cabal-cmu commented on #776
Hi,
There are two blank lines when you save it as text file.

Find attached an example.
[graph2.txt](https://github.com/cmu-phil/tetrad/files/2055316/graph2.txt)

[2018-05-30 19:28] cabal-cmu commented on #776
This is good. Thanks a lot.

[2018-05-31 12:04] isadreev opened #789 "LiNGAM missing in command-line versions of TETRAD"
It seems that LiNGAM is currently not available for the 6.4.0 and 6.4.1 command-line versions of TETRAD although it is present in the gui-version. Is there any chance it could be added to the list of available algorithms in a TETRAD command-line version?

[2018-05-31 13:47] cabal-cmu opened #790 "Use of knowledge in ccd-web vs tetrad gui"
Hi,

A question from the CCD helpdesk:

A user is using ccd web, FGES + knowledge file. And she is reporting that there are some directed edges that show up in output graph that shouldn't be there given the tier knowledge provided. I replicate the run and indeed there are directed edges that shouldn't be there given the knowledge.

The user also reports that using the same knowledge and data in th

[2018-05-31 15:32] yuanzhou commented on #786
I just reproduced this error, will be working on the fix shortly.

[2018-06-01 15:34] yuanzhou commented on #786
@jdramsey I reproduced this in an simpler way:
1. add a simulation box, double click, then click the simulation button with all default settings. Close.
2. reopen the simulation box by double clicking for the first time, the data is there. Close directly.
3. reopen again for the second time, the data is gone.

By debugging the `SimulationEditor`, the second time of reopen, `simulation.getSimulatio

[2018-06-01 15:39] jdramsey commented on #786
You're right! Confirmed.

[2018-06-01 15:54] #776 closed

[2018-06-01 15:55] espinoj commented on #764
Is this resolved @jdramsey ?

[2018-06-01 15:57] #760 closed

[2018-06-01 18:03] cabal-cmu opened #791 "IMaGES tetrad gui"
When running IMaGES continuous, it does not work when selecting more than 1 dataset for the run (last option in the parameters setting).

Example:
Simulate 10 datatsets with the simulation box.
Pass the simulation box to a data box.
Pass the data box to a search box with IMaGES continuous, selecting 10 datasets in the last parameter option.

[2018-06-01 18:35] espinoj commented on #791
This seems to be working in development but not in 6.4.
We'll be releasing 6.5 from development Tuesday.

Can you try the latest development branch to confirm?
https://cloud.ccd.pitt.edu/latest-dev-tetrad.html

[2018-06-01 19:38] cabal-cmu commented on #791
Confirmed. IMaGES works properly in the development.

[2018-06-01 20:13] jdramsey commented on #764
Yes.

Joe

On Fri, Jun 1, 2018, 11:55 AM Jeremy Espino <notifications@github.com>
wrote:

[2018-06-04 17:23] yuanzhou commented on #786
So after spending many hours on this, I still couldn't figure out why the data is gone when reopening the simulation box for the SECOND time. That "Done" button doesn't change the simulation, and the simulation instance is the same except the datasets being generated.

@kvb2univpitt can you please take a stab at debugging? Thanks!

[2018-06-04 18:16] jdramsey commented on #786
I looked at this. Very difficult, but I think I have a suggestion. Could
you check it out? This is line 279 of SimulationEditor. In the second line,
I've added an extra condition,

 if (simulation.getSimulation().getNumDataModels() == 0)

That seems to do the trick for me, but I'm not sure it's completely general.

Joe

if (!simulation.isFixedSimulation()) {
    if (simulation.getSimulation().getN

[2018-06-04 18:19] jdramsey commented on #786
Sorry, @yuanzhou -- The idea was to implement Clark's suggestion (which I thought I'd done) to make sure you only simulate data when the user clicks the Simulate button. So if there are datasets in the Simulation object at this point, a simulation should not be done, and the simulation object should not be reset. I think that's right.

[2018-06-04 19:44] yuanzhou commented on #786
@jdramsey I tested your fix and it works! Phew~

I'll send a pull request along with some cleanups. Thanks for shedding light on this!

[2018-06-04 20:03] #791 closed

[2018-06-04 20:04] espinoj commented on #780
#784

[2018-06-04 20:37] jdramsey commented on #786
No problem! it took me a while...

[2018-06-04 22:09] kvb2univpitt commented on #790
The bug is definitely not with Causal Web.  Causal Web merely passes the inputs as a CLI command to causal-cmd.  I ran just causal-cmd and got the same bug.  I have looked into causal-cmd.  It seems like causal-cmd is passing in the knowledge file correctly to Tetrad.  Not sure why this is happening.

[2018-06-05 04:40] cabal-cmu opened #793 "CCD web"
For the mixed versions of the algorithms, during:

Step 1: Select Dataset

The second option is:

Number of Discrete Categories.

This number is in fact is the number of discrete variables in the dataset.

A user expressed confusion about it. I proposed we should change it to:

Number of discrete variables in the dataset
 or

Number of categorical variables in the dataset

[2018-06-05 12:56] cg09 commented on #793
Good, either change will do.  Clark

On Tue, Jun 5, 2018 at 12:40 AM, cabal-cmu <notifications@github.com> wrote:

[2018-06-05 15:02] #764 closed

[2018-06-05 15:03] #763 closed

[2018-06-05 15:40] #786 closed

[2018-06-05 16:21] jdramsey opened #795 "Clicking the simulate button now doesn't allow you to do a new simulation with each click."
@yuanzhou @espinoj

This is the opposite of the last problem and can be solved by commenting out lines 276 and 278 in Simulation, as follows:

    public void createSimulation() {
//        if (simulation.getNumDataModels() == 0) {
        simulation.createData(parameters);
//        }
    }

I believe this is still in keeping with Clark's maxim, that the user should only be able to modify their s

[2018-06-05 16:33] cabal-cmu commented on #793
I was wrong, in conversation with Joe, he explained me that this parameter corresponds to the maximum number of categories that the dataloader will accept for considering a variable discrete. If the variable has more than that maximum number of categories, then it will be consider continuous.

Can we be more explicit about this parameter, it is somehow confusing.

[2018-06-05 16:40] jdramsey opened #796 "Confusing parameter."
According to a trustworthy source, users find the "maximum number of discrete categories" parameter for loading mixed data to be confusing. Obviously, we need that parameter, but is there a way to attach an instruction for it somehow? One user, for instance, thought that it meant the number of discrete variables.

[2018-06-05 16:46] cg09 commented on #796
I think the user will have to be confused and the manual revision will have
to handle it.  Why we need good connections to a good manual.

On Tue, Jun 5, 2018 at 12:40 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-06-05 17:02] kvb2univpitt commented on #793
Yes.  That's correct.  I was going to say that parameter is also found in Tetrad.  We need to change that in Tetrad if needed.

[2018-06-05 17:17] yuanzhou commented on #795
Agreed and fixed. Will send a pull request shortly.

[2018-06-05 20:43] cabal-cmu opened #798 "Dataloading"
Hi, can anyone confirm that Tetrad GUI is unable to load the attached dataset.

[50_Ztrue_10.txt](https://github.com/cmu-phil/tetrad/files/2073923/50_Ztrue_10.txt)

[2018-06-05 21:12] jdramsey commented on #798
Load in Excel, save tab delimited. The problem I think is that Tetrad assumes the line will start with a token like most files.

[50_Ztrue_10.tab.txt](https://github.com/cmu-phil/tetrad/files/2074010/50_Ztrue_10.tab.txt)

[2018-06-05 22:45] cabal-cmu commented on #798
Thanks a lot, it worked.

[2018-06-06 15:40] kvb2univpitt commented on #790
After going through the issue with @espinoj, we realized that the problem is with Tetrad.  The knowledge file has 11 tiers.  But, Tetrad GUI only showing two tiers when reading in the knowledge file.  It seems like Tetrad GUI is not taking in more than two tiers.  I will create a different issue for this.

[2018-06-06 15:43] cabal-cmu commented on #790
Thanks.

[2018-06-06 16:08] kvb2univpitt opened #799 "Tetrad GUI Not Showing All Tiers in Knowledge File"
When reading in knowledge file containing more than 3 tiers, Tetrad GUI only shows maximum of 2 or 3 tiers.

[2018-06-07 15:48] espinoj commented on #780
Kevin and I tried this on linux and mac on 6.5 and development and were unable to replicate.  @chirayukong do you see this issue still?

[2018-06-07 15:48] espinoj commented on #784
Kevin and I tried this on linux and mac on 6.5 and development and were unable to replicate.  @chirayukong do you see this issue still?

[2018-06-07 15:49] #790 closed

[2018-06-07 15:49] #793 closed

[2018-06-07 15:49] #796 closed

[2018-06-07 15:49] #798 closed

[2018-06-07 15:49] #799 closed

[2018-06-07 15:50] espinoj commented on #768
Resolved?

[2018-06-07 17:54] jdramsey commented on #784
This issue was reported by Richard on his Surface. I don't know what version of Java he was using at the time. I saw it happen then.

[2018-06-07 19:01] kvb2univpitt opened #801 "Knowledge Editor: Select and Drop Wrong Variable"
Wrong variable is dropped into tier when drag from "Not in tier" list.

[2018-06-08 17:26] yuanzhou commented on #787
1. Tested with the current development branch, and I could see the logging of the independence test with PC All and the default settings.

![capture](https://user-images.githubusercontent.com/195873/41171623-37fa4186-6b1f-11e8-90ca-c4dd8fe8de31.PNG)

But when I changed the test to "BDeu Test" from the dropdown menu, I saw this in logging:

![capture2](https://user-images.githubusercontent.com/1958

[2018-06-08 17:32] jdramsey commented on #787
What it needs to do is print out the results of the tests, if the verbose flag is set to true.

[2018-06-08 17:34] jdramsey commented on #787
That is, these lines in FAS line 321 should print stuff:

                    if (verbose) {
                        TetradLogger.getInstance().forceLogMessage(
                                SearchLogUtils.independenceFact(x, y, empty) + " score = " +
                                nf.format(test.getScore()));
                        out.println(SearchLogUtils.independenceFact(x, y, empty) + "

[2018-06-08 17:54] yuanzhou commented on #787
I see. I could reproduce the issue with FAS and I didn't see any verbose information.

![capture](https://user-images.githubusercontent.com/195873/41172969-67031896-6b23-11e8-966c-17f70bcef9e2.PNG)

[2018-06-08 18:00] jdramsey commented on #787
Even if you set the verbose parameter to true?

On Fri, Jun 8, 2018 at 1:54 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2018-06-08 18:01] jdramsey commented on #787
Anyway this is the issue that Richard was having. (I was in the room.)

On Fri, Jun 8, 2018 at 2:00 PM Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2018-06-08 18:50] yuanzhou commented on #787
Yes, I set the verbose parameter to true.

[2018-06-08 19:00] jdramsey commented on #787
I wonder what could be going on? Is the verbose value not being passed the
whole way in? If it's true where I pointed to, stuff should be printed out;
it was before... :?

On Fri, Jun 8, 2018 at 2:51 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsbur

[2018-06-11 15:14] yuanzhou opened #803 "PM box reverses category names"
During the short course, an attendee noticed that the PM box resets the category names after renaming the category names in the PM box.

By default the categories are 0 and 1, it's common that we rename 0 to NO, and 1 to Yes.
![1](https://user-images.githubusercontent.com/195873/41240172-e789aa2a-6d67-11e8-99d5-118dc82fe4e7.PNG)

![2](https://user-images.githubusercontent.com/195873/41240176-e8d32

[2018-06-11 19:54] #801 closed

[2018-06-11 19:55] espinoj opened #804 "Estimator graph box doesn't fill window"
When resizing estimator window graph box doesn't resize

[2018-06-11 19:57] espinoj opened #805 "display PM box graph won't show"
Trying to display PM box graph won't show anything after running estimator pipeline.  Shows a triangle exclamation error box.
![screen shot 2018-06-11 at 3 57 07 pm](https://user-images.githubusercontent.com/313721/41254037-21bb7c0a-6d90-11e8-8a21-566ee2f88201.png)

[2018-06-11 19:59] espinoj opened #806 "Simulator box doesn't take IM box model"
IM box isn't taking St Sem Model IM box model and instead is defaulting to Bayes Model and ignoring Std Sem Model

[2018-06-11 20:00] espinoj opened #807 "Editing discrete values in PM doesn't propagate to Data"
If you have a discrete dataset and load it.  Editing the values in a PM doesn't change the values in the Data box.  This could be helpful if the discrete values are not well labelled initially.

[2018-06-12 00:41] kvb2univpitt commented on #806
@jdramsey found the root of the problem and the solution for it.  :)

[2018-06-12 03:02] harryhoch opened #809 "inconsistency in values from data back to estimation"
see screenshot. I can provide a .tet file if needed

![image](https://user-images.githubusercontent.com/174707/41267897-719a943c-6dcb-11e8-9b97-832d34c0ab7c.png)

[2018-06-12 04:18] yuanzhou commented on #787
Turned out that in FAS, PC-ALL and a few other algorithm wrappers, the verbose value was not being passed when NOT running bootstrap. It could be introduced during the bootstrap refactoring. I fixed it.

[2018-06-12 10:08] cg09 commented on #809
Harry,

What inconsistency?  You expect estimators to be perfect? Or something else
I missed?

Clark

On Mon, Jun 11, 2018 at 11:02 PM, Harry Hochheiser <notifications@github.com

[2018-06-12 10:37] harryhoch commented on #809
Clark, just reporting a comment from a short course attendee. Completely agreed it might be inappropriate for users to expect perfection, but folks might get confused nonetheless. Not at all clear how to address this problem..

[2018-06-12 11:39] jdramsey commented on #787
Oh that was it. Thanks.

[2018-06-12 12:28] jdramsey opened #811 "Remove true graph code from edu.cmu.tetradapp.model.TabularComparison."
In Tabular Comparison, lines 181 - 187 should be commented out:

//        if (algorithm != null) {
//            for (int i = 0; i < referenceGraphs.size(); i++) {
//                Graph comparisonGraph = algorithm.getComparisonGraph(referenceGraphs.get(i));
//                comparisonGraph = GraphUtils.replaceNodes(comparisonGraph, getTrueGraph().getNodes());
//                referenceGraphs.

[2018-06-12 13:12] #806 closed

[2018-06-12 13:23] kvb2univpitt opened #812 "Unable to Re-simulation Data"
Unable to re-simulate data by choosing a different data simulation type.

[2018-06-12 13:27] yuanzhou commented on #812
I tested and I could re-simulate data with a different simulation type. What's the steps to reproduce this error?

[2018-06-12 13:28] #787 closed

[2018-06-12 13:29] jdramsey opened #813 "In Conditional Gaussian, comment out lines 147-149."
In Conditional Gaussian, these lines need to be commented out:

//        if (!discretize) {
//            return mixedDataSet;
//        }

This was an optimization, but it breaks stuff.

[2018-06-12 13:43] yuanzhou commented on #812
@kvb2univpitt this is the issue that was fixed earlier but seems it caused the new issue. https://github.com/cmu-phil/tetrad/issues/786

[2018-06-12 15:05] espinoj opened #815 "forbidden edge disappears"

[2018-06-12 15:30] kvb2univpitt commented on #815
Need to select "Show Forbidden Edges" checkbox.

[2018-06-12 15:30] #815 closed

[2018-06-12 15:41] espinoj opened #817 "required edges not showing up"
seen when performing search using PC All
need to also see with other algorithms

[2018-06-12 17:39] #812 closed

[2018-06-12 19:12] yuanzhou commented on #769
@kvb2univpitt since you fixed the Simulation bugs, can you also take a look at this issue? My guess is the simulation data is stored to the same data model.

[2018-06-12 20:10] kvb2univpitt opened #818 "Tabular Comparison: Null Names"
Names for target graphs and true graphs are null in comparison tab.

![tab_comp](https://user-images.githubusercontent.com/10729309/41314525-0021fd5a-6e5b-11e8-94ba-dafac6474a73.png)

[2018-06-13 02:13] yuanzhou commented on #817
@espinoj can you add more details or some screenshots to describe this issue?

[2018-06-13 02:19] yuanzhou commented on #813
I don't seem to find the corresponding source code. Can you please paste a link to the class?

[2018-06-13 09:23] jdramsey commented on #813
Sorry about that. Jeremy couldn't find it either. It must not be in the development branch, which is perfect.

I just verified that it's working correctly in the published version. Perfect. I can demo it.

Thanks.

[2018-06-13 13:09] #813 closed

[2018-06-13 13:18] espinoj commented on #817
we're unable to reproduce this and will gather a .tet file

[2018-06-13 13:19] espinoj commented on #805
This only seems to happen in mac.  Will gather a tet file.

[2018-06-13 13:23] #811 closed

[2018-06-13 13:23] #818 closed

[2018-06-13 13:29] yuanzhou commented on #803
This is so interesting that sometimes I can reproduce this behavior and sometimes I can't. It's not consistent.

[2018-06-13 13:52] espinoj commented on #805
stack trace

[code]

[2018-06-13 13:53] espinoj commented on #805
[805.tet.zip](https://github.com/cmu-phil/tetrad/files/2098383/805.tet.zip)

[2018-06-13 13:53] kvb2univpitt commented on #769
@cg09 The reason why this happens is because the data box is just pointing to the data model in the simulation box.  We can create a deep copy so that changing the data in the data box will not affect the data in the simulation box.  The only downfall with doing a deep copy is that it may cause performance issue if the data is very large.  Basically, we have to allocate a chunk of memory each time

[2018-06-13 15:33] espinoj opened #820 "remove poorly performing pairwise algorithms"
Joe's recommended pairwise algorithms to keep
r3
Rskew
Skew

[2018-06-13 15:35] espinoj opened #821 "default SEM BIC for continuous data as an independence test vs. fisher z for PC."
SEM BIC for continuous data as an independence test vs. fisher z for PC.

[2018-06-13 18:41] espinoj opened #822 "Search doesn't remember parameters"
after break edges or re execute warning

[2018-06-13 18:46] kvb2univpitt commented on #770
Done.

[2018-06-13 18:46] #770 closed

[2018-06-13 19:08] espinoj opened #824 "Tetrad outputs different json formats for graphs"
Graph is different from DAG...
This confuses cytoscape tetrad plugin.

[2018-06-13 19:29] espinoj opened #825 "Estimator won't estimate for mixed variable types"

[2018-06-13 22:28] jdramsey opened #826 "Request: Put the SEM IM load/save menu items back."
There are these classes which save and load SEM IMs:

SemXmlRenderer
SemXmlParser

The idea is to add these to the File menu for SEM IM to save out a SEM IM to file or if the SEM IM has no parents, to load one in.

Somebody had requested this.

[2018-06-14 02:04] harryhoch opened #827 "inappropriate version message"
attached session file complains about versioning issues, even when both saved and loaded with 6.5.0.

Java log file and error message screenshot attached.  Rename session file to remove .txt fie.
[20180613_Cat_CRS_simple_with_diversity.tet.txt](https://github.com/cmu-phil/tetrad/files/2100542/20180613_Cat_CRS_simple_with_diversity.tet.txt)
[log.txt](https://github.com/cmu-phil/tetrad/files/2100543

[2018-06-14 14:01] espinoj opened #828 "Estimator for mixed data"
This could be done using the conditional gaussian test

[2018-06-14 14:28] yuanzhou commented on #827
@harryhoch when you saved the session, did you use "Save session" or "Save session as" option? It seems the session wasn't saved correctly, that's why we can't reload it. The version message in the popup is not appropriate anyway.

[2018-06-14 14:30] harryhoch commented on #827
@yuanzhou, I didn't save it. One of the short course participants did. I have no idea what option was selected. Why does it matter?

[2018-06-14 14:49] yuanzhou commented on #827
because from my debugging, I saw a serialization exception and `SaveSessionAsAction.java` was in the stack trace. I guess the session file was not saved correctly.

[2018-06-14 15:12] yuanzhou commented on #827
One thing I tested is saving a session from Tetrad 6.5.0 and load it in Tetrad 6.6.0-SNAPSHOT. It worked fine. I did fix the popup message so it doesn't lead the users to try a different Tetrad version. It won't load the corrupted session file regardless the version of Tetrad.

[2018-06-14 15:20] yuanzhou commented on #827
I think the root cause of this issue is the corrupted session file instead of Tetrad version. We'll need to create a separate issue when we can reproduce a session file is being saved but he session objects not serialized correctly.

[2018-06-14 15:20] #827 closed

[2018-06-14 15:55] #820 closed

[2018-06-14 16:44] kvb2univpitt commented on #825
Duplicate issue.  See issue #828.

[2018-06-14 16:44] #825 closed

[2018-06-14 23:00] espinoj opened #831 "Rexecute after workflow change doesn’t propagate old parameters"
E.g search parameter settings

[2018-06-14 23:04] espinoj opened #832 "Bootstrap doesn’t execute after clicking on graph it multiple times"

[2018-06-14 23:46] espinoj opened #833 "Run model fit statistics after causal cmd run"

[2018-06-15 11:35] jdramsey opened #834 "More estimators"
Just in general, people at the short course were having trouble estimating models that didn't come from linear, Gaussian or discrete models. A big one was conditional gaussian, mixed--we need a gadget to estimate that (in some appropriate sense) and give a model score. Also, we need a gadget to estimate linear, non-Gaussian models.

[2018-06-15 11:35] jdramsey opened #835 "More estimators."
Just in general, people at the short course were having trouble estimating models that didn't come from linear, Gaussian or discrete models. A big one was conditional gaussian, mixed--we need a gadget to estimate that (in some appropriate sense) and give a model score. Also, we need a gadget to estimate linear, non-Gaussian models.

[2018-06-15 11:36] #835 closed

[2018-06-15 11:36] jdramsey commented on #835
Duplicate.

[2018-06-15 11:39] jdramsey commented on #834
Never mind, duplicate.

https://github.com/cmu-phil/tetrad/issues/828

[2018-06-15 11:39] #834 closed

[2018-06-15 13:53] espinoj opened #836 "estimator for mags"

[2018-06-15 14:04] yuanzhou commented on #832
I reproduced this error by following these steps:

1. Do a search on a dataset, set bootstrap parameters and run the search.
2. Verify the generated bootstrap edge probabilities on the graph.
3. Click "Graph it" then go back to do the bootstrap again.
4. Now the edge probabilities are gone from the graph.

[2018-06-15 14:16] espinoj commented on #836
https://arxiv.org/pdf/math/0601631.pdf

[2018-06-15 14:42] espinoj opened #837 "Expose bootstrap sample size"

[2018-06-15 14:53] yuanzhou commented on #832
Actually we don't have to click "Graph It" to reproduce this error. Once a graph with bootstrap info generated, go back to the parameters panel and run the search again without any changes, the bootstrap info will be gone from graph.

[2018-06-15 19:37] yuanzhou commented on #832
What I discovered is after running the bootstrap search, the `bootstrapSampleSize` parameter gets to set as 0 regardless of what the input filed value is. That's why the next time you run the search without any parameters, you won't see the bootstrap.

[2018-06-15 21:16] bja43 opened #838 "graphs with two-cycles cannot be imported into cyctoscape"
As in description--you get an "already adjacent" error.

[2018-06-16 11:16] jdramsey opened #839 "Maybe consider replacing "PCAll" by the separate algorithms in the algorithms list"
I noticed that people were referring to "PCAll" as an algorithm during the short course. Maybe consider replacing PCAll with the separate algorithms, PC, CPC, etc., if this is a point of confusion, in the algorithms list.

[2018-06-17 19:50] cg09 opened #840 "Estimation and test statistics"
The estimator box does not give a test statistic for the model...p value on a chi square test or BIC score.

[2018-06-18 12:35] chirayukong commented on #832
I'll take a look at it then. Thanks a lot @yuanzhou

[2018-06-18 20:57] jdramsey opened #841 "Scatterplot slow for large datasets"
For some probably really dumb reason (like maybe it's refreshing too much), the scatterplot takes forever for datasets with large sample size. It's just plotting a bunch of points; how long can that take really?

[2018-06-22 19:40] adambouras opened #842 "Generating synthetic data using Tetrad"
Hi,

I am trying to use Tetrad to generate synthetic data. In the project, I only know the demographics distribution of my population and I would like to generate the individual-level data using those frequency distributions. Would you kindly let me know if this possible using Tetrad?

Adam

[2018-06-22 22:09] jdramsey commented on #842
Do you mean that you have a population of discrete variables?

[2018-06-23 04:16] jdramsey opened #843 "There is a null pointer thrown when trying to impute missing values on a mixed dataset"
Reproduce:

1. Load a mixed dataset with mixed values

2. Attach another data box. Select impute with mode of column.

3. Null pointer!

[2018-06-23 04:18] jdramsey commented on #843
Fix: https://github.com/cmu-phil/tetrad/pull/844

This is the fix for the problem c4therine was having, Kevin.

@kvb2univpitt

[2018-06-25 20:29] cabal-cmu opened #845 "CCD helpdesk"
@jdramsey @espinoj

From the helpdesk. A user got this error message while running the next analysis:

My overall goal is to identify genetic loci that cause worse disease outcomes in patient's with inflammatory bowel disease.  To do this I have ~1600 genetic loci that are characterized as 0 (no genetic variant), 1 (1 genetic variant-heterozygotes), 2 (2 genetic variants at that loci-homozygous),

[2018-06-25 20:31] cabal-cmu commented on #845
For replication, I attached the files the user send.
[nfkbgt2TextHeaderSimplified2.txt](https://github.com/cmu-phil/tetrad/files/2134657/nfkbgt2TextHeaderSimplified2.txt)

[knowledge.prior.txt](https://github.com/cmu-phil/tetrad/files/2134658/knowledge.prior.txt)

[2018-06-26 10:00] jdramsey opened #846 "Add mixed data model scores to the Tetrad interface."
This is low hanging fruit; these scores are already calculated for conditional Gaussian, for each variable given its parents (for a DAG model) as well as for the whole model. What we have are BIC scores for each variable given its parents and BIC scores for the model, as well as p-values for each variable given its parents (from a likelihood ratio test). It's not a full conditional Gaussian model

[2018-06-26 17:36] chirayukong commented on #780
I can't mimic this disappearing effects, too.

[2018-06-26 17:38] chirayukong commented on #784
@jdramsey do you know which Tetrad version Richard used? I can't replicate this bug on the current development branch.

[2018-06-26 17:54] jdramsey commented on #784
@chirayukong He was using the current version but on a Windows machine. But you have a Windows machine, right?

[2018-06-27 14:09] yuanzhou commented on #845
@kvb2univpitt sure thing. I've switched to a more powerful EC2 instance for running Causal-web on AWS before the short course, we can increase the memory within CMD for sure.

[2018-06-27 15:50] chirayukong commented on #784
Yep, I did. I have Windows 10 and Tetrad just works fine.

[2018-06-27 16:46] #843 closed

[2018-06-27 17:01] jdramsey commented on #784
Could it have been fixed by somebody? Anybody?

On Wed, Jun 27, 2018 at 11:50 AM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2018-06-27 17:13] rubencmu commented on #784
?Guthub ghost.

________________________________
From: Joseph Ramsey <notifications@github.com>
Sent: Wednesday, June 27, 2018 1:01 PM
To: cmu-phil/tetrad
Cc: Subscribed
Subject: Re: [cmu-phil/tetrad] Coefficient vanishes (#784)

Could it have been fixed by somebody? Anybody?

On Wed, Jun 27, 2018 at 11:50 AM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
S

[2018-06-27 17:40] jdramsey commented on #784
:)

On Wed, Jun 27, 2018 at 1:13 PM rubencmu <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2018-06-27 17:45] #832 closed

[2018-06-27 17:46] chirayukong commented on #784
Could someone confirm that the bug is gone so we could close this issue?

[2018-06-27 17:54] kvb2univpitt commented on #784
I think this issue is similar to issue #695, which is already fixed by @yuanzhou.

[2018-06-27 18:07] kvb2univpitt commented on #822
@espinoj I don't see the problem.  Can you please elaborate on this?

[2018-06-28 14:22] espinoj opened #850 "TS algorithms will not run from loaded data"
v.6.5.3
To replicate:
- SIMULATE time series data (one or more runs)
- connect DATA to SIMULATION
- save data in DATA box
- Place a new DATA box
  - Load saved data into new DATA box
- connect SEARCH box to DATA box
  - Try to run and TS* algorithms

Error is -1 from UI and the following in console
`$$$$$ Entering returnSimilarPairs method with x,y = X9:1, X9
java.lang.ArrayIndexOutOfBoundsExcepti

[2018-06-28 19:31] cabal-cmu commented on #845
@kvb2univpitt @yuanzhou can you let me know when this memory fix is done, so I can answer back the user about his problem.

Thanks.

[2018-06-29 15:06] kvb2univpitt commented on #845
@cabal-cmu It's done.  Memory has been increased.  The user must set the amount of memory (GB) given to the algorithm by setting the the advanced options for Java JVM, as shown in the screenshot below:
![screenshot from 2018-06-29 10-54-14](https://user-images.githubusercontent.com/10729309/42099394-4ff5c324-7b8b-11e8-9ee2-369e54d0c118.png)

If 4GB is not enough, the user can increase it up to 8,1

[2018-06-29 15:44] yuanzhou commented on #845
FYI, don't go too big memory since the AWS EC2 instance running Causal-Web has a limit of 16G currently.

[2018-06-30 00:01] rubencmu commented on #845
?Thanks. I will notify the user.

Ruben

________________________________
From: Zhou (Joe) Yuan <notifications@github.com>
Sent: Friday, June 29, 2018 11:44 AM
To: cmu-phil/tetrad
Cc: Subscribed
Subject: Re: [cmu-phil/tetrad] CCD helpdesk (#845)

FYI, don't go too big memory since the AWS EC2 instance running Causal-Web has a limit of 16G currently.

-
You are receiving this because you are subscr

[2018-07-03 17:32] mglymour opened #852 "Adding Multi-FASK to interface"
Currently, Multi-FASK is not available in Tetrad; it would be a huge help if it could be incorporated in future versions!

[2018-07-03 17:37] mglymour opened #853 "Isolating graphs from search output"
When a search is run on multiple datasets at once (e.g., I have a data box with three datasets in tabs, I use that box as input to a search box, and select FGES), the output is a search box that includes multiple graphs, with a tab for each search result. However, those graphs cannot be saved directly from the search box, and when a graph box is created as a child of the search box, it automatical

[2018-07-03 18:28] jdramsey opened #854 "Wish List: http://ojalgo.org/"
This supposedly has the fastest matrix multiplication algorithm available in Java an is convertible with Apache Commons, which we're using now. Maybe TetradMatrix and use that as backing? Comments?

[2018-07-03 18:29] jdramsey commented on #854
Here is the benchmark:

https://github.com/optimatika/ojAlgo/wiki/Java-Matrix-Benchmark

[2018-07-04 14:17] HarshitaMeena opened #855 "TS Algos not working from Command Line"
Ran the following command from terminal
java -jar causal-cmd-0.3.2-jar-with-dependencies.jar --algorithm ts-imgs --data-type discrete --dataset data1.txt_1.txt,data1.txt_2.txt --delimiter tab --score BDeu

The execution stops and gives following trace -

I am getting the same alert box (Index -1 out-of-bounds for length 0) when running with the UI version.

[data1.txt_2.txt](https://github.com/cmu

[2018-07-04 14:18] HarshitaMeena commented on #855
[data1.txt_1.txt](https://github.com/cmu-phil/tetrad/files/2163525/data1.txt_1.txt)
Attaching all the files

[2018-07-09 18:08] rosechialin opened #856 "BPC algorithm doesn't take a covariance matrix as input"
In BPC algorithm, an input of a covariance matrix generates an error message "edu.cmu.tetrad.data.CovarianceMatrix cannot be cast to edu.cmu.tetrad.data.DataSet." A raw dataset doesn't. I thought Tetrad could take both raw datasets and covariance matrices. Correct?

[2018-07-09 18:11] rosechialin opened #857 "BPC algorithm: No edges in the Output Graphs"
When the BPC algorithm is applied, no edges are shown in the Output Graphs. Only the fofc and ftfc showed edges in the Output Graphs. What is the way to fix th BPC results?

[2018-07-09 19:59] chirayukong opened #858 "Remove orientation edges with zero prob. out of the bootstrapping text output"

[2018-07-09 20:09] cabal-cmu commented on #856
Can you send the covariance matrix file you are using ? To reproduce the problem.

[2018-07-09 21:20] cg09 commented on #857
Works fine for me, using 6.2 . See attached.

Clark

On Mon, Jul 9, 2018 at 2:11 PM, rosechialin <notifications@github.com>
wrote:

[2018-07-10 16:50] rosechialin commented on #856
Here is the covariance matrix file. Thank you for you help.
[Data.txt](https://github.com/cmu-phil/tetrad/files/2181336/Data.txt)

[2018-07-10 16:56] rosechialin commented on #857
Thanks for your response! I used 6.2 too, but the attached is what I've seen on my screen. Could you re-send your attached please? It looks like it didn't go through.
![tetrad bpc](https://user-images.githubusercontent.com/41021941/42525182-069c13ba-8462-11e8-9c63-b75a505dbcc9.png)

[2018-07-10 18:00] cg09 commented on #856
Dear RoseChain

I have in the attached run your file in TETRAD 6.2. I find what you find
with BPC, but I also find the same results (no latent variables) with FOFC.
For comparison, I ran a simulated data set from a single common cause of
four measured variables, and as you can see (I hope), BPC works as it
should, finding the correct model.

I also ran your data through FGES. As you can see, it re

[2018-07-14 06:22] PanikaValecha opened #859 "Command Line Tetrad doesn't display graph edges"
When I run command line tetrad, it just shows the graph nodes and not graph edges. I need to run tetrad for about 100 csv files, I was wondering if there is a way that the graph edges can be displayed by using command line itself.

[2018-07-14 17:38] cg09 opened #860 "Graph manipulations"
To manipulate a graph one needs to connect the graph box holding the graph to a new graph box. Upon opening the new graph box, a drop down window appears allowing the user to select various manipulations.  But that dropdown does not appear if the second graph box is closed and opened again.  This is clumsy. Is there a better way from the user's point of view?

Related issue. The dropdown manipulat

[2018-07-14 18:36] rubencmu commented on #859
Can you share the output you are getting,  and your input file for replication.

It should list the list of edges, unless the output did not infer any edges.

Thanks.

________________________________
From: Panika Valecha <notifications@github.com>
Sent: Saturday, July 14, 2018 2:22 AM
To: cmu-phil/tetrad
Cc: Subscribed
Subject: [cmu-phil/tetrad] Command Line Tetrad doesn't display graph edges (#8

[2018-07-14 20:03] PanikaValecha commented on #859
**Input File: data.csv**

month | Device1 | Device2 | Device3 | Device4 | Device5 | Device6 | Device7
-- | -- | -- | -- | -- | -- | -- | --
1 | 0 | 0 | 0 | 0 | 0 | 0 | 0
2 | 94 | 0 | 0 | 0 | 0 | 0 | 0
3 | 0 | 0 | 0 | 0 | 0 | 0 | 0
4 | 0 | 0 | 0 | 0 | 0 | 0 | 0
5 | 132 | 0 | 0 | 0 | 0 | 0 | 0
6 | 0 | 4 | 16 | 0 | 0 | 0 | 0
7 | 0 | 0 | 0 | 4 | 0 | 0 | 0
8 | 160 | 0 | 0 | 0 | 80 | 2 | 0
9 | 0 | 218 |

[2018-07-14 20:43] rubencmu commented on #859
Hi, the first thing I noticed is that you are using an old version of command line.

Try the one indicated here, and follow the instructions in the user guide for causal command.

https://www.ccd.pitt.edu/tools/

You will see that the call for runs have change, and now you have to specify more parameters regarding the data and the runs, for example the significance test used, etc. Now you have mor

[2018-07-14 20:44] rubencmu commented on #859
One more thing, in the new command line Tetrad, you can access all the options available by typing:

java -jar causal-cmd-0.3.2-jar-with-dependencies.jar --help-all

________________________________
From: Panika Valecha <notifications@github.com>
Sent: Saturday, July 14, 2018 4:03 PM
To: cmu-phil/tetrad
Cc: Ruben Sanchez Romero; Comment
Subject: Re: [cmu-phil/tetrad] Command Line Tetrad doesn't di

[2018-07-14 22:13] PanikaValecha commented on #859
Thank you for your help.
I ran the command and it gives me the below results:
Determinism detected: [Device6] -> Device1
Determinism detected: [Device5] -> Device1
Determinism detected: [Device5] -> Device6
Determinism detected: [Device6] -> Device1
Determinism detected: [Device5] -> Device1
Determinism detected: [Device5] -> Device6

A txt file is also created which shows the edges as follows:
Gr

[2018-07-14 22:17] PanikaValecha commented on #859
I have a few other questions too, it would be great if you could answer those:
1. What is the need of the Fisher Z Test?
2. Can you explain briefly about FCI algorithm? I read the manual but I still don't understand the algorithm completely (esp. the terminology used). The documentation is too less for the algorithm.

I would appreciate your help.

Thanks!!

[2018-07-14 22:19] PanikaValecha commented on #859
Also, I can't find the attachment that you sent.

Thanks!!

[2018-07-14 22:20] cabal-cmu commented on #859
[fci_1531600789136.txt](https://github.com/cmu-phil/tetrad/files/2195304/fci_1531600789136.txt)

[2018-07-14 22:30] rubencmu commented on #859
This paper introduces FCI

https://arxiv.org/abs/1302.4983

The determinism flag you are getting in the output, is because the algorithm identify a deterministic relationship between the variables. For example,  X = bY    or  X = Y + 3        , any relationship without random noise of the from  X = bY + n, where n is random noise.

________________________________
From: Panika Valecha <notificatio

[2018-07-14 22:35] PanikaValecha commented on #859
Thanks!! I'll read the paper.

[2018-07-14 23:00] PanikaValecha commented on #859
I have another quick question. What is the significance of the tests while running the algorithms? For example, Fisher Z Test for FCI.

[2018-07-14 23:57] cg09 commented on #859
The user sets it in the interface.

On Sat, Jul 14, 2018 at 7:00 PM, Panika Valecha <notifications@github.com>
wrote:

[2018-07-15 00:40] rubencmu commented on #859
It is defined with the parameter  --alpha

________________________________
From: Panika Valecha <notifications@github.com>
Sent: Saturday, July 14, 2018 7:00 PM
To: cmu-phil/tetrad
Cc: Ruben Sanchez Romero; Comment
Subject: Re: [cmu-phil/tetrad] Command Line Tetrad doesn't display graph edges (#859)

I have another quick question. What is the significance of the tests while running the algorithms

[2018-07-15 01:05] PanikaValecha commented on #859
I still don't get it. My question is Why do we use these tests? I am new to this tool and am trying to understand it as much as possible.

[2018-07-15 02:39] cg09 commented on #859
The algorithms work by making decisions about which variables are or are
not independent of one another, conditional on other sets of variables (the
ingenious thing about the algorithms is how they choose which sets of
variables to condition on). Those decisions are made, in one version of the
algorithms, by a series of statistical tests of null hypotheses of
conditional independence.  See Spirtes

[2018-07-15 02:40] PanikaValecha commented on #859
Thank you!! I appreciate your guidance. :)

[2018-07-15 15:43] cg09 commented on #859
Dear Mr. Valicha,

We are here to help with operating the program or fixing bugs, but not for
teaching algorithms that are explicit in the open literature.  I previously
directed you to Spirtes, et al., Causation, Prediction and Search. The
algorithm you ask about is described there and its proof of correctness
given.  If you study it and find it not comprehensible, I don't think we
can help you f

[2018-07-16 22:37] PanikaValecha commented on #859
I asked about the tests later and not the algorithm. I was just confused about the tests. I understand this is not for help with the algorithm, but just normal issues. I am sorry for having asked the other questions. I express my gratitude towards all for their help!!

[2018-07-16 22:45] rubencmu commented on #859
Dear Panika,

As metioned before this Github is not the proper channel for theoretical inquiries about the search methods.

I invite you to contact the CCD helpdesk at ccd.user.helpdesk@gmail.com ,  where you can forward all your general questions about these methods, and we will gladly answer all your doubts.

________________________________
From: Panika Valecha <notifications@github.com>
Sent:

[2018-07-16 22:46] PanikaValecha commented on #859
Thanks a lot. I appreciate it!!

[2018-07-17 02:01] cg09 commented on #859
Ruben,

Thanks. What will we do without you?

On Mon, Jul 16, 2018 at 6:45 PM, rubencmu <notifications@github.com> wrote:

[2018-07-17 17:37] dmalinsk commented on #855
The TS algorithms require the appropriate Knowledge files to run -- that
error is coming from the fact that it cannot find the knowledge file. I
haven't used the command line functionality in a while... Joe, maybe you
can advise on how to incorporate the knowledge file on the command line?

To see the knowledge file format, you can run things in the GUI and save
the knowledge file from the knowled

[2018-07-17 17:47] rubencmu commented on #855
In command line the knowledge file is input using the flag

--knowledge <file>

The format of the file is the next. Write it in a txt file and save it with the extension  .prior

/knowledge

addtemporal
1 X1 X2 X3
2 X4 X5
3 X6 X7
4* X8

forbiddirect
x3 x4

requiredirect
x1 x2

For example      --knowledge myknowledge.prior

The first line of the prior knowledge file must say /knowledge. And a prio

[2018-07-19 16:52] yuanzhou opened #861 "Solution for concatenating multiple datasets with discrete variables"
This is an issue that @kvb2univpitt discovered when he was trying to merge multiple discrete datasets (same issue with mixed datasets).

![img_4504](https://user-images.githubusercontent.com/195873/42957592-2a03f200-8b51-11e8-9a80-56c6d729f0b6.jpg)

From this drawing, we can see that each dataset gets encoded when it's being read into tetrad, and by the time we merge these two encoded datasets, we

[2018-07-20 02:18] cabal-cmu opened #862 "R implementation error"
Hi, from the ccd helpdesk, a user encounter this problem:

I'm having a problem with the R implementation of your tool
when I try to run the example for continuous dataset it gives me this error

Error in .jnew("edu/cmu/tetrad/search/Fges", score) : java.lang.NoClassDefFoundError: Could not initialize class edu.cmu.tetrad.util.TetradLogger

I'm running Ubuntu 16.04.

Any idea about the reason of t

[2018-07-20 11:13] cabal-cmu opened #863 "Web app error message"
HI, from the CCD helpdesk,  a user got this error while running the web app

Jul 19, 2018 1:54:01 PM java.util.prefs.FileSystemPreferences$6 run

WARNING: Prefs file removed in background /home/ec2-user/.java/.userPrefs/prefs.xml

Exception in thread "main" java.lang.NullPointerException: Cutoffs must be in nondecreasing order.

at edu.cmu.tetrad.data.Discretizer.discretize(Discretizer.java:333)

[2018-07-20 15:42] chirayukong commented on #862
I think it is because of the Java path configuration. Try `R CMD javareconf`. Btw, they use the older version of r-causal library. We don't directly call Fges but through the TetradRunner class.

[2018-07-20 16:54] espinoj opened #864 "research use of jython"

[2018-07-20 16:54] espinoj opened #865 "gracefully handle out of memory (java heap)"

[2018-07-20 16:55] espinoj opened #866 "make comparison tool and visualizer more friendly/documented"

[2018-07-20 16:56] espinoj opened #867 "implement non-linear tests"
Including Non parametric independence tests
CCI, RCIT, Kuhn’s KCI test, Jonas Peter’s GCM
Review those that are available
Find out the best

[2018-07-20 16:56] espinoj opened #868 "Madelyn's (Kuhn's) unmixing algorithm"

[2018-07-20 16:57] espinoj opened #869 "Kuhn's Two Step algorithm"

[2018-07-20 16:57] espinoj opened #870 "Guidance for search parametrs"
e.g.:

alpha values, penalties, etc.
	Rules of thumb that we have?
	Luis has a method of choosing the alpha value based on sample size
	First pass is to improve documentation about recommended values
	Different prior’s on graph structures i.e., hubs and power law

[2018-07-20 16:58] espinoj opened #871 "Separate PC into individual variants"

[2018-07-20 17:00] #535 closed

[2018-07-20 17:43] espinoj commented on #864
Jython doesn't have numpy right now so we are removing jython from consideration

[2018-07-20 17:43] #864 closed

[2018-07-20 17:49] jdramsey commented on #870
Regarding this, I will implement Luis's rule (easy) and see how it works, in, say, PC with Fisher Z.
-Joe

[2018-07-20 17:55] #859 closed

[2018-07-20 17:56] espinoj commented on #871
#839

[2018-07-20 17:56] #871 closed

[2018-07-20 17:57] espinoj commented on #845
closing as this is definitely an out of memory condition that we have addressed

[2018-07-20 17:57] #845 closed

[2018-07-20 18:00] espinoj commented on #850
Thanks!  We should add a better error message to the user then.

[2018-07-20 18:00] #850 closed

[2018-07-20 18:02] espinoj opened #872 "TS Algorithm search requirements"
Because of #850 we need a better error to the user that says this algorithm requires a simulation or (data and knowledge)

[2018-07-23 14:56] espinoj commented on #857
closing as #856 replicates no edges with the data

[2018-07-23 14:56] #857 closed

[2018-07-23 14:57] espinoj commented on #852
Is multifask in a particular branch or just needs to be exposed.  What is the class name?

[2018-07-23 15:07] #784 closed

[2018-07-23 15:08] #781 closed

[2018-07-23 15:10] mglymour commented on #852
I believe I emailed the code to you and Joe directly. (The class name was MultiFask.) If you need the code in a branch/need me to resend, let me know!

[2018-07-23 15:12] espinoj commented on #856
Covariance input is working

[2018-07-23 15:12] #856 closed

[2018-07-23 15:13] espinoj commented on #831
duplicate #822

[2018-07-23 15:13] espinoj commented on #822
try editing the workflow when there is a bootstrap option selected - it fails to remember

[2018-07-23 15:18] espinoj opened #873 "Bootstrap output doesn't include nl and dd stats"
@yuanzhou can look at this as part of table view

[2018-07-23 16:53] cabal-cmu commented on #862
I pass the message send by @chirayukong but the user still had the problem. Here his original message:

Hello, unfortunately it didn't work. I also tried to install that older version you mentioned but I also can't work with it. Had to try on a Windows machine and it worked (for the version that uses Fges)

[2018-07-23 19:02] chirayukong commented on #862
@cabal-cmu could you relay a message to the user to try on the docker pre-install R-causal and rstudio container at [https://hub.docker.com/r/chirayukong/r-causal-rstudio/](https://hub.docker.com/r/chirayukong/r-causal-rstudio/)?

[2018-07-24 15:56] #595 closed

[2018-07-24 15:58] #457 closed

[2018-07-24 20:19] chirayukong commented on #873
If there are nl, dd, pl, or pd properties attached to the edge, it should print out them. Can't simulate it.

[2018-07-25 15:41] dmalinsk commented on #872
Yes but I think Jeremy is correct that the error message should be more
informative. His problem arose from the fact that he wasn't using
"createLagData" at any step (that would create knowledge internally), he
was loading in data direct from a time series simulation which does not
automatically create the correct knowledge file.
(On the other hand, that also suggests the time series simulation to

[2018-07-25 20:30] chirayukong commented on #872
If the loaded dataset is, in fact, time series data, the "convert to lagged data" function doesn't work. It needs to detect that there are colons in the variable names.

[2018-07-25 20:32] chirayukong commented on #872
Try to convert this dataset to lagged one. Won't work. [11.txt](https://github.com/cmu-phil/tetrad/files/2229449/11.txt)

[2018-07-25 21:19] jdramsey commented on #872
You need to upload the time series without the lagged variables and then
convert it.

Joe

On Wed, Jul 25, 2018 at 4:32 PM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http

[2018-07-25 22:00] jdramsey commented on #872
Yes. You'll lose one case, that's all. Better yet, ask the user to upload
the data file they had before they lagged the variables.

On Wed, Jul 25, 2018, 5:27 PM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

[2018-07-27 19:46] jdramsey opened #876 "TS-FCI example using time lag converter (responding to request)"
Attaching an example where I load in a time series, convert it to lag 1 data using the time lag converter, and search it using TS-FCI.

[tsfci.example.tet.zip](https://github.com/cmu-phil/tetrad/files/2237035/tsfci.example.tet.zip)

The independence test being used here isn't the greatest since all of the variables stand in nonlinear relationships, but just trying to show how it works.

[2018-07-30 18:49] yuanzhou commented on #873
I've added the edge properties (dd, pd, nl, pl) into the bootstrap table in my branch.

[2018-07-31 21:26] kvb2univpitt commented on #861
@yuanzhou Just to be clear, the problem that I discussed with your was for interventional datasets only.  I am not sure what is the intent of the "Concatenate Datasets" function is in Tetrad.  If the "Concatenate Datasets" function is to combine multiple datasets into one big dataset, the code for combine the regular datasets will be different than that of the code for combining datasets for inter

[2018-08-01 14:52] yuanzhou commented on #861
I'm pulling @jdramsey into this discussion. Is the "Concatenate Datasets" function supposed to combine multiple datasets into one big dataset?

@kvb2univpitt I agree with you that combining the interventional variables together with other datasets is different from the "Concatenate Datasets" function if it means to only combine multiple datasets into one big dataset. Is there a chance that we can

[2018-08-01 16:02] jdramsey commented on #861
@yuanzhou @kvb2univpitt Yeah that's what it's supposed to do, combine multiple datasets into one big dataset. If it's messing up, it should be fixed. Kevin, I seem to remember talking to you about this once.

[2018-08-02 21:26] jdramsey commented on #869
Good news! I managed to figure out the Matlab to Java converter in Matlab and now have a jar for the two-step code that works. I've written an interface or it in Tetrad, which works. Probably this is going to have to go through a number of additional iterations, but here are the main issues as things stand now, so far as getting this into development.

1. I need to add three new jars to the projec

[2018-08-02 21:43] harryhoch commented on #869
nice! regarding #3, can you wrap it in a thread and kill the thread if needed? that's probably the best that you can hope for...

[2018-08-03 14:17] yuanzhou commented on #869
@jdramsey I think the first issue can be addressed easily. We have a Nexus repository(https://cloud.ccd.pitt.edu/nexus) running on AWS and it supports 3rd-party jars. We can deploy those 3 jars to the private remote repository, then in tetrad pom file just specify the remote URLs for to use those 3rd-party dependencies during the build.

I installed the nexus server on AWS but @espinoj has the adm

[2018-08-03 14:58] espinoj commented on #869
Let me know the project/branch and then I'll add the necessary creds so that it goes into our repository for snapshots and releases

[2018-08-03 16:30] jdramsey commented on #869
@Espino, Jeremy Umali <juest4@pitt.edu> @Yuan, Zhou <zhy19@pitt.edu> What
I've done on my end is simply to add the jars to the path in IntelliJ.
Obviously, that's wrong and I can't commit it that way. What should I do
instead? Should I give you guys the jars, or put them in a directory in the
project and commit it there?

On Fri, Aug 3, 2018 at 11:01 AM Jeremy Espino <notifications@github.com>
wro

[2018-08-03 17:08] jdramsey commented on #869
@espinoj @yuanzhou BTW, sorry I'm being dumb here. I don't know how to do what you say. I can send the three jars to you, or put them I the project and tell you the branch and location.

[2018-08-03 17:13] jdramsey commented on #869
These are the three jars.

[threejars.zip](https://github.com/cmu-phil/tetrad/files/2258163/threejars.zip)

[2018-08-03 17:26] jdramsey commented on #869
@yuanzhou @espinoj

Sorry, I think I'm confusing myself. I have made a new branch with all of the changes in it called try.cci.score2. The jars that need to be made available are (as I said)

[threejars.zip](https://github.com/cmu-phil/tetrad/files/2258184/threejars.zip)

I think what you're saying is that you can make this happen. Have I given you enough information? Currently, I just have the th

[2018-08-03 17:52] jdramsey commented on #869
Send me the jars (email,box  or whatever) and I'll upload them to our maven repository.

- Jeremy

[2018-08-03 19:16] marchezinixd commented on #722
I'm having similar issues running ts-gfci on a simulated dataset. I'll explain better:
I'm using Center of causal discovery python wrapper to  run it:
[](https://github.com/bd2kccd/py-causal)
The data i'm using was generated using Tetrad java in the Simulation section:
 - Type of simulation model: Time Series
- Number of lags: 10
- Number of Variables: 10
- everything else was default.
Then i expo

[2018-08-03 19:58] marchezinixd commented on #872
Could you upload a Ts example with data and prior knowledge so i can run it in python and use it as a base?
I can run it in the Tetrad Java UI, but when i export the simulation and try to run in python I get errors. For what i understood  it's because the prior knowledge created internally and used in the UI is not exported. Would be helpful to see the information i have to input, because i want t

[2018-08-03 20:37] jdramsey commented on #872
I think you're having a problem like I just had trying to figure out how Matlab compiles Java jar. Very simple answer, but it took me a week and several consultations to figure out from their help files.

I think this will help. Load in a data and make the configuration shown here in the Tetrad interface:

<img width="281" alt="screen shot 2018-08-03 at 4 28 45 pm" src="https://user-images.githubu

[2018-08-03 20:40] marchezinixd commented on #872
Thank you very much. I'll check this and give feedback.

[2018-08-03 21:04] cg09 commented on #872
Just out of curiosity, what is the topic of the data problem you have?

Clark Glymour

On Fri, Aug 3, 2018 at 4:40 PM, Guilherme Fernandes Marchezini <
notifications@github.com> wrote:

[2018-08-04 17:24] jdramsey commented on #869
@harryhoch The wrap seems to have worked, thanks. Should have thought of that.

@espinoj I sent you the jars plus instructions on how to rebuild them if necessary. Hope you go them.

[2018-08-06 15:32] kvb2univpitt commented on #861
@jdramsey Yes, we did discussed about merging discrete multiple datasets into one.  However, it was for combining datasets with interventional variables.   I didn't know about the "Concatenate Datasets" function at that time.  It seems like I need to generalize my function for combining discrete dataset.  Still thinking.

[2018-08-06 16:09] jdramsey commented on #861
@kvb2univpitt OK.

[2018-08-06 17:02] espinoj commented on #869
I've added the jars to the repository.  After sleeping on this - we can't distribute matlab's javabuilder jar in a Tetrad download because we use GPL.  It's fine for however for people to do a build themselves.

Long term if we continue this
- we should create a separate maven module so that these jars get put into our repository
- exclude matlab javabuilder from the tetrad distribution
- figure o

[2018-08-06 17:52] jdramsey commented on #869
Thanks, Jeremy. That raises the question, if we exclude that jar, will we be able to compile the code that references it? I'll try. We may have to comment some lines in the code out.

[2018-08-06 18:51] marchezinixd commented on #872
Hello again. I did what @jdramsey said, and i could get the prior file I know now how to do it and can use it. The problem now is in the python version. I can run GFCI using prior file, but i can't run ts-gfci.
Both data and prior files i'm using are attached. (You have to delete the '.txt' from the prior file, it was add just so i could upload in git)
When I try to run:
`tetrad.run(algoId = 'ts-g

[2018-08-06 19:11] jdramsey commented on #872
@marchezinixd This is what I see:

/    	if (!(dataSet instanceof TimeSeriesData)) {
//            throw new IllegalArgumentException("You need a (labeled) time series data set to run TsGFCI.");
//        }'

The commenting is not mine--someone else did that. I don't know which version has that line commented out, but if you can find it, maybe it will work. @espinoj ?

[2018-08-06 21:36] marchezinixd commented on #872
Well i did found it. It's done in this commit:
[https://github.com/cmu-phil/tetrad/pull/743/commits/daba029a20499cdb5ba846bbaae4ee480076957f](url)

But what I did? I took the latest version of tetrada and replaced in the python lib the .jar file.
It did made some changes, but it did not solved the problem. Now i get:

Well same issue, but apparently now we don't have the Exception description.

[2018-08-07 15:59] marchezinixd commented on #872
The commit
https://github.com/cmu-phil/tetrad/commit/a65d1694c58875d444ac0da61d3ed7deb3c352d7
also refer to this. It was done by @espinoj.
Maybe it solved the issue, but this is not yet in the latest release 6.5.3. So I'm not able to test it.

[2018-08-07 16:04] espinoj commented on #872
Unfortunately due to our misunderstanding of the interface requirements for the ts* algorithms work there is only only way to get these to work - through Tetrad.  The workflow is to load data (data box), apply data manipulation called Convert Time Lag Data (data box), apply search (search box).

Please see #876 for an example.

[2018-08-07 16:06] espinoj commented on #855
Unfortunately due to our misunderstanding of the interface requirements for the ts* algorithms work there is only only way to get these to work - through Tetrad. The workflow is to load data (data box), apply data manipulation called Convert Time Lag Data (data box), apply search (search box).

Please see #876 for an example.

[2018-08-07 16:18] marchezinixd commented on #872
@espinoj this way it worked for me for simulations.
For what i understood it have to have a 'Convert Time Lag Data' box, and this way it's not possible to run real dataset, just simulations.
Just out of curiosity, the problem is that the only way the Ts* algorithms are running correctly is using the 'time lag'  box?

@jdramsey a concept question, there is difference running GFCI with temporal prio

[2018-08-07 17:07] espinoj commented on #872
@marchezinixd In the example from #876 joe has loaded data directly.  Yes you need to attach a  time lag box to real data or run a simulation using time series model ie., no time lag box needed.

[2018-08-07 17:12] HarshitaMeena commented on #855
Thanks a lot Jeremy. I applied the Convert time lag to my data and it worked. Seems like it takes the knowledge box implicitly when i do that.

[2018-08-07 17:21] davidnboone opened #880 "with mixed data set Tetrad 6.5.3-0 forces 1/0 binary to continuous variable"
[AllgenesTumorTetrad.txt](https://github.com/cmu-phil/tetrad/files/2267380/AllgenesTumorTetrad.txt)
When importing mixed data (all continuous gene expression data except one clinical data column) the importer converts 1/0 binary variable to continuous even when I specify it is a mixed dataset with one discrete variable.

[2018-08-10 12:59] hank7v opened #881 "Data naming or sorting affecting SEARCH results"
I created 3 test.txt files containing the same 6 variables dataset but with differently named or sorted columns. Search (PC All) algorithms using same settings, those 3 datasets + same prior knowledge, gave different results, not dramatically different, but different. May it be the result of stop criteria in searching procedure "cycles" on data and/or knowledge indices?

thanks a lot for any sugge

[2018-08-13 15:43] cabal-cmu commented on #881
Hi Fabrizio,

Can you send me the tet file for these experiments. Go to File and click on save session. That should generate the tet file. Also, can you let me know which version of Tetrad are you using.

Thanks.

[2018-08-14 13:30] cabal-cmu commented on #881
You can send it to ccd.user.helpdesk@gmail.com

[2018-08-14 13:51] cg09 commented on #881
Sounds like an order dependence.

On Tue, Aug 14, 2018 at 9:30 AM, cabal-cmu <notifications@github.com> wrote:

[2018-08-14 14:00] rubencmu commented on #881
If it is in fact an order dependence, you should try PC-stable, which correct for that problem.

________________________________
From: cg09 <notifications@github.com>
Sent: Tuesday, August 14, 2018 9:51:46 AM
To: cmu-phil/tetrad
Cc: Subscribed
Subject: Re: [cmu-phil/tetrad] Data naming or sorting affecting SEARCH results (#881)

Sounds like an order dependence.

On Tue, Aug 14, 2018 at 9:30 AM, c

[2018-08-14 15:04] kvb2univpitt opened #885 "Properly Combining Multiple Dataset"
Need to properly combining multiple discrete datasets or multiple mixed datasets for the "Concatenate Dataset" function.  See issue #861.

[2018-08-14 16:35] kvb2univpitt commented on #885
Done.

[2018-08-15 08:25] hank7v commented on #881
Thanks all,

As suggested, I tried the PC-stable, and it worked for the renamed data (I had to re-inserted the knowledge), but not for the resorted and renamed ones. I eliminated the knowledge, and the results didn't change.

Fabrizio

PS
I also sent the .tet file to the Help Desk.

[2018-08-15 15:28] espinoj opened #887 "Tetrad plugin that allows for experimental external Matlab/R/Python algorithms"

[2018-08-15 17:39] #876 closed

[2018-08-15 18:17] kvb2univpitt opened #888 "The Methods For Determining the Type of Data Need Revisited."
The method isMixed() of the BoxDataSet determines if the dataset is mixed by counting the number of continuous variables and discrete variables the dataset has.  If the number of discrete variables and continuous variables are both non-zero, it is considered as mixed.  This is not quite right, because the max-discrete-category value can be set small such that there will be no variable considered d

[2018-08-15 18:18] kvb2univpitt commented on #888
@jdramsey Joe, what are your thoughts?

[2018-08-15 20:15] yuanzhou commented on #888
Just want to mention that in algo chooser we are also using  `isContinuous()`, `isDiscrete()`, or `isMixed()`  to decide the applicable algorithms based on the data type of datasets.

[2018-08-16 12:39] espinoj commented on #867
Joe is looking at non-java implementations first prior to java implementation

[2018-08-16 14:53] #767 closed

[2018-08-16 15:04] espinoj opened #889 "handle cycles in graph file parsing and rendering"
With FASK and two-cycle on the horizon make sure we can handle all needs for parsing and rendering cycles in our software i.e., tetrad-lib, python, R

[2018-08-16 15:16] espinoj opened #890 "Show CSTAR tables in Tetrad"

[2018-08-16 17:22] espinoj opened #891 "need option to save subgraphs from subgraph graph box"

[2018-08-17 17:14] espinoj opened #892 "Refactor out cern.colt.*"

[2018-08-17 17:48] espinoj opened #893 "Subgraph gadget doesn't remember subgraph on reopening"

[2018-08-17 18:12] #858 closed

[2018-08-17 18:13] espinoj commented on #891
We can do this by connecting graph box to graph box (subgraph)

[2018-08-17 18:13] espinoj commented on #889
kong confirmed that output is handled

[2018-08-17 18:13] #889 closed

[2018-08-17 18:15] #881 closed

[2018-08-17 19:37] yuanzhou commented on #891
But when we connect a graph box to the existing graph box (generated by a search or loaded from file), we can still choose "Display Subgraphs" and there we still need the save option. I've added the save options menu to the graph selection editor. Now the new issue is that graph selection editor doesn't save the changes, it pops up the original graph each time of reopen. And once we unselect all n

[2018-08-17 19:41] yuanzhou commented on #891
I'd also like to propose that we remove the subgraph editor from the search resulting graph panel. The search should only display the resulting graph. And if users want to do more graph manipulations, they should connect a new graph box to the search, then connect another graph to the existing graph box. On the other hand, if we keep the subgraph in search resulting graph, and fix the bug to remem

[2018-08-17 19:51] jdramsey commented on #891
That sounds good to me. The only reason I did it that way (which is
still an issue) is that if you have a graph with more than 500 nodes, the
regular graph editor becomes very sluggish. So that effectively put a bound
on it. But maybe there's another way to handle that problem.

@Yuan, Zhou <zhy19@pitt.edu>

On Fri, Aug 17, 2018 at 3:41 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Jose

[2018-08-17 20:58] cg09 commented on #891
Sounds ok.

Clark

On Fri, Aug 17, 2018 at 3:41 PM, Zhou (Joe) Yuan <notifications@github.com>
wrote:

[2018-08-17 21:08] cg09 commented on #839
Yep.

On Fri, Aug 17, 2018 at 2:21 PM, Jeremy Espino <notifications@github.com>
wrote:

[2018-08-20 15:17] espinoj commented on #869
After reading the documentation at https://www.mathworks.com/help/compiler_sdk/gs/create-a-java-application-with-matlab-code.html,  it looks like:
1) the user doesn't need a matlab license or matlab
2) compilation requires matlab or matlab runtime installation not just javabuilder.jar
3) the matlab runtime (no license) needs to be installed natively i.e., extra installation step so that platform (

[2018-08-21 18:28] espinoj opened #894 "Update MGMLearn in Tetrad to latest version"
Supposedly there is a later version that Takis has created

[2018-08-21 18:32] cg09 commented on #894
I don't think so..talked with Takis about it last week and he said the
posted version is the latest.

Clark

On Tue, Aug 21, 2018 at 2:28 PM, Jeremy Espino <notifications@github.com>
wrote:

[2018-08-21 18:36] cg09 commented on #596
Probably in matlab on his computer.

On Tue, Aug 21, 2018 at 2:25 PM, Jeremy Espino <notifications@github.com>
wrote:

[2018-08-22 00:52] cg09 commented on #596
Hi Jeremy (CC: Clark),

Exactly as Clark said, I have MATLAB source code on my computer. Do you need it? If so, please let me know exactly what function you need so that I can update the interface for you.

Best,

Kun

________________________________
From: Clark Glymour <cg09@andrew.cmu.edu>
Sent: Tuesday, August 21, 2018 2:35 PM
To: cmu-phil/tetrad; Kun Zhang
Subject: Re: [cmu-phil/tetrad] Clark

[2018-08-23 17:24] tzimiskes opened #896 "Maybe Bug: SemBicScore.java seems to be missing k in localScore"
https://github.com/cmu-phil/tetrad/blob/46a27ae52e18d052f248becce45b2f669eba120b/tetrad-lib/src/main/java/edu/cmu/tetrad/search/SemBicScore.java#L110

I don't know if  `SemBicScore.java` is being used anymore, but it disagrees with how it defined in the FGES paper and in  `SemBicScoreDeterministic.java.`

https://github.com/cmu-phil/tetrad/blob/46a27ae52e18d052f248becce45b2f669eba120b/tetrad-lib/s

[2018-08-24 17:26] jdramsey commented on #870
Oops, forgot about this. I'll put it back on my list.

[2018-08-24 17:31] jdramsey commented on #867
I did a presentation on this for the algorithms group (attached). The conclusion we came to was that CCI and KCI should be put in the interface, and we should try to figure out why RCIT and RCoT were giving low recall. I submitted a pull request for CCI, latest version. It includes the fast FDR adjustment.

For KCI, we have Kun's version (Matlab) and mine and Vineet's (Java). The code for both of

[2018-08-24 17:35] jdramsey commented on #855
Just a note: This just came up for me again in a different context, this time for somebody analyzing climate data. They had prepared a time-lagged dataset with knowledge and wanted to apply TsImages, but it wouldn't work. Not sure why. I'll look at it.

[2018-08-24 17:37] jdramsey commented on #853
I think it should be possible to put the Graph menu directly into the search box, but maybe you guys already thought of this since you're swapping out the regular graph display for the subgraphs display.

[2018-08-24 17:39] jdramsey commented on #842
@adambouras Did you get my previous note? Can you give me more information on this?

[2018-08-24 17:44] jdramsey commented on #726
@cg09 @yuanzhou Can you tell me the state of this? Sorry, it somehow escaped my attention.

The total number of adjacencies in the graph cannot exceed n ( n + 1 ) / 2, where n is the number of nodes. That's one rule.

[2018-08-24 17:46] jdramsey commented on #741
This suggests a more general facility in Compare where you give it a model and a dataset and it gives you back the stats. We discussed this for conditional Gaussian.

[2018-08-24 17:48] jdramsey commented on #720
Maybe a more descriptive error message for this? Just saying, e.g., "You can't do logistic regression with a continuous or discrete dataset; you need at least one discrete (binary) and one continuous column."

@chirayukong

[2018-08-24 17:49] jdramsey commented on #715
True. It should ding the adjacency precision number. If I remember, I will adjust that.

@cg09

[2018-08-24 17:50] #706 closed

[2018-08-24 17:51] jdramsey commented on #777
@espinoj This should be easy; the bootstrapper already has an option for this; I think you just need another checkbox in the interface.

[2018-08-24 17:55] jdramsey commented on #769
@kvb2univpitt @cg09 How about this option? Just look to see how big the dataset is. Number of variables times the number of rows. It there are more than, say, 5000 cells in the data, put up a dialog asking the user if they want to make a copy of the data. Otherwise, just go ahead and make the copy.

[2018-08-24 17:58] cg09 commented on #867
Something I don't understand. On page 15, you find KCI misses one adjacency
out of fifty and misses two orientations out of 24, but has a structural
hamming distance of 24.  How is that possible?

On Fri, Aug 24, 2018 at 1:31 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-08-30 18:52] #873 closed

[2018-08-30 19:01] chirayukong commented on #872
It was fixed in this [branch](https://github.com/cmu-phil/tetrad/tree/fix-ts-algorithms-issue) or the #901 pull request.

[2018-08-30 19:02] chirayukong commented on #855
It was fixed in this [branch](https://github.com/cmu-phil/tetrad/tree/fix-ts-algorithms-issue) or the #901 pull request.

[2018-08-30 19:07] chirayukong commented on #872
The attachment is the session how we handle the ts algorithms with Tetrad from this [branch](https://github.com/cmu-phil/tetrad/tree/fix-ts-algorithms-issue).

[ts-algorithms-issue.tet.zip](https://github.com/cmu-phil/tetrad/files/2337544/ts-algorithms-issue.tet.zip)

[2018-08-31 08:25] cottrell opened #902 "Loading csv data gives last row as empty"
There is no extra line at the end of the file. Tried both dos and unix version of file and I consistently get a blank last line in Tetrad after loading the data.

[2018-08-31 14:38] yuanzhou commented on #893
Addressed and merged via pull request #899

[2018-08-31 14:38] #893 closed

[2018-08-31 14:39] yuanzhou commented on #891
Addressed via pull request #899

[2018-08-31 14:39] #891 closed

[2018-09-04 18:04] yuanzhou commented on #860
I tested and if I don't click "OK" button to confirm the selected graph manipulation, reopening the second graph box will still show the dropdown options. If I select one manipulation and hit "OK", the second graph box will be assigned to a model, then the reopen won't show the dropdown menu, which is desired behavior.

[2018-09-04 18:06] yuanzhou commented on #861
The fixes that @kvb2univpitt made have been merged into branch `obs_exp_data_zhou`, I'm closing this issue.

[2018-09-04 18:06] #861 closed

[2018-09-04 18:07] yuanzhou commented on #885
The fixes that @kvb2univpitt made have been merged into branch obs_exp_data_zhou, I'm closing this issue.

[2018-09-04 18:07] #885 closed

[2018-09-04 20:22] marchezinixd opened #905 "Is it possible to get edge scores?"
Hello,
I'm using pycausal in a real dataset and using FGES. I was able to generate the graph and extract the nodes and edges. If i use the bootstrap i can get the bootstrap score, but i have a huge amount of data, and using bootstrap is making it slow.
I know that when building the graph is necessary to run the scores of the edges (in my case ''sem-bic'").
Is it possible to retrieve this informati

[2018-09-05 18:34] #894 closed

[2018-09-05 18:52] espinoj commented on #887
I think pf4j should be ok for this.

There are three classes for which we will get additional implementations via plugins:
edu.cmu.tetrad.algcomparison.algorithm.Algorithm
edu.cmu.tetrad.algcomparison.score.ScoreWrapper
edu.cmu.tetrad.algcomparison.independence.IndependenceWrapper

We'll also need to add any additional parameters provided in an above implementation not already in edu.cmu.tetrad.ut

[2018-09-05 18:57] #817 closed

[2018-09-05 18:59] espinoj commented on #777
Parameters should be:
* size of sample
* number of samples
* sample with/without replacement

[2018-09-05 19:01] espinoj commented on #837
#777

[2018-09-05 19:01] #837 closed

[2018-09-05 19:01] espinoj commented on #759
#777

[2018-09-05 19:01] #759 closed

[2018-09-06 11:59] jdramsey opened #907 "Allow users to select the statistics they want in the GUI."
This is a new feature I've been wanting for a very long time in the interface. When displaying comparison results in tables, certain statistics are given, such as adjacency false positives, adjacency false negatives, etc., or adjacency precision and recall--I go back and forth in my branch by editing the underlying file. Currently, it needs to be hard-coded. But this is completely arbitrary. We ha

[2018-09-06 12:08] jdramsey commented on #907
@espinoj I'm willing to do the work on this since I'm the one who wants it, though there's a GUI component, so advice on HCI would be useful. If you want to do it.

[2018-09-06 14:22] yuanzhou commented on #890
@jdramsey I don't see CSTAR in the algo chooser, how can I enable it and is the result table similar to what I did for bootstrap?

![44671021-4afbdd00-a9f2-11e8-8670-b541575b8736](https://user-images.githubusercontent.com/195873/45163612-c01f9d00-b1be-11e8-9417-29dade236ca9.png)

[2018-09-06 14:37] jdramsey opened #908 "Put KCI into the development branch"
This is Kun's nonparametric test. I finally figured out what the difference was between the Java and Matlab versions of KCI and closed the gap. The Matlab version cannot be parallelized, so since it's slow, there's strong motivation to use the Java version. I have the Java version ready to go now and will create a branch to move it to as soon as the CCI branch is merged. It parallelizes fine, with

[2018-09-06 14:39] jdramsey opened #909 "Put KCI into development."
This is Kun's nonparametric test. I finally figured out what the difference was between the Java and Matlab versions of KCI and closed the gap. The Matlab version cannot be parallelized, so since it's slow, there's strong motivation to use the Java version. I have the Java version ready to go now and will create a branch to move it to as soon as the CCI branch is merged. It parallelizes fine, with

[2018-09-06 14:51] espinoj commented on #909
👍

[2018-09-06 15:13] jdramsey commented on #890
@yuanzhou

It's called CStaS in the code (a slightly more general algorithm). I think you just have to comment out the annotation and it will appear. Here's the wrapper with the annotation commented out:

package edu.cmu.tetrad.algcomparison.algorithm.oracle.pattern;

import edu.cmu.tetrad.algcomparison.algorithm.Algorithm;
import edu.cmu.tetrad.algcomparison.independence.IndependenceWrapper;
impo

[2018-09-07 16:28] espinoj commented on #907
@jdramsey sounds good - especially if you find that you are going back and forth to hardcoding the output for a given purpose

[2018-09-07 17:12] bill-raynor opened #913 "When is knowledge applied (PC algorithm)?"
If this is the wrong place to ask, my apologies.

I don't read java well, but in looking at the PCstable.java code, it appears that the knowledge is applied to the initial graph (the one with links between all codes). Is this correct?   This would be in contrast to, say, applying it after the skeleton has been developed or after the v-structures and Meek rules have been applied. The latter is the

[2018-09-07 17:27] yuanzhou commented on #890
Thanks @jdramsey, can you also point me to the link to that paper you mentioned to take a look at the CStaS table and CSTAR table?

[2018-09-07 17:51] espinoj opened #914 "Change "PCAll" label to "Variants of PC""

[2018-09-07 17:52] espinoj opened #915 "Specifications for Tetrad.logger vs. System.out vs. System.err vs. verbose"

[2018-09-07 17:52] espinoj opened #916 "Additional parameter type to handle integer and boolean"

[2018-09-07 17:54] espinoj commented on #909
#910

[2018-09-07 17:54] #909 closed

[2018-09-07 17:54] espinoj commented on #908
#910

[2018-09-07 17:54] #908 closed

[2018-09-07 19:08] jdramsey commented on #913
First of all, if edges are required by knowledge, they need to be put in straight away, before anything else, and never taken out.  This needs to be done before the adjacency phase has begun. Also, when trying to remove an edge X--Y by condition on some set S, say X _||_ Y | S, S cannot contain variables that are not at least potential parents of X or Y (depending on whether S is taken to be a sub

[2018-09-07 19:55] cg09 commented on #913
Ouch! I guess we should have noted that about pcalg in your review.

Clark

On Fri, Sep 7, 2018 at 3:08 PM, Joseph Ramsey <notifications@github.com>
wrote:

[2018-09-07 23:18] cg09 commented on #913
So, why not use the TETRAD version of PC?

cg

On Fri, Sep 7, 2018 at 6:19 PM, Bill Raynor <notifications@github.com>
wrote:

[2018-09-08 03:41] bill-raynor commented on #913
Good question. I'm asking myself that right now!

Driven by two things:
1. The paired comparisons are ordinal trinomial, where each person is a block (choose option A, not much difference, choose option B). The options are bundles, not univariate.

It is straightforward to demonstrate that the Pearson r or Kendall tau varies across strata, where each person is a block within the strata, so the usu

[2018-09-08 04:01] cg09 commented on #913
We are about to implement some non-Gaussian conditional independence tests,
which might be of use in a problem like yours, so far as I understand it. I
guess we should implement a logistic regression estimator...which we have
only done impeded in a search over data with mixed variable types.

Cg

On Fri, Sep 7, 2018 at 11:41 PM, Bill Raynor <notifications@github.com>
wrote:

[2018-09-16 21:26] #913 closed

[2018-09-17 17:50] chirayukong commented on #777
#917

[2018-09-17 17:50] #777 closed

[2018-09-25 14:36] espinoj opened #919 "Graph panel does not resize in subgraph window"
![image](https://user-images.githubusercontent.com/313721/46021498-d1b5df80-c0ae-11e8-9b0f-ee90e254a9d5.png)

[2018-09-29 22:09] jdramsey opened #920 "Problem loading json files with the latest Cytoscape plugin and the latest Tetrad"
Reporting a problem Peter had. He wanted to use the Cytoscape plugin with the latest published version of Tetrad, but the files were saving out the wrong format when he saved json, and he got an exception when he tried to load the json file with the latest Cytoscape plugin. The difference was the word "graph". When he removed the offending word, it loaded.

[2018-09-29 22:12] jdramsey commented on #920
That was version 6.5.3 of Tetrad and version 1.3 of the Cytoscape plugin.

[2018-10-02 21:56] oschulte opened #921 "BDeu score in Tetrad 6.5.3 inconsistent with Tetrad 4.3.6?"
We tried the new Tetrad 6.x on a simple dataset with just 2 variables (attached). GES search used to place an edge between the two variables, using e.g. Tetrad 4.3.6 (screenshot attached). fGES does not place an edge (screenshot attached).
![new-tetrad](https://user-images.githubusercontent.com/16602497/46378976-3397bb80-c652-11e8-8dd0-c51365f72f31.png)
![old-tetrad](https://user-images.githubuser

[2018-10-03 01:40] jdramsey commented on #921
I noticed you used a sample prior of 10 to get that edge to pop out. Have you tried using a sample prior of 10 for the new version?

[2018-10-05 05:56] oschulte commented on #921
Thank you for the reply. We set the BDeu parameters to the same values for both versions. I'm attaching two screenshots with different settings, each with sample prior 10 and structure prior 1.

Cheers,

Oliver
![fges-parameters2](https://user-images.githubusercontent.com/16602497/46518351-9a6ecd80-c828-11e8-92fb-7d67a2b5b44c.png)
![fges-parameters1](https://user-images.githubusercontent.com/16602

[2018-10-05 10:03] jdramsey commented on #921
4.3.6? That was from a very long time ago. FGES was in that version? What it 5.3.6 maybe?

[2018-10-05 10:05] jdramsey commented on #921
Sample size of 6? I don't think there's warrant to believe either answer...

[2018-10-05 10:12] jdramsey commented on #921
The chi square table is this:

      2      3
1    2      0
2   1       3

Do you think this should be judged dependent? I don't, not if this is a random sample from a distribution...

[2018-10-05 11:11] jdramsey commented on #921
So I think the current version is giving the statistically correct answer. :)

[2018-10-05 21:32] jdramsey commented on #921
The only thing that could be different about the current implementation (this otherwise hasn't changed in many, many years) is that it now includes a structure prior:

[code]
This is a prior on the number of parents conditioned on in a conditional probability table.

[2018-10-06 00:42] jdramsey commented on #921
Actually, why don't I just show you the code. Maybe that will help.

[code]

[2018-10-09 14:40] yuanzhou commented on #919
Addressed via pull request #923

[2018-10-09 14:40] #919 closed

[2018-10-14 14:27] betrw opened #926 "Example CPC with arrays from program code - instantiating class and passing arguments directly"
I would like to include the CPC algorithm with a graph in my java project. Could you give me an example how to use the algorithm with double[] or double[][] directly please?

[2018-10-14 17:32] bja43 commented on #926
The PC algorithm requires an independence test and an initial graph. The initial graph may be set to null in the case where you do not have one, but you will have to define the test.  For argument's sake, let's say you want to use the FisherZ test. This test requires a DataSet object and an alpha level. The DataSet object may be constructed from a double[][] and a list of String objects (your vari

[2018-10-14 17:42] bja43 commented on #926
My mistake, the variables object should be a list of Node objects. Suppose you have a list of String objects, then you may create the variables object as follows:

        List<String> nodes;

        List<Node> variables = new ArrayList<>();
        for (String node : nodes) {
            variables.add(new ContinuousVariable(node));
        }

[2018-10-23 15:20] cg09 opened #927 "6.5.2 algorithm selection"
When I select "PC ALL" I get an FGES interface.  See attached.

Clark
<img width="821" alt="screen shot 2018-10-23 at 11 15 27 am" src="https://user-images.githubusercontent.com/16354745/47371274-84309080-d6b5-11e8-85c5-9b47908c93bf.png">
<img width="821" alt="screen shot 2018-10-23 at 11 15 27 am" src="https://user-images.githubusercontent.com/16354745/47371302-8db9f880-d6b5-11e8-8baf-5a4e46b21b9

[2018-10-23 15:22] cg09 opened #928 "Same algorithm interface problem, different screen shot."
<img width="821" alt="screen shot 2018-10-23 at 11 15 27 am" src="https://user-images.githubusercontent.com/16354745/47371474-de315600-d6b5-11e8-8692-9fb15d9d2c3d.png">

[2018-10-28 15:29] espinoj commented on #558
Tetrad's behavior is currently the opposite of what was described.  Current behavior:
No Latent - Thick
Definitely Direct - Green

This needs to be fixed.

[2018-10-28 17:55] jdramsey commented on #558
@espinoj Peter and I went through and made corrections against the development branch. The branch is 'coloring-adjustment'. I just sent a jar to Greg and Peter, a build of that branch. If they approve, I'll submit a pull request, and that should fix it.

I did notice when I built the jar that there were some annotation duplications that caused the tests to fail. Sounds easy to fix.

[2018-10-28 17:56] jdramsey commented on #558
@espinoj There were more problems than just reversal of gestures; I added a new method to handle them.

[2018-10-28 17:59] jdramsey commented on #558
@espinoj Also, the gestures in 'coloring-adjustment' are now the way I think that Greg wants them. It's possible the manual may need to be correct, I'm not sure.

[2018-10-28 18:50] espinoj commented on #558
@jdramsey thanks. I'll pull @kvb2univpitt  in to adjust causal web rendering.

[2018-10-29 11:31] espinoj commented on #920
This may be as simple as recompiling in the tetrad-lib into cytoscape plugin since I think there were changes in the JSON serialization.

[2018-10-29 14:38] #921 closed

[2018-10-29 16:19] chirayukong commented on #920
I think it is because the graph object is an instance of DAG. I can parse only the graph object but the json will lose the nodesHash Map, boolean pag, and boolean pattern but I don't think it is a good idea. @yuanzhou will update the Cytoscape plugin to accept both formats.

[2018-10-29 19:16] jdramsey commented on #920
You simply need to add add a method getNodesHash() like this:

private void getNodesHash() {
    if (nodesHash == null) {
        nodesHash = new HashMap<Node, Integer>();
        for (int i = 0; i < nodes.size(); i++) {
             nodesHash.put(nodes.get(i), i);
        }
    }

    return nodesHash;
}

Then everywhere nodesHash is used, substitute getNodesHash();

Joe

On Mon, Oct 29, 2018 at

[2018-10-30 14:11] yuanzhou commented on #920
I've changed the cytoscape plugin to handle all tetrad graph json no matter if it's generated from Dag, SemGraph, TimelagGraph, or the regular graph. As a result, the plugin will only take JSON as input. TXT file can no longer be used with cytoscape.

I think we should open another issue to address the format/schema difference of tetrad graph JSON.

[2018-10-30 15:00] espinoj commented on #920
I've released 1.3.1 and updated the mkdocs so that it points to latest version of the plugin all the time

[2018-10-30 15:20] jdramsey commented on #920
Great!

On Tue, Oct 30, 2018 at 11:02 AM Jeremy Espino <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2018-11-01 16:08] espinoj opened #931 "additional sampling options make bootstrapping not obvious"
One big problem is the sample size is not set to the dataset size automatically when sampling is selected.

Greg suggests retaining the bootstrap option which just asks number of bootstraps.  It think that that could override any sampling if that option is picked.

[2018-11-01 16:12] #920 closed

[2018-11-01 16:39] cg09 commented on #931
that sounds fine

On Thu, Nov 1, 2018 at 12:23 PM Jeremy Espino <notifications@github.com>
wrote:

[2018-11-06 22:37] chirayukong commented on #931
https://github.com/cmu-phil/tetrad/pull/932

[2018-11-08 18:41] espinoj commented on #927
seems to be resolved in 6.5.4 and in development

[2018-11-08 18:41] espinoj commented on #928
seems to be resolved in 6.5.4 and in development

[2018-11-08 18:45] espinoj commented on #880
we will have a metadata file option to override automatic determination of variable type in a future release

[2018-11-08 18:46] #852 closed

[2018-11-08 18:46] espinoj commented on #839
#914

[2018-11-08 18:46] #839 closed

[2018-11-08 18:47] #729 closed

[2018-11-08 18:48] #432 closed

[2018-11-08 18:50] espinoj commented on #531
links have been updated along with javascript code to download latest version

[2018-11-08 18:50] #531 closed

[2018-11-08 18:51] #476 closed

[2018-11-08 18:51] espinoj commented on #609
on windows Java 9+ works now to scale resolutions!

[2018-11-08 18:51] #609 closed

[2018-11-12 22:09] cg09 opened #935 "6.0.0 won't allow drawing edge out of latent variable"

[2018-11-12 22:10] cg09 commented on #935
<img width="964" alt="screen shot 2018-11-12 at 4 27 09 pm" src="https://user-images.githubusercontent.com/16354745/48378109-c722ca00-e69d-11e8-9400-314fe85b4911.png">

[2018-11-12 22:10] #935 closed

[2018-11-13 14:41] cg09 opened #936 "6.5.4 runs FCI when BPC is selected."
Unless, as usual, I am mistaken, this seems really bad.  Best to check that the other algorithm selections are actually running the intended algorithms.

[2018-11-13 15:00] jdramsey commented on #936
No, this is a general problem. The algorithm selections don't always "stick". If you select an algorithm, run it, then go back to the algorithm selection window, you often get a different algorithm. Same for simulations.

[2018-11-13 15:58] espinoj commented on #936
@zhou Can you please look at this problem

[2018-11-13 20:59] rubenSaro opened #937 "Command line Tetrad"
Hi,

Is it possible to choose a DAG in a pattern (eg, from a fGES run) in command line tetrad ?

Ruben

[2018-11-14 15:12] yuanzhou commented on #936
I thought we added the "Remember" feature when @kvb2univpitt worked on the algo chooser for the 2nd round. Let me check this.

[2018-11-14 15:47] yuanzhou commented on #936
I just verified the 6.5.4 branch as well as the development branch, the algo chooser worked well. I tried a few times by selecting BPC for a search. Then I closed the search graph result window, reopened it and clicked the Back button to see the selected algorithm as well other settings, it still says BPC.

[2018-11-14 16:43] kvb2univpitt commented on #936
I also tested but couldn't reproduce the problem.

[2018-11-14 16:46] kvb2univpitt commented on #937
@rubenSaro Can you please show me how you would do that in tetrad-gui via screenshots?

[2018-11-14 16:50] kvb2univpitt commented on #927
Clark, when you click the "Choose Algorithm" back button, do you see "PC All" selected in the algorithm box?

[2018-11-14 16:56] yuanzhou commented on #927
I just tested and it has been addressed in 6.5.4 branch.

[2018-11-14 17:01] yuanzhou commented on #927
I also tested the 6.5.2 both the branch code and the released version. Couldn't reproduce this error. Is it possible that Clark was using a different version or a version with customized changes?

[2018-11-14 17:40] cg09 commented on #927
No, BPC is highlighted.  Clark

On Wed, Nov 14, 2018 at 11:50 AM Kevin Bui <notifications@github.com> wrote:

[2018-11-14 17:41] cg09 commented on #927
I was using the version just (as in yesterday) downloaded from the  CCD
webpage link.

Clark

On Wed, Nov 14, 2018 at 12:02 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

[2018-11-14 20:10] cg09 commented on #927
Must be me. Sorry for wasting your time.

On Wed, Nov 14, 2018 at 1:51 PM Kevin Bui <notifications@github.com> wrote:

[2018-11-21 13:15] marchezinixd opened #940 "Is it possible to batch train?"
Hello, i'd like to know if it's possible to learn the structure using the CMD but in batches. I have a dataset with 400 columns and 20 Million rows. Apparently 40GB of ram is not enough so i'd like to batch train it if possible.
I know that the method work with probability and D-separation and because of this we can't sample the data, but i'm not sure if it's possible or if it's already implemente

[2018-11-21 15:32] marchezinixd commented on #905
Apparently there is no simple way of retrieving this information. The best thing to do to reduce the graph is set a high penalty score that will filter the weak edges.

[2018-11-21 15:32] #905 closed

[2018-11-21 18:36] marchezinixd commented on #940
Hello again, just to confirm should I use the covariance matrix or the correlation matrix? In your text you said covariance, but the image looks pretty much with correlation.

[2018-11-21 18:41] cg09 commented on #940
Should make no difference.

On Wed, Nov 21, 2018 at 1:36 PM Guilherme Fernandes Marchezini <
notifications@github.com> wrote:

[2018-11-21 18:44] jdramsey commented on #940
What algorithm is this for? If for FGES, probably covariance is better. -Joe

[2018-11-21 18:44] marchezinixd commented on #940
Thank you very much. I'm using FGES. I'll try it and give feedback soon

[2018-11-22 16:45] marchezinixd commented on #940
Hello, I'll close this issue. Using the covariance matrix for the FGES method is a lot faster and use almost nothing of RAM, i don't need to batch train anymore. Everything worked right.

[2018-11-22 16:45] #940 closed

[2018-11-27 18:36] espinoj opened #941 "Change shape of workflow arrows"
Workflow arrows look exactly like causal arrows in a causal graph.

[2018-11-29 18:07] #941 closed

[2018-11-29 19:54] espinoj commented on #936
I was able to reproduce.  @kvb2univpitt and @yuanzhou

graph -> simulate -> search
create a y structure in graph
simulate using SEM
search using GFCI
edit graph (Add a node)
run search since tetrad warns you to
edit graph (add a node)
look at search - it ran BPC!

[2018-11-29 20:35] yuanzhou commented on #936
Actually I just reproduced this in a simpler workflow:

Simulation with all default settings -> Search using GFCI
Back to simulation box and change the number of measured variables, Tetrad will ask if to Execute the changes down. Click "Execute" button and the search result will be updated. Click back button to the algo chooser, and BPC is selected.

[2018-11-29 21:18] jdramsey commented on #936
I've seen stuff like this happening but couldn't figure out how to reproduce it. Thanks!

[2018-11-29 21:45] yuanzhou commented on #936
So I did some debugging and found out that once we click the "Execute" button in the popup warning window, a new search being executed in a new thread, causing the `GeneralAlgorithmRunner` loses the stored models. Because when we reopen the algo chooser, it first resets all the selections then restores from the stored models in `GeneralAlgorithmRunner`. Due to the reset we would see "BPC" being se

[2018-11-30 15:42] cg09 opened #943 "Estimator misreads data categories in simulation output"
Simulating data for two variables, each with two values, creating a pm with the same variables and range of values, the Estimator box misreads the value names. See attached screen shot.
<img width="1197" alt="screen shot 2018-11-30 at 10 34 53 am" src="https://user-images.githubusercontent.com/16354745/49298811-40872e80-f48c-11e8-92c3-7c14ee77e58a.png">
<img width="1197" alt="screen shot 2018-11-3

[2018-11-30 17:27] espinoj opened #944 "Provide a how to cite instructions in tetrad and manual"

[2018-11-30 17:28] espinoj opened #945 "Additional data reader inferences"
We should be able to provide additional guesses by reading the first few lines of an input file. i.e.,  quote character usage,  comment characters,  continuous vs. discrete data

[2018-11-30 17:30] espinoj opened #946 "Revise bootstrap table"
Use mutually exclusive exhaustive columns:

[code]

[2018-11-30 17:32] espinoj opened #947 "Bootstrap should include original dataset"
Greg has references that show how this improves the results.  So if we are to bootstrap search n times we should perform n+1 searches.

[2018-11-30 17:33] espinoj opened #948 "Parameters with extended descriptions"
Parameters have the ability to show additional descriptions with a rollover in tetrad but we need to populate these fields.

[2018-11-30 17:35] espinoj commented on #916
Example is max degree where -1 signifies infinite but integers indicate the max degree value.  We could break this out into two parameters but need to extend the parameter object to properly handle this (i.e., not a hack)

[2018-11-30 17:36] espinoj opened #949 "Parameters with enumerated values use integer values which looks like a hack"
We should be able to show these as radio buttons in the tetrad interface i.e., a render that interprets enumerated values coded internally as integers

[2018-11-30 17:37] espinoj opened #950 "Search box needs option to save results of search as well as parameters of search"
This should be similar to what is output in causal cmd.

[2018-11-30 17:39] #914 closed

[2018-11-30 18:19] espinoj commented on #927
see #936

[2018-11-30 18:19] #927 closed

[2018-11-30 20:07] rubenSaro opened #951 "output graph png of low quality"
Hi,
In the Tetrad GUI, when saving as png an instantiated graph from the IM box, the file is of very poor quality. See attached. Can the quality be improved.

Thanks

Ruben
![image4](https://user-images.githubusercontent.com/40474901/49312283-b5b92a80-f4b1-11e8-8ea1-ad9c8bf9097f.png)

[2018-11-30 20:47] rubenSaro commented on #937
Sure.

I made a graph, simulated data, search with fGES which output a pattern, and then choose a Graph box with option "choose dag in pattern"

<img width="1440" alt="screen shot 2018-11-30 at 3 43 21 pm" src="https://user-images.githubusercontent.com/40474901/49314022-257de400-f4b7-11e8-861e-6acf5dfe48df.png">
<img width="1440" alt="screen shot 2018-11-30 at 3 43 30 pm" src="https://user-images.

[2018-11-30 21:26] rubenSaro opened #952 "simulation saved output incorrect"
Using the Tetrad GUI, if you use the Simulation box to create, let's say 10 simulations from _different_ graphs (forward DAGs, structural equations), and then save the simulation, the txt files show different graphs than the ones shown in the Simulation window "True Graph".

[2018-12-01 21:17] jdramsey opened #953 "Need to eliminate the old DataReader from the code."
I've noticed some thorny problems coming up for people because this (deprecated) API is still in the code, and they're tempted to use it. For instance, the getDoubleData() method does odd things now. Probably best to just get rid of it.

[2018-12-03 16:51] yuanzhou commented on #936
In short this behavior would happen if we make changes to the upstream nodes. For example we did a search from a simulated data, then we change the simulation. Because a new algo runner is created, we lose the user selections on the algo chooser UI.

When the data type is changed in upstream nodes, Tetrad will popup a message window to ask users to run the search again. In this case, all user sele

[2018-12-03 20:37] chirayukong commented on #946
https://github.com/cmu-phil/tetrad/tree/fix-issue-946
The session file having a new bootstrapping table was also attached.
[new_bootstapping_table.tet.zip](https://github.com/cmu-phil/tetrad/files/2641183/new_bootstapping_table.tet.zip)

[2018-12-05 20:18] chirayukong commented on #947
https://github.com/cmu-phil/tetrad/tree/fix-issue-947

[2018-12-08 00:16] mglymour opened #957 "Problem with subsetting mixed data"
When I try to use the subsetRows() method on a mixed dataset in tetrad-development, downloaded 11/08/18, instead of subsetting the dataset, it just deletes the values from all the other rows, leaving them with missing values. I can't get rid of those rows no matter what I do, even by using the removeRows() method. The problem doesn't show up with continuous or discrete data.

[2018-12-09 18:57] hank7v opened #958 "estimator --> updater, why it doesn't work?"
I would aspect an updater to be able to receive the output of an EM Bayes Estimator, as it happens for the output of an Instantiated Model. Instead, it doesn't work. Is it correct?

[2018-12-09 19:14] cg09 commented on #958
Can you be more specific about the problem, and Tetrad version, please?

On Sun, Dec 9, 2018 at 1:57 PM hank7v <notifications@github.com> wrote:

[2018-12-09 19:19] hank7v commented on #958
Sure,

tetrad 6.5.4

![screen shot 2018-12-09 at 19 19 11](https://user-images.githubusercontent.com/42272460/49701689-4ea12180-fbe7-11e8-9f4e-637e2959d14e.png)

[2018-12-09 19:46] cg09 commented on #958
Try connecting the Estimation Box to an IM Box and the IM Box to the
Updater.

On Sun, Dec 9, 2018 at 2:19 PM hank7v <notifications@github.com> wrote:

[2018-12-09 20:59] hank7v commented on #958
Thanks,
yes, I tried it, but unfortunately, it didn't work as well.

![screen shot 2018-12-09 at 20 56 12](https://user-images.githubusercontent.com/42272460/49702828-fa04a300-fbf4-11e8-8c2b-ef02d1bf3396.png)
dn't work

[2018-12-10 02:34] cg09 commented on #958
Delete the Estimator -> Updater connection and substitute an IM -> Updator
connection.

On Sun, Dec 9, 2018 at 3:59 PM hank7v <notifications@github.com> wrote:

[2018-12-10 07:38] hank7v commented on #958
As mentioned, IM --> updater works, but if I use an IM instead of an Estimator, I have to manually (or randomly) populate the probability tables, instead, I would like to estimate from data and model the table, and then simulate intervention (updater) ln the estimated table. Isn't it possible?

[2018-12-10 15:04] cg09 commented on #958
The IM should be automatically populated from  an estimated model, as
described previously.

On Mon, Dec 10, 2018 at 2:38 AM hank7v <notifications@github.com> wrote:

[2018-12-10 16:11] hank7v commented on #958
Thus, do you think the software is not working properly? If I connect the IM to the PM it is not populated (my options are random or manual), and if I connect it to the Estimator it returns an error.

![screen shot 2018-12-10 at 16 09 22](https://user-images.githubusercontent.com/42272460/49745125-2a504e00-fc96-11e8-860a-5e17259cf1e2.png)

[2018-12-10 18:06] hank7v commented on #958
I downloaded TETRAD version 4.3.9 and it works, do you have any idea how is it?

![screen shot 2018-12-10 at 18 06 00](https://user-images.githubusercontent.com/42272460/49751805-4a880900-fca6-11e8-9c56-907ee4e69f87.png)

[2018-12-11 09:34] hank7v commented on #958
And it also works in version 6.4.0

[2018-12-11 09:49] hank7v commented on #958
downloaded again version 6.5.4-0, and it worked with a newly created session. Loaded old session, it doesn't work. Something got corrupted in my previous session. Sorry for having discovered it only now, and thanks for the support,

[2018-12-11 09:49] #958 closed

[2018-12-26 17:47] jklevy opened #961 "Is there an actual sample dataset to illustrate the use of Tetrad?"
It would be helpful if I could see the features of Tetrad illustrated by use of an actual example.

[2018-12-26 17:49] cg09 commented on #961
We are making a video to do exactly that. Should be available soon on the
CCD website.

On Wed, Dec 26, 2018 at 12:47 PM jklevy <notifications@github.com> wrote:

[2018-12-26 17:52] jklevy commented on #961
Sounds great. Where is the CCD website? I am hoping that it is a relatively
simple example that can highlight all the features. Right now everything is
too abstract. Is there a way I can be informed when this is available?

thank you, Jason levy

On Wed, Dec 26, 2018 at 7:49 AM cg09 <notifications@github.com> wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University

[2018-12-26 18:15] cg09 commented on #961
Mr. Levy,

Just google Center for Causal Discovery and you will find the webpage and
links.  No one video could illustrate all of the features of the software,
unless you wanted to sit watching continuously for a day or two--there is a
lot. We will give a video illustrating basic search algorithms. Videos for
loading data and for model representation with directed graphs are already
available.

I

[2018-12-27 04:12] jdramsey commented on #961
I couldn't help oversee this conversation. It seems like you want a single dataset to help you understand *all* of the features of Tetrad. That, it seems, is an impossibility. For instance, there are algorithms that assume all continuous variables, algorithms that assume all discrete variables, and algorithms that assume a mixture of continuous and discrete variables. You need at least three datas

[2018-12-27 04:18] jklevy commented on #961
dear Joseph

You are very kind to respond so quickly. It must have been quite a chore to
program Tetrad. I am simply looking for ANY basic single dataset to
understand the system. All continuous variables are fine (although a
mixture might of continuous and discrete might be best)

I think most people learn best by exploring a specific dataset

On Wed, Dec 26, 2018 at 6:12 PM Joseph Ramsey <notifi

[2018-12-27 04:20] jdramsey commented on #961
Well, of course, Tetrad has a rather elaborate API for making up such datasets. You could make as many as you like. In fact, if learning the ropes is what you're interested in, I would recommend working with simulated data rather than real, since you know the truth, and you can simply ask whether you're able to recover the truth. I suppose I could make one for you if you like, and tell you the tru

[2018-12-27 04:33] jklevy commented on #961
Wonderful, Joseph. I tried to unzip sampledata and hit File-> Open and
received this error message

[image: image.png]

On Wed, Dec 26, 2018 at 6:27 PM Joseph Ramsey <notifications@github.com>
wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-2492
Email: jlevy@hawaii.edu

[2018-12-27 04:36] jklevy commented on #961
[image: image.png]

On Wed, Dec 26, 2018 at 6:33 PM Jason Levy <jlevy@hawaii.edu> wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-2492
Email: jlevy@hawaii.edu

[2018-12-27 04:37] jdramsey commented on #961
When you unzipped it, did you get the two files in it?

[2018-12-27 04:38] jklevy commented on #961
exactly. I sent you the screen shot. Thank you SO MUCH for your guidance.
We will have to invite you to Hawaii

On Wed, Dec 26, 2018 at 6:37 PM Joseph Ramsey <notifications@github.com>
wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-2492
Email: jlevy@hawaii.edu

[2018-12-27 04:38] jdramsey commented on #961
These are text files. You'll need to open up Tetrad and load them there. The manual should help you out with that.

[2018-12-27 04:40] jklevy commented on #961
When you say load up Tetrad I see this

[image: image.png]

On Wed, Dec 26, 2018 at 6:38 PM Joseph Ramsey <notifications@github.com>
wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-2492
Email: jlevy@hawaii.edu

[2018-12-27 04:43] jklevy commented on #961
[image: image.png]

this is how I launch Tetrad from my desktop. This is correct?

Then I see this

[image: image.png]

On Wed, Dec 26, 2018 at 6:40 PM Jason Levy <jlevy@hawaii.edu> wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-2492
Email: jlevy@hawaii.edu

[2018-12-27 04:47] jdramsey commented on #961
I'm not seeing any of the images you're sending, sorry. I'm falling asleep, but I can try to help some more tomorrow.

[2018-12-27 04:55] jklevy commented on #961
You are so kind, Joseph. I appreciate you taking time out of your busy
schedule to help us get started and running. Talk to you tomorrow. I
apologize for the late emails but it is only 7 pm in Honolulu now

On Wed, Dec 26, 2018 at 6:47 PM Joseph Ramsey <notifications@github.com>
wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-249

[2018-12-27 05:51] jklevy commented on #961
OK, I figured out how to load your awesome continuous dataset: it has 10
continuous variables and 1000 records

I just followed this video
https://www.ccd.pitt.edu/video-tutorials/

I was able to validate that the data is correct. Is there another nice
video that gives examples on how to use Tetrad

[image: image.png]

On Wed, Dec 26, 2018 at 6:55 PM Jason Levy <jlevy@hawaii.edu> wrote:

--
Jason

[2018-12-27 08:56] jklevy commented on #961
I am not an expert. But I am interested in understanding the various
modeling tools that TETRAD provides for your awesome dataset.

For example, I am interested in SEM. My understanding is that multiple
regression a special case of structural equations modeling (SEM). So
perhaps with your
test set you could help me write down a model in a SEM way, and see if it
reduces to the simple case of multip

[2018-12-27 08:59] jklevy commented on #961
I do see the manual below. For the data set you provided is there an
underlying causal structure we should start with?

http://cmu-phil.github.io/tetrad/manual/

On Wed, Dec 26, 2018 at 10:55 PM Jason Levy <jlevy@hawaii.edu> wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-2492
Email: jlevy@hawaii.edu

[2018-12-27 09:10] jdramsey commented on #961
The underlying causal structure is in the graph file I sent. Just put a
graph box o the workbench, double-click, and load it (as text) from the
file menu.

On Thu, Dec 27, 2018 at 3:59 AM jklevy <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramse

[2018-12-27 14:08] jklevy commented on #961
I understand 100%. The graph is now loaded.

[image: image.png]

On Wed, Dec 26, 2018 at 11:10 PM Joseph Ramsey <notifications@github.com>
wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-2492
Email: jlevy@hawaii.edu

[2018-12-27 14:14] jklevy commented on #961
Is there a way to start with say, something simple like Exploratory
Structural Equation Modeling
<https://www.annualreviews.org/abs/doi/10.1146/annurev-clinpsy-032813-153700?intcmp=trendmd>.
A simple diagram with latent variables (Intelligence and Academic
Performance) is shown below:

[image: image.png]

We are intererested in applying the traditional approaches from standard
SEM papers, particul

[2018-12-27 14:55] cg09 commented on #961
Mr. Levy,

There are a lot of search algorithms in TETRAD. None of them reduce to
multiple regression. The standard reference for some of them (PC, GES, FCI)
is Spirtes, et al., Causation, Prediction and Search, MIT, 2000.

Clark

On Thu, Dec 27, 2018 at 3:56 AM jklevy <notifications@github.com> wrote:

[2018-12-27 14:59] cg09 commented on #961
You can make any variable you want latent by opening the data file and
deleting the corresponding column. But for latent variable modeling, you
should run FCI or FOFC + Mimbuild.

I don't know what sort of data you have, but if your aim is to find a
multiple indicator model, you should try FOFC + Mimbuild.

Clark

On Thu, Dec 27, 2018 at 9:14 AM jklevy <notifications@github.com> wrote:

[2018-12-27 15:10] jklevy commented on #961
Is FCI part of Tetrad. Is this the FCI. It says GFCI
<https://www.ccd.pitt.edu//wp-content/uploads/2018/10/GFCIc-overview-11_22_2016.pdf>

So Tetrad for Path Analysis (no latent variables)

And other tools for CFA and Latent Variable Structural Model

On Thu, Dec 27, 2018 at 4:59 AM cg09 <notifications@github.com> wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
Unive

[2018-12-27 16:07] jklevy commented on #961
Can you help me to confirm where to download the software for latent SEM?

The variables in SEM are measured (observed, manifest) variables
(indicators) and factors (latent variables).

So for measured (observed, manifest) variables (indicators) use Tetrad. And
for latent variables use FCI or FOFC + Mimbuild.? Where do I download  FCI
or FOFC + Mimbuild.

thanks so much!!

On Thu, Dec 27, 2018 at

[2018-12-27 16:12] cg09 commented on #961
Just open the search box in TETRAD, when it is connected to a data box. The
algorithms are all listed.

On Thu, Dec 27, 2018 at 11:07 AM jklevy <notifications@github.com> wrote:

[2018-12-27 16:15] cg09 commented on #961
GFCI is better but FCI is in TETRAD. Just look through the search box
options.

On Thu, Dec 27, 2018 at 10:10 AM jklevy <notifications@github.com> wrote:

[2018-12-27 16:16] jklevy commented on #961
how do I connect the search box to the data box (see my current screen

thank you!

[image: image.png]

On Thu, Dec 27, 2018 at 6:15 AM cg09 <notifications@github.com> wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-2492
Email: jlevy@hawaii.edu

[2018-12-27 16:17] jklevy commented on #961
thank you! how do I connect my databox to the search box?

[image: image.png]

On Thu, Dec 27, 2018 at 6:16 AM Jason Levy <jlevy@hawaii.edu> wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)-689-2492
Email: jlevy@hawaii.edu

[2018-12-27 18:03] cg09 commented on #961
There should be a video.

On Thu, Dec 27, 2018 at 11:16 AM jklevy <notifications@github.com> wrote:

[2018-12-27 18:03] cg09 commented on #961
Or see the manual.

On Thu, Dec 27, 2018 at 11:17 AM jklevy <notifications@github.com> wrote:

[2018-12-28 05:30] jklevy commented on #961
I am trying to learn how to connect the search box in TETRAD to the data
box. Should the search box be a "child" of the "parent" data box. I can't
find a video or instructions in the manual on how to do this

http://cmu-phil.github.io/tetrad/manual/#data_box

On Thu, Dec 27, 2018 at 6:12 AM cg09 <notifications@github.com> wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Manageme

[2018-12-28 06:50] cg09 commented on #961
It's simple. In the the left hand column there is a box named "Search"
Click on it move to the work space and click again. A search box appears.
Go to the next to the top of the  left hand column. Click on it and move to
the workspace and draw an arrow between the data box and search box.

This is really standard drag and drop.

On Fri, Dec 28, 2018 at 12:30 AM jklevy <notifications@github.com> wr

[2018-12-28 11:19] jklevy commented on #961
Yes, yes easy enough with your instructions. Thank you so much Clark! I do
see the FCI algorithm in Tetrad search box. However, I also see
GFCI,  FOFC and Mimbuild. Are all four not also part of Tetrad?

[image: image.png]

On Thu, Dec 27, 2018 at 8:50 PM cg09 <notifications@github.com> wrote:

--
Jason Levy
Professor
Disaster Preparedness and Emergency Management
University of Hawaii
Phone: (808)

[2018-12-28 18:22] cg09 commented on #961
yes they are

On Fri, Dec 28, 2018 at 6:20 AM jklevy <notifications@github.com> wrote:

[2018-12-28 19:34] jdramsey commented on #961
"Tetrad" is the tool that contains the pieces that you see. There is some history to the project; to get a sense of how the original algorithms work, see Spirtes, Glymour, and Scheines (2000), Causation, Prediction, and Search. But may pieces have been added since then (and these pieces improved). The tool itself used to be in Pascal; that version dates back to 1991, I think. Since 1998 it's been

[2018-12-28 21:20] jklevy commented on #961
Thanks Joseph
sure i see the CCD website. i just never found a specific case study or
example worked out (would be good to have a video or full example)

If GFCI is part of TETRAD ....
I cannot understand why someone wrote
"GFCI is better but FCI is in TETRAD.   "

On Fri, Dec 28, 2018 at 9:34 AM Joseph Ramsey <notifications@github.com>
wrote:

--
Jason Levy
Professor
Disaster Preparedness and Eme

[2019-01-06 20:12] abbasalipour opened #962 "data wrapper"
how do I convert a continuous variable to discrete in data wrapper? When I enter the numbers manually, it is continuous default and I want it to be discrete. I can't find it in sitting or everywhere....?

[2019-01-06 21:12] cg09 commented on #962
Connect your data wrapper to a data box, open it, there is a link for converting continuous variables to categorical.

[2019-01-06 22:30] abbasalipour commented on #962
thanks dear
I have two questionnaires which have 100 data and 60 data between 1 to 5, the first question is: can I use from tetrad for analysis my data or no? and second is: if these discrete numeral are (1,2,3,4,5) valid; I have two problems which attaches them
thanks
![2019-01-07 2](https://user-images.githubusercontent.com/46406150/50742402-e3676100-121f-11e9-8a8a-156014bcde54.png)
![2019-01-07

[2019-02-05 17:34] bja43 opened #969 "DagToPag is incorrect, DagToPag2 should be used instead"
DagToPag does not correctly add all induced edges which occasionally results in a non-maximal graph. All instances of DagToPag should be replaced with DagToPag2.

[2019-02-07 21:44] rubenSaro opened #970 "Bootstrap output"
@jdramsey @espinoj
Using Tetrad Command Line, the txt output of the bootstrap analysis lists the Graph Nodes as such:
VAR_1, VAR_10, VAR_100...VAR_2, VAR_20, VAR_200...

This by itself is not incorrect, but the output without bootstrap output the graph nodes as:
VAR_1, VAR_2, ....  VAR_10 .... VAR_20, .... VAR_100,... VAR_200

I suggest fixing the bootstrap output so both outputs are consistent. I

[2019-02-09 05:02] jdramsey opened #971 "Print out BIC scores per node"
This may already be planned, but in discussions with Jinling, it would be helpful not only to print BIC scores for entire models but also BIC scores for each node given its parents in a model.

[2019-02-11 17:15] jdramsey opened #972 "Searching directly from a graph no longer works."
It used to be the case that you could make a graph, draw an arrow to a search box, and it would choose D-Separation Test or Score and run the search from d-separation facts. Now, when you try to do that, several things go wrong. When you try to run FCI from a graph, for instance, it does let you select FCI, and it does say "D-Separation Test", but when you click to set parameters, it shows you the

[2019-02-13 16:29] espinoj commented on #971
I spoke to Jinling about this feature and we will promote it.  We've put the BIC score output in development branch (i.e., outputs to the log in tetrad and causal cmd).  Is the score given the parents for each node in there but also not printed out?

[2019-02-13 16:37] jdramsey commented on #971
Well, it's part of the algorithm; if it's not exposed, it can easily be exposed. Let me know if I can help.

For example, if you calculate the BIC for a DAG, that's the sum of the BIC scores for each node given its parents. You just need to get the part of that method that calculates the BIC score for a node given its parents and call it for each node.

[2019-02-17 22:54] abbasalipour opened #974 "estimator"

[2019-02-17 22:55] abbasalipour commented on #974
I wanted to know why the probabilities of this part of the estimator that I used to send my photo,
![tet](https://user-images.githubusercontent.com/46406150/52920663-6e11a480-3324-11e9-8bc3-308fc1be2c70.PNG)
 are unbalanced and, for example, the probabilities did not go up or down from top to bottom ... Is this a problem with my software or data?

[2019-02-18 00:21] jdramsey commented on #974
There's no need for them to be sorted within each column, but they should add to 1 in each row, which they do. The order of the L1-L6 columns is as it is in a  truth table.

[2019-02-19 21:10] chirayukong commented on #971
Here we go: https://github.com/cmu-phil/tetrad/pull/975

[2019-02-21 15:48] yuanzhou commented on #972
I reproduced the same error and I'm looking into it.

[2019-02-21 19:07] yuanzhou commented on #972
@jdramsey after digging into this issue, it turned out that the cause of such error is related to both D-Separation test and score wrappers. When we introduced the java annotation to refactor all the algorithms, independence tests, and scores, we have to use either an empty constructor or no default constructor to take advantage the java reflection. D-Separation test/score wrapper, however, requir

[2019-02-21 20:39] jdramsey commented on #972
@yuanzhou That makes sense. Is it working now? You should be able to run both PC and FGES from a graph as input...

[2019-02-22 19:11] #962 closed

[2019-02-22 19:33] chirayukong commented on #957
https://github.com/cmu-phil/tetrad/pull/978

[2019-02-22 19:47] #872 closed

[2019-02-22 20:04] #571 closed

[2019-02-22 20:05] #578 closed

[2019-02-24 02:37] yuanzhou commented on #972
@jdramsey I fixed it and I could run FCI and FGES from a graph now. But I don't see PC algorithm listed in the algo chooser. My branch is based on the latest development. Did you remove PC-All from the list?

[2019-02-24 02:48] yuanzhou commented on #972
And I just did a quick check with the latest development branch, I don't see PC algorithm there. But this issue has been fixed and I'll send a pull request.

![capture](https://user-images.githubusercontent.com/195873/53294431-a39b0f80-37b4-11e9-807e-164c4a59c7f9.JPG)

[2019-02-24 17:10] jdramsey commented on #972
Oh, I meant PC inside of Variants of PC.

On Sat, Feb 23, 2019 at 9:48 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-02-24 18:19] jdramsey opened #980 "Fix for cases where when you delete nodes the edges remain."
This puzzled me. I can produce examples of this if you like, but they're sporadic. In case this comes up again anywhere, here's my take on how to fix it. What happens, I think, is that a graph is used for two purposes, but two different classes. In cases like this, since edge removal is synchronized, sometimes when nodes are removed, edges aren't. The solution is to find where in the code the prob

[2019-02-24 18:21] jdramsey commented on #980
An example of an algorithm that behaves in the interface like this is FGES. If you try to delete nodes in the Search box from an FGES run, you'll see that the edges connecting the nodes remain.

[2019-02-25 16:24] #974 closed

[2019-02-25 16:43] yuanzhou commented on #972
See it "Variants of PC".

[2019-02-25 16:50] #947 closed

[2019-02-25 17:00] #971 closed

[2019-02-25 17:01] #946 closed

[2019-02-25 17:10] #614 closed

[2019-02-25 17:17] jdramsey commented on #972
I'll give it a try. :) Development?

J

On Mon, Feb 25, 2019 at 11:43 AM Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-02-25 19:10] #768 closed

[2019-02-25 19:17] #780 closed

[2019-02-25 19:51] rodrigo-borges opened #981 "Running into undescriptive exception while testing ts-gfci on cmd"
I'm trying to apply a time series algorithm to my data and I'm running into this exception:

[code]

I have written a simple input file with 3 variables and 3 lags:

[code]

and a knowledge file to establish temporal relation:

[code]

Finally, I'm running the CMD jar as:

[code]

I have also tried running it with _covariance_ data type, that is what I used when running fges in the past, and got t

[2019-02-26 16:24] yuanzhou commented on #953
I'll mention this to the team today since @kvb2univpitt updated the data reader with metadata support and I've been using that in my branch for interventional data handling. Soon we'll merge the new data reader to development and it's a good time to eliminate the old data reader.

[2019-02-26 16:51] #928 closed

[2019-02-26 16:52] #926 closed

[2019-02-26 17:08] yuanzhou commented on #953
@jdramsey I talked to @kvb2univpitt and the current development is using his fast data reader as dependency. Can you point us to the deprecated data reader API in the code so we know exactly what the code is?

[2019-02-26 17:32] jdramsey commented on #953
Sure, it's edu.cmu.tetrad.data.DataReader. It's already deprecated. If there are any uses due to me, let me know and I'll recode them.

Like I said, the problem is, it doesn't behave correctly anymore, and we have a good data reader, so there's no point allowing the errors.

Thanks!

[2019-02-26 20:37] chirayukong commented on #937
https://github.com/bd2kccd/causal-cmd/pull/39

[2019-02-26 20:39] chirayukong commented on #937
Just another option --choose-dag-in-pattern and you should get a dag.

[2019-02-26 21:24] yuanzhou commented on #953
After looking at the deprecated DataReader and its usage, I think we can come up with a plan like this:

1. Rename this DataReader to a different name, even though it has the `@Deprecated` annotation, just to avoid any mis-use with the new `edu.pitt.dbmi.data.reader.DataReader` interface.

2. We first merge the new data reader into development for the upcoming release.

3. Replace some of the func

[2019-02-27 15:18] yuanzhou commented on #972
@jdramsey Yes, Jeremy has merged the pull request to development.

[2019-02-27 15:18] #972 closed

[2019-02-27 15:21] jdramsey commented on #972
Thanks.

[2019-03-03 23:40] rubenSaro opened #982 "Command line version 0.5.0 development bug"
There is a bug in the resampling option  --percentResampleSize

It still takes integers, as the old version, properly, the number of datapoints of the resamples.

I assumed this new version was intended to take fractions as 0.1 (10%)  up to 1 (100% of the sample)

Ruben

[2019-03-03 23:53] jdramsey commented on #982
It may be helpful to say which algorithm you're having trouble with; I noticed a couple of the algorithms hadn't been converted over to the new system.

[2019-03-03 23:56] rubenSaro commented on #982
pc-all

El dom., 3 mar. 2019 a las 18:53, Joseph Ramsey (<notifications@github.com>)
escribió:

[2019-03-04 02:46] chirayukong commented on #982
It should take double as input for percentResampleSize and 10 means 10%. You can go beyond 100%.

[2019-03-04 03:18] rubenSaro commented on #982
Thanks. This should go in the description to avoid confusion.

El dom., 3 mar. 2019 a las 21:46, Chirayu (Kong) Wongchokprasitti (<
notifications@github.com>) escribió:

[2019-03-04 03:31] rubenSaro commented on #982
So, if I want my resamples to be the same size of the sample I should input
--percentResampleSize 100  ?

R.

El dom., 3 mar. 2019 a las 21:46, Chirayu (Kong) Wongchokprasitti (<
notifications@github.com>) escribió:

[2019-03-04 03:36] chirayukong commented on #982
Yep.

[2019-03-04 03:42] rubenSaro commented on #982
What is wierd is that I tried it, and I am getting results with number of
edges as if I were taking only 100 datapoints and not 100% of the
datapoints of the original dataset.

That is why I thought the parameter had a bug or was actually taking the
number of datapoints as before.

El dom., 3 mar. 2019 a las 22:36, Chirayu (Kong) Wongchokprasitti (<
notifications@github.com>) escribió:

[2019-03-04 05:18] rubenSaro commented on #982
My mistake, I was using a very high penalty, that is why the graphs were so
sparse and not because the percentResampleSize,

oops, I owe you guys a beer.

El dom., 3 mar. 2019 a las 22:42, Ruben Sanchez (<ruben.saro@gmail.com>)
escribió:

[2019-03-04 05:23] rubenSaro commented on #982
one more question, what is an error of -9

El lun., 4 mar. 2019 a las 0:18, Ruben Sanchez (<ruben.saro@gmail.com>)
escribió:

[2019-03-04 22:23] espinoj opened #984 "Run Search button on parameters page"
From Greg.  The button is not very visible and can be made bigger or change color to bright yellow.

[2019-03-05 02:00] kvb2univpitt commented on #984
Are talking about the search button circled in red below?
![screenshot from 2019-03-04 20-55-37](https://user-images.githubusercontent.com/10729309/53775424-835c0680-3ec0-11e9-965c-10413ec796f1.png)

[2019-03-05 04:43] rubenSaro opened #985 "command line version 0.5.0 fGES default degree"
The maxDegree of fges is set to a default of 4, it was set to a default of 100 in the 0.4.1 version.

--maxDegree <integer>       The maximum degree of the graph (min = -1)

Can the description be more clear about this. I assume this controls the maximum number of parents of a node for a particular test... in this sense -1, is the maximum possible, as in the PC conditioning set ?

[2019-03-05 17:03] cg09 commented on #985
Yes, it can be made clearer!

On Mon, Mar 4, 2019 at 11:43 PM rubenSaro <notifications@github.com> wrote:

[2019-03-05 18:44] jdramsey commented on #985
Actually, it controls the maximum *degree*, as suggested by the name. :)

Just to be clear, the degree of the graph is the maximum number of nodes
adjacent to any node in the graph.

The default may be raised I'm sure it was set to a low number to deal with
large graphs. Perhaps a good default would be 10.

Joe

On Tue, Mar 5, 2019 at 12:03 PM cg09 <notifications@github.com> wrote:

--
Joseph D. R

[2019-03-05 20:13] jdramsey commented on #985
I'm coming back to the parameter documentation project just now. Here's what I'll put for the note on that parameter:

It is possible for a random graph to have a single node with very high degree—i.e. number of adjacent edges. This parameter places an upper bound on the maximum such degree.

Is that clear?

[2019-03-05 20:16] jdramsey commented on #985
And yes, -1 means no maximum, you're right.

[2019-03-07 17:41] rodrigo-borges commented on #981
@jdramsey Where could I find the latest version (0.5.0) of the cmd so I could test if it was solved? The [source](https://www.ccd.pitt.edu/tools/) I use provides me version 0.4.1.

[2019-03-07 18:09] chirayukong commented on #981
@rodrigo-borges the latest one is 1.0.0 version and you can download it here: https://cloud.ccd.pitt.edu/nexus/content/repositories/releases/edu/pitt/dbmi/causal-cmd/1.0.0/

[2019-03-07 21:35] rodrigo-borges commented on #981
@chirayukong thank you, I'll check if this solves the problem.

[2019-03-08 01:55] rubencmu commented on #981
does this come from the 0.5.0 development ? or it has additional changes ?

-------- Original message --------
From: "Chirayu (Kong) Wongchokprasitti" <notifications@github.com>
Date: 3/7/19 1:09 PM (GMT-05:00)
To: cmu-phil/tetrad <tetrad@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [cmu-phil/tetrad] Running into undescriptive exception while testing ts-gfci on c

[2019-03-08 18:00] chirayukong commented on #981
@rubencmu the version number was bumped from 0.4.0 to 1.0.0 by @kvb2univpitt. The update is here: https://github.com/bd2kccd/causal-cmd/pull/41.

[2019-03-08 18:19] rubencmu commented on #981
thanks...but is it the same as the one that was marked as 0.5.0 in development ?

-------- Original message --------
From: "Chirayu (Kong) Wongchokprasitti" <notifications@github.com>
Date: 3/8/19 1:00 PM (GMT-05:00)
To: cmu-phil/tetrad <tetrad@noreply.github.com>
Cc: Ruben Sanchez-Romero <rubens@andrew.cmu.edu>, Mention <mention@noreply.github.com>
Subject: Re: [cmu-phil/tetrad] Running into unde

[2019-03-08 18:55] chirayukong commented on #981
Should be.

[2019-03-08 19:03] rodrigo-borges commented on #981
I ran the tests with the new version, and the results are the same. As stated in [this issue](https://github.com/bd2kccd/causal-cmd/issues/38) and also [this issue](https://github.com/cmu-phil/tetrad/issues/940), my main problem is having too big of a discrete input so that the only way to run it is by calculating the covariance matrix before.

[2019-03-08 19:27] jdramsey commented on #981
Rodrigo,

Is your issue still that you can't use BDeu with a covariance matrix? I
tried to respond to you earlier; maybe you didn't see my remark. BDeu
doesn't work with a covariance matrix (I programmed this, so I'm pretty
sure! :)) you need discrete data as input; if your discrete data is too big
to use with it, you won't be able to use it for that. It's just a problem
with how to make the inter

[2019-03-11 15:25] rodrigo-borges commented on #981
@jdramsey yes, now I understand.

I'm stuck with how to discover the causality relationships in my dataset. It's discrete, but too big to input it to the algorithm. If I translate it to continuous (not that big of a stretch, since it's binary) and use the covariance matrix, I lose access to a lot of the algorithms Tetrad provides.

Is there a correct way to apply "boosting"? Maybe divide my datase

[2019-03-11 15:25] #981 closed

[2019-03-11 18:21] jdramsey commented on #981
@rodrigo-borges The problem is that the discrete method assume you had discrete data--that is, data that has been labeled as discrete. This causes Tetrad to start making conditional probability tables rather than reasoning about covariances. But if your data is all _binary_, with values 0 and 1 (that is, all _dummy_ variables), you can use linear methods to analyze it. Have you tried that?

[2019-03-11 18:28] rodrigo-borges commented on #981
@jdramsey No, I have not. The data is indeed all binary, but I didn't know of linear methods for causality. Could you reference me something so I can go after it?

[2019-03-11 18:35] jdramsey commented on #981
Try this. Make sure your data has the (real) values 0 or 1. (1 and 2 won't work.) Then calculate the covariance matrix of your data and search using the algorithm FGES with the SEM BIC score.

[2019-03-11 18:39] jdramsey commented on #981
Sorry, @rodrigo-borges

[2019-03-11 18:42] rodrigo-borges commented on #981
@jdramsey This is exactly my current approach. And it works, I have results. I'm looking for other representations and/or algorithms so I can compare them, since I don't have a ground truth to validate it.

[2019-03-11 18:44] jdramsey commented on #981
@rodrigo-borges Not sure having more algorithms to compare to will do anything but make matters worse. Hmm... have you considered using the bootstrap features in Tetrad?

[2019-03-12 20:30] rubenSaro opened #990 "Java error message question"
@jdramsey @espinoj

HI, I am running Tetrad command line in a supercomputer... After a day of running many FGES instances corresponding to different datasets, I start to get the next messages:

WARNING: Prefs file removed in background /home/rs1739/.java/.userPrefs/prefs.xml
Mar 08, 2019 1:10:07 PM java.util.prefs.FileSystemPreferences checkLockFile0ErrorCode
WARNING: Could not lock User prefs.  U

[2019-03-12 21:23] jdramsey commented on #990
I don't know, sorry. -Joe

[2019-03-13 20:26] kvb2univpitt commented on #990
@rubenSaro Maybe it has to do with the filesystem.  Do you know what's the filesystem is on the server?  Also, what version of tetrad command line are you using?

[2019-03-13 20:45] kvb2univpitt opened #991 "Multiple Graphs Not Shown for non-MultiDataSetAlgorithm."
When running FGES, a non-MultiDataSetAlgorithm, on multiple imported datasets, multiple graphs (one graph for each dataset) are not shown.

[2019-03-14 17:51] rws2 opened #993 "Text search algorithm explanation now showing in field within search dialog box"
Although my peers see the explanatory text within the right text box within the Search Algorithm dialog window, my text box remains blank for all algorithms and for all Tetrad GUI releases that I have on my computer.

[2019-03-19 20:01] cg09 opened #994 "No IM output from Simulation"
A data simulation permits the user to extract data and a graph, but it does NOT (so far as I can see) allow the user to extract the Instantiated Model from the Simulation Box.  It should. The user needs the Instantiated model in order to estimate the accuracy of the parameter estimates (and also of predictions) obtained from the result of a Search.

[2019-03-19 20:05] cg09 opened #995 "Cannot copy the output of Bayes estimator into an IM"

[2019-03-19 20:11] cg09 opened #996 "Estimator output"

[2019-03-19 20:13] cg09 commented on #996
Neither the estimator nor update  boxes allow the user to obtain a joint distribution table of the variables in a Bayes net model--only one variable at a time marginals (Updater) or conditional marginal (estimator and output).  This is unsatisfactory. Is there some other way?

[2019-03-19 20:20] cg09 opened #997 "Updater output"
The Updater output says it gives the "probabilities conditional on the parents" which makes no sense. The Updater is supposed to give the probabiity of a variable conditional on the evidence the user has entered in the Updater interface--this is not in general the parents of the variables.

Please check that the Updater is actually computing probabilities conditional on the evidence input and plea

[2019-03-20 16:16] cg09 opened #998 "Cannot generate data from an estimation box"
We need to be able to do this in order to generate new samples from an estimated model to repeat searches for how stably they recover the structure from data generated from it.  The PM box will not fill from an Estimation box.

[2019-03-20 16:17] cg09 commented on #998
I meant IM box, not PM box

[2019-03-21 23:41] cg09 opened #999 "Estimate box will not populate updater"
REferencing TETRAd 6.7.0-0. The output in the Estimator box will not populate the Update box (which makes the estimates useless for prediction.) Neither will the Simulation box be populated, as noted previously.

[2019-03-22 00:19] jdramsey commented on #999
I think this should be easy to fix.

[2019-03-22 01:42] cg09 commented on #999
But not as easily done as said!

On Thu, Mar 21, 2019 at 8:20 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-22 13:09] cg09 opened #1000 "Updater non-functional"
The Updater will not take input from anything. It should take input from any box that has instantiated model within it:   an IM box; an Estimation box; a Simulation box.

[2019-03-25 16:05] chirayukong commented on #994
I can connect the simulation boxes (Bayes and SEM) to IM and extract them. The attachment is its session.
<img width="1537" alt="Screen Shot 2019-03-25 at 12 04 18 PM" src="https://user-images.githubusercontent.com/4652250/54935187-2ae3bc00-4ef6-11e9-95e3-75a1adf28008.png">
[IM output from Simulation #994.tet.zip](https://github.com/cmu-phil/tetrad/files/3004273/IM.output.from.Simulation.994.tet.z

[2019-03-25 16:23] jdramsey commented on #994
That seems to be something that needs to be noted in the documentation; it
may not be something someone would try off the top of their head. -Joe

@Madelyn Glymour <mglymour@andrew.cmu.edu>

On Mon, Mar 25, 2019 at 12:05 PM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Ha

[2019-03-25 16:45] chirayukong opened #1001 "Can't connect Simulation and IM to (Bayes and SEM) Estimator"
<img width="983" alt="Screen Shot 2019-03-25 at 12 43 26 PM" src="https://user-images.githubusercontent.com/4652250/54937945-cc214100-4efb-11e9-834e-025c280735e9.png">

[2019-03-25 19:06] chirayukong commented on #1000
The updater can take input from IM and being created. Can take from the estimator box but got the error message. Won't connect to the simulation box at all.
<img width="1038" alt="Screen Shot 2019-03-25 at 3 03 06 PM" src="https://user-images.githubusercontent.com/4652250/54946884-72c30d00-4f0f-11e9-88fa-a61e1d9e7f6e.png">

I'm looking to it.

[2019-03-25 19:35] cg09 commented on #1000
Dear Kong and Greg

Joe, Madelyn and I have just spent some time with the Classifier box. We
recommend that it be removed from the interface.  Aside from bugs, it is
not actually a classifier in the usual sense, and does nothing we can
imagine would ever be useful.  It takes the IM of a Bayes model, and a data
set, and then uses the model to change the value in each row of a user
specified value t

[2019-03-25 20:42] kvb2univpitt commented on #991
Fixed.  See branch v6.7.0-multiple_graph_display

![Screenshot from 2019-03-25 16-36-50](https://user-images.githubusercontent.com/10729309/54952617-cc7e0400-4f1c-11e9-893a-b4a8e99a9f06.png)

[2019-03-25 20:43] jdramsey commented on #991
Thanks!

[2019-03-25 22:31] cg09 commented on #994
Then we are having implementation problems, if I can't do it, Joe can't and
you can.  Maybe we should check the java updates or something?   Clark

On Mon, Mar 25, 2019 at 12:05 PM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

[2019-03-25 23:20] jdramsey commented on #994
I don't think it was this particular thing you weren't able to do, was it?

[2019-03-25 23:26] cg09 commented on #994
I have lost track.

On Mon, Mar 25, 2019 at 7:20 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-26 00:03] jdramsey commented on #994
In any case, it was pretty clear from Madelyn's worries this afternoon that using the current development branch from her computer (and yours) with older Mac operating systems created certain bugs, so that's a possibility. Madelyn had Sierra and you had Capitan, mine is Mojave (the latest). On mine, in the Graph box, you can change the endpoint types of edges by shift-clicking. Works great. On bot

[2019-03-26 03:29] mglymour opened #1003 "No arrowheads on added/removed edges in edgewise comparisons"
In the edgewise comparisons function, added/removed edges show up as undirected, even though the added/removed edges are generally directed. I think this may have been an intentional choice made at some point (added/removed edges used to show up oriented in the same direction that they were in the graph) to distinguish between entire edges that are different and the orientations that are different

[2019-03-26 17:48] kvb2univpitt commented on #1003
I agree.  I'll work on this.

[2019-03-26 18:26] kvb2univpitt commented on #1003
Fixed.
![arrowhead](https://user-images.githubusercontent.com/10729309/55023414-204b2480-4fd3-11e9-87d5-d8346e6fd80e.png)

[2019-03-26 18:34] #991 closed

[2019-03-26 18:37] kvb2univpitt commented on #993
What version of Tetrad are you using?

[2019-03-26 20:17] mglymour opened #1005 "Time lag graphs to generalized SEM PMs"
Attempting to input a time lag graph to a generalized SEM PM results in a blank error message (in 6.7.0-0)

[2019-03-26 20:22] kvb2univpitt commented on #1005
I haven't worked with time lag graph.  Is it supposed to complain when you do that?  If so, what should the error message be?

[2019-03-26 20:31] mglymour commented on #1005
I don't think so. I can't see any reason why a time lag graph shouldn't be able to be input to a generalized SEM PM -- they should be able to have nonlinear, non-Normal relations, which is what generalized SEM PMs are for, and they only use directed edges, which is the only requirement I know of for generalized SEM PMs. And although I can't specifically remember whether this was the case, the word

[2019-03-26 20:32] mglymour commented on #1003
Awesome, thank you!

[2019-03-26 20:33] kvb2univpitt commented on #1005
Ok.  We'll wait for @espinoj  and @jdramsey input on this before I jump into it.

[2019-03-26 20:48] jdramsey commented on #1005
What causes the blank error message? Is it something dumb?

[2019-03-26 20:57] mglymour commented on #1005
Possibly, but I don't think so. I created the simplest possible time lag graph (one variable, one lag, one edge) and tried to put it into a generalized SEM PM, and it won't let me. No matter what time lag graph I create, it won't let me.

[2019-03-27 15:08] kvb2univpitt commented on #1005
@mglymour Can you please attach a session file for this?  Thanks.

[2019-03-27 17:02] mglymour commented on #1005
Github is not allowing me to attach a .tet file, so I'll email it to you.

[2019-03-27 17:18] kvb2univpitt commented on #1005
@mglymour It works for me.  I am using the version from the development branch.  What version are you using?
![lag](https://user-images.githubusercontent.com/10729309/55097687-bdb95d80-5092-11e9-8f8c-f651c337e02a.png)

[2019-03-27 17:41] cg09 commented on #1005
Doesn't work for me either. We are using 6.7.0-0.
[image: Screen Shot 2019-03-27 at 1.40.02 PM.png]

On Wed, Mar 27, 2019 at 1:18 PM Kevin Bui <notifications@github.com> wrote:

[2019-03-27 18:07] kvb2univpitt commented on #1005
@cg09 Clark, I can't see your attached screenshot.  Can you please email it to me or attach via github website instead of replying it through email?  Thanks.

[2019-03-27 18:13] chirayukong commented on #1005
<img width="909" alt="Screen Shot 2019-03-27 at 2 11 32 PM" src="https://user-images.githubusercontent.com/4652250/55101392-64552c80-509a-11e9-9ba1-9654f68ed251.png">
I can run it on my iMac as well.

[2019-03-27 18:17] kvb2univpitt commented on #1005
Also works in Windows 7.

![timelag_win](https://user-images.githubusercontent.com/10729309/55101642-f8bf8f00-509a-11e9-9b62-2472177cbd6a.PNG)

[2019-03-27 18:58] mglymour commented on #1005
It's possible this is a Mojave vs. High Sierra issue on Macs. We've run into a couple of those elsewhere in the program. I'll update tonight and see if it's still turning up tomorrow.

[2019-03-27 19:15] kvb2univpitt commented on #1005
@mglymour Please keep us posted.  While you're at it, can you please test previous issues you were having?  If the issues go away after you updated your MAC, please close them.  Thanks.

[2019-03-27 22:05] cg09 commented on #1005
Kevin,

Attached. It was the same as Madelyn's error. I am running OS El Capitan.
She runs High Sierra, I think. Joe runs Mojave. Surely, a program should
not be so sensitive to operating systems??

Clark

On Wed, Mar 27, 2019 at 2:07 PM Kevin Bui <notifications@github.com> wrote:

[2019-03-27 22:20] jdramsey commented on #1005
@cg09 It occurred to me there may be a virus involved or something. The OS's are pretty old at this point.

[2019-03-27 22:28] mglymour commented on #1005
I just updated to Mojave and I am still getting the error.

[2019-03-27 22:38] cg09 commented on #1005
Virus is possible, although it has an odd way of showing up. I am running a
full scan on my computer.

On Wed, Mar 27, 2019 at 6:21 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-27 22:40] cg09 commented on #1005
Try updating your JAVA.

On Wed, Mar 27, 2019 at 6:28 PM mglymour <notifications@github.com> wrote:

[2019-03-27 22:45] mglymour commented on #1005
I have updated Java as much as possible; the error persists.

[2019-03-27 23:15] cg09 commented on #1005
Maybe Joe and Joe are using different versions of TETRAD? Ramsey sometimes
uses his private version without telling us.

On Wed, Mar 27, 2019 at 6:45 PM mglymour <notifications@github.com> wrote:

[2019-03-27 23:48] jdramsey commented on #1005
@kvb2univpitt @cg09 @mglymour

I think I see the issue. In GeneralizedSemPm, replace line 248:

        this.variableNames = new ArrayList<>();
        for (Node _node : variableNodes) variableNames.add(_node.getName());
        for (Node _node : errorNodes) variableNames.add(_node.getName());

with thisP

        this.variableNames = new ArrayList<>();
        for (Node _node : variableNodes) var

[2019-03-27 23:56] jdramsey commented on #1005
@kvb2univpitt @cg09 @mglymour

Here's how to reproduce the issue (I think). Put a Graph box on the workbench, double click, and select Lag Graph. Make a lag graph. Close the window. Then make a PM box, connect the Lag Graph box to it, and double click. With the existing code, you will see the unhelpful error box Madelyn said was there. With my fix, you don't and the PM opens up correctly.

[2019-03-28 00:18] jdramsey commented on #1005
@kvb2univpitt @cg09 @mglymour

The lag graph I made had two guys in lag 0, with one lag, like this:

<img width="780" alt="Screen Shot 2019-03-27 at 8 17 57 PM" src="https://user-images.githubusercontent.com/9853255/55120705-743a3400-50cd-11e9-8c07-4e67defd7880.png">

[2019-03-28 01:05] cg09 commented on #1005
Joe, you are a genius. Please push your fix.

On Wed, Mar 27, 2019 at 7:56 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-28 01:56] kvb2univpitt commented on #1005
@mglymour @cg09 @jdramsey That is exactly what I did when I first tested it.  I wasn't able to reproduce the error.  Thus, I asked Madelyn to give me her session.  I was still not able to reproduce the error.  As the matter of fact, I still can't reproduce the error.

![lag](https://user-images.githubusercontent.com/10729309/55123920-d483a280-50da-11e9-9677-2c64405eb962.png)

Joe, can you please p

[2019-03-28 02:26] jdramsey commented on #1005
Oh boy. I'm in a very different branch that I cannot in all conscience push. Let me clone development and see if I still get the error.

[2019-03-28 02:41] jdramsey commented on #1005
OK, I'm pushing it. I pulled from development, checked to make sure I got the error, made the change, checked to make sure the fix was made, and committed, pushed the result and made a ull request, this one:

https://github.com/cmu-phil/tetrad/pull/1006

I made screen shots.

<img width="718" alt="Screen Shot 2019-03-27 at 10 37 21 PM" src="https://user-images.githubusercontent.com/9853255/5512583