[2019-03-28 02:43] jdramsey commented on #1005
Sorry, @mglymour @cg09 @kvb2univpitt

Not a genius. Kevin's machine may be different. See previous comments for details.

[2019-03-28 03:14] kvb2univpitt commented on #1005
@mglymour Can you please check out the branch **"possible_time_lag_general_sem.fix_we'll_see"** and see if it works for you?  I will approve the pull request once you verify that it works.  Thanks.

[2019-03-28 03:40] mglymour commented on #1005
It works!

[2019-03-28 04:07] #1005 closed

[2019-03-28 19:06] jdramsey opened #1007 "Proposal for cleaning up algorithms, test, scores for public consumption."
@cg09 @espinoj @yuanzhou @kvb2univpitt @chirayukong

All,

At the CCD meeting this morning, a suggestion was made that we should try to clarify the list of algorithms we put into the public version of Tetrad, maybe removing or fixing algorithms that don’t work all that well and consolidating a bit. The same could be said for the tests and scores we put into the public interface; the idea there is

[2019-03-28 19:40] jdramsey commented on #1007
@ps7z Peter, could you comment on this if you get a chance?

[2019-03-28 20:08] ps7z commented on #1007
Joe,

I basically agree with this list. With respect to glasso, could we check it against another implementation to see if it is working right? If it is, I think we should include it even if it doesn’t work better than other algorithms, since it is something that people might have heard of that would interest them in using Tetrad.

Peter

From: Joseph Ramsey <notifications@github.com>
Reply-To: cm

[2019-03-29 03:11] #1007 closed

[2019-03-29 03:35] jdramsey opened #1008 "Proposal: Reset Lists of Public-Facing Algorithms, Tests, and Scores."
Proposal: Set the lists of public-facing algorithms as follows. I have taken Peter’s comment about GLASSO into account. This is a cleanup of an earlier post.

- BPC - We should add MimBuild in as an option for this (a new checkbox that adds in the MimBuild edges in the output.
- FAS - Good.
- FASK - We may want to add some new options at some point based on recent work.
- FCI
- FGES
- FGES-MB
- FO

[2019-03-29 03:40] jdramsey commented on #1008
@ps7z @cg09 @espinoj @chirayukong @kvb2univpitt @yuanzhou

Actually, LiNGAM should also be removed for now, until it is fixed, at which point it can be re-added. It is currently broken.

[2019-03-29 04:11] cg09 commented on #1008
I will write the manual to include it. If you can't fix it, the manual
entry can be deleted.

On Thu, Mar 28, 2019 at 11:40 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-29 10:39] jdramsey commented on #1008
I left out the discrete tests and score. For tests, this add the following (these all seem good):

- BDeu Test
- Chi Square Test
- Discrete BIC Test
- G Square Test
- Probabilistic Test

The only one I'm not familiar with is Probabilistic Test--can someone vouch for that?

For scores, this adds:

- BDeu Score
- Discrete BIC Score

Those are both good.

[2019-03-29 15:42] kvb2univpitt commented on #1008
To remove Algorithms, Tests, and Scores from the list without delete the code, just remove the annotations **edu.cmu.tetrad.annotation.Algorithm**, **edu.cmu.tetrad.annotation.TestOfIndependence**, and **edu.cmu.tetrad.annotation.Score**, respectively.

[2019-03-29 15:56] chirayukong commented on #1008
@jdramsey the probabilistic test is @kvb2univpitt and Greg's work. It uses Bayesian Constraint Inference as a test. It is also used in the RFCI-BSC as the BSC part. Of cause, it is meant to the discrete data only. :-)

[2019-03-29 17:28] jdramsey commented on #1008
@chirayukong @kvb2univpitt Is there a very short description of the Probabilistic Test that Clark could  put in a manual?

[2019-03-29 19:26] yuanzhou commented on #1008
Thanks Joe! Then we no longer need algo descriptions for FASK Concatenated and LiNGAM (until after it's fixed). So the missing descriptions in the HTML manual: FASK, MultiFask.

[2019-03-29 19:41] yuanzhou commented on #1008
@jdramsey I'll just disable the FASK Concatenated and LiNGAM in my branch (html-manual-zhou) since I'll be sending a pull request to merge the documentation updates as well as the refactored param descriptions. Then you or one of us can do a thorough cleanup.

[2019-03-29 19:42] chirayukong commented on #1001
https://github.com/cmu-phil/tetrad/pull/1010

[2019-03-29 20:50] jdramsey commented on #1008
@Yuan, Zhou <zhy19@pitt.edu> That sounds fine. I'll try to write out a
description for FASK and Multi-FASK, though Madelyn may already have
something in the works.
Clark says he's just going to go with the proposal I made for what
algorithms/tests/scores to include. There are a few adjustments here. I did
rename a couple of things. For instance, Variants of PC was renamed to PC
Variants so that PC

[2019-03-29 22:08] cg09 opened #1012 "Search box will not accept a correlation GENERATED by TETRAD"
See picture 6.7.0-0
<img width="874" alt="Screen Shot 2019-03-29 at 6 06 29 PM" src="https://user-images.githubusercontent.com/16354745/55265187-9d81ce00-524d-11e9-89eb-f0e708e3068b.png">

[2019-03-29 22:09] cg09 opened #1013 "A data box will not accept correlation data in another data box 6.7.0-0."

[2019-03-29 22:45] cg09 opened #1014 "Simulation Box Issue"
When a simulation is run and data generated, and then the graph is changed in the simulation box, the first simulation is simply repeated and the first set of data is output again. I.e., the simulation box is not responding to graph edits inside it. 6.7.0-0

[2019-03-29 23:56] cg09 opened #1015 "MImbuild does not work in 6.7.0-0."

[2019-03-30 00:20] jdramsey commented on #1014
That graph display needs to be somehow marked as read only or at least not
be editable.

Joe

On Fri, Mar 29, 2019 at 6:45 PM cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/use

[2019-03-30 00:46] jdramsey commented on #1013
Good catch.

[2019-03-30 00:46] jdramsey commented on #1015
This works, I think. It does for me.

[2019-03-30 19:18] jdramsey commented on #1000
The estimator->updator issue is working for me. Maybe it was fixed by someone.

[2019-03-30 19:19] jdramsey commented on #999
Sorry, I just reported this. This is working for me, so I think it was fixed.

[2019-03-30 19:20] cg09 commented on #1000
Have you tried it on a mac?

On Sat, Mar 30, 2019 at 3:18 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-30 19:22] jdramsey commented on #995
It works for me, but I get this dialogue coming up that makes me thinks it's going to rewrite the IM. The dialog needs to go; when you open it up, it's right right IM, just the copy of the original.

<img width="565" alt="Screen Shot 2019-03-30 at 3 21 32 PM" src="https://user-images.githubusercontent.com/9853255/55280705-8c919500-52ff-11e9-94db-32bf50d0452a.png">

[2019-03-30 19:26] jdramsey commented on #998
You need to use a Simulate box, not a Data box, then it works, at least for me. I.e.,

Estimate->Simulate

not

Estimate->Data

This is an issue for the manual maybe--everywhere in Tetrad where data is being simulated, a Simulate box needs to be used. Data is only for data loaded from a file, or for manipulations of data.

[2019-03-30 19:32] jdramsey commented on #997
Take X2, for instance. It's giving e.g. P(X2 = 0 | X1 = 0, X2 = 0, and X4 = 0) = 0.2170. I think you're worried that the condition "X2 = 0" is being snuck in here?

[2019-03-30 19:34] jdramsey commented on #996
I'm not sue what would work. In the linear, Gaussian case we can give a covariance matrix, and that's a sufficient statistic. But is there a neat, 2D way to represent the joint distribution of a Bayes net model?

[2019-03-30 19:38] jdramsey commented on #994
I just checked this again and am able to do it.

[2019-03-30 19:40] jdramsey commented on #985
I'm going to set the default max degree to 100.

[2019-03-30 19:41] jdramsey commented on #980
Actually, FGES seems to be the main bugbear for this. If instead of returning graph you return new EdgeListGraph(graph) the problem disappears. Easy fix.

[2019-03-30 19:42] jdramsey commented on #970
I recommend a better sorting method, to be used throughout the program, so that when variables are sorted, they automatically come out sorted the right way.

[2019-03-30 19:49] jdramsey commented on #1000
Yeah, that's all I have. I think maybe Kong fixed it. I grabbed another Tetrad using Jeremy's magic link.

[2019-03-30 20:08] cg09 commented on #996
There are formats common in statistics but they are for small models.

On Sat, Mar 30, 2019 at 3:35 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-30 20:10] cg09 commented on #1000
Thanks for doing and checking all this today.

On Sat, Mar 30, 2019 at 3:49 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-30 21:20] cg09 commented on #1000
Joe,  I don't know what the "Ensemble" parameter does for BPC and FOFC, but
the only parameter value that works is "0" which is called "preserve."
Please see attached 6.7.0-0 session.

Clark

On Sat, Mar 30, 2019 at 3:49 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-31 11:45] #842 closed

[2019-03-31 11:47] jdramsey commented on #836
We have this. It's called RICF and it's in the SEM Estimator box. This confuses everybody but me. Maybe it should be put in a separate box?

[2019-03-31 11:57] jdramsey commented on #902
I noticed this as well. There's a newline at the end of data file. If you delete the newline, the extra line disappears.

[2019-03-31 12:01] jdramsey commented on #841
This is fixed.

[2019-03-31 12:01] #841 closed

[2019-03-31 17:28] cg09 commented on #836
Leave it in the estimator box. Insert a description of it when someone
clicks on it.

On Sun, Mar 31, 2019 at 7:47 AM Joseph Ramsey <notifications@github.com>
wrote:

[2019-03-31 17:39] kvb2univpitt commented on #1015
@cg09 Can you please provide a screenshot of the error?

[2019-03-31 17:52] cg09 commented on #1015
Kevin,

To which error do you refer?

On Sun, Mar 31, 2019 at 1:39 PM Kevin Bui <notifications@github.com> wrote:

[2019-04-01 01:30] kvb2univpitt commented on #1015
@cg09 Hi Clark.  The error that shows MImbuild not working in 6.7.0-0.  Are you talking about the MImbuild from the algorithm list or from the pipline?

[2019-04-01 03:18] cg09 commented on #1015
Sorry, I don't remember.

On Sun, Mar 31, 2019 at 9:30 PM Kevin Bui <notifications@github.com> wrote:

[2019-04-01 15:05] #1003 closed

[2019-04-01 15:11] kvb2univpitt commented on #1014
@jdramsey @cg09 So, should we make a non-editable graph editor?

[2019-04-01 15:24] jdramsey commented on #1014
Maybe a setEditable(false) function?

Joe

On Mon, Apr 1, 2019 at 11:11 AM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-04-01 21:14] kvb2univpitt commented on #1014
@jdramsey Yes, that's what I was also thinking.  Ok.  I'll give it a try.

[2019-04-02 08:48] jdramsey commented on #1008
Clark has done some additional experiments with BPC and FOFC. In the paper with Kummerfeld and Ramsey, we found the two algorithms to be pretty much on par for examples where latents exist. Clark ran some examples where latents do not exist and found that FOFC was able to determine this fact, but BPC was not. Sigh. So the suggestion is that we additionally remove BPC from the interface.

[2019-04-02 13:50] yuanzhou commented on #1008
@jdramsey I'll disabled the BPC and send a pull request soon.

[2019-04-02 14:40] yuanzhou commented on #1008
#1019

[2019-04-02 15:59] kvb2univpitt opened #1020 "Data Conversion "Add an index variable" Does Not Work"
Get java.lang.ArrayIndexOutOfBoundsException when try to covert data.

![dataman](https://user-images.githubusercontent.com/10729309/55417095-0616c680-553e-11e9-8a7f-3c9954c60db8.png)

![dataman2](https://user-images.githubusercontent.com/10729309/55417106-0a42e400-553e-11e9-898d-5e4e9e8f7d09.png)

This is caused by the following method:
[code]

The problem is that ```java data.setDouble(r, c, (r

[2019-04-02 19:25] kvb2univpitt opened #1021 "Confusing Class: edu.cmu.tetradapp.model.Whitener"
The class ```java edu.cmu.tetradapp.model.Whitener ``` is very confusing to use.

[code]
The Javadoc says "Converts a continuous data set to a correlation matrix."  Obviously, it isn't.  I have no idea what this class does.

The statement ```java  if (wrapper.getSelectedDataModel() instanceof DataSet) ``` only checks for DataSet class, which could be continuous or discrete, but the else statement

[2019-04-02 19:27] kvb2univpitt commented on #1021
@jdramsey Joe, please advise me on what data type(s) should be used for the above class.  Thanks.

[2019-04-02 19:47] jdramsey commented on #1021
This should be adding white noise (draws from N(0, sigma)) to the data. It
looks like its implemented wrong.

I recommend getting rid of it. All of the algorithms that need to do
whitening already do it internally. People who aren't developing algorithms
don't need it.

On Tue, Apr 2, 2019 at 3:27 PM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of R

[2019-04-02 19:53] kvb2univpitt commented on #1021
@jdramsey Thanks.  I'll remove it from Tetrad and make a pull request for it.

[2019-04-02 20:02] jdramsey commented on #1020
The addVariable call was supposed to have added the column though. I wonder what happened?

[2019-04-02 20:08] kvb2univpitt commented on #1020
@jdramsey I'll look deep into this.

[2019-04-02 20:44] #1021 closed

[2019-04-02 23:18] cg09 commented on #1021
Why get rid of it? If you want to normalize time series, it's needed.
Sometimes see it done.

On Tue, Apr 2, 2019 at 3:48 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-02 23:21] jdramsey commented on #1021
That requires thinking through what it should do in that case and revisiting the implementation to make sure it's right. Do you know what kind of whitening is needed for time series analysis?

[2019-04-03 16:03] kvb2univpitt opened #1024 "Nonparanormal Transform Does Not Accept Covariance Matrix"
The error message indicates that that the NonparanormalTransform can handle covariance matrix, but it can't.

[code]

The ``` if (wrapper.getSelectedDataModel() instanceof DataSet)  ``` statement only checks for dataset but not for continuous data nor covariance matrix.

[2019-04-03 16:04] kvb2univpitt commented on #1024
@jdramsey Joe, what should the datatype(s) be?

[2019-04-03 16:11] jdramsey commented on #1024
@kvb2univpitt  You're right, the error message is wrong. It can only take a continuous dataset.

[2019-04-03 16:13] kvb2univpitt commented on #1024
@jdramsey Thanks.  I'll make the changes and send another pull request.

[2019-04-03 18:29] chirayukong commented on #1000
The IM -> updator and the estimator -> updator are working on the single dataset, not multiple ones. I'm looking at the simulator one.
<img width="900" alt="Screen Shot 2019-04-03 at 2 28 24 PM" src="https://user-images.githubusercontent.com/4652250/55503503-c541af00-561c-11e9-9e59-2dda9ee91907.png">

[2019-04-03 23:20] cg09 opened #1026 "COMPARE box will not correctly analyze graphs with 2 cycles"

[2019-04-04 01:05] cg09 opened #1027 "Change "Compare" output labeling"
Compare box edge weight similarity comparison has an option labeled "Scheines Score". It should instead be labeled "Sum of squared differences of edge weights"

[2019-04-04 17:41] mglymour commented on #1026
This is not an issue in my version of Tetrad (6.7.0-0).

[2019-04-04 18:50] jdramsey opened #1028 "Command-Q on a Mac quits program but bypasses Tetrad and corrupts .tet files."
On a Mac, command-Q quits the program, but this is a Mac OS operation that bypasses Tetrad. The problem is that if a save operation is in progress, the save may be incomplete, and the resulting session file (.tet file) will not load properly. This is evil. I have been caught many times, most times losing a lot of work! Not sure what to do about it.

[2019-04-04 18:52] jdramsey opened #1029 "License info out of data."
Last year is 2010. That happened sometime ago now.

[2019-04-04 18:53] jdramsey opened #1030 "Idea: Could we edit text directly in the session boxes?"
Idea from Peter. Would require some reprogramming. Maybe we could get rid of the Note box.
@ps7z

[2019-04-04 18:55] jdramsey opened #1031 "Add undirected edge button in the Graph box."
Currently the only way to make an undirected edge in the graph box is to make some other type of edge and shift click the endpoints to make them both tails.

[2019-04-04 18:57] jdramsey opened #1032 "Make graphs that should not be edited in fact non-editable."
Currently there are several boxes using the general graph display that should not be edited, but the use can in fact deleted nodes or edge from them. (They can't add nodes or edges, but still.) We need to have a mode for the graph box that prevents this sort of editing in these cases.

[2019-04-04 18:58] jdramsey opened #1033 "For layouts, add a way to center the graph."
Some layouts, notable Fruchterman-Reingold, can layout the graph so that most of the nodes are off to the right and down, out of view. In these cases, it would be helpful to be able to center the graph.

[2019-04-04 19:00] jdramsey opened #1034 "Add a facility for the tabular comparison to let users choose the statistics they want to display."
There are quite a number of statistics that can be display; a simple interface that lets the user pick from these to construct an ordered list of statistics to display would help. Otherwise, they're stuck with the built-in choices. This could benefit from some HCI input.

[2019-04-04 19:01] jdramsey opened #1035 "We need model fit statistics not just for SEM models but also for other types of models."
Bayes. Generalized. Conditional Gaussian. All new features.

[2019-04-04 19:03] jdramsey opened #1036 "Bug. When you select columns in a dataset, sometimes one of the variable names disappears."
And then you have to reload the data.

[2019-04-04 19:10] jdramsey opened #1037 "New Feature Idea: Generate a "plotmatrix" of histograms and scatterplots."
It is often remarked that we don't have this feature, which is available in Matlab and R. The idea is to generate a matrix of histograms and scatterplots for variables V1, V2,...Vn, where the diagonal at (i, i) is the histogram of Vi and the entry at (i, j) is the scatterplot of Vi, Vj.

This is not urgent but would be nice. And would clearly get used a lot.

[2019-04-04 19:10] jdramsey opened #1038 "For Descriptive Statistics, justify the text columns."

[2019-04-04 19:11] jdramsey commented on #1038
Relatively unimportant.

[2019-04-04 19:16] jdramsey opened #1039 "Generalized SEM PM Issues."
These things are not apparent in the interface:

(a) You can use the Apply Templates tool to edit groups of equations. Could we perhaps make this a button instead so it's not hidden?

(b) The function of the "starts with" field in Apply Templates. People don't realize that this will apply the changes to variables or parameters that start with that letter.

(c) That you can double click equations t

[2019-04-04 19:17] jdramsey commented on #1039
The same problem exists for Generalized SEM IM, that the interface says to double click equations, but despite this, double clicking the equations is the absolute last thing anyone thing of to do. An HCI mistake I think.

[2019-04-04 19:23] jdramsey opened #1040 "Logistic regression tool assumes binary discrete varaibles."
That's not the problem; the sort of logistic regression being done is the sort that assumes binary discrete variables with additional continuous variables. The target needs to be binary. The other discrete variables need to be binary as well.

The problem is that this is unobvious to users, who try to use the tool with any sort of mixed data. The solution is to check the dataset for this tool and

[2019-04-04 19:27] jdramsey opened #1041 "Required and Forbidden Graphs (Knowledge) not represented well."
The idea is to start with a DAG and then feed this into (e.g.) a Forbidden Graph knowledge box item. The results is a specification of knowledge. Not a problem. The problem is the display, which if you double click this new knowledge shows the Tiers and Edges display. There are of course no tiers, so the knowledge in fact looks blank. But if you click over to the Edges tab and select forbidden edg

[2019-04-04 19:48] jdramsey commented on #982
@rubenSaro I don't know who you were offering the beer to, but I didn't get one. Just saying. Maybe it's because I didn't now what error -9 was? :)

[2019-04-04 22:11] cg09 commented on #1040
Do you mean that the set up requires: binary or continuous or both
predictors; and binary outcome?

On Thu, Apr 4, 2019 at 3:23 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-04 22:13] jdramsey commented on #1040
Precisely

On Thu, Apr 4, 2019, 6:11 PM cg09 <notifications@github.com> wrote:

[2019-04-05 16:47] chirayukong opened #1042 "Inconsistency of Bayes variables more than two from IM"
Two cases: 1) If a simulation box for Bayes net was run and re-run (without destroying the model) for a single simulation (single run), the IM box will have a wrong number of categories for some of the variables.
2) If a sim box was run for multiple simulations (say 10), the IM box will have a wrong number of categories.
The saved session is also attached here.

[Inconsistency_var_categories.tet.z

[2019-04-05 17:50] jdramsey commented on #1042
Hmm... well, this can't be good...

<img width="816" alt="Screen Shot 2019-04-05 at 1 48 56 PM" src="https://user-images.githubusercontent.com/9853255/55646647-b76d6480-57a9-11e9-83e6-47535a8cf0e9.png">

Seems like the bayes IM is not being set in Simulation.

[2019-04-05 18:37] jdramsey commented on #1042
The small change in branch broken.bayesim.problem fixes the left hand problem (single Bayes net). The right hand problem still is eluding me.

@chirayukong

[2019-04-05 18:43] chirayukong commented on #1042
It works. Thanks @jdramsey.

[2019-04-05 19:05] #854 closed

[2019-04-05 19:29] jdramsey commented on #682
This has been taken out of the interface by popular demand.

[2019-04-05 19:29] #682 closed

[2019-04-05 19:43] jdramsey opened #1043 "Logging of conditional independence facts is not consistent across algorithms."

[2019-04-05 20:04] #1024 closed

[2019-04-05 20:45] #635 closed

[2019-04-05 21:22] jdramsey opened #1044 "Remove "Replace Missing Values With Regression Predictions""
it doesn't work. Everyone complains about it.

[2019-04-05 21:24] #642 closed

[2019-04-05 21:34] jdramsey commented on #720
See https://github.com/cmu-phil/tetrad/issues/1040

[2019-04-05 21:34] #720 closed

[2019-04-05 21:35] jdramsey commented on #704
Fixed

[2019-04-05 21:35] #704 closed

[2019-04-05 21:39] jdramsey commented on #980
Fixing this for FGES in branch broken.bayesim.problem.

[2019-04-05 21:39] #980 closed

[2019-04-05 21:44] jdramsey commented on #948
This is done, right? All of the extended descriptions that I wrote are in the manual now.

[2019-04-05 21:48] jdramsey commented on #769
@kvb2univpitt I think we can just punt on this and do the deep copy, as you say. You're right, it would solve the problem.

[2019-04-05 21:51] jdramsey commented on #630
Fixed.

[2019-04-05 21:51] #630 closed

[2019-04-05 21:54] jdramsey commented on #555
Can't reproduce.

[2019-04-05 21:54] #555 closed

[2019-04-05 21:56] jdramsey commented on #1036
Can't reproduce.

[2019-04-05 21:56] #1036 closed

[2019-04-05 21:58] jdramsey commented on #902
@kvb2univpitt Would it be possible to detect if there's a newline at the end of the data file and ignore it?

[2019-04-05 22:03] jdramsey commented on #757
The only thing that's missing at the point for these are the p-values. Can these be added? Or are they there? @chirayukong

[2019-04-05 22:15] jdramsey commented on #969
Fix included in branch broken.bayesim.problem.

[2019-04-05 22:15] #969 closed

[2019-04-06 06:20] jdramsey commented on #1008
The only thing left here is the IMaGES adjustment!

[2019-04-06 15:53] kvb2univpitt opened #1046 "IMaGES Continuous and IMaGES Discrete Needs To Be Filtered By Datatype"
Both IMaGES Continuous and IMaGES Discrete should not show up in the algorithm list for either discrete or continuous data set.

![algo_list](https://user-images.githubusercontent.com/10729309/55671855-7be2a100-5862-11e9-8120-68841de46b0b.png)

[2019-04-06 17:57] jdramsey commented on #1029
Fixed in https://github.com/cmu-phil/tetrad/pull/1048

[2019-04-06 17:58] #1029 closed

[2019-04-06 18:25] jdramsey commented on #1042
I think I just solved the other one.

https://github.com/cmu-phil/tetrad/pull/1045

[2019-04-06 23:37] chirayukong commented on #757
Yes, I think so.

[2019-04-06 23:49] jdramsey commented on #757
Oh, you mean the edgewise p-values? Yeah that seems good. So this can basically be closed, then.

[2019-04-06 23:59] jdramsey commented on #805
@kvb2univpitt  I think I can fix this by iterating over a copy of the nodes in the foreach there.

Caused by: java.util.ConcurrentModificationException
	at java.util.HashMap$HashIterator.nextNode(HashMap.java:1429)
	at java.util.HashMap$KeyIterator.next(HashMap.java:1453)
	at edu.cmu.tetradapp.workbench.AbstractWorkbench.adjustForNewModelNodes(AbstractWorkbench.java:1220)

That is, change this:

[2019-04-07 14:52] jdramsey opened #1049 "Some variables are duplicated in the lag graph editor."
@mglymour

If you make a lag graph, then increase the number of lags, intermediate variables are duplicated in the interface.

[2019-04-07 16:53] jdramsey commented on #1049
Fixed, https://github.com/cmu-phil/tetrad/pull/1050.

[2019-04-07 18:45] jdramsey commented on #748
Currently those TS algorithms pop up a warning that they need Time Lag data as input, which is a step in the right direction.

[2019-04-08 02:37] jdramsey commented on #997
We can just change the wording "updated to reflect the following evidence" (the usual wording) to "conditional on the following additional evidence". That would be clearer.

[2019-04-08 07:25] jdramsey commented on #970
This adjustment to GraphNode (and similarly to AbstractVariable) sorts variable so that X10 is in the right place in the order X1,...,X10. It's possible this is slow in an inner loop; I don't know yet. Need to go through and make sure it's working correctly everywhere in Tetrad, like in the Simulation save gadget Erich mentions. if it works I'll make a branch and move this stuff over.

    public

[2019-04-08 15:10] yuanzhou commented on #1008
@jdramsey The changes that @kvb2univpitt and I made to the IMaGES algorithms will be merged some time today I think. I'm testing the change.

[2019-04-08 15:19] jdramsey commented on #1008
Nice!

On Mon, Apr 8, 2019 at 11:10 AM Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-04-08 15:43] kvb2univpitt commented on #970
Looks the node names are in lexicographical order.  The above solution is not a general solution because it does not handle nodes with names that do not have numbers in them.  As the matter  of fact, code will break if a node name as no number in the name.

Assuming we have this:
[code]
We would want this general ordering:
``` apple, VAR, VAR_1, VAR_2, VAR_3, VAR_10, VAR_12, VAR_20, VAR_23, VAR_10

[2019-04-08 15:50] jdramsey commented on #970
Brilliant!

On Mon, Apr 8, 2019 at 11:43 AM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-04-08 15:51] jdramsey commented on #970
@kvb2univpitt Should I switch to your code and fix the pull request?

[2019-04-08 15:54] kvb2univpitt commented on #970
@jdramsey Sure.  Please let me know if you find any edge case to fix.

[2019-04-08 16:49] jdramsey commented on #970
Hold on, this code needs to sit inside the comparator, so you only have two nodes to compare and you have to return -1, 0, or +1. Let me adjust it.

[2019-04-08 17:03] jdramsey commented on #970
@kvb2univpitt  I think this is the adjustment:

    public int compareTo(Object o) {
        String node1 = this.getName();
        String node2 = ((Node) o).getName();
        String s1 = node1.replaceAll("\\D+", "");
        String s2 = node2.replaceAll("\\D+", "");
        if (s1.isEmpty() && s2.isEmpty()) {
            return node1.toLowerCase().compareTo(node2.toLowerCase());
        } else {

[2019-04-08 17:04] jdramsey commented on #970
@kvb2univpitt So far this is all in my own branch, I just realized, but I will put it in a separate branch for you to examine.

[2019-04-08 17:07] jdramsey commented on #970
@kvb2univpitt The only corner case I can think of so far is if you have lagged variables, like X10:2. You want to sort by X, Y, Z, then by 1,...,10, then by :1, :2,... Do you have an idea how to do that?

[2019-04-08 17:17] kvb2univpitt commented on #970
@jdramsey You have to make a separate rule for that.  Basically, if it's a lag variable you sort by method A, else you sort by method B.  I can code it up if you'd like.

[2019-04-08 17:40] jdramsey commented on #970
https://github.com/cmu-phil/tetrad/pull/1051

[2019-04-08 17:54] jdramsey commented on #970
It would probably be better if you coded it up; I'm not familiar with doing
it you compact way. If it's OK.

I made a pull request for you with your code; I can update it if you give
me an updated comparator.

Unfortunately I just realized that although this solves a major problem in
the interface, which we've been fighting for some years now, I don't know
whether it resolves Ruben's original worr

[2019-04-08 18:13] yuanzhou commented on #1008
Addressed IMaGES algorithms via pull request #1047. Now the users will only see IMaGES discrete or continuous based on the input data type. The implementations of these two algorithms stay the same as before to ensure the algorithm integrity.

[2019-04-08 18:13] kvb2univpitt commented on #970
@jdramsey I believe it should also fix the command-line tool.

[2019-04-08 18:13] #1046 closed

[2019-04-08 18:16] #1049 closed

[2019-04-08 19:12] kvb2univpitt commented on #970
@jdramsey Actually, this might be more complicated than I anticipated.

Given a list of variables below how should the order be?
``` X1, N1, Z, X, Y, X5, X2, N:2, X:1, X:2, Z1 ```

I want to write a complete rules for sorting.

[2019-04-08 20:01] mglymour opened #1054 "Bayes IM Observed Vars Only will not simulate"
In 6.7.0-0, using a Bayes IM with observed variables only to simulate results in a simulation that contains 0s for all datapoints. (Or whatever non-numerical value has been associated with 0, for non-ordered data.)

[bayesimobserved.tet.zip](https://github.com/cmu-phil/tetrad/files/3056071/bayesimobserved.tet.zip)

[2019-04-08 20:28] cg09 commented on #1054
What is your point?

On Mon, Apr 8, 2019 at 4:01 PM mglymour <notifications@github.com> wrote:

[2019-04-08 20:34] jdramsey commented on #696
@espinoj With Zhou's help, I just solved https://github.com/cmu-phil/tetrad/issues/952, so now you can save out all datasets and graphs plus parameters from the simulation box. Is this good enough?

[2019-04-08 20:38] jdramsey commented on #853
Another way to do this is to mimic the Save Simulation menu item in the Simulation box, which now works correctly. We just got saving parameters to work as well, but fixing a "Joe's a dumbass" bug.

[2019-04-08 20:43] jdramsey commented on #853
Actually, Madelyn's option (c) should be doable now that the Save Simulation menu item works in the Simulation box. We just need to adapt that so that is saves out just (found) graphs and parameters, instead of (true) graphs, datasets, and parameters. @espinoj @mglymour

[2019-04-08 20:44] jdramsey commented on #853
@yuanzhou

[2019-04-08 21:11] mglymour commented on #1054
Instead of simulating varied data, it simulates all zeroes. Is that the intended functionality?

[2019-04-08 21:43] jdramsey commented on #970
This:

N1, X, X1, X2, X5, Y, Z, Z1, X:1, N:2, X:2

The main sequence should be no :, :1, :2, ...

With each of these, it should be alphabetical by the prefix.

Within prefixes (and within :'s) it should sort by integer.

On Mon, Apr 8, 2019 at 3:12 PM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Bak

[2019-04-08 21:45] jdramsey commented on #1008
Thanks!

On Mon, Apr 8, 2019 at 2:13 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-04-08 23:15] cg09 commented on #1008
Hmm. Why don't we have images-something for search with mixed data types?
Images as written isn't appropriate for searches based on regression, but
maybe modified?

On Mon, Apr 8, 2019 at 5:46 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-08 23:48] jdramsey commented on #1008
@cg09 That is less a 'bug fix' and more a 'new feature'. We could make an Images version based on conditional Gaussian, but that would have to be extensively tested before putting it in the interface.

[2019-04-09 03:31] jdramsey commented on #772
@espinoj Wait, hasn't this been fixed as well? I'm getting the impression that a lot of these issues have been fixed already. The BIC score pops up in the window when I estimate.

[2019-04-09 04:08] jdramsey commented on #567
This has been fixed for ages. @espinoj

[2019-04-09 04:08] #567 closed

[2019-04-09 13:23] jdramsey commented on #805
@kvb2univpitt @espinoj Wait, this is fixed! I just tried it! On a mac. I think this can be closed..?

[2019-04-09 14:09] yuanzhou commented on #853
Actually @kvb2univpitt and I discussed about this couple weeks ago and we also talked to Joe after the monthly CCD meeting. This comes down to the design purposes of the Graph box and how it should be used properly.

Currently,

1. we've seen the Graph box being used as source input, we create a Graph, then connect IM and PM, do a search. Or do a comparison using the search result with the true gr

[2019-04-09 15:23] jdramsey commented on #996
Oh, I hadn't considered that. If you click the little dots at the bottom of
the email, you'll see a link to "view it on Github"; if you click that
you'll be taken to the issue in Github. It that's not helpful, I can copy
the links into the email for you it's no problem.

On Tue, Apr 9, 2019 at 9:34 AM cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Resea

[2019-04-09 15:40] chirayukong commented on #997
@jdramsey I can help fix the text here.

[2019-04-09 16:34] #936 closed

[2019-04-09 16:35] #778 closed

[2019-04-09 16:36] #952 closed

[2019-04-09 16:57] jdramsey commented on #807
This is fixed! Can be closed.

[2019-04-09 17:10] jdramsey commented on #803
@yuanzhou I can't reproduce this; it looks to be fixed! Something somebody did must have fixed it. I think this can be closed.

[2019-04-09 17:14] yuanzhou commented on #803
I just tested again and couldn't reproduce. I assume it has been magically fixed :)

[2019-04-09 17:14] #803 closed

[2019-04-09 17:15] yuanzhou commented on #853
Link this to #1032

[2019-04-09 17:15] chirayukong commented on #997
https://github.com/cmu-phil/tetrad/pull/1060
<img width="849" alt="Screen Shot 2019-04-09 at 1 11 58 PM" src="https://user-images.githubusercontent.com/4652250/55820638-8fdc0c00-5ac9-11e9-94ab-c7fbfc8e7713.png">

[2019-04-09 17:16] jdramsey commented on #880
@espinoj I think this has been fixed. The 0/1 variables have 2 categories; if you specify that and load as mixed, it gets it right.

[2019-04-09 17:18] yuanzhou commented on #880
The metadata file now takes care of this overwriting for each variable.

[2019-04-09 17:18] #880 closed

[2019-04-09 17:19] jdramsey commented on #888
@kvb2univpitt I think if you set the max discrete value too low and it reads it in as continuous, it's your  fault. :) The dataset you read in is in fact continuous.

Or are you suggesting that if a variable has only two values, it should be interpreted as discrete even if the values are all real values? That's a possibility.

Sorry guys for not checking all of these issues earlier!

_I_ think thi

[2019-04-09 17:39] yuanzhou commented on #671
This has been addressed via #1047

[2019-04-09 17:39] #671 closed

[2019-04-09 17:42] yuanzhou commented on #993
I think I've addressed this issue by ALWAYS using the HTML manual within the jar. Previously we were going to the github pages for the algorithm descriptions.

[2019-04-09 17:42] #993 closed

[2019-04-09 18:03] cg09 commented on #888
Two valued variables with real values should NOT be treated as discrete.
If they were, then binary variables could never be used in a linear
regression.

On Tue, Apr 9, 2019 at 1:19 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-09 18:05] jdramsey commented on #888
Good point.

On Tue, Apr 9, 2019 at 2:03 PM cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-04-09 18:06] cg09 commented on #997
Unless the Updater is doing something wrong, "conditional on values of its
parents" should not occur in desciption of the output.

On Tue, Apr 9, 2019 at 1:16 PM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

[2019-04-09 18:08] cg09 commented on #880
??? Please explain.

On Tue, Apr 9, 2019 at 1:18 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

[2019-04-09 18:12] jdramsey commented on #997
But it is conditioning on values of its parents. Those conditionings are fixed. The action of updating consists in conditioning on values of additional variables. So if the graph is

X->Y

then the table will show (among other things) P(Y=1 | X = 1). If you in addition condition on Z = 2, it will instead show P(Y = 1 | X = 1, Z = 2). So the structure of the model is being taken into account this w

[2019-04-09 18:14] yuanzhou commented on #880
@cg09 during the development of handling interventional data, Keivn and I added the metadata JSON file reading as part of the data loading. We can specify the data type of each variable in the metadata file, which also means we can overwrite if we want to treat a continuous variable as discrete for a later search algorithm.

[2019-04-09 18:28] jdramsey commented on #997
@cg09 Actually, no, I think the original wording was right. It's the marginal probability for the model, _updated_ to reflect the given evidence. That's exactly what it is. Underneath, it's the probability of variable, conditional on the evidence.

Is that unclear? How would you prefer to word it? I think this is purely an issue of wording; the updater works fine.

<img width="883" alt="Screen Sho

[2019-04-09 18:33] jdramsey commented on #997
@cg09 Oh hold oh, I see your issue! The rewording should say condition on parent values. Sorry, slow today.

@chirayukong Could you change that wording from

conditional on values of its parents, conditioned on the following additional evidence

to just

conditioned on the following additional evidence

That should get it!

[2019-04-09 18:38] chirayukong commented on #997
@cg09 sure, but we will keep "conditional on values of its parents," on the Bayes IM box, and if there is any evidence, we remove it, right? The UpdatedBayesImWizard is being used in many Bayes IM related boxes.

[2019-04-09 18:46] chirayukong commented on #997
Oh, I was wrong. It was a component of the Bayes Updater box only. Here it is the new text.
<img width="843" alt="Screen Shot 2019-04-09 at 2 46 28 PM" src="https://user-images.githubusercontent.com/4652250/55826562-4ba33880-5ad6-11e9-816c-5ef82304f323.png">

[2019-04-09 18:47] jdramsey commented on #997
@Chirayu Wongchokprasitti <chirayu.kong@gmail.com> @Clark Glymour .
<cg09@andrew.cmu.edu> Yeah, the Bayes IM box is producing tables; the
Updater (sorry) is just producing updated marginal probabilities.

On Tue, Apr 9, 2019 at 2:38 PM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy

[2019-04-09 18:47] jdramsey commented on #997
I think that's right :) But litmus test is @Clark Glymour .
<cg09@andrew.cmu.edu>

On Tue, Apr 9, 2019 at 2:46 PM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.an

[2019-04-09 19:07] jdramsey commented on #996
Clark, here's the link to this issue:

https://github.com/cmu-phil/tetrad/issues/996

Wondering what you thought should be done to address it? I'm thinking this is not a debugging issue bug maybe a new feature.

[2019-04-09 19:13] jdramsey commented on #836
@yuanzhou @chirayukong Clark is talking here about the RICF estimator that is currently located inside the SEM estimator as an option People need to know what they're selecting when they select this; it's different from the other estimators. Is it possible to have the following text come up when they select it? Or have this explained somehow in the estimator window?

"Please note that the RICF est

[2019-04-09 19:33] cg09 commented on #996
For small numbers of variables and value ranges, the output can be
formatted according the graph topology. Display the graph, e.g., X <- Y ->
Z as

                                      Y (1,p1; 2; p2; 3, p2)
                                             /                         \
                                           V                           V
                               X(1; p1; 2; p2

[2019-04-09 19:34] cg09 commented on #836
OK.

On Tue, Apr 9, 2019 at 3:13 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-09 19:35] cg09 commented on #997
Yes.

On Tue, Apr 9, 2019 at 2:38 PM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

[2019-04-09 19:36] cg09 commented on #997
Correct.

On Tue, Apr 9, 2019 at 2:33 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-09 19:40] cg09 commented on #997
The revised output is fine.

On Tue, Apr 9, 2019 at 2:12 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-09 19:41] cg09 commented on #880
Thanks.

On Tue, Apr 9, 2019 at 2:14 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

[2019-04-09 19:44] cg09 commented on #997
Good. Thanks.

On Tue, Apr 9, 2019 at 2:47 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-10 10:54] jdramsey commented on #579
@yuanzhou @cg09  No, this is working in the development branch. (Sorry, I realized this is an algorithmic issue.) See picture below. I made a SEM IM, added an updater, then set the updated value of X7 to 8.0, and you see, the mean of X7 is set to 8.0. I don't know what was happening before, but it's working now.

<img width="976" alt="Screen Shot 2019-04-10 at 6 53 04 AM" src="https://user-images.

[2019-04-10 11:11] jdramsey commented on #740
@yuanzhou @cg09  Some comments. The graph menu was irrelevant to this; none of the items in it applied to time lag graphs. (Maybe a new menu should be added with items that do apply, but new feature I guess.) I had commented the graph menu out.

I suppose it wouldn't hurt if the configuration menu item in the Edit menu were made a button instead, if that's a cause of confusion. Then the edit menu

[2019-04-10 11:15] jdramsey commented on #996
@cg09 I believe we already give this output, but maybe I mistake what you say.

Here's the link to this issue: https://github.com/cmu-phil/tetrad/issues/996

[2019-04-10 11:20] jdramsey commented on #957
Actually this is fixed and can be closed.

[2019-04-10 12:34] cg09 commented on #996
For continuous data the correlations conditional on a variable values or
interventions could be given.

On Wed, Apr 10, 2019 at 7:15 AM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-10 13:07] jdramsey commented on #996
@cg09 Those are actually given in the SEM Updater; they are actually calculated, and if you select the Implied Matrices tab you can  view them.

This issue: https://github.com/cmu-phil/tetrad/issues/996

[2019-04-10 13:30] cg09 commented on #996
Yes, it does. Note that if you update on a manipulation, and then update
again without the manipulation, it is the manipulated covariance matrix
that is returned.  In other words, updater always starts from its current
values for parameters, not the values before manipulation.  Note that
updating without manipulation does nothing for continuous variables--not
that it should. It would be good if th

[2019-04-10 15:36] jdramsey commented on #996
@cg09 Well, one thing that grates my intuition still (though we checked and rechecked this math before) is that if X-(a)->Y and you manipulate X to 8, you'd expect Y to now have a mean of 8a if it previously had a mean of 0. I'll _once again_ look at the linear algebra.

This issue: https://github.com/cmu-phil/tetrad/issues/996

[2019-04-10 16:02] #957 closed

[2019-04-10 16:18] #997 closed

[2019-04-10 16:49] cg09 commented on #996
You don't need to look at the algebra because what you say is correct,
assuming noises have mean 0 and there are no other X - Y treks...maybe
check whether the means of noises stay 0 when you manipulate.

On Wed, Apr 10, 2019 at 11:36 AM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-10 17:38] #1044 closed

[2019-04-10 18:06] jdramsey opened #1061 "Suspecting the math in the SEM updater is wrong. Fixing."
It should be the case that if Y = a X + eY, so that E(Y) = a E(X) + E(eY), assuming that E(eY) = 0, that if you manipulate X so that its mean is now 8, then the mean of Y should be 8a. Currently it comes out as zero. Trying to fix this.

@cg09

[2019-04-10 18:34] jdramsey commented on #1061
I think what it should do, precisely, so far as updating expected values, is as follows.

Let mu be the vectors of means of the variables, some of which will have their means manipulated and some of will will be subject to hard interventions.

Create the model after the hard interventions have been applied. This will have the same coefficients as the original model being updated, but some of these

[2019-04-10 18:38] yuanzhou commented on #1015
Close this one since MimBuild has been put into FOFC.

[2019-04-10 18:38] #1015 closed

[2019-04-10 18:42] yuanzhou commented on #863
Causal web is no longer supported or being publicly used.

[2019-04-10 18:42] #863 closed

[2019-04-10 18:45] yuanzhou commented on #822
Tested and everything looks good. I also remember we probably have fixed this earlier.

[2019-04-10 18:45] #822 closed

[2019-04-10 19:03] mglymour opened #1063 "Unchecking "Pick new random values" box in Bayes IM does not work"
In 6.7.0-0, when creating a Bayes IM, if you choose to randomly assign probability values, there is a check box that says, "Pick new random values every time this Bayes IM is re-initialized." This check box does not appear to do anything. Whether it is checked or unchecked, the probability values change every time the IM is re-initialized.

Similarly, there's a check box in the SEM IM that says "P

[2019-04-10 19:17] jdramsey commented on #1063
I think these checkboxes can simply be removed from the interface without any ill effects.

[2019-04-10 19:31] kvb2univpitt commented on #970
@jdramsey OK.  Think this will do it.

Input:
[code]
Sorting Algorithm:
[code]
Output:
``` A, A1, N1, X, X1, X2, X5, Y, Z, Z1, A:1, N:2, X:1, X:2 ```

Looks right?

[2019-04-10 19:48] kvb2univpitt commented on #853
@mglymour @jdramsey We had some discussion about the search box in our daily stand-up meeting today.  We think that the search box should only output a single graph.  When multiple datasets is given to a search box, only algorithms that can handle multiple data should show up in the algorithm list.  We believe that it is very confusing for the users to have multiple graphs when running FGES on mul

[2019-04-10 19:52] jdramsey commented on #970
Beautiful! Wow, that turned out to be hard. Should I put your code into the pull request? (I guess I could try it out more first.)

[2019-04-10 19:58] kvb2univpitt commented on #970
@jdramsey Yes, please put that code into the pull request.  I'll let you test it out first.  I'll test it again when I do the pull request.

[2019-04-10 20:27] jdramsey commented on #853
@kvb2univpitt  The thing I've always used that for is to compare algorithm outputs across datasets, and I've used the feature (getting multiple search results across algorithms) a lot for that purpose. If I'm the only one doing that, it's not worth it; I can write code. I think if it were made clear that the comparing algorithm results across datasets is not something the search box is to be used

[2019-04-10 20:47] kvb2univpitt commented on #853
@jdramsey Getting rid of multiple output graphs would make the search output consistent.  It would also fix our graph box problem.  I think we should collectively decide on this.

[2019-04-10 21:35] jdramsey commented on #853
@kvb2univpitt My life is flashing before my eyes, and I am not seeing any example in memory where anyone but me ever made use of the multiple output graphs capability. I say get rid of it.

One thing I will miss is the ability of the Tabular Comparison to make nice tables comparing different runs of an algorithm, but I think that's OK. The algorithm comparison tool will still be able to make the t

[2019-04-10 21:43] jdramsey commented on #970
@kvb2univpitt Sorry I got sidetracked on this. I'm getting to it now.

[2019-04-10 21:49] jdramsey commented on #853
@kvb2univpitt Clark was just here. He was unaware this capability existed. So yes, we can live without it. He thought it was clever but unnecessary.

[2019-04-11 00:54] jdramsey commented on #579
Sorry, the issue is for some reason this is not broken. I accidentally closed it though, sorry.

[2019-04-11 07:57] jdramsey commented on #462
Hmm.... now of course FGES outputs this at the console:

Model Score = -6584.72144338059
X4 Score = -1317.1697022611224
X1 Score = -906.9774782116037
X2 Score = -189.21162271446448
X5 Score = -249.40233831044182
X8 Score = -640.0180236400199
X3 Score = -1192.49653482074
X7 Score = -1307.00931272019
X9 Score = -1151.7162359461818
X6 Score = -1205.2605926012343
X10 Score = -1501.5691306222843

These

[2019-04-11 08:19] jdramsey commented on #821
@yuanzhou @espinoj I'm trying this in the interface right now and Fisher Z seems to be doing better than SEM BIC! SEM BIC seems to be off, not sure why; I'll look at it. In any case, Fisher Z seems the better default!

[2019-04-11 08:33] jdramsey commented on #821
@yuanzhou @espinoj Yep, unless things change, this adjustment shouldn't definitely not be done. For PC Variants, Fisher Z should be the default, as it currently is. I'll try to figure out what the issue is.

So think this one is...won't fix.

[2019-04-11 08:56] jdramsey opened #1065 "Adjust parameter defaults."
Clark has pointed out a number of parameters that have unhelpful defaults. As I remember these and think of more, I'll note them here. I have some more besides to add. Then I'll make all of these adjustments in Zhou's manual.

For GLASSO, the parameter IA should be set to Yes.

For SEM BIC, the covariance range parameters should both be set to 0 (high and low). This may require a slight adjustment

[2019-04-11 09:00] jdramsey commented on #1065
@cg09 This issue. https://github.com/cmu-phil/tetrad/issues/1065

@yuanzhou @espinoj

[2019-04-11 09:27] jdramsey commented on #1065
FASK threshold for negative coefficients should be set to -1 by default.

[2019-04-11 09:30] jdramsey commented on #1065
FASK 2-cycle alpha should be 0.

The covariance range for the SEM BIC initialization editor (not in parameters in Zhou's manual) should be 0 to 0.

[2019-04-11 15:02] cg09 commented on #1065
Joe,

This is not healthy. You are obsessed. Get some sleep and do something else
for a while.

Clark

On Thu, Apr 11, 2019 at 5:30 AM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-11 15:06] jdramsey commented on #1065
I got some sleep I feel back asleep at 5:30 and slept until 9:30.

I have to do reviews for IJCAI today. They're due. I may duck out of the
meeting.

On Thu, Apr 11, 2019 at 11:02 AM cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail

[2019-04-12 16:14] cg09 opened #1066 "graph box latent edges"
6.7.0  The list of edges in the graph box does not include edges involving latent variables.  It should.

[2019-04-12 16:56] cg09 opened #1067 "DEfault parameters in IM Box"
In the SEM IM interface, the default values for error covariances should be 0.0 to 0.0.  That indicates no correlated errors, and is the most common assumption

[2019-04-12 16:57] jdramsey commented on #1067
See https://github.com/cmu-phil/tetrad/issues/1065.

[2019-04-12 17:00] jdramsey commented on #1067
@cg09 I guess I can work on these default parameters now. I'll reset all of the default parameters in https://github.com/cmu-phil/tetrad/issues/1065.

[2019-04-12 17:09] cg09 opened #1068 "Estimator"
If you enter a model  without a latent variable into an Estimator box and  select EM, you get an error message--"EM requires models with a latent variable".   Ok, that's an arbitrary limitation but we can live with it.  BUT when you delete the contents of the Estimator box and reopen it, where you should get an interface with the a choice of estimators, you instead get the same error message, even

[2019-04-12 17:25] cg09 opened #1069 "Question: RICF Estimator"
The RiCF estimator seems to require an acyclic graph. Does anyone know if that is the case?

[2019-04-12 17:55] jdramsey commented on #1069
Here is the original paper:

Drton and Richardson (2003), Iterative Conditional Fitting for Gaussian
Ancestral Graph Models

Joe

On Fri, Apr 12, 2019 at 1:25 PM cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 26

[2019-04-12 18:41] kvb2univpitt commented on #853
@jdramsey @mglymour @yuanzhou  Ok.  Just to be clear.  The Search box should only produce a single graph, right?  If multiple datasets are given only algorithms that can handle multiple datasets should show up in the algorithm list.  If a single dataset is given, all the algorithms should show up in the list.

[2019-04-12 19:39] yuanzhou commented on #853
@kvb2univpitt I remember we also discussed with Jeremy that when multiple datasets are provided, we'll tell the users that only the first one will be used? Did we? I think this can be helpful otherwise the users may wonder why other commonly-used algorithms are not in the list. Or we can suggest the users to merge the multiple datasets into one single dataset? Let's think about a way of expressing

[2019-04-12 19:57] jdramsey commented on #853
@Yuan, Zhou <zhy19@pitt.edu> @Bui, Kevin Van <kvb2@pitt.edu> I suppose you
could just say, "Listing all algorithms that take a single dataset as
input," or "Listing all algorithms that take multiple datases as input"...?
Or did you man a "slick" way of handling it? :)

On Fri, Apr 12, 2019 at 3:39 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Directo

[2019-04-12 20:13] cg09 commented on #853
I don't understand the question here.  "I remember we also discussed with
Jeremy that when multiple datasets are provided, we'll tell the users that
only the first one will be used?"

 Meaning only the first data set will be used other than with IMaGES and
MultiFask, or something else?

On Fri, Apr 12, 2019 at 3:39 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

[2019-04-12 20:25] yuanzhou commented on #853
The thing is the data loader allows the users to load multiple datasets. If a user connects a search box directly to the data box with multiple datasets, he/she may expect the search algorithm to run across all the data files.

Would it be a good idea if we do some "extra" work behind the scenes? Say a user has loaded 5 data files in data loader, and possibly may do some editing in one of the file

[2019-04-12 20:38] jdramsey opened #1072 "Make all graphs non-editable in the Tetrad GUI except for those displayed by GraphEditor"
@kvb2univpitt I went through the editors in the Tetrad GUI. I think the rule is very simple. All graphs should be non-editable, except for those that use the GraphEditor as an editor. So I think if graphs were by default non-editable, but in the GraphEditor editing were turned on, that would be completely satisfactory.

I'll have to get used to not be able to delete nodes in the search box, but I

[2019-04-12 20:39] kvb2univpitt commented on #853
@mglymour @jdramsey @yuanzhou @espinoj Joe, what I mean is that if a Search box is connected to a Data box with only a single dataset loaded, the algorithm list will show algorithms that can handle single data set and algorithms that can handle multiple data sets.  However, if a Search box is connected to a Data box with multiple data sets loaded, the algorithm list will only show algorithms that

[2019-04-12 20:43] kvb2univpitt commented on #1072
@jdramsey The rule makes sense.

[2019-04-12 20:48] jdramsey commented on #853
@mglymour @yuanzhou @kvb2univpitt @espinoj @cg09 I think the user is already used to algorithms being filtered; I don't think it will be surprising to them if only the algorithms are shown that they are able to use. I think automatically combining the data for the user is a little unhelpful; maybe that's not what they wanted to do. Mixing data is a funny business; the results can often be counteri

[2019-04-12 21:02] #1014 closed

[2019-04-12 21:04] kvb2univpitt commented on #1032
Will be fixed from issue #1072.

[2019-04-12 21:04] #1032 closed

[2019-04-12 21:04] jdramsey commented on #1069
In case you're still wondering, here's an except from the first paragraph of that article.

Well-known  generalizations  ofboth  undirected  graph  models  and  DAG  models  are  the chain graph models, which can be equipped with two alternative Markov properties (Andersson et  al.   2001).   A different generalization is obtained from ancestral graphs introduced by Richardson and Spirtes (2002) =

[2019-04-12 21:06] jdramsey commented on #1067
@cg09 My other pull request covers this.

[2019-04-12 21:06] #1067 closed

[2019-04-12 21:14] jdramsey commented on #1054
@mglymour @cg09 Yeah I think this needs to be removed, if only on the grounds that none of us remembers what it was supposed to do anymore.

I looked in the code; it doesn't seems to be doing anything helpful.

@yuanzhou I think this just needs to be commented out of the spec--do you want me to do it?

[2019-04-12 21:15] jdramsey commented on #1043
This is fixed. Kong's passing of the logging parameters into the algorithms fixed it.

[2019-04-12 21:15] #1043 closed

[2019-04-12 21:17] jdramsey commented on #1040
Fixed. https://github.com/cmu-phil/tetrad/pull/1059

[2019-04-12 21:17] #1040 closed

[2019-04-12 21:18] jdramsey commented on #1033
Unnecessary. I take it back.

[2019-04-12 21:18] #1033 closed

[2019-04-12 21:19] kvb2univpitt commented on #853
@mglymour @yuanzhou @kvb2univpitt @espinoj @cg09 I agree that automatically combining the data for the user is unhelpful.  However, I don't think we should a pop-up dialog saying "You have mixed the data. Are you willing to live with the consequences? Yes/No", because we will be automatically combining the data for the user.  Let's not put the combining data function all over the place.

[2019-04-12 21:19] jdramsey commented on #1008
@yuanzhou This is all fixed now, yay! Can I close it?

[2019-04-12 21:22] kvb2univpitt commented on #1008
@jdramsey I can say "yes, we can close it", since I worked on it. ;)  I'll close it.

[2019-04-12 21:22] #1008 closed

[2019-04-14 05:12] jdramsey opened #1074 "Edges view in the Knowledge box duplicates nodes"
Old bug. Found some cases were it was still happening. Easy to fix, I think.

[2019-04-14 05:15] jdramsey commented on #1074
To duplicate, make a Knowledge box (with say Graph as parent) and click to the Edges tab. Then close the Knowledge box and reopen. Then draw one of the nodes off to the side. You will see another duplicated node underneath.

[2019-04-14 05:17] jdramsey commented on #1074
https://github.com/cmu-phil/tetrad/pull/1075

[2019-04-14 05:30] #1074 closed

[2019-04-14 05:31] jdramsey commented on #1074
Can't duplicate anymore.

[2019-04-14 17:55] #1072 closed

[2019-04-14 17:58] #970 closed

[2019-04-14 18:04] cg09 opened #1076 "Updater sequence..minor issule"

[2019-04-14 18:10] cg09 commented on #1076
6.7.0 The Updater interface is flaky. When a manipulation is specified in the SEM updater, the update is done automatically, before the "update" is toggled.

[2019-04-14 18:31] cg09 opened #1077 "Cannot get an IM or PM from a Simulated Conditional Gaussian Model"

[2019-04-14 19:17] chirayukong commented on #1077
@cg09 I'm working on IM and PM of Conditional Gaussian mixed data based on @bja43 and @jdramsey's paper.

[2019-04-14 20:04] jdramsey commented on #1076
Why is that flaky? It's not making mistakes (except that the formula is
wrong)

On Sun, Apr 14, 2019, 2:10 PM cg09 <notifications@github.com> wrote:

[2019-04-14 20:06] cg09 commented on #1076
If a user clicks on a manipulation and then reconsiders, too late, must
start over with another updater box.

On Sun, Apr 14, 2019 at 4:04 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-14 21:11] jdramsey commented on #1076
If they change their mind, it will just update again. You can also click
the Update button twice if you like. I think this is a bug, but if it's
confusing, we can change it. Just need to remove one of the listeners.

On Sun, Apr 14, 2019 at 4:06 PM cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall

[2019-04-15 14:32] yuanzhou commented on #1054
@jdramsey please do.

[2019-04-15 15:52] jdramsey opened #1079 "new values"

[2019-04-15 15:52] #1079 closed

[2019-04-15 20:19] #1063 closed

[2019-04-15 20:19] #1054 closed

[2019-04-16 20:18] cg09 opened #1082 "Unintelligible text inserted in manual"
Help!  Someone (neither Madelyn nor I) has inserted the following text in the "Merge Datasets"
Madelyn will graciously comment with the text.

[2019-04-16 20:20] mglymour commented on #1082
Clark's final sentence, which he forgot to include, is "What does this mean?"

This option looks for pairs of interventional variables (currently only discrete variables) that are deterministic and merges them into one combined variable. For domain variables that are fully determinised, we'll add an attribute to them. Later in the knowledge box (Edges and Tiers), all the interventional variables (

[2019-04-16 21:08] jdramsey commented on #1082
I take it the first sentence is OK--the idea here is just to merge deterministic interventional variables. The word "determinised" isn't an English word; perhaps the idea could be written out as follows. Once all of the deterministic variables are properly merged, you end up with a new list of variables. Each of the original interventional variables is mapped to exactly one of the new variables.

[2019-04-16 21:11] jdramsey opened #1083 "Loading forbidden groups from a knowledge file buggy."
This file should load and DOES NOT!

/knowledge
addtemporal

1  X3 X4 X6 X9
2  X10 X2 X5 X7
3  X1 X8

forbiddengroup
X4 X6
X9

forbiddengroup
X10
X9 X5

[2019-04-16 21:26] cg09 commented on #1082
I have no idea what it means to "merge" two variables. So I still don't
understand the passage.

On Tue, Apr 16, 2019 at 5:08 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-17 15:58] kvb2univpitt opened #1084 "Bayes Parametric Model Variable Ordering"
The ordering of selected node is incorrect.  The ordering goes from X1 -> X10 -> X2 instead of X1 -> X2 -> X10

![ordering](https://user-images.githubusercontent.com/10729309/56302534-f683aa00-6107-11e9-92d3-f8f5abcb880f.png)

[2019-04-17 18:47] ekummerfeld opened #1085 "Saving and loading graphs as text files appears not to work in GUI"
As the title says. Can try this with any graph. Specifically, loading the text files doesn't work. They save into text files fine. Example:

Graph Nodes:
X1;X2;X3;X4;X5

Graph Edges:
1. X3 --> X4
2. X4 --> X5

[2019-04-17 19:00] kvb2univpitt commented on #1085
@ekummerfeld Jeremy, @espinoj, and I were discussing about this few weeks ago.  I think the decision is to move forward with json format instead, since the json format version stores additional information such as bootstrap edge probabilities.

[2019-04-17 19:01] jdramsey commented on #1085
There's an extra blank line in your file.

Graph Nodes:
X1;X2;X3;X4;X5

Graph Edges:
1. X3 --> X4
2. X4 --> X5

[2019-04-17 19:02] jdramsey commented on #1085
That is, after Graph Edges:

If you take the blank line out after that it should load.

[2019-04-17 19:06] jdramsey commented on #1085
@kvb2univpitt Could the json format also optionally store node position information? Just curious.

[2019-04-17 19:23] kvb2univpitt commented on #1085
@jdramsey Sure, if the node position information is in it.

[2019-04-17 19:30] jdramsey commented on #1085
@Bui, Kevin Van <kvb2@pitt.edu> That would be awesome. I just lost a lot of
valuable not position information. :( I'll use json next time.

On Wed, Apr 17, 2019 at 3:23 PM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
O

[2019-04-17 19:54] jdramsey opened #1086 "Notes on discrete simulation and search."
Some notes to self about discrete simulation and search. Also, if anyone has comments, please.

1.	I once again went back and compared our different discrete searches to one another in simulation. For PC, the default has to be PC-Max; the other settings give almost all wrong orientations. I thought maybe there was some error in the math, but after several hours I can’t find one. Part of the proble

[2019-04-17 19:55] ekummerfeld commented on #1085
@jdramsey I copied and pasted the text file generated by the Tetrad GUI itself, and that does not load. If you can open the GUI, make a graph, save it in text format, make a new graph node, and then load that txt file graph successfully, let me know.

[2019-04-17 19:57] ekummerfeld commented on #1085
@kvb2univpitt Okay good to know. I was just having trouble trying to visualize some graphs in Tetrad quickly. Ended up using the xml format instead which is working fine, I just attempted with the txt format first since it looked simpler to generate.

[2019-04-17 20:07] jdramsey commented on #1085
@ekummerfeld There was a problem that I fixed a while back, but it may still just be in the development version and not the published version. I did the same experiment (in the development version), making  graph, saving it and then loading it. Mine worked. Do you have the magic link for getting the development version?

[2019-04-17 20:13] ekummerfeld commented on #1085
@jdramsey I've just been using 6.6.0, the latest published version. Tested on 6.5.4 also just to see and it was a problem there too. Probably something that should be in the published version though, not just for experimental version users :P

[2019-04-17 21:07] jdramsey commented on #1086
Regarding 4, one option is to remove the automatic discretization options inside of simulations and just use the discretizer data manipulation instead. There are a few bugs there, but it shouldn't be hard.

[2019-04-17 21:15] jdramsey commented on #1086
Sorry, that was for 3. For 4, adding measurement noise could be made a data manipulation. Randomly reordering data columns already is one. So suggestion: Take out the automatic data transformations inside of simulations and just make them all data manipulations. That would solve 3 and 4.

Another such item is standardizing the data, which is already a data manipulation.

For the discretization dat

[2019-04-17 23:39] jdramsey commented on #1086
These suggestions:

a. Switch the distribution for ML Bayes IM for coefficients from Uniform to Beta.

b. Replace automatic discretizations inside of some of the simulations by the use of the discretizer. Fix bugs so that all works. In the discretizer, allow for a certain percentage of the variables to be discretized so you can get mixed data.

c. Remove the standardization and random column reord

[2019-04-17 23:39] #1086 closed

[2019-04-17 23:39] jdramsey opened #1087 "Suggestions for discrete simulation and search."
These suggestions (revision):

a. Switch the distribution for ML Bayes IM for coefficients from Uniform to Beta.

b. Standardize the following across simulation method to the extend possible:

   * Discretization
   * Standardization
   * Random column reordering

c. Compare our chi square calculations to those in R.

[2019-04-18 01:32] espinoj commented on #1085
Just to clarify, we won't be getting rid of the txt format but we won't be adding any new parameters to the txt format.  Anything new about a graph will go into the JSON format.

[2019-04-18 04:10] jdramsey commented on #1087
For (b), there may be a second requirement from the algorithm comparison tool. These parameters may need to be included in the simulations, not sure.

[2019-04-18 12:11] jdramsey commented on #1084
@kvb2univpitt This doesn't happen on my machine.

[2019-04-18 14:09] yuanzhou commented on #1082
This option looks for pairs of interventional variables (currently only discrete variables) that are deterministic and merges them into one combined variable. For domain variables that are fully determinised, we'll add an attribute to them. Later in the knowledge box (Edges and Tiers), all the interventional variables (both status and value variables) and the fully-determinised domain variables wi

[2019-04-18 14:24] yuanzhou commented on #1084
I did see the same incorrect ordering with the latest development. When clicked the down arrow next to the "Next" button, I saw X1 -> X10 -> X2 ...

![d](https://user-images.githubusercontent.com/195873/56367835-2abca080-61c4-11e9-9af9-39c4b8498786.jpg)

[2019-04-18 15:21] kvb2univpitt commented on #1084
@jdramsey I should have made it clear that it was the JComboBox that's had incorrect ordering, as @yuanzhou screenshot shown above.

[2019-04-18 15:26] kvb2univpitt commented on #1085
@jdramsey @espinoj I have nothing against keeping the txt format around.  But, it will confuse the users when they try to load the txt version and don't get the bootstrap edge probabilities.

[2019-04-18 15:43] kvb2univpitt commented on #1084
Fixed.

![Screenshot from 2019-04-18 11-30-34](https://user-images.githubusercontent.com/10729309/56373526-20ec6a80-61cf-11e9-8b36-f5ce9bfd9111.png)

[2019-04-18 15:52] jdramsey commented on #1084
Yay!

[2019-04-18 16:04] yuanzhou commented on #1082
@espinoj said he'll edit the text.

[2019-04-18 19:58] #1084 closed

[2019-04-19 16:10] jdramsey opened #1090 "Suggested defaults for discrete searches"
Based on simulations with variables with 3 categories using the algorithm comparison tool, some recommended defaults:

* Alpha for discrete variable searches with PC algorithms = 0.05

   - This is apparently different from continuous searches, so need a separate parameter under the hood.

* Collider discover rule for PC searches = CPC

  - For very small searches, PC-Max

* Conflict rule for PC s

[2019-04-19 16:15] jdramsey commented on #1090
Note that our current defaults for sample prior and structure prior for FGES/BDeu lead to some very bad searches, so this should be changed soon. On it.

[2019-04-19 16:48] jdramsey commented on #1090
Looking at models with 2-4 categories randomly across variables. The advice holds up pretty well. Maybe a default of 15 instead of 20 for FGES/BDeu is better. Also, PC-Max is better for sample size 100 as well, so the advice should be that for small sample sizes PC-Max is better; for sample sizes > 100 CPC. (I checked sample size 200--CPC was better.)

[2019-04-19 17:25] jdramsey commented on #1090
I left out one search option--FGES/Discrete BIC. I ran a comparison of FGES/BDeu against FGES/Discrete BIC. Usually the BDeu option is better, with the default sample and structure priors above, but discrete BIC is almost as good. The best penalty discount for it is clearly 1 (every time). Maybe we should just remove the penalty discount option for this.

[2019-04-19 18:21] jdramsey commented on #1090
Also, penalty discount for discrete BIC should according to all of my result always be set to 1 (standard BIC). We can effectively remove penalty discount as a parameter for this score.

[2019-04-19 18:26] kvb2univpitt commented on #1020
@jdramsey It looks like the resize method is not using any of its parameters:

[code]

[2019-04-19 20:32] #1069 closed

[2019-04-19 20:48] cg09 commented on #1090
what does "very small" searches mean--variables or samples and how small,
roughly of course.

On Fri, Apr 19, 2019 at 12:10 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-04-19 21:06] jdramsey commented on #1087
I think all of this is done except for comparing our chi square calculations to R. I'll do that this weekend.

[2019-04-19 22:22] jdramsey commented on #1090
@cg09 I mean by "very small" sample sizes of 100 or less. I know not everything thinks that's small, but from the point of view of our searches it definitely is.

[2019-04-22 19:56] kvb2univpitt opened #1093 "Search Box Only Shows One Algorithm on Graph Import"
Search box only shows TsIMages for graph input.
![algo_search](https://user-images.githubusercontent.com/10729309/56524251-1572a980-6517-11e9-8663-07fd568156dc.png)

[2019-04-22 21:16] kvb2univpitt commented on #1093
@yuanzhou We missed this edge case.

[2019-04-23 13:57] yuanzhou commented on #1093
Good catch!

[2019-04-23 14:03] #1093 closed

[2019-04-23 18:26] kvb2univpitt commented on #1020
@jdramsey The fix is not that bad.

[code]

[2019-04-23 20:56] #1020 closed

[2019-04-24 15:10] espinoj commented on #542
This is addressed in 6.6.0+

[2019-04-24 15:10] #542 closed

[2019-04-24 15:11] #558 closed

[2019-04-24 18:55] kvb2univpitt commented on #805
@jdramsey I fixed this a while back.  I'll close it.

[2019-04-24 18:55] #805 closed

[2019-04-24 19:17] jdramsey commented on #805
Thanks!

[2019-04-25 03:46] #1090 closed

[2019-04-25 03:46] jdramsey commented on #1087
All done.

[2019-04-25 03:46] #1087 closed

[2019-04-25 03:48] jdramsey commented on #1085
@kvb2univpitt I think this can be closed. It appears to be fixed in development, though not yet in a published version. How to test: Make a random graph and save it to a file in text format. Then load that graph from that text file in another graph box. It should load. Works for me.

[2019-04-25 03:49] jdramsey commented on #1076
@cg09 When I get a chance I'll work some more on the continuous updater and will fix this interface issue then.

[2019-04-25 03:50] jdramsey commented on #1042
@chirayukong Is this OK now? It seems to work for me. Can I close it?

[2019-04-25 04:00] chirayukong commented on #1042
Yes, it does. @jdramsey You can close this issue.

[2019-04-25 04:01] #1042 closed

[2019-04-25 14:07] #937 closed

[2019-04-25 16:02] #1085 closed

[2019-04-25 18:35] yuanzhou opened #1096 "Bootstrap error when running search on a graph"
Noticed this error when running GFCI with bootstrap on a graph with D-Separation. It works fine without bootstrap.

![Capture](https://user-images.githubusercontent.com/195873/56759542-329db700-6767-11e9-9e31-d95c1ffe0837.PNG)

After clicking the "Run Search" button you won't see any popups in GUI. But the console has this error:

![Capture2](https://user-images.githubusercontent.com/195873/567595

[2019-04-25 18:37] yuanzhou commented on #1096
@chirayukong can you take a look since you know best about the bootstrap coding?

[2019-04-25 18:45] jdramsey commented on #1042
Awesome! Thanks! Progress! :)

[2019-04-25 20:13] chirayukong commented on #1096
Could you give me the parameters in the simulation box? @yuanzhou

[2019-04-25 20:51] chirayukong commented on #1096
Oh, in the bootstrapping mode, it can run only with dataset(s) input, not a graph. How could we do subsampling when there is no data?

[2019-04-26 13:51] yuanzhou commented on #1096
@chirayukong if bootstraping is only supposed to run with dataset input, should we hide the bootstraping parameters when there's only graph input? Otherwise it'll confuse the users in both tetrad and cytoscape tetrad-express. I noticed this behavior when testing the cytoscape tetrad-express with graph input. And it turned out to be the cause in tetrad.

@kvb2univpitt any thoughts?

[2019-04-26 15:25] chirayukong commented on #1096
I think so. We should hide the bootstrapping parameters when there is no dataset input.

[2019-04-26 18:29] espinoj commented on #462
We now output BIC scores in log output and graph box dialogue when available (FGES, etc)

[2019-04-26 18:29] #462 closed

[2019-04-26 19:25] bja43 opened #1097 "parameter defaults are giving grief"
Earlier today I cloned the development branch.  When running the algorithm comparison tool, the parameter defaults appear to not be working. When you leave certain parameters blank, my understanding is that the tool will go grab them from elsewhere, but that no longer seems to be working and I have to specify them all manually.

[2019-04-26 20:14] espinoj commented on #579
confirmed this works

[2019-04-26 20:14] #579 closed

[2019-04-26 20:24] bja43 commented on #1097
Nevermind, the issue was fixed by running Maven clean and Maven compile.

[2019-04-26 20:24] #1097 closed

[2019-04-26 21:41] cg09 opened #1098 "Is FOFC working"
Will someone please check me?  in 6.7.0 FOFC is not working, unless I am doing something quite wrong. I attach a picture of the model and the FOFC output. The sample size is 1,000 and all coefficients are positive.

<img width="691" alt="Screen Shot 2019-04-26 at 5 38 23 PM" src="https://user-images.githubusercontent.com/16354745/56838001-892ff180-684a-11e9-902c-05b21f73c7d9.png">
<img width="465"

[2019-04-26 22:35] jdramsey commented on #1098
That's right, actually. Once you remove the impure X6, there are no
clusters of size 4.

On Fri, Apr 26, 2019 at 5:42 PM cg09 <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdr

[2019-04-26 23:44] cg09 commented on #1098
Not so. X1, X2, X3, X4 implies 3 tetrads, as do X1, X2, X3 and X5, as do
X7, X8, X9 with X4 or X5.

From the Kummerfeld Ramsey paper:

"Let a *vanishing quartet* be a set of 4 indicators in which all 3 tetrads
among the 4 variables are entailed to vanish by the PETS theorems....The
algorithm first calls *FindPureClusters*, which tests each triple to see if
it has the property that adding any other

[2019-04-27 17:42] kvb2univpitt commented on #1096
@yuanzhou @chirayukong Fixed!  Bootstrap parameters are removed from search on graph.

Search on data:
![data_search](https://user-images.githubusercontent.com/10729309/56853173-ffd3fa00-68f1-11e9-8f6b-7b0ad4ecb85c.png)

Search on graph:
![graph_search](https://user-images.githubusercontent.com/10729309/56853174-03678100-68f2-11e9-9bed-54226092ff4b.png)

[2019-04-27 22:29] chirayukong commented on #1096
Superb!

[2019-04-27 22:52] cg09 opened #1100 "Why No Resampling/Bootstrap for MimBuild?"
It would be good to have resampling for all search algorithms. I find better behavior for MimBuild with resampling

[2019-04-27 23:04] cg09 opened #1101 "MImBuild Interface Error"
MimBuild has a "Washdown" algorithm alternative that no longer exists. See picture
<img width="858" alt="Screen Shot 2019-04-27 at 7 02 09 PM" src="https://user-images.githubusercontent.com/16354745/56855976-1c3a5b80-691f-11e9-8037-f5b32d9771a4.png">

[2019-04-28 23:09] cg09 opened #1102 "Layered drawing layout does not work in sem pm (al thought there is a button for it) 6.7.0"

[2019-04-28 23:37] cg09 opened #1103 "question about edge probability output"

[2019-04-28 23:37] cg09 opened #1104 "question about edge probability output"

[2019-04-28 23:42] cg09 commented on #1104
Running FAS I obtain an X1 - X5 edge.  The edge probability table says:

<img width="365" alt="Screen Shot 2019-04-28 at 7 37 31 PM" src="https://user-images.githubusercontent.com/16354745/56871537-638f1d80-69ed-11e9-8743-3f8466353028.png">

Why does "no edge" have the same probability as "ensemble", and why is the probability of "no edge" equal to .9901? No resampling was done with the search.

[2019-04-29 13:46] yuanzhou commented on #1096
@kvb2univpitt Thanks Kevin! I'm looking at the pull request now.

[2019-04-29 14:43] yuanzhou commented on #1100
I remember @jdramsey moved MimBuild into FOFC as an option. And there's resampling parameters.

![Capture](https://user-images.githubusercontent.com/195873/56903741-e0aca800-6a6a-11e9-9523-621ee5fff49c.PNG)

[2019-04-29 14:56] cg09 commented on #1100
Thanks.

On Mon, Apr 29, 2019 at 10:43 AM Zhou (Joe) Yuan <notifications@github.com>
wrote:

[2019-04-29 15:02] chirayukong commented on #1104
It was a bug on the "preserved" ensemble method that always picks the max probability. Fixed https://github.com/cmu-phil/tetrad/pull/1105.

[2019-04-29 15:03] chirayukong commented on #1104
<img width="825" alt="Screen Shot 2019-04-29 at 10 58 40 AM" src="https://user-images.githubusercontent.com/4652250/56905574-76960200-6a6e-11e9-8ae7-cac0459b936b.png">

[2019-04-29 16:16] #1104 closed

[2019-04-30 02:53] #1096 closed

[2019-04-30 14:10] yuanzhou commented on #953
@jdramsey can we clean up the deprecated `edu.cmu.tetrad.data.DataReader` for the release purpose?

I still see the following places are using this old DataReader.

![Capture](https://user-images.githubusercontent.com/195873/56967927-3008dc00-6b30-11e9-8b88-5582c23cc4cb.PNG)

[2019-04-30 14:49] kvb2univpitt commented on #953
@yuanzhou We still need the old data reader to parse knowledge file.  We haven't isolated the knowledge file parsing function out of the old data reader yet.

[2019-04-30 15:07] yuanzhou commented on #953
So I went through those files and found the following usage of this old DataReader:

[code]

[code]

[code]

[code]

[code]

@kvb2univpitt you are right we still need it for parsing knowledge file and I'm not sure if `reader.parseTabular` can be replaced by the new DataReader, probably not? The rest of the places seem to be not to hard to recode. @jdramsey any suggestions?

[2019-04-30 15:13] kvb2univpitt opened #1106 "Refactoring getParameters() Method"
I have a proposition.  What are your thoughts on refactoring the getParameters() method so that when calling the method of the algorithm class, it only returns the parameters of the algorithm and not the combined parameters of test and/or scores?  By doing this we can get a specific parameters for test, scores, and algorithms so that we can categorize the parameters in the parameter panel.

[2019-04-30 15:58] yuanzhou commented on #1106
I like this idea and it'll make those parameters more organized for any updates. @kvb2univpitt also pointed out that we can put all the algo parameters into a enum class and call them in different places instead of hard-coding the string value.

[2019-04-30 16:07] yuanzhou opened #1107 "Only show edge type probabilities columns when there's a bootstraping"
Currently, in the Graph box, we have a table under the graph that shows the edges and edge type probabilities. Those edge type probabilities columns will confuse users since there's no bootstraping.

![Capture](https://user-images.githubusercontent.com/195873/56976016-0192fd00-6b40-11e9-9c86-bc4047d54974.PNG)

And similarly,  in the search resulting graph panel.

![Capture](https://user-images.git

[2019-04-30 19:30] jdramsey commented on #953
@yuanzhou I was going to say, some of those imports could just be deleted.

[2019-04-30 19:31] jdramsey commented on #953
@yuanzhou Do you remember which files those (actual) usages were in?

[2019-04-30 19:33] jdramsey commented on #953
@yuanzhou @kvb2univpitt Also, I don't remember what the problem was with moving the old data parser. Do you see a problem?

[2019-04-30 19:38] jdramsey commented on #1106
I see, so you'll just get the parameters for the test from the test.... that seems OK.

[2019-04-30 19:41] kvb2univpitt commented on #953
@jdramsey I don't see a problem.  As the matter of fact, I suggested we should rename it to Knowledge parser, because that's what it will become after we remove all the tabular data functions.

[2019-04-30 20:14] yuanzhou commented on #953
Currently we use this old DataReader in:

1. KnowledgeBoxEditor
2. LoadKnowledgeAction
3. YeastPcCcdSearchWrapper
4. ExternalAlgorithmBNTPc
5. ExternalAlgorithmPcalgPc
6. LoadContinuousDataAndGraphs
7. LoadContinuousDataAndSingleGraph
8. LoadContinuousDataSmithSim
9. LoadDataAndGraphs
10. LoadDataFromFileWithoutGraph
11. MbClassify
12. MixedUtils
13. ExploreAutisticsNeurotypicals
14. FaskGraphs
15

[2019-04-30 20:35] yuanzhou commented on #1097
FYI @bja43 we redesigned the parameters, and now the GUI goes to the HTML manual to fetch the descriptions as well as default values. You are right, you have to do a clean build so the HTML manual gets included into the jar file.

[2019-04-30 20:48] cg09 commented on #1097
Madelyn should be done soon with putting Manual revisions into HTML.  Of
course, what we have written is already a little out of date!

On Tue, Apr 30, 2019 at 4:35 PM Zhou (Joe) Yuan <notifications@github.com>
wrote:

[2019-05-02 15:50] jdramsey commented on #1101
This must be an old version of Tetrad...

[2019-05-02 16:06] kvb2univpitt commented on #1107
Fixed.  Also, add stripped rows for easy reading.

Without Bootstrap:
![no_bootstrap](https://user-images.githubusercontent.com/10729309/57089438-71d18800-6cd2-11e9-9a0c-1295994de985.png)

With Bootstrapping:
![boostrap](https://user-images.githubusercontent.com/10729309/57089484-8746b200-6cd2-11e9-84a7-fa0db357e967.png)

[2019-05-02 17:42] jdramsey opened #1109 "Some issues getting verbose output to work for algorithms."
Verbose output should work for the following algorithms if the verbose flag is set to true (some of these already work):

1. PC (already works)

2. FCI (already works)

3. FGES

- I just adjusted the FGES class for this--it was still using the old logger methods. Need to push it.

4. FOFC

- The pure tetrad should be printed out. This used to work.

Also, the verbose flag should alway occur LAST i

[2019-05-02 18:49] jdramsey commented on #1109
I marked some algorithms as for continuous data only: R3, Skew, RSkew, LiNGAM, GLASSO.

[2019-05-02 18:54] jdramsey commented on #1109
Just a note: In a couple of cases, the verbose parameter was coming up from another source and had to be removed from the list and re-added to get it to come out as last.

This all works now for me (I think). OK, I'll do the pull request.

[2019-05-02 21:15] jdramsey commented on #1107
Nice.

[2019-05-03 13:38] yuanzhou commented on #1107
I'm looking at the fix now, thanks @kvb2univpitt

[2019-05-03 14:59] jdramsey commented on #953
@yuanzhou I'll try to resolve these today, at least all but the parseKnowledge issue.

[2019-05-03 16:25] yuanzhou commented on #1109
Addressed via #1110

[2019-05-03 16:25] #1109 closed

[2019-05-03 17:17] GottM opened #1111 "EM estimator cannot output to updater"
https://github.com/cmu-phil/tetrad/issues/958#issuecomment-445913349
I think that the point was missed when answering this issue. Indeed ML Bayes models do work when linking their output to an updater. The problem is with EM Bayes models. And it looks like a bug as the estimator successfully calculates all CPT even for latent variables. Still, the updater somehow fails when receiving the EM estima

[2019-05-03 22:22] esherma opened #1112 "Knowledge Does Not Work in GFCI and GES (potentially others)"
Hello,

I am working in the GUI and have found that when adding knowledge, these constraints are violated in the resulting CPDAG/PAG after running GES/GFCI. Specifically, I have done things like put Age in the top tier and all other variables in tier(s) below Age and the returned graph has directed edges into Age (see below). Unfortunately I cannot share the data (and thus the relevant tet file) s

[2019-05-04 00:30] cg09 commented on #1112
Try a later version of the program.  We have done some work on Knowledge
since 6.5 versions.

On Fri, May 3, 2019 at 6:22 PM esherma <notifications@github.com> wrote:

[2019-05-04 05:02] jdramsey commented on #1112
Clark is right--I recall complaints about this I think two years ago, which were fixed.

[2019-05-06 19:39] #1107 closed

[2019-05-08 15:12] jdramsey opened #1114 "Simulation doesn't remember type if external graph changes."
This is easily reproducible. Make a simulation box and give it a graph box as input. Make a random graph in the graph box. In the simulation box pick Linear Fisher. Maybe you need to simulate a dataset, not sure. Close the simulation box and re-open the Graph box, make another random graph. Close, and reopen the Simulation box. The simulation type *shows* as Linear Fisher, but the parameters are a

[2019-05-08 15:29] yuanzhou commented on #1106
@jdramsey we are refactoring the parameters by

- Making all parameters used by tests/scores/algorithms constants to avoid typos and hardcoding
- Categorizing the parameters by test, score, algorithm, bootstraping in the algo chooser parameters panel so the users know which parameter does what

I'm in the process of replacing all the hard-coded parameter strings with their constants. And I've seen

[2019-05-08 15:53] yuanzhou commented on #1106
@jdramsey I'm sure some of them are for experimental purposes, but there are some algos will probably be never used. Can you please take a look and tell me which one should I get rid off? Otherwise we'll have to maintain the parameters there.

[2019-05-08 16:20] yuanzhou commented on #1106
BTW, I'm also replacing those hard-coded parameters in simulation with their equivalent constants. And I did see a few typos. Some bugs could be caused by those parameter typos.

[2019-05-09 15:37] cg09 opened #1117 "Live URL to html manual links (wrongly) to old version of manual"

[2019-05-09 15:56] mglymour opened #1118 "Default parameter values for SEM are too large"
Default coefficient values should be 0.25 - 0.75. Default error covariance values should be 0.0 - 0.0. Default standard deviation values should be 0.125 - 0.375.

-Clark

[2019-05-09 16:25] MikeKonrad opened #1119 "Bootstrap may fail to terminate running FASK (Tetrad GUI 6.7.0-0)"
I have successfully run Bootstrap with 10 bootstrap samples repeatedly with FASK (with BIC SEM [as opposed to Fisher Z] Test, Penalty Discount = 100) and it will terminate in about 5 seconds, but if I try to boost the # of bootstraps up to 40 or so, it fails to terminate (hangs with no answer for at least an hour). Sometimes even 20 is uncertain.

Among moderately-correlated variables, which  I ha

[2019-05-10 11:54] MikeKonrad commented on #1119
I'm sorry, this is NOT a correct statement of the problem! But there is still a problem.

I discovered that **a variable in my dataset was almost constant**, so all it took was a resampling that omitted the few inconsistent values and FASK would hang on that bootstrap sample, fail to terminate, get my blood pressure up, etc.

Is there a simple way to automatically check for constant columns before

[2019-05-10 12:59] cg09 commented on #1119
Yes there is a simple way, but up to the systems staff to create and
install.

On Fri, May 10, 2019 at 7:54 AM Mike Konrad <notifications@github.com>
wrote:

[2019-05-10 20:38] yuanzhou commented on #1117
This is not wrong. The live version is the one we officially released in the master branch, because github uses the master branch `docs` for github io pages.

The current development branch has the latest version of the HTML manual, but it won't be public accessible until we release it to master.

[2019-05-12 21:09] cg09 commented on #1031
Since this issue was posted, we have been getting comments and requests from users (including users important to us) about rendering undirected edges in graphs. Please, please.

[2019-05-13 16:11] #1106 closed

[2019-05-14 12:20] MikeKonrad opened #1121 "graph box undirected edge button"

[2019-05-14 12:27] #1121 closed

[2019-05-14 12:32] MikeKonrad commented on #1031
I'm one of those users, I believe!

As input to another Tetrad feature or just simply to create a pattern as part of a report, I often need to specify the nodes and edges for a pattern in Tetrad. Why isn't there an undirected edge button? Earlier versions of Tetrad had it. Also, I think you could click on the end of an arrow and turn that end into an undirected, which no longer works. Some mechani

[2019-05-21 12:20] jdramsey opened #1125 "The search box seems to do every search twice."
For quick searches, this is not so important, but for slow searches, it's a little disconcerting. What happens, is, the search finishes one through, and a graph is displayed, and then if you watch the logging, the entire search is repeated, before finally the execute dialog goes away. You can dismiss the execute dialog after the graph appears with no problem.

[2019-05-21 14:05] jdramsey commented on #1125
Nope, that's not what's happening. Nevermind. But the graph does appear long before the search is done for slow searches. Not sure why.

[2019-05-23 15:10] kvb2univpitt opened #1127 "A Switch to Show Experimental Algorithms, Tests, and Scores"
Experimental algorithms, tests, scores, and parameters should never show up in Tetrad GUI.  However, for testing purposes, these experimental classes need to be shown in the GUI during the development process.  As discussed with @jdramsey, tetrad-gui needs a command switch to expose experiment classes in the GUI.

Example of how to turn on experiment switch:
[code]

[2019-05-23 15:14] kvb2univpitt commented on #1114
@jdramsey Seems like we have a refreshing issue.  I'll take a look at that.

[2019-05-24 02:19] yuanzhou commented on #1127
We may also need this for simulations. @jdramsey uses some of the simulation classes for his own purposes.

[2019-05-26 14:02] jecampagne opened #1128 "Atmospheric time series"
Dear developpers
I have a set of 14 variables that describe some atmospheric parameters samples every hour (4 monthes of data). By any chance can you tell me which kind of algorithm(s) can be suited to tell me which casual relationships link the different variables to eachother?
Nice tool anyhow.
Jean-Eric

[2019-05-26 16:14] cg09 commented on #1128
First check whether the variables are Gaussian or non-Gaussian with skew.
Are there unobserved common causes?

Cg

On Sun, May 26, 2019 at 10:02 AM jecampagne <notifications@github.com>
wrote:

[2019-05-27 02:08] diegotsutsumi opened #1129 "CSV Loader"
Hi Guys, I may be doing something wrong but I can't load a CSV file, it pops the following error:

Infer demiliter for file: business.csv
Exception in thread "AWT-EventQueue-0" java.lang.ArrayIndexOutOfBoundsException: -61
	at edu.pitt.dbmi.data.reader.util.TextFileUtils.inferDelimiter(TextFileUtils.java:154)
	at edu.cmu.tetradapp.editor.LoadDataSettings.getInferredDelimiter(LoadDataSettings.java:

[2019-05-27 15:31] jecampagne commented on #1128
Hi Cg,
Ho! I guess there are certainly not Gaussian at all, at there is no reason for that.
JE

[2019-05-27 16:10] cg09 commented on #1128
Next, are the time series stationary?

On Mon, May 27, 2019 at 11:31 AM jecampagne <notifications@github.com>
wrote:

[2019-05-27 16:16] jecampagne commented on #1128
Hum! you know some atmospheric variables evolve like that
![image](https://user-images.githubusercontent.com/20539759/58430866-87f11f00-80ab-11e9-9a5f-0c0edefd7c80.png)

[2019-05-27 17:13] cg09 commented on #1128
PS looks to have a trend. It should be detrended.

On Mon, May 27, 2019 at 12:16 PM jecampagne <notifications@github.com>
wrote:

[2019-05-27 17:20] jecampagne commented on #1128
ok but after? which kind of algo do you think may give some results on these time series ?

[2019-05-27 17:57] cg09 commented on #1128
FASK

On Mon, May 27, 2019 at 1:20 PM jecampagne <notifications@github.com> wrote:

[2019-05-27 19:57] jecampagne commented on #1128
ok thanks

[2019-05-28 18:41] kvb2univpitt commented on #1129
@diegotsutsumi What version of Java are you using?

[2019-05-28 18:44] diegotsutsumi commented on #1129
@kvb2univpitt
[code]

[2019-05-28 19:03] kvb2univpitt commented on #1129
@diegotsutsumi Currently, Tetrad only supports Java 8.  Please try Java 8.

[2019-05-28 20:22] diegotsutsumi commented on #1129
Hi @kvb2univpitt , thanks for the answer! I have tried java 8 as follows:
[code]

And I have the same error

[2019-05-28 20:26] diegotsutsumi commented on #1129
Here is the full log file for the command `sudo java -jar tetrad-gui-6.6.0-launch.jar 1> tetrad.log 2>&1`
[tetrad.log](https://github.com/cmu-phil/tetrad/files/3229544/tetrad.log)

[2019-05-28 20:27] kvb2univpitt commented on #1129
@diegotsutsumi Based on the error messages, either you're using the wrong java version or you have permission issue.  Are you able to share your dataset?  I want to see if I could load it on my end.

[2019-05-28 20:45] diegotsutsumi commented on #1129
@kvb2univpitt  Sure, it's attached here (I had to renamed it to *.log because github doesn't accept .csv)
[business.csv.log](https://github.com/cmu-phil/tetrad/files/3229623/business.csv.log)

[2019-05-29 01:41] kvb2univpitt commented on #1129
@diegotsutsumi It seems like your data does not have the right character encoding.  I ran an analyzer and got the following message:
[code]
Your data must "UTF-8".

[2019-05-29 16:28] #1117 closed

[2019-05-29 17:33] jdramsey commented on #1125
No, this is happening. You can't tell unless he search is slow; otherwise, it just seems a little sluggish. But with a slow search (say, one that takes more than 10 seconds even) you see the logs for the first search complete, and then it starts over from scratch and does everything again. Bootstrapping is turned off (I think!).

[2019-05-29 17:36] jdramsey commented on #1125
To test, try doing a pattern search using one of the slower independence tests, like CCI. Do PC. If you do FCI, there is some repetition in that algorithm, so you won't get a good read.

What happens is, the search will finish and a graph will display, but the search keeps going. You can cancel the search at that point if you know to; you already have a graph; it's just going through the motions a

[2019-05-29 18:21] yuanzhou commented on #1031
@jdramsey @cg09 I'm adding the undirected edge back to the graph editor. Is there any chance you can send me an icon for that edge type? I searched around different versions of tetrad and couldn't find it.

It's a gif with transparent background.

![Capture](https://user-images.githubusercontent.com/195873/58581133-cfe38380-821c-11e9-8e0b-e17f9d989d24.PNG)

Another question is in the code I've see

[2019-05-29 18:41] kvb2univpitt commented on #1127
Algorithms, test, and scores that are annotated experimental will show up in the GUI when using the switch "--experimental"

Show experimental algorithms, tests, and scores:
![exp](https://user-images.githubusercontent.com/10729309/58582369-97917480-821f-11e9-9e81-75b9c94af7f9.png)

Hide experimental algorithms, tests, and scores:
![nonexp](https://user-images.githubusercontent.com/10729309/585824

[2019-05-29 19:13] cg09 commented on #1125
Joe, thanks for finding this. Big problem for big searches.

On Wed, May 29, 2019 at 1:36 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-05-29 20:06] jdramsey commented on #1031
@yuanzhou We never had an icon for an unoriented edge--I think you can just use a pixellator though to change the directed edge icon into an undirected edge icon.

[2019-05-29 21:18] jdramsey commented on #1127
Awesome!

[2019-05-29 21:55] kvb2univpitt opened #1132 "Null Pointer Exception For "Conditional Correlation Independence (CCI) Test""
A java.lang.NullPointerException is thrown when selecting running algorithm using CCI.  This occurs because the ParamDescription class for the parameter "fastFDR", which is part of the CCI, does not exist.

The ParamDescriptions class pulls the parameters from the documentation.  However, "fastFDR" is not in the documentation.  Thus, the ParamDescriptions returns null for "fastFDR".

@yuanzhou The

[2019-05-30 12:04] jdramsey commented on #1132
@kvb2univpitt Sorry, I missed that one. That parameter should be removed for CciTest, from the list of parameters. Shall I do it?

[2019-05-30 14:07] yuanzhou commented on #1132
Any tests/scores parameters that are not defined in the `edu.cmu.tetrad.util.Params` class won't have a description in HTML manual, thus I left them hard-coded like before in the tests/scores classes.

[2019-05-30 14:44] kvb2univpitt commented on #1132
@yuanzhou I see that Param constant is used for algorithms and simulations but not for test and scores.  Parameters for tests and scores are still hard-coded.

[2019-05-30 14:46] kvb2univpitt commented on #1132
@jdramsey We can do.  We still need to fix some of the hard-coded parameters for tests and scores.

[2019-05-30 15:48] kvb2univpitt commented on #1132
@jdramsey It seems like the "Conditional Correlation Independence (CCI) Test" and "Conditional Correlation Independence (CCI) Score" were recently added.  We don't have any documentation on any of their parameters.  You are probably still working on the descriptions for those parameters.  Is it possible to get the min value, max value and the default value for each of these parameters first?  With

[2019-05-30 15:54] yuanzhou commented on #1132
Yup, the "value type" and "default type " of each parameter must be defined in order to render the parameters panel. "short description" and "long description" can wait since they don't break the GUI.

[2019-05-30 18:42] jdramsey commented on #1031
This is beautiful! No, the other graph interfaces don't need an undirected edge type.

[2019-05-30 19:49] yuanzhou commented on #1031
@jdramsey cool, I'll send a pull request for your review shortly.

[2019-05-31 17:56] kvb2univpitt commented on #1125
@jdramsey I am not seeing it.  Running PC using CCI test is very slow.  If you cancel the task you won't see a graph.  However, if you previous run a search successfully and then go back and run PC with CCI test, you will see the previous graph if you cancel the task.  Maybe the graph that you saw was from previous run?

[2019-05-31 18:05] jdramsey commented on #1125
@Bui, Kevin Van <kvb2@pitt.edu> In my experience, you need to let the
search run until you see a graph. Then the search repeats. Try CCI with
smaller sample size, say, 100. That should speed it up. Or 200. Fast enough
that you can test it but slow enough that you'd notice if the search kept
going after that graph was displayed.

On Fri, May 31, 2019 at 1:56 PM Kevin Bui <notifications@github.com>

[2019-05-31 18:07] jdramsey commented on #1125
@kvb2univpitt  Also, it helps to make sure verbose is set to true so you can follow the logging in the console.

[2019-05-31 18:23] kvb2univpitt commented on #1125
@jdramsey I am still not seeing it.  I ran it to completion on simulated data with 10 variables and 1000 cases.  Can you make me a session file?

[2019-05-31 18:24] jdramsey commented on #1125
@kvb2univpitt Here's a log trace for a search I just did. I cleared the console before running it, so this is all from the same search. You can see it completes, then does it all again.

Searching at depth 0.
Searching at depth 1
Searching at depth 2
Searching at depth 3
Finished with search, constructing Graph...
Finished constructing Graph.
FAS Sepset orientation...
Collider orientation <pkc, me

[2019-05-31 18:32] kvb2univpitt commented on #1125
@jdramsey Is it possible to send me the dataset?  I want to see if I get the same log messages.  Are you using default parameters?

[2019-05-31 18:39] jdramsey commented on #1125
@kvb2univpitt @Well, I'm working off of a branch I made off of development a few weeks back; maybe something changed. Just a second, let me get into development and run a search.

[2019-05-31 18:42] kvb2univpitt commented on #1125
@jdramsey What branch are you currently on?

[2019-05-31 18:48] jdramsey commented on #1125
@kvb2univpitt I'm on a local branch off of development.... but you're right, it's not doing it here! Whatever was doing that must have been fixed! Sorry to bother you. I'll branch off of development again and move all of my stuff over.

[2019-05-31 18:51] jdramsey commented on #1125
@kvb2univpitt Oh, great, algorithm comparison tool is fixed now too! Awesome!

[2019-05-31 18:52] kvb2univpitt commented on #1125
@jdramsey Yeah.  We made lots of improvements since. :)

[2019-05-31 18:55] jdramsey commented on #1125
Super cool! OK, I need to get back to the to-do list Zhou gave me.

[2019-05-31 18:57] #1127 closed

[2019-05-31 18:58] kvb2univpitt commented on #1125
Cool.  When you get a chance, can you please checkout my pull request for fixing the simulation panel?

[2019-05-31 19:06] jdramsey commented on #1125
Sure. Oh shoot, the algorithm comparison tool still has a bug that's
preventing it from outputting any statistics. This exception, when I run
the default ExampleCompareSimulation.java. 'AP' is one of the statistics
configured in the file. Maybe those statistics are no longer getting into
the Parameters object... let me look real quick. This a bug Bryan found
yesterday, as I recall. Let me make a n

[2019-05-31 19:06] jdramsey opened #1134 "Algorithm comparison tool is throwing an exception related to Parameters."
Oh shoot, the algorithm comparison tool still has a bug that's preventing it from outputting any statistics. This exception, when I run the default ExampleCompareSimulation.java. 'AP' is one of the statistics configured in the file. Maybe those statistics are no longer getting into the Parameters object... let me look real quick. This a bug Bryan found yesterday, as I recall.

Exception in thread

[2019-05-31 19:13] rubenSaro opened #1135 "causal-cmd and FASK"
In the causal-cmd version 1.0.0
@kvb2univpitt @jdramsey

For the FASK algorithm, the parameter:

--useFasAdjacencies

is set as "No" as default. It should be "Yes" as default.

and the paremeter

--useCorrDiffAdjacencies

is set as "Yes" as default, and even if the user sets it as "No", it stay fixed as "Yes", ie. its value cannot be override by the user.

[2019-05-31 19:22] jdramsey commented on #1134
Actually, it works if you just comment out the lines 1583 - 1590 in Comparison.java. Given that it still works, I'm not sure what those lines were ever for...

                    if (simulation instanceof HasParameterValues) {
                        parameters.putAll(((HasParameterValues) simulation).getParameterValues());
                    }

//                    final String abbreviation =

[2019-05-31 19:28] jdramsey commented on #1135
Hmm... those parameters adjust fine in the interface. Does causalcmd have free will? :)

[2019-05-31 19:41] kvb2univpitt commented on #1135
@jdramsey @rubenSaro causal-cmd gets its parameters from tetrad-lib.  Let me take a look.

[2019-06-01 15:26] kvb2univpitt opened #1137 "Null Pointer Exception Thrown When Changing Graph"
Given this setup:
![1](https://user-images.githubusercontent.com/10729309/58750371-90f14000-845f-11e9-8eb6-43cd983c8119.png)

Change the graph in the Graph Box:
![2](https://user-images.githubusercontent.com/10729309/58750375-ac5c4b00-845f-11e9-8a53-e6930e3feb08.png)

An error occurred when clicking the "Execute" button to refresh:
![3](https://user-images.githubusercontent.com/10729309/58750392-d

[2019-06-01 16:12] kvb2univpitt commented on #1135
@rubenSaro @jdramsey

Generally in command-line program, you provide a particular flag to turn on a feature.  The default should be "No" for all parameters in order for the command-line version to work correctly.  If the default is set to "Yes", how would you turn off the feature in via command-line?  You would have to introduce a flag that's not in tetrad.

I can't reproduce the issue with the "-

[2019-06-01 16:17] rubenSaro commented on #1135
Thanks, that is the confusing part, reading the help documentation it seems
that you should input

--useCorrDiffAdjacencies Yes

or

--useCorrDiffAdjacencies No

Ruben

El sáb., 1 jun. 2019 a las 12:12, Kevin Bui (<notifications@github.com>)
escribió:

[2019-06-01 16:19] jdramsey commented on #1137
Thanks.

On Sat, Jun 1, 2019 at 11:26 AM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-06-01 17:13] kvb2univpitt commented on #1137
@jdramsey Come to think of it, it may be that the simulation box does not percolate the changes down.  I'll work on this issue.

[2019-06-02 15:28] diegotsutsumi commented on #1129
Hi Kevin, sorry for the late response and I appreciate very much your analysis.

Could you confirm me if the expected format is "UTF-8" ? I checked with the linux command  `file` and it returns me that the encoding is utf-8, as follows:

[code]

[2019-06-02 18:25] kvb2univpitt commented on #1129
Hi @diegotsutsumi Sorry.  I meant it has to be **us-ascii** encoded.
Your data file shows this:

My data file shows this:

Basically, the byte value of the char has to be **0<= char <= 255**.  See [Ascii Table](http://www.asciitable.com/).

To get your data to run as is, you will need to do some code editing and compiling to bypass the delimiter inference.  In `edu.cmu.tetradapp.editor.LoadDataSet

[2019-06-02 22:30] jdramsey opened #1138 "Graph Selections needs options to display parents, children, ancestors, descendants."
This was fixed before but I guess not in a branch that made it into development. I've made the (simple) fix again. As soon as I get a chance I'll move it into a branch off of development and do a pull request.

[2019-06-02 22:34] jdramsey commented on #1138
Here's what's missing. If you make a random graph and put an edge from Graph to Graph (subset selections), then pick a node, there's no way to display the parents or child, or ancestors or descendants, of that node.

It's simple to edit the GraphSelectionWrapper class to add these options.

[2019-06-02 22:49] jdramsey commented on #1138
Pull request here: https://github.com/cmu-phil/tetrad/pull/1139.

[2019-06-03 14:49] #1135 closed

[2019-06-03 19:40] #1138 closed

[2019-06-03 19:41] jdramsey commented on #1125
OK, Kevin convinced me that development is not behaving in this way.

[2019-06-03 19:41] #1125 closed

[2019-06-03 19:44] jdramsey opened #1140 "Fask doesn't properly take an initial graph as input."
In the GUI you should be able to give FASK an initial graph (by drawing an edge from a Graph box to the Search box, in addition to the Data box). It should use that in place of the FAS search. Ruben complains this isn't happening.

This is very easy to fix, which I will forthwith do. I have a working version of the FASK wrapper in another branch, which I'll just copy over and push.

@rubencmu @yua

[2019-06-05 19:42] #1137 closed

[2019-06-05 19:43] #1114 closed

[2019-06-06 15:08] kvb2univpitt opened #1143 "Simulation Does Not Work on Graph Change"
Simulating data using graph as source, as shown below:
![2](https://user-images.githubusercontent.com/10729309/59043735-cd031700-884a-11e9-9bd6-6c907b0fcafc.png)

Make changes to the graph source. The simulation editor does not re-simulate data when clicking "Execute":
![1](https://user-images.githubusercontent.com/10729309/59043967-34b96200-884b-11e9-9581-cc4564ebae76.png)

[2019-06-06 15:51] yuanzhou commented on #1140
Merged via #1141

[2019-06-06 15:51] #1140 closed

[2019-06-07 15:10] jdramsey opened #1145 "Need a simple method somewhere for loading data programmatically for those of us who are writing code."
The data loading method has become quite complicated. Need easy methods to load continuous, discrete, and mixed data that programmers can easily use. Here's an example I just did:

    private DataSet getDiscreteData(String path, Delimiter delimiter, char quoteChar) throws IOException {
        TabularColumnFileReader colReader = new TabularColumnFileReader(
                new File(path).toPath()

[2019-06-07 15:32] kvb2univpitt commented on #1145
@jdramsey Unfortunately, the data reader gets more complex as we add more functionality.  What made the data reader more complex than before was adding functions for interventional variables.  If you're not planning to manipulate columns or applying metadata, you can do the following:

[code]
This is as simple as it gets.

[2019-06-07 16:33] aminjaber opened #1146 "Generate PAG from DAG is erroneous"
Attached are the constructed DAG with latents and the generated PAG. X3 and X4 should be adjacent in the PAG since there exist an inducing path <X3,X2,X1,X4> in the DAG.
Also, if you delete a node in the DAG, save the change, and hit execute to rerun the FCI algorithm, the deleted node appears in both the DAG and PAG without its previous adjacencies.

<img width="475" alt="PAG" src="https://user-i

[2019-06-07 16:56] yuanzhou commented on #1145
@jdramsey here is the data-reader documentation: https://github.com/bd2kccd/data-reader/blob/development/README.md

[2019-06-07 18:04] jdramsey commented on #1146
@ps7z Can you suggest what might be going wrong here?

[2019-06-07 18:06] jdramsey commented on #1145
@kvb2univpitt What's wrong with just having a simple function like the one I suggested? Then, if the data reader method changes, you can just update this function...

This comes up a lot. People are just completely baffled as to how to use the data reader. It took me an hour this morning to sort through all of the code to figure it out.

[2019-06-07 18:13] jdramsey commented on #1145
I'm not saying there's anything amiss with the data reader. Surely not. After going through the code, I completely understand why. But for the person who's trying to use the data reader in code, the changes are hard to follow; it's more comfortable just to go back to the old data reader, which is buggy. I thought maybe just a few simple static methods in the DataUtils class would solve the problem

[2019-06-07 18:19] jdramsey commented on #1146
@ps7z @aminjaber

Never mind, this has been solved in the most recent version. I just tried. It's the difference between DagToPag (which has been deprecated) and DagToPag2.

Just get the most recent development version.

https://cloud.ccd.pitt.edu/latest-dev-tetrad.html

Joe

[2019-06-07 18:19] #1146 closed

[2019-06-07 19:07] mglymour commented on #1145
Either way, if the data reader code is going to continue to be housed in a separate repository, we definitely need an easily-findable link to that documentation on the Tetrad github, since data loading is pretty much one of the most fundamental functions of Tetrad, and if you can't figure out how to make it work, you can't do much of anything else.

[2019-06-07 19:33] kvb2univpitt commented on #1145
@mglymour @jdramsey Clark, we are actually planning on moving the data into Tetrad.  We think it's unnecessary to keep them separate.

Joe, there's nothing wrong with what you're suggesting.  Please feel free to create a wrapper for what you need.  The data reader is flexible enough to code it up any way you like.  The example above was just to show a simple way to read in data with just two lines

[2019-06-07 19:39] aminjaber commented on #1146
Great! Thanks for the link.

[2019-06-07 19:46] cg09 commented on #1145
The important thing is that the software somewhere show the simple
directions very prominently.

On Fri, Jun 7, 2019 at 3:33 PM Kevin Bui <notifications@github.com> wrote:

[2019-06-07 19:58] jdramsey commented on #1145
@kvb2univpitt  Part of it is my problem. I had been using the continuous tubular reader, but then I needed to load a mixed variable dataset with it, and whatever I was doing using the mixed reader kept throwing exceptions. I dug down into it and found that it had actually read in all of the data, but when converting the data to a DataSet the continuousData and discreteData fields weren't populated

[2019-06-07 20:00] jdramsey commented on #1143
Yay!

[2019-06-07 20:03] mglymour commented on #1145
I would be very much in favor of wrapper methods that remain static even if the underlying code is changing.

[2019-06-07 20:20] kvb2univpitt commented on #1145
@jdramsey Hmm...I am not sure why that didn't work for me.  Can you try the following and if it works?

[code]
You might have to change the delimiter, the file name, and the "number of discrete category."

[2019-06-08 01:56] yuanzhou commented on #1143
Merged fix via #1144

[2019-06-08 01:56] #1143 closed

[2019-06-08 08:29] #1145 closed

[2019-06-09 14:35] cpdag opened #1147 "Tiers and edge orientations background knowledge in PC and GES"
Introduction of background knowledge on the presence or absence of (undirected) edges can be achieved in a straightforward way for the PC algorithm (see e.g. [https://github.com/cmu-phil/tetrad/issues/913](https://github.com/cmu-phil/tetrad/issues/913)).

Handling other types of background knowledge is less straightforward and thus I have the following question:
does Tetrad's implementation of PC

[2019-06-09 21:35] jdramsey commented on #1147
I love your username. That's awesome.

Tier knowledge is reduced to the knowledge of forbidden edges, so the question is simply whether knowledge rules respect knowledge, which they do. Maybe it would help to study the code to see how?

[2019-06-09 23:27] cpdag commented on #1147
Thank you, nice to see someone appreciating the effort to choose a relevant username. I think I'll keep it.

Back to the question. So my question would then become:
how is background knowledge on edge orientations introduced in  in Tetrad's implementation of PC and GES?

I was hoping that this implementation details were documented somewhere, since in the case of edge orientations there isn't a co

[2019-06-09 23:47] jdramsey commented on #1147
First of all, it's not clear to me that the notion of background knowledge is the same in Tetrad as in PCALG. In Tetrad, background knowledge consists of a list of forbidden edges and a list of required edges.

For PC, you have to start off by orienting all edges whose directions are required by knowledge. Then when checking whether X _||_ Y | S at any point, you have to make sure X consists only

[2019-06-10 01:23] cg09 commented on #1147
On Sun, Jun 9, 2019 at 7:47 PM Joseph Ramsey <notifications@github.com>
wrote:

I don't understand the previous two sentences. Did you mean:
Then when checking whether X *||* Y | S at any point, you have to make sure
*S* consists only of variables that could *potentially* be parents of X, IF
parents of X are being considered, or PARENTS of Y, if parents of Y are
being considered. So, for instance,

[2019-06-10 07:04] jdramsey commented on #1147
I assume the algorithm is clear here. I the adjacency phase when considering whether to remove an edge X--Y at any point, on tries conditioning on subsets of adj(X) or adj(Y.) (Subsets of adj(X) U adj(Y) that are not in adj(X) or adjY) need not be considered.)

If conditioning on adj(X), on may remove from consideration variables that aren't potential parents of X. Any parent that must be a child

[2019-06-10 15:08] cpdag commented on #1147
Ok, so this is Tetrad's implementation for PC. Thank you!

My only doubt is how this procedure deals with possible inconsistencies in the results of the conditional independence tests. For example, you might have a situation where your tests tell you that you have two v-structures that in reality cannot coexist.
For pcalg this is explained in https://www.rdocumentation.org/packages/pcalg/versions/

[2019-06-10 15:31] kvb2univpitt opened #1148 "Data Reader Code Migration"
Need to move the data-reader project into the Tetrad project as part of the tetrad module.

[2019-06-10 15:33] kvb2univpitt commented on #1148
@jdramsey The data-reader will read the data directly into tetrad dataset object.  This means we wouldn't be needing DataConvertUtils.

[2019-06-10 16:42] jdramsey commented on #1147
You initially add all of the required edges. If an edge is forbidden both ways, the adjacency is removed.

In the insert operator, if you're trying to insert X->Y with other parents T, if X or any of the variables in T cannot be a parent of Y by knowledge, you're not allowed to do the insert.

In the delete operator, if you're trying to delete X->Y with an H set, and if h is in H, then if X->y or

[2019-06-10 16:51] jdramsey commented on #1147
As far as consistency goes, I guess my view is that the main purpose of knowledge is to make the search space smaller and avoid statistical errors. If you forbid an edge that in fact corresponds to a conditional dependency conditional on any other set of variables whatsoever, well then, you have done yourself a disservice. That is inconsistent. The search will proceed as best it can, limping along

[2019-06-10 16:51] cg09 commented on #1147
"How does this compare to PCALG? My impression is that FGES includes
specific knowledge on the skeleton, which Tetrad does not. The only thing
you can do is forbid an edge both ways, which removes the edge. You can't
require an adjacency. (That seems to me to be inconsistent.)"

?????

On Mon, Jun 10, 2019 at 12:42 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-06-10 16:53] jdramsey commented on #1147
@cg09 You can only consistently require an adjacency if the adjacency happens to be in the truth model. Otherwise, it is inconsistent. Strictly speaking, but I imagine the current conversation is taking place in an echo chamber where only true statements are allowed.

[2019-06-10 17:04] jdramsey commented on #1147
@cg09 Let me revise that. You can require X->Y or X<-Y (inconsistently if they're not in the true model). You can't require X--Y (the disjunction). There is no mechanism for that.

[2019-06-11 14:46] kvb2univpitt commented on #1148
@espinoj Should we wait until the next release before migrating the data-reader?

[2019-06-12 18:25] kvb2univpitt commented on #1148
Done.

[2019-06-12 18:28] espinoj commented on #1148
FYI: data-reader project is now archived

[2019-06-12 18:28] #1148 closed

[2019-06-12 21:02] kvb2univpitt opened #1152 "Unable to Delete Node the First Time"
Delete a selected node, as shown below:
![1](https://user-images.githubusercontent.com/10729309/59385963-807c7780-8d33-11e9-82fd-981c6e01fd52.png)

Close the graph and reopen the graph editor.  The node is not delete but edges are.
![2](https://user-images.githubusercontent.com/10729309/59386001-9db14600-8d33-11e9-823d-d4d58d341931.png)

Select the node and delete it again.  Now the node is perman

[2019-06-12 21:21] jdramsey commented on #1152
Thanks. :)

[2019-06-13 02:22] #1152 closed

[2019-06-13 17:37] rubenSaro opened #1154 "causal-cmd question"
@kvb2univpitt

One question, is it possible for me to make changes to some algorithm and then compile a command line version... I am browsing through the files in the github repository (https://github.com/bd2kccd/causal-cmd) but I cannot find the files I usually modify in the regular tetrad-development from (https://github.com/cmu-phil/tetrad)

Thanks,

Ruben

[2019-06-13 17:58] kvb2univpitt commented on #1154
@rubenSaro Absolutely!  Causal-cmd is a wrapper that wraps around tetrad-lib.  Make your changes in tetrad-lib.  Do a maven clean install on tetrad-lib.  Do and maven clean package on causal-cmd.  The causal-cmd now wraps around the new tetrad-lib.

[2019-06-13 19:05] rubenSaro commented on #1154
It is the first time I do this and not very familiar with maven, can you give me more specific instructions. I was expecting a tetrad-lib in the cmd repository, but haven't found any. I guess my question is how causal-cmd knows which tetrad-lib to wrap around ?

[2019-06-13 19:24] kvb2univpitt commented on #1154
@rubenSaro The tetrad-lib version in causal-cmd has to match with the version of tetrad-lib you are making the changes to.  The current tetrad-lib version the development branch of causal-cmd is **6.6.0**.  You will need to change it to **6.7.0-SNAPSHOT** in the causal-cmd pom.xml file to match with tetrad-lib in the development branch.

Change this:
[code]
To this:
[code]

If you need help with M

[2019-06-13 19:28] rubenSaro commented on #1154
Perfect, thanks a lot.

Ruben

El jue., 13 jun. 2019 a las 15:24, Kevin Bui (<notifications@github.com>)
escribió:

[2019-06-13 19:45] espinoj opened #1155 "Choose Dag from Pag doesn't work for o-o edges"
Reproduce
  Run an FCI algorithm until you get a graph with o-o type edges
  Use graph box to select dag from pattern
  Notice that o-o edges do not change to a directed edge

[2019-06-13 19:46] espinoj opened #1156 "Running a new simulation doesn't propagate to rerun searches"
Reproduce
- Simulate
- Search
- Change simulation parameters (e.g. number of variables)

[2019-06-14 14:33] rubenSaro commented on #1154
Ok, so all the changes have to be pushed to the github repositories, no way to do it locally ?

[2019-06-14 14:48] kvb2univpitt commented on #1154
@rubenSaro Are you around DBMI today?  I can explain to you how Maven works.

[2019-06-14 14:51] rubenSaro commented on #1154
Sorry Kevin, not in Pittsburgh anymore. Now post-doc-ing in Rutgers-Newark

El vie., 14 jun. 2019 a las 10:49, Kevin Bui (<notifications@github.com>)
escribió:

[2019-06-14 15:02] kvb2univpitt commented on #1154
@rubenSaro OK. Try the following:
1. Checkout tetrad from the development branch (6.7.0-SNAPSHOT).
2. Make changes to tetrad-lib.
3. Go into the tetrad-lib folder and execute `mvn clean install`.  This will install tetrad-lib locally.
4. Checkout causal-cmd from the development branch (1.1.0-SNAPSHOT)
5. Go into the causal-cmd folder and open up the pom.xml file.
6. Change the tetrad-lib version i

[2019-06-14 15:55] rubenSaro commented on #1154
awesome, thanks a lot.

[2019-06-14 16:45] MikeKonrad opened #1158 "Tetrad GUI (6.7.0) data loader won't accept text for discrete values"
With earlier versions of Tetrad (at least through 6.5.4; not sure about 6.6) it was possible to load in a dataset having discrete variables with text values (e.g., Political.Party with values Democrat, Republican, Independent). Now it seems I need to replace such values with numeric values to get the data to load successfully.

[2019-06-14 17:29] kvb2univpitt commented on #1158
@MikeKonrad You should still be able to do that.  Can you attach the dataset?

[2019-06-14 17:49] cg09 commented on #1158
Unfortunately, our improvements sometimes come with unintended
consequences.  Another is that the BPC and FOFC algorithms as implemented
are both fallacious. Very early versions ob BPC were, I think, correct. The
error can be compensated for by other methods in the program, but the
general user would have no idea.

On Fri, Jun 14, 2019 at 12:45 PM Mike Konrad <notifications@github.com>
wrote:

[2019-06-14 17:54] kvb2univpitt commented on #1155
@espinoj Looks like this requires some knowledge of edge orientation rules.  @jdramsey is probably the best person for this.

[2019-06-14 18:02] kvb2univpitt commented on #1155
@espinoj @jdramsey Actually, no.  What I said above is not true.  A simple fix would be changing the following code from this:
[code]
to this:
[code]

I am just not sure if applying additional condition `isNondirectedEdge` is valid.  If Joe says yes, I can go ahead and fix it.

[2019-06-14 18:42] jdramsey commented on #1155
Hmm... this gadget is supposed to be getting a DAG from a pattern, right, not a PAG?

[2019-06-14 18:43] jdramsey commented on #1155
I think the proper thing to do is to do a check right off and make sure it consists of only directed and undirected edges and contains no cycles. If not, pop up a dialog saying why it's not a pattern.

[2019-06-14 18:48] kvb2univpitt commented on #1155
@jdramsey I have never used this feature.  Not sure what the correct behavior should be.

[2019-06-14 19:01] MikeKonrad commented on #1158
The datasets we are using can't be shared; however, here is a synthetic mixed dataset that Madelyn helped me create from within Tetrad that we saved and then tried to load back in but were unable to for the same reason.
[tmp6.txt](https://github.com/cmu-phil/tetrad/files/3291866/tmp6.txt)

[2019-06-14 19:22] jdramsey commented on #1155
@kvb2univpitt Well, it's supposed to select a DAG from a Pattern. A pattern is an equivalence class for a DAG; it consists of directed and undirected edges and has no cycles. You can check the input graph as follows:

boolean graphOk = true;

For each edge e in the input graph:
    If (!(e is directed or e is undirected) {
        throw new IllegalArgumentException("This edge in the graph is not d

[2019-06-14 19:37] kvb2univpitt commented on #1158
@MikeKonrad OK.  Now I see the problem.  The problem is with the data validation.  Thank you for reporting this.  We will fix the bug.  In the meantime, you can bypass the data validation by removing the following lines (573-580) in `edu.cmu.tetradapp.editor.LoadDataDialog` of **tetrad-gui**
![a](https://user-images.githubusercontent.com/10729309/59533630-1d691d00-8eba-11e9-9a41-790fc2bb8455.png)

[2019-06-14 19:42] kvb2univpitt commented on #1158
@MikeKonrad Don't forge to select 'mixed' data and set 'max discrete categories' to 4.
![b](https://user-images.githubusercontent.com/10729309/59533947-ec3d1c80-8eba-11e9-847a-5c4d29e949ef.png)

Data loaded:
![aa](https://user-images.githubusercontent.com/10729309/59533959-f4955780-8eba-11e9-90c7-60cde723ebe4.png)

[2019-06-14 19:47] kvb2univpitt commented on #1155
@jdramsey

Ok.  So, we shouldn't consider nondirected edges.

Hahaha!!!

[2019-06-15 16:25] jdramsey opened #1159 "Development branch in GUI won't load default parameters for at least one mac."
On Peter's very recent Mac, when he downloads the development branch, clicks clean then compile, then launches Tetrad, the parameters don't show up. There's a null pointer at AlgorithmComparisonPanel, line 151, which makes one think the parameter defaults are not being read in. This is with a Java 8 JDK, with a recent version of Intellij.

Any ideas? I've checked out the development branch on my c

[2019-06-15 16:26] jdramsey commented on #1159
@ps7z

[2019-06-15 16:45] jdramsey commented on #1159
@kvb2univpitt @yuanzhou

This bit of code seems to be failing:

    protected Map<String, Box> createParameterComponents(Set<String> params, Parameters parameters) {
        ParamDescriptions paramDescs = ParamDescriptions.getInstance();
        return params.stream()
                .collect(Collectors.toMap(
                        Function.identity(),
                        e -> createParamete

[2019-06-16 00:47] ps7z opened #1160 "graph box used to generate data changed by results of search"
When the output of a search and an independently created graph box are both fed into a compare box, the compare box changes the graph in the graph box to be the same as the output of the search.

[2019-06-16 17:51] cg09 opened #1161 "LINGAM Doe not work properly"

[2019-06-16 17:53] cg09 commented on #1161
Simple three variable problems with 1000 or more non-Gaussian data points produce wrong output with current (6.6) LinGAM.  We need this algorithm to work properly.

[2019-06-16 17:55] cg09 opened #1162 "BPC is missing a critical check"
Both BPC and FOFC require a preprocessing step that checks to see whether the marginal graphical model on the measured variables is complete--or nearly so--and only runs the latent variable search of BPC or FOFC if it is complete.  I have asked Madelyn to look into this problem, but we may have to hand it off.

I fixed this for FOFC--jdramsey

[2019-06-17 16:24] jdramsey commented on #1159
@kvb2univpitt @yuanzhou

@ps7z

We figured it out! Two issues:

1. The parameter values weren't showing, because we had to scroll the parameter display to the right. Aagh!

2. But also, there was an exception in the loading code for the parameters. We FIXED the problem by clicking the reload dependencies button in the Maven tab.

All good!

[2019-06-17 16:24] #1159 closed

[2019-06-18 14:06] mglymour opened #1163 "Simulation box will not open"
In the latest development branch (downloaded today) the simulation box produces a blank error dialogue rather than opening. It does this no matter what kind of graph is input, or whether it is the child of an IM, PM, or graph box.

[2019-06-18 14:44] kvb2univpitt commented on #1159
@jdramsey Sorry.  I just saw this now.  I was out sick the yesterday. :(
By the way, we will run into a problem if a parameter doesn't have a description.  Should we put back the code that returns a default parameter description?

[2019-06-18 14:53] jdramsey commented on #1163
Just a couple of ideas from recent experience (this is not my code, but this worked for me as of yesterday):

1. In the Maven tab, click the button to reload dependencies. It looks like a little recycle button, two arrows pointing in a circle.

2. Double click clean

3. Double click compile

4. Launch Tetrad again.

[2019-06-18 14:57] jdramsey commented on #1159
Glad you're back. :)

Could you something like what I'd done before, which is to put a message
like "THIS PARAMETER ISN"T CONFIGURED CORRECTLY" in the interface so we
know which parameter is not right?

On Tue, Jun 18, 2019 at 10:44 AM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie

[2019-06-18 14:59] mglymour commented on #1163
I had done that prior to compiling the code, but I'll try again.

[2019-06-18 15:00] kvb2univpitt commented on #1163
@mglymour I just downloaded from the development.  It works for me.  Try Joe's suggestion.
![a](https://user-images.githubusercontent.com/10729309/59695486-4e966580-91b8-11e9-9acb-0319283a3c64.png)

[2019-06-18 15:01] mglymour commented on #1163
And now it's working. Must have missed a button somewhere.

[2019-06-18 15:01] #1163 closed

[2019-06-18 15:09] kvb2univpitt commented on #1159
@jdramsey Previously, it was like the code below, which makes it a boolean parameter by default:
[code]
I can put this back if you think we should.

[2019-06-18 15:39] jdramsey commented on #1159
Yeah, I still that's a good plan. Then if there's a parameter that's not
configured, someone using the interface will tell you.

On Tue, Jun 18, 2019 at 11:09 AM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (41

[2019-06-18 15:40] jdramsey commented on #1159
Well, instead of adding the description to the ParamDescriptions, it should
now be added to the manual.

On Tue, Jun 18, 2019 at 11:39 AM Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://ww

[2019-06-18 15:51] kvb2univpitt commented on #1159
@jdramsey

now be added to the manual.

I agree.  I am not suggesting otherwise.  The problem is that someone will code up a parameter and forget to add the description for it in the manual.  Tetrad GUI will throw a null pointer exception when that happens.

[2019-06-18 15:58] kvb2univpitt commented on #1159
Or, maybe we should leave it alone and let it throw a null pointer exception so that the developer will force to add a description in the manual.  The problem doing this way is that people might think it's a bug and not something they have to do.  Hmmm....

[2019-06-18 16:02] jdramsey commented on #1159
I guess I prefer the former way--that way if the user is not using a gadget
that requires that parameter they can still work.

On Tue, Jun 18, 2019 at 11:58 AM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412)

[2019-06-18 19:31] espinoj commented on #1155
@jdramsey

Ok.  What is the difference between Pattern, PAG, and MAG?

[2019-06-18 20:22] jdramsey commented on #1155
On Tue, Jun 18, 2019 at 3:31 PM Jeremy Espino <notifications@github.com>
wrote:

So, first of all, a pattern is the sort of graph that PC or FGES is
supposed to be outputting. It represents an equivalence class of DAGs under
the assumption that there are no latent confounders, and also under the
assumption that you only used conditional independence testing to find the
equivalence class. It can co

[2019-06-19 17:15] cpdag commented on #1147
@jdramsey Sorry for the delay. The big question is then: doesn't this restriction
destroy the asymptotic consistency of GES (proved in chickering02b)?

We know that restricting on the true skeleton makes GES inconsistent (see https://arxiv.org/pdf/1507.02608.pdf on page 9). Why doesn't the same happen with a restriction on edge orientations?

Thank you again for the previous answers.

[2019-06-19 18:42] jdramsey commented on #1147
Well, you can allow the disjunction, so I don't think there's an inconsistency. You just can't require it.

[2019-06-19 19:13] cpdag commented on #1147
@jdramsey
But I was wondering: if you insert a restriction on some edge orientations that hold in the true model in the way that you explained above, then do we have that
P[ the output of the algorithm is the true graph] -> 1 as the sample size tends to infinity?

A priori this restriction, **even if these orientations hold in the true graph**, can destroy the consistency of GES. For example, it i

[2019-06-19 19:30] jdramsey commented on #1147
I don't understand. the forward search in GES is guaranteed to always produce a graph that is Markov to the true graph, if all scores are consistent; if you require that X->Y be in the graph, and X->Y is in the true graph, this will not phase it in the least; all it will do is to eliminate a possible statistical error. If you require that X->Y<-Z be in the graph, and this is, in fact, a collider i

[2019-06-19 19:57] cpdag commented on #1147
Absolutely, I want to stress that I never consider the case where the knowledge that you insert is incorrect, that will of course produce a wrong result. I'm interested in asymptotic consistency provided that the knowledge that you insert is correct.

"**the forward search in GES is guaranteed to always produce a graph that is Markov to the true graph**":
Agreed, if you have no restriction on the

[2019-06-19 20:18] jdramsey opened #1165 "Use Kevin's covariance calculation throughout Tetrad."
I discovered while trying to optimize FGES this week that one of the main issues with that method (and other methods) was a naive covariance calculation that had numerical issues. Kevin Bui provided a better alternative some three years ago, in edu.cmu.tetrad.stat.correlation.CovarianceMatrixOnTheFly. Unless there's an even better alternative, I propose this method be used everywhere in the code,

[2019-06-19 20:27] jdramsey commented on #1165
Note that with Kevin's covariance calculation, FGES for the first time converges in the large sample limit! Woohoo!

[2019-06-20 15:41] cpdag commented on #1147
@jdramsey I just tried the example linked above with Tetrad and indeed if you forbid both X1->X4, X1<-X4 as well as X1->X2 and X1<-X2 in the graph (so you forbid X1-X2 and X1-X4 in the skeleton), then FGES outputs the wrong graph (as claimed in the above link).

However, if we insert only the background knowledge on tiers, then the output is correct. Of course, this holds only for this particular

[2019-06-21 18:22] #1165 closed

[2019-06-21 21:52] jdramsey opened #1168 "Make variable name separator for txt graph format read-in a character class"
Unfortunately we now have text graph outputs that use various separators for the variable names. This seems to be the only difference between them. Can we solve this by simply making the parsing separator a character class? This is in GraphUtils. The example below allows either a comma or a semicolon (String[] tokens = line.split("[,;]");), which solves most of the current problems.

    public st

[2019-06-24 14:25] kvb2univpitt commented on #1168
@jdramsey

What are all the possible separators besides semicolon and comma?

[2019-06-24 17:43] #1154 closed

[2019-06-25 14:44] #1132 closed

[2019-06-25 17:00] jdramsey commented on #1168
So far as I know, it's just semicolons and commas. I haven't seen any others.

@kvb2univpitt

[2019-06-25 18:25] kvb2univpitt commented on #1168
@jdramsey Ok.  We'll make it work for semicolons and commas for now.

[2019-06-25 18:25] #1168 closed

[2019-06-25 18:31] jdramsey opened #1170 "Need an FCI Variants to parallel PC Variants."
Basically, we need to port over the options for max, stable, conservative, etc. to FCI. Requested by Peter.

@kvb2univpitt @yuanzhou @chirayukong @espinoj Should I work on this?

[2019-06-25 18:39] kvb2univpitt commented on #1170
@jdramsey This is related to algorithm.  I would say yes, since we are not comfortable at modifying or enhancing any algorithm.

[2019-06-25 19:15] jdramsey commented on #1170
@kvb2univpitt OK.

[2019-06-25 21:47] mglymour commented on #1117
When will the new version of the manual be released to the master branch?

[2019-06-26 15:49] kvb2univpitt opened #1171 "Need to Move the Manual to Tetrad Lib"
Now that Tetrad gets the descriptions for tests, scores, and parameters from the manual, we need to move it to tetrad-lib so that causal-cmd can output the descriptions.

[2019-06-26 15:53] #1158 closed

[2019-06-26 15:53] #1156 closed

[2019-06-26 15:53] #1155 closed

[2019-06-26 16:20] kvb2univpitt commented on #1171
After looking through the tetrad-lib jar file, I see that the manual (index.html) is already there.  No work needed.

[2019-06-26 16:20] #1171 closed

[2019-06-28 05:03] rubenSaro opened #1172 "command line version --choose-dag-in-pattern"
@chirayukong

A new option added in cmd-1.0.0 is the --choose-dag-in-pattern, nevertheless it is not clear how to use it.

As a flag in an algorithm run ?, and thus two outputs are required: the pattern and the dag.

As a procedure, using as input a graph in txt file ?

Can you provide more info. about how to use this option.

Thanks a lot.

[2019-06-28 17:05] chirayukong commented on #1172
It is, in fact, a flag in an algorithm run.

Not only --choose-dag-in-pattern but also these options:

--choose-mag-in-pag,
--genereate-pattern-from-dag,
--genereate-pag-from-dag,
--genereate-pag-from-tsdag,
--make-bidirected-undirected,
--make-undirected-bidirected,
--make-all-edges-undirected,
--generate-complete-graph,
--extract-struct-model

would apply to the output graph from the search algo

[2019-06-28 17:32] rubenSaro commented on #1172
ok. so it is not implemented yet.

R.

El vie., 28 jun. 2019 a las 13:05, Chirayu (Kong) Wongchokprasitti (<
notifications@github.com>) escribió:

[2019-06-28 19:09] chirayukong commented on #1172
It is implemented but it would run only as an add-in to a graph output from the search. The link provided is the code implemented.

https://github.com/bd2kccd/causal-cmd/blob/f9184cc2c02bdf5bb60b4eee0aff20cb9a9298a1/src/main/java/edu/pitt/dbmi/causal/cmd/tetrad/TetradRunner.java#L157

[2019-07-02 02:13] cg09 opened #1174 "Some things we need to do"

[2019-07-02 02:15] cg09 commented on #1174
1. We need a working version of Lingam, maybe with direct ICA.
2. We need the algorithm comparison tool to work. Madelyn tells me it is not working. Essential for testing algorithms.

[2019-07-02 11:04] jdramsey opened #1175 "Port new covaraince code over to an accessible branch."
There is some new, well-tested covariance code (including code from Kevin). This needs to be ported to an accessible branch and cleaned up. If OK, it can be moved to development.

[2019-07-02 14:10] kvb2univpitt commented on #1129
Fixed.

[2019-07-02 14:10] #1129 closed

[2019-07-02 14:14] diegotsutsumi commented on #1129
Thanks for the fix and the feedback!

[2019-07-02 14:15] kvb2univpitt commented on #1175
@jdramsey Since my CovarianceOnTheFly class is really not "on the fly," let's rename it.

[2019-07-02 14:16] kvb2univpitt commented on #1129
@diegotsutsumi You are welcome.  Thank you for the feedback!

[2019-07-02 15:03] jdramsey commented on #1174
@Clark Glymour . <cg09@andrew.cmu.edu>
It's not clear to me we need working version of LiNGAM, except to say we've
done it and for demonstration purposes maybe. FAS + pairwise does as well
or better on the linear, acyclic, non-Gaussian case. Even if we got it to
work accurately, it doesn't scale. FAS + pairwise works great and scales
beautifully.

On Mon, Jul 1, 2019 at 10:15 PM cg09 <notification

[2019-07-02 15:33] jdramsey commented on #1174
@cg09 This works well for me if I don't shuffle the order of the variables. Still very slow though.

As for the shuffle, I don't see right off what the problem is but I'll ponder it.

[2019-07-02 15:53] jdramsey commented on #1174
@cg09 @yuanzhou @kvb2univpitt @mglymour

I found the bug. Now it works with shuffled variables.

I'll make a pull request later with the fix. See if Madelyn can break it.

Now you will have a very slow and mostly useless (except for very small problems) linear non-gaussian method.

[2019-07-02 16:52] jdramsey commented on #1174
@Clark Glymour . <cg09@andrew.cmu.edu> No, I don't have it working. I did
some more shufflings of the variables and it's still messing up. I'll keep
working another half an hour or so, but then I need to get back to my other
project. Sorry about that.

On Tue, Jul 2, 2019 at 11:02 AM Joseph Ramsey <jdramsey@andrew.cmu.edu>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Comput

[2019-07-02 18:07] cg09 commented on #1174
Without a working ICA and lingam we cannot test any of the many algorithms
that use one or both.  That is current research at CMU. So, yes we need it.
Others will want it.

Clark

On Tue, Jul 2, 2019 at 12:52 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-07-02 18:08] cg09 commented on #1174
By "This" do you mean the algorithms comparison tool?

On Tue, Jul 2, 2019 at 11:34 AM Joseph Ramsey <notifications@github.com>
wrote:

[2019-07-02 19:30] jdramsey commented on #1175
@kvb2univpitt What should we name it? I was calling it "KevinCovariances" but maybe not that. :)

[2019-07-02 19:33] jdramsey commented on #1175
I'll work on that stuff now. The tricky part (other than naming :)) is to see whether I can get rid of some methods that are only used in one place in the code, to make the API easy.

I've got standard covariances and Kevin covariances, for doubles and floats. The current covariancematrix on the fly I just made wrap the other covariancematrix; we can just get rid of it once I find a way to delete

[2019-07-02 20:33] jdramsey commented on #1175
@kvb2univpitt OK, I'm calling the standard calculation "standard" and yours "alternative". Feel free to rename.

The extra methods I was worried about are never used, so I deleted them. Now CovMatrixOnTheFly just wraps CovarianceMatrix and can be factored into nonexistence. I'll do that in the branch I'm making. I realized your calculation even without the parallelization was faster than CovMatrix

[2019-07-03 13:46] jdramsey opened #1177 "Make LiNGAM experimental."
it is still broken. This should not go into the next release unless it can be fixed.

[2019-07-03 23:10] noaholic commented on #1177
Everytime I perform a LiNGAM I get a different result for the same data.

[2019-07-05 12:21] jdramsey commented on #1147
Sorry, got distracted.

I don't think the first worry is an issue. When you're moving about in pattern space, you simply need to make sure you cannot move to patterns that are ruled out by your knowledge. Maybe it can be formulated a little better to guarantee that condition and to make sure that the scores are the scores of patterns, but that seems a detail. (Sorry, long habit. We think CPDAGs ar

[2019-07-07 02:24] freckletonj opened #1178 "Build instructions, and or Makefile?"
I'd love to play around with this, but the link to the latest doesn't work. (On http://www.phil.cmu.edu/tetrad/downloads.html, the link to https://cloud.ccd.pitt.edu/nexus/content/repositories/releases/edu/cmu/tetrad-gui/6.4.0/tetrad-gui-6.4.0-launch.jar).

I found an older jar to play around with, but any chance you could add some IDE-agnostic build instructions?

[2019-07-07 11:50] cpdag commented on #1147
I don't understand. Do you believe that the algorithm with the full restrictions is consistent or rather not?
Because in the last paragraph it seems that you would allow shields of any non-colliders, even against background knowledge.

Another point related to background knowledge is how you check the validity of an Insert(X,Y,**T**) operator.

From an earlier answer it seems that you just check i

[2019-07-07 14:53] jdramsey commented on #1147
Maybe we should move this conversation to email. I'm not sure everyone on
the Tetrad project is interested in following it. (It's being broadcast to
everyone!)

Joe

On Sun, Jul 7, 2019 at 7:50 AM cpdag <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

js

[2019-07-07 16:04] cg09 commented on #1147
Joe,

Keep me posted about this, please.

On Sun, Jul 7, 2019 at 10:53 AM Joseph Ramsey <notifications@github.com>
wrote:

[2019-07-07 20:15] cpdag commented on #1147
@jdramsey OK, I sent a message to your personal @andrew.cmu.edu email address.

[2019-07-31 14:59] kvb2univpitt opened #1183 "Equals Method of BoxDataSet Is Not Implemented Correctly"
This problem exists in branch **joe.work.2019.8**.  The following error is shown when running junit test for the module tetrad-gui:

[code]

This happens when the equals() method of BoxDataSet is invoked.

[2019-07-31 15:28] kvb2univpitt opened #1184 "Search Does Not Work on Discrete Data"
This problem exists in branch **joe.work.2019.8**.

1. Simulate discrete dataset.
2. Select any search algorithm and run.

![setup_algo](https://user-images.githubusercontent.com/10729309/62225253-1329b200-b386-11e9-8ea2-7280d5127c04.png)

![graph](https://user-images.githubusercontent.com/10729309/62225267-17ee6600-b386-11e9-90ea-417a7294ab26.png)

[2019-07-31 15:32] kvb2univpitt opened #1185 "Cannot Open Data Box"
This problem exists in branch **joe.work.2019.8**.

Cannot open data box to import data.

![databox](https://user-images.githubusercontent.com/10729309/62225614-c692a680-b386-11e9-9e69-f78e36b45ed8.png)

[code]

[2019-07-31 15:45] jdramsey commented on #1184
Oh!

On Wed, Jul 31, 2019, 11:28 AM Kevin Bui <notifications@github.com> wrote:

[2019-08-01 01:25] espinoj commented on #773
Implemented in 6.5

[2019-08-01 01:25] #773 closed

[2019-08-01 01:26] espinoj commented on #772
This is available in the corner of the graph.

[2019-08-01 01:26] #772 closed

[2019-08-01 01:28] espinoj commented on #948
Done.  ParameterDescription has an additional method to add extended description.

[2019-08-01 01:28] #948 closed

[2019-08-01 01:30] #821 closed

[2019-08-01 05:08] mglymour opened #1186 "Data Loader README"
A link to the Data Loader README file should be placed somewhere in the Tetrad Github. Also the README needs to include some documentation of how to convert Data objects into DataSet/DataModel objects using DataConvertUtils.

[2019-08-01 13:06] cg09 opened #1187 "Please, please, connect the new version of the manual to the sundry versions of TETRAD"

[2019-08-02 14:12] kvb2univpitt commented on #1186
@mglymour The [README](https://github.com/cmu-phil/tetrad/blob/development/data-reader/README.md) file for the data reader is already in the Tetrad Github repository in the data-reader module.  I will include some documentation on how to use the DataConvertUtils in the README file.

[2019-08-06 19:25] chirayukong opened #1190 "FasConcurrent doesn't work on Rfci with a bootstrapping option"
@jdramsey
java.lang.IllegalArgumentException
	at edu.cmu.tetrad.search.IndTestScore.isIndependent(IndTestScore.java:91)
	at edu.cmu.tetrad.search.FasConcurrent.doNodeDepth0(FasConcurrent.java:385)
	at edu.cmu.tetrad.search.FasConcurrent.access$1(FasConcurrent.java:353)
	at edu.cmu.tetrad.search.FasConcurrent$1Depth0Task.call(FasConcurrent.java:217)
	at edu.cmu.tetrad.search.FasConcurrent$1Depth0Ta

[2019-08-07 17:16] jdramsey commented on #1190
It looks like fans is being run using a score. Have you tried fisher z instead?

[2019-08-07 17:16] jdramsey commented on #1190
It looks like fans is being run using a score. Have you tried fisher z instead?

[2019-08-07 17:16] jdramsey commented on #1190
It looks like fans is being run using a score. Have you tried fisher z instead?

[2019-08-07 17:18] jdramsey commented on #1186
This looks good to me.

[2019-08-07 17:22] jdramsey commented on #1185
I think the solution to this is to add support to the data boss for the case of zero rows. I would do it now but all I have at the moment is an old iPad. :)

[2019-08-07 17:22] jdramsey commented on #1185
I think the solution to this is to add support to the data boss for the case of zero rows. I would do it now but all I have at the moment is an old iPad. :)

[2019-08-07 17:29] jdramsey commented on #1184
This one I can't debug using an iPad sorry

[2019-08-07 17:44] jdramsey commented on #1174
@cg09 I meant lingam. Back when I wrote that I thought it was working but then realized there was an order effect. Except for possibly ica the algorithm seems to be perfectly implemented. I even simplified it. So I don't know. All I know is I've done due diligence and it still doesn't work. I'll look at it again later. In general though there are better (though less well known) options that attemp

[2019-08-07 17:46] jdramsey commented on #1175
This is done.

[2019-08-07 17:46] #1175 closed

[2019-08-07 17:51] jdramsey commented on #1147
Closing this because it was moved to email.

[2019-08-07 17:51] #1147 closed

[2019-08-07 17:53] jdramsey commented on #1134
This is fixed.

[2019-08-07 17:53] #1134 closed

[2019-08-07 17:56] jdramsey commented on #1112
I think this has been fixed, at least in the development branch. I added a unit test to check for problems like this.

[2019-08-07 17:56] #1112 closed

[2019-08-07 17:58] #1103 closed

[2019-08-07 17:59] jdramsey commented on #1101
This interface has been removed.

[2019-08-07 17:59] #1101 closed

[2019-08-07 18:01] jdramsey commented on #1034
We want instead to replace the tabular editor with just a list of statistics.

[2019-08-07 18:01] #1034 closed

[2019-08-07 18:11] jdramsey commented on #1098
@cg09 Are you still worried about this?

[2019-08-07 18:12] jdramsey commented on #1083
This was fixed.

[2019-08-07 18:12] #1083 closed

[2019-08-07 18:17] #961 closed

[2019-08-07 18:18] #985 closed

[2019-08-07 19:37] cg09 commented on #1174
Madelyn is supposed to be working on a version of direct lingam. She needs
some help from Kun, but he is not teaching in the fall and so will be in
and out at times I can't predict.

Clark

On Wed, Aug 7, 2019 at 1:44 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-07 19:39] cg09 commented on #1034
Ok with me.

On Wed, Aug 7, 2019 at 2:01 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-07 19:40] cg09 commented on #1098
It seems to be working ok, with the correct version. Shuyan has been
running it. We need to change the manual and interface description to note
the conditions under which it works with categorical variables.

On Wed, Aug 7, 2019 at 2:11 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-07 20:27] chirayukong commented on #1190
But the dataset is discrete, so I ran it with Chi Square test, the default one. I'll try to debug it myself.

[2019-08-07 20:30] chirayukong commented on #1190
Nevermind. My code is out of date. It works. Sorry about that.

[2019-08-07 20:30] #1190 closed

[2019-08-08 15:35] kvb2univpitt commented on #1186
Done.

[2019-08-08 15:35] #1186 closed

[2019-08-08 15:37] #1172 closed

[2019-08-08 16:02] kvb2univpitt commented on #1185
I believe it's more than just handling array of size zero.  I think we need a  dynamic array, just like the ColtDataSet.  We might need to use TetradMatrix instead of ```double[][] data``` in the VerticalDoubleDataBox.

[2019-08-08 16:59] espinoj commented on #1187
The new version of the manual is now released alongside release of Tetrad version 6.7

http://cmu-phil.github.io/tetrad/manual/

[2019-08-08 16:59] #1187 closed

[2019-08-08 19:20] espinoj commented on #1178
Tetrad is built using maven so this is easy via command line.  Here's a wiki guide - https://github.com/cmu-phil/tetrad/wiki/Building-Tetrad-using-Command-Line

[2019-08-12 17:03] #1178 closed

[2019-08-12 17:03] freckletonj commented on #1178
Cool, thanks!

[2019-08-12 20:21] khaisieu1995 opened #1192 "Tetrad Keeps considering data as continuous variable when validating data"
Tetrad Keeps considering date data as continuous variable when validating data even when you select "mixed data" with high limits

[2019-08-13 14:30] kvb2univpitt commented on #1192
Is it possible to provide a sample of the dataset?

[2019-08-13 14:59] khaisieu1995 commented on #1192
[Bike-Sharing-Dataset.zip](https://github.com/cmu-phil/tetrad/files/3497550/Bike-Sharing-Dataset.zip)

This is the publicly available data set.  If you simply take a subset that contains the dates, temp, hum, atemp, and count. Tetrad will not be able to tell that dates can be discrete. You would need to force all discrete or all continuous (which will give an error).

Nevertheless, I have found a

[2019-08-13 15:06] kvb2univpitt commented on #1192
Thanks for the link to the dataset.  I am glad you've found a work-around.  We'll take a look at it and try to fix it in the meanwhile.

[2019-08-13 15:47] kvb2univpitt commented on #1192
@khaisieu1995 Since the dates are all unique, setting "max discrete categories" high would not work.  The right way would be to provide a metadata file as shown below:

[code]

However, even that doesn't work with the data validation.  Need to fix the data validation.

[2019-08-14 19:03] kvb2univpitt commented on #1192
Fixed.

[2019-08-14 19:03] #1192 closed

[2019-08-15 14:58] MikeKonrad opened #1194 "Backward compatability for opening Tetrad sessions"
Unfortunately, Tetrad sessions created under an earlier version of Tetrad (6.5.4 in this case) will not open in Tetrad 6.6.n or 6.7.0. Ouch!

Is there any way of accomplishing the above so that an entire session does not need to be created from scratch?

We've been working with research collaborators at USC and they need the very nice sortable edge statistics table that now appears under the searc

[2019-08-15 20:27] #1183 closed

[2019-08-16 11:39] azzaea commented on #614
Hello there,
Thank you for putting together such a powerful tool.
I'm new to Tetrad, so pardon me for maybe asking about the obvious-

Where can I find documentation for cmd and the HPC usage you discuss here? The [wiki](https://github.com/cmu-phil/tetrad/wiki/Command-Line-Tetrad) lists other algorithms than what you mention, and doesn't touch on HPC at all. I'm particularly interested in the Mark

[2019-08-16 16:00] MikeKonrad opened #1195 "Tetrad 6.7.0 has dropped SEM BIC-based independence test (related to Issue #821)"
Should the SEM BIC based independence test be gone for constraint-based search? It was present in Tetrad 6.6.0 but not 6.7.0.

My understanding from an email exchange with Joe over a year ago is that when the data departs pretty significantly from Gaussian distribution, SEM BIC might be the better test to use than Fisher Z.

Is that still the current thinking?

The discussion on Issue #821 suggest

[2019-08-16 17:18] bja43 opened #1196 "FCI is giving me a cycle!"
I ran FCI with default parameters on the newly released version of TETRAD (6.7.0). Please email me for the data I used.

![image](https://user-images.githubusercontent.com/16494809/63185433-0664b980-c028-11e9-9434-9c46bb4a4ed2.png)

[2019-08-16 17:25] MikeKonrad commented on #1195
I should generally be using FASK here, correct, instead of trying to use PC with SEM BIC for non-Gaussian but (mostly) linear data (under the additive noise model)?

[2019-08-16 18:08] azzaea commented on #614
I think I found useful pointers here: https://bd2kccd.github.io/docs/causal-cmd/ (very elegant, btw); but no mention of how to submit jobs to a cluster.
I mean, does it imply the tetrad job will expand upon whatever resources I reserve as part of my  submissions script (eg via sbatch script on a slurm cluster); or that I should tell tetrad which queue, how many nodes, cores, .. etc explicitly?
Tha

[2019-08-16 18:49] cg09 commented on #1195
Yes, FASK.  Clark

On Fri, Aug 16, 2019 at 1:25 PM Mike Konrad <notifications@github.com>
wrote:

[2019-08-16 21:14] jdramsey commented on #1196
If that's the data I think it is, it's not clear it's a DAG model.

[2019-08-16 22:16] chirayukong commented on #614
@azzaea you need to set up the REST API server on the HPC side in order to submit a job. Once, there is infrastructure ready, you can POST a job to the HPC node via API: https://bd2kccd.github.io/docs/causal-rest-api/ or Tetrad application.

[2019-08-16 22:32] azzaea commented on #614
I see- thank you!
Will ask my sys admin to set that up.

[2019-08-17 16:54] jdramsey commented on #1195
I talked with Mike about this--the issue is that with the new covariance matrix calculation, for GES SEM BIC always beats the Fisher Z score, under all scenarios, and for constraint-based algorithms, Fisher Z test always beats SEM BIC test, under all scenarios. So since we know this, Fisher Z score and SEM BIC test were taking out of the interface. It doesn't makes sense to suggest to the user tha

[2019-08-17 16:54] #1195 closed

[2019-08-17 16:59] jdramsey commented on #821
Just a note; with the new covariance calculation @kvb2univpitt did, for GES, SEM BIC score always beats Fisher Z Score the best and for constraint-based, Fisher Z test always beats SEM BIC test, so the worse test and score are removed in Tetrad 7.

[2019-08-17 21:14] jdramsey commented on #1196
Also, FCI doesn't have a cycle checker.

[2019-08-17 21:14] #1196 closed

[2019-08-17 21:16] jdramsey commented on #1185
I think it can be non-dynamic; it's initialized using a specific double[][] array. Let me look at it.

[2019-08-17 21:18] jdramsey commented on #1177
Making this experimental in branch joe.work.2019.8

[2019-08-17 21:20] jdramsey commented on #1161
Duplicate, see https://github.com/cmu-phil/tetrad/issues/1177.

[2019-08-17 21:20] #1161 closed

[2019-08-17 21:21] jdramsey commented on #1162
@cg09 @mglymour Was this fixed? If so, in what branch? Thanks.

[2019-08-17 21:23] cg09 commented on #1177
The algorithms should have done a check for whether the data could be
explained without latent variables. Madelyn wrote code for them to do it.
I don't know if it ever got to github.  Madelyn?

Clark

On Sat, Aug 17, 2019 at 5:18 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-17 21:30] jdramsey commented on #1119
@MikeKonrad Does this still behave badly in tetrad 7?

[2019-08-17 21:42] jdramsey commented on #1177
Actually, fixed the experimental tag in joe.few.changes.from.issues.

[2019-08-17 21:43] jdramsey commented on #1177
What is this check you speak of?

@cg09 @mglymour

[2019-08-17 21:53] jdramsey commented on #1118
the coefficient range is .2 to .7, and the covariance range is 0 to 0, but the error variance range is 1 to 3. I'll pull that last back a little. @cg09 0.125 - 0.375 seems to small so me; are you basing this on a calculation?

[2019-08-17 21:56] cg09 commented on #1118
You have an error variance as much as 15 times the mean. No wonder if all
you find is noise.

On Sat, Aug 17, 2019 at 5:53 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-17 21:58] cg09 commented on #1177
The check is to see if the tetrad constraints are entailed by vanishing
partial correlations.

On Sat, Aug 17, 2019 at 5:43 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-17 22:03] jdramsey commented on #1111
Fixed in joe.few.changes.from.issues.

[2019-08-17 22:05] jdramsey commented on #1098
OK, so this is a description problem, then. I'll leave it open for now.

[2019-08-17 22:11] jdramsey commented on #1039
I am rescinding this complaint. No one else seems to have been bothered by it.

[2019-08-17 22:11] #1039 closed

[2019-08-17 22:11] jdramsey commented on #1038
This was done on April 4, apparently.

[2019-08-17 22:11] #1038 closed

[2019-08-17 22:13] jdramsey commented on #1031
We have this now! :)

[2019-08-17 22:13] #1031 closed

[2019-08-17 22:14] jdramsey commented on #1027
I am wondering whether this needs to be fixed. It seems to be a secret bug that only I know about.

[2019-08-17 22:15] jdramsey commented on #1013
Fixed.

[2019-08-17 22:15] #1013 closed

[2019-08-17 22:17] jdramsey commented on #1012
Fixed. Just checked.

[2019-08-17 22:17] #1012 closed

[2019-08-17 22:21] jdramsey commented on #1001
This is fixed.

[2019-08-17 22:21] #1001 closed

[2019-08-17 22:23] jdramsey commented on #896
This is fixed.

[2019-08-17 22:23] #896 closed

[2019-08-17 22:24] jdramsey commented on #892
This has been done in joe.work.2019.8 but needs to be debugged a little following reports by KB.

[2019-08-17 22:29] jdramsey commented on #755
We do have ION. It's a technical problem to put it into the interface; putting it in using the old method (which is available) will mess up the search interface, so something else is needed I think.

@cg09

[2019-08-17 22:32] cg09 commented on #1027
Which is?

On Sat, Aug 17, 2019 at 6:14 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-17 22:32] jdramsey commented on #599
This issue has been long settled.

[2019-08-17 22:32] #599 closed

[2019-08-17 22:34] jdramsey commented on #446
This was fixed.

[2019-08-17 22:34] #446 closed

[2019-08-17 22:35] jdramsey commented on #351
@chirayukong This old issue--is this still a problem, in, say, pcausal? If not can we close it?

[2019-08-17 22:35] #351 closed

[2019-08-17 22:38] jdramsey commented on #1118
That i see, but if you use the range for standard deviations 0.125 - 0.375, that makes the variances 0.015 - .141, which seems low.

[2019-08-17 22:40] #1027 closed

[2019-08-17 22:42] jdramsey commented on #1027
That is you (on a Mac) use command-Q to quit the problem, you could corrupt the session file, because that's not a Java command key sequence, it's a Mac sequence, and overrides Java. I have no idea how to fix it; I tried before, with no success. What will happen is you will think you're saving the session but you will not succeed. The session will be corrupted, and you won't be able to load it aga

[2019-08-18 16:51] cg09 commented on #1194
Backward compatibility is a huge problem. Microsoft, for all its billions,
can't do it. We sure can't, so far as I know.

Clark

On Thu, Aug 15, 2019 at 10:58 AM Mike Konrad <notifications@github.com>
wrote:

[2019-08-18 20:50] chirayukong commented on #351
Yep. We can close this issue. It was fixed. The pycausal will support in the lagged dataset in the next minor change version. In this point, they can call a jar file directly, manually create a pior knowledge and call the time-series search algorithm.

[2019-08-18 21:58] jdramsey commented on #351
Yay! @chirayukong

[2019-08-19 18:24] jdramsey commented on #1185
Fixed it! In joe.work.2019.8. @kvb2univpitt

[2019-08-19 18:31] kvb2univpitt commented on #1185
@jdramsey Nice work!  Did you push it to upstream?  I can test it out.

[2019-08-19 18:56] jdramsey commented on #1184
OK, PC with chi square or g square works. FCI with same works. But FGES with BDeu doesn't work. FGES with discrete BIC works! :? Note also that the discrete estimator doesn't work; it freezes up on one variable. So... long stroking of non-existent beard... the problem is BDeu?

[2019-08-19 19:14] jdramsey commented on #1184
No, the problem here was that the structure prior was set to 0, leading to negatively infinite scores. I'll set the default for the structure prior to 1 and bound it away from zero.

[2019-08-19 20:20] jdramsey commented on #1184
I found the problem.  This, line 120 in BayesEstimatorEditorWizard:

            setCurrentNode(node);

should have been this:

            setCurrentNode((Node) varNamesComboBox.getSelectedItem());

Not sure how that got changed...

[2019-08-19 20:24] jdramsey commented on #1184
OK I judge this a success! Will look for other bugs from @kvb2univpitt and if none will do a pull request.

[2019-08-19 20:56] jdramsey commented on #1185
I just did! :) I wrote down (I think!) all of the fixes I did, though if
you see any other small fixes let me know and I'll explain them. :)

On Mon, Aug 19, 2019 at 2:31 PM Kevin Bui <notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com

[2019-08-21 11:55] mahnaz-qafari opened #1199 "Java API"
Greetings,
It is mentioned that there are Javadocs for  the Tetrad API in [here](https://www.ccd.pitt.edu//wiki/index.php?title=Documentation_on_using_the_causal-cmd_software#Use_as_an_API). They provide this [link](http://cmu-phil.github.io/tetrad/tetrad-lib-apidocs/) for that, but it is not working.
As I need to work with the Tetrad using an API, my current plan is to discover the correct sequen

[2019-08-21 15:22] jdramsey commented on #1160
I just tried this; it doesn't seem to be doing that. Maybe it was fixed. Or maybe I'm not doing it right. @ps7z

[2019-08-21 15:22] #1128 closed

[2019-08-21 15:25] jdramsey commented on #1119
There is a data manipulation called Remove Constant Columns. I think that should do the trick if it's not currently working as is.

[2019-08-21 15:25] #1119 closed

[2019-08-21 15:31] jdramsey commented on #1041
No one but me has been bothered by this, so rescinding.

[2019-08-21 15:31] #1041 closed

[2019-08-21 15:35] jdramsey commented on #892
It seems to all work!!!!!!!!!!!!!!!!!

KB reviewing.

[2019-08-21 15:40] jdramsey commented on #867
@espinoj Wow, I had totally forgotten about that presentation. I'd say we stick to the KCI and CCI options, which we already have. They perform the best.

[2019-08-21 15:41] jdramsey commented on #789
LiNGAM has been mysteriously broken for quite some time. It's being marked as experimental until it can be fixed.

[2019-08-21 15:41] #789 closed

[2019-08-21 15:42] #752 closed

[2019-08-21 15:43] jdramsey commented on #594
I believe this was fixed a long time ago.

[2019-08-21 15:43] #594 closed

[2019-08-21 16:10] jdramsey commented on #722
@chirayukong Wasn't the Python problem here fixed?

[2019-08-21 16:10] jdramsey commented on #617
This is fixed.

[2019-08-21 16:10] #617 closed

[2019-08-21 16:12] jdramsey commented on #616
This is a non-issue now that loading simulations has been eliminated.

[2019-08-21 16:12] #616 closed

[2019-08-21 16:15] jdramsey commented on #566
The current manual gives this information. @espinoj

[2019-08-21 16:17] espinoj commented on #566
I know we've been keeping the online help of Tetrad around but maybe we should figure out how to take it out since the same information is in the manual now.  Maybe link info buttons to manual?

[2019-08-21 16:20] jdramsey commented on #640
This is a non-issue now.

[2019-08-21 16:20] #640 closed

[2019-08-21 16:21] chirayukong commented on #722
I gave them the workaround python code to call Java class directly.

[2019-08-21 16:22] #750 closed

[2019-08-21 16:27] jdramsey commented on #748
@cg09 How about this. This is for the problem of TsFCI needing time-lagged data, which you don't have if you follow the usual pipeline. The error message is "Time-series algorithm needs lagged data." This can instead read, "Time-series algorithm needs lagged data; try using the 'Convert to Time Lag Data' data manipulation."

[2019-08-21 16:39] jdramsey commented on #736
This is totally fixed. Calling it.

[2019-08-21 16:39] #736 closed

[2019-08-21 17:04] jdramsey commented on #722
Cool. :) So I can close this, right? Looks like?

On Wed, Aug 21, 2019 at 12:21 PM Chirayu (Kong) Wongchokprasitti <
notifications@github.com> wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-08-21 17:05] jdramsey commented on #566
That sounds great. I would like to know what @cg09 thinks though--Clark?

On Wed, Aug 21, 2019 at 12:17 PM Jeremy Espino <notifications@github.com>
wrote:

--
Joseph D. Ramsey
Special Faculty and Director of Research Computing
Department of Philosophy
135 Baker Hall
Carnegie Mellon University
Pittsburgh, PA 15213

jsph.ramsey@gmail.com
Office: (412) 268-8063
http://www.andrew.cmu.edu/user/jdramsey

[2019-08-21 17:15] jdramsey commented on #733
@cg09 I thought about this issue, https://github.com/cmu-phil/tetrad/issues/733. I think it's ambiguous to do a search from a PM or an IM; it makes you think it has more information to appeal to than just the graph. You can always hang a graph off of a PM or an IM and search that using d-separation.

 I checked, searching on a graph works now.

[2019-08-21 17:16] jdramsey commented on #696
OK, I'm going to interpret stunned silence on this issue as a yes. :) Closing.

[2019-08-21 17:16] #696 closed

[2019-08-21 17:18] jdramsey commented on #728
This was fixed (by me).

[2019-08-21 17:18] #728 closed

[2019-08-21 17:19] #722 closed

[2019-08-21 17:21] jdramsey commented on #715
I think we agreed that the error counting for this was OK. There are no adjacency errors and one 2-cycle error. I'll close this, and if someone thinks that's a mistake they can reopen it.

[2019-08-21 17:21] #715 closed

[2019-08-21 17:24] jdramsey commented on #685
No more information seems to be forthcoming on this issue; and we can't reproduce the error using our own attempts. Closing for now. If more information comes in, please re-open.

[2019-08-21 17:24] #685 closed

[2019-08-21 17:36] tzimiskes commented on #696
Ha! I was busy planning a move and job switch, so I don't think I ever followed up with this.

[2019-08-21 17:42] jdramsey commented on #733
I'm going to close this; there's an easy workaround. Triage level low.

[2019-08-21 17:42] #733 closed

[2019-08-21 17:43] jdramsey commented on #530
@chirayukong Was *this* one fixed? I saw you reference it... :)

[2019-08-21 18:16] chirayukong commented on #530
Yep. I did it a long time ago under the lofs algorithm.

[2019-08-21 18:16] #530 closed

[2019-08-21 18:33] jdramsey commented on #1185
This is fixed.

[2019-08-21 18:33] #1185 closed

[2019-08-21 18:34] jdramsey commented on #1184
Fixed.

[2019-08-21 18:34] #1184 closed

[2019-08-21 18:36] jdramsey commented on #1160
Can't reproduce. I think it was fixed.

[2019-08-21 18:36] #1160 closed

[2019-08-21 18:36] jdramsey commented on #1111
Fixed.

[2019-08-21 18:36] #1111 closed

[2019-08-21 18:37] jdramsey commented on #1100
Fixed.

[2019-08-21 18:37] #1100 closed

[2019-08-21 18:39] jdramsey commented on #1098
@cg09 Could you or Shuyan write up a description of the conditions under which FOFC works with categorical variables? I can add it to the manual. I just don't know those conditions.

[2019-08-21 18:40] jdramsey commented on #1082
@espinoj I think this was done but I'm not sure.

[2019-08-21 18:46] jdramsey commented on #1068
This was fixed. Works now.

[2019-08-21 18:46] #1068 closed

[2019-08-21 18:47] jdramsey commented on #1028
Duplicate.

[2019-08-21 18:47] #1028 closed

[2019-08-21 18:48] #1026 closed

[2019-08-21 18:49] #999 closed

[2019-08-21 18:55] jdramsey commented on #995
Hold it, that's not a bug; select manual and the parameters are copied over. With a little work, the "Randomly" option could be removed, or the "manual" option renamed for this context. But, no bug here.

[2019-08-21 18:55] #995 closed

[2019-08-21 18:56] #998 closed

[2019-08-21 18:58] #994 closed

[2019-08-21 18:59] jdramsey commented on #990
@rubenSaro Can we close this?

[2019-08-21 19:04] jdramsey commented on #862
@chirayukong @cabal-cmu Can this be closed? There was no further feedback. It's been over a year now.

[2019-08-21 19:09] jdramsey commented on #853
OK, calling it. This discussion has been rendered moot by the following decisions:

(a) To make the save simulation menu item actually work to save out all of the graphs and datasets in a simulation; and,

(b) To fix the search box to do one search only and skip the multiple searches.

closing.

[2019-08-21 19:09] #853 closed

[2019-08-21 19:09] #836 closed

[2019-08-21 19:11] jdramsey commented on #945
@kvb2univpitt It seems this has all been done, no?

[2019-08-21 19:14] jdramsey opened #1200 "Convert Table Comparison to just list stats instead of using table."
Sorry guys, I need to put this here. I *said* I would do it.

The issue is that Tabular Comparison is now pointless, now that search boxes only ever output one result. We can just list the statistic instead of putting them in a table.

[2019-08-21 19:23] kvb2univpitt commented on #945
I think we settled with file delimiter inference, which is done.

[2019-08-21 19:26] jdramsey commented on #945
@espinoj I guess this is up to you; can we close this?

[2019-08-21 19:29] jdramsey commented on #945
@espinoj Sorry to close so many issues, but I'm getting lost in the issues list. I'm only closing ones I know can be close.

[2019-08-21 20:42] rubenSaro commented on #990
yes

On Wed, Aug 21, 2019, 2:59 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-21 20:45] jdramsey commented on #990
Yay!

[2019-08-21 20:45] #990 closed

[2019-08-22 12:02] MikeKonrad opened #1201 "GUI 6.7.0 set parameters menu for FASK is incomplete and redundant"
If in the public release of 6.7.0 GUI, in the Search Box's Choose Algorithm menu,  I specify FASK, when I click on Set Parameters, I do not see a panel for setting Bootstrap parameters. It's gone!

Also, no matter what independence test I specify in the first menu, in the Set Parameters menu, the panel for that test redundantly offers the same parameters as already provided in the FASK panel part

[2019-08-22 17:24] kvb2univpitt opened #1202 "joe.work.2019.8: Unable to Manually Enter Data in the Data Box"
The data disappears when manually entering data into the data cell.

[2019-08-22 20:37] khaisieu1995 commented on #1192
Dear Kevin, would you mind sending the link to the download the version of tetrad where this issue is fixed?
I dont believe it is fixed in 6.7.0.
Thank you very much!

[2019-08-23 17:21] jdramsey commented on #61
OK, I am looking at LiNGAM. After some work I'm getting pretty good results orienting a 3-variable collider model, which wasn't happening before. I went back to the original paper and once again tried to put the code in line with that paper. I think I did a better job this time. This is a trace. X2 is the child; the order of the variables here is not randomized; I'll try that next.

Here is the pa

[2019-08-23 17:44] #1194 closed

[2019-08-23 17:45] #984 closed

[2019-08-23 17:47] espinoj commented on #982
this will remain open until Ruben buys us beer.

[2019-08-23 18:09] rubenSaro commented on #982
hahah I will get you guys beer next time I visit Pittsburgh.

On Fri, Aug 23, 2019, 1:47 PM Jeremy Espino <notifications@github.com>
wrote:

[2019-08-23 19:14] jdramsey commented on #61
Current performance, compared to FASK.

N = 1000
10 nodes, 10 edges, DAG
Linear Fisher simulation using non-Gaussian errors.
Columns in data set randomly reordered.

For ICA:

Max iterations = 1000
Deflation algorithm
Log cosh function
Tolerance 1e-6.

Algorithms:

1. LiNGAM (Linear Non-Gaussian Acyclic Model
2. FASK using Fisher Z test

Graphs are being compared to the true DAG.

AVERAGE STATISTI

[2019-08-23 21:10] jdramsey commented on #61
New clue. Raising coefficient range to +/-(.5, 1.2). Now (our) LiNGAM and FASK are very close in performance. So (our) LiNGAM just doesn't do well with smaller coefficients. (Or, FASK does worse with larger coefficients.)

10 nodes, 10 edges, random DAG
10 runs averaged
Linear Fisher simulation using non-Gaussian errors.
Columns in data set randomly reordered.

For ICA:

Max iterations = 1000
Defl

[2019-08-23 21:14] kvb2univpitt commented on #1192
@khaisieu1995 The changes have been made to the development branch.

[2019-08-23 21:40] jdramsey commented on #1202
@kvb2univpitt OK, this is fixed for continuous data sets. So it works from a blank data editor, you can add new data and it will keep up with you and add missing value markers where necessary.

The problem was the data box resizing. This needs to be pushed down into the individual data boxes to get it to work with arbitrary data box types.

[2019-08-23 21:54] cg09 commented on #61
Since there is a kind of trade-off between estimated associations and
sample sizes, and LinGam famously requires large sample sizes for accuracy,
this is not surprising.

Clark

On Fri, Aug 23, 2019 at 5:10 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-26 17:23] espinoj opened #1203 "Add degenerate gaussian score method"
Bryan implemented and published the degenerate gaussian score which can be used with mixed datatypes.  Should merge to development.  It's in:
https://github.com/cmu-phil/tetrad/tree/degenerateGaussian

[2019-08-26 21:47] cg09 commented on #61
Try it with different non-Gaussian noises?

On Mon, Aug 26, 2019 at 5:16 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-27 09:05] mahnaz-qafari commented on #1199
Thank you both for answering.
An update on the example of using the API can be quite helpful.
After that I can find my way using test units.
Cheers,
Mahnaz

[2019-08-27 14:11] jdramsey opened #1205 "Code up direct LiNGAM."
Making this a separate issue. @mglymour @cg09

I think the ICA in the branch joe.lingam will support this. Hopefully this can be merged into development in the near future. (First we have to merge joe.work.2019.8, which involves one but fix I will do shortly.)

[2019-08-27 15:00] jdramsey opened #1206 "The randomly reorder columns parameter should by default be true."
This got set to false somehow, but it needs to be set back to true. The reason it that when it's false, it can lead the user to overestimate the quality of their models, since there is a bias for many algorithms (such as PC) to orient edges in the direction of their order in the data set. The user should have to specifically set that to false if they want it to be false. In fact, when loading data

[2019-08-27 18:24] #1206 closed, assigned to nobody

[2019-08-27 19:40] cg09 commented on #1202
Yes, making a data set from scratch or adding a new column by hand might
sometimes be useful.

On Tue, Aug 27, 2019 at 2:58 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-27 22:09] cg09 commented on #1202
Sure I could. Can I save out a data object from TETRAD as an Excel file?  I
cannot.

On Tue, Aug 27, 2019 at 4:43 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-28 07:57] mehranmehr commented on #1199
It would be nice if an explicit API was designed for Tetrad. In its current state, one need to read the code, the javadoc (not all the classes have Javadoc), and the unit tests to use it. Moreover, his code might not work with the later versions of Tetrad as developer can easily change everything.

With an explicit API (separate jar file) with a backward compatibility property and proper versionin

[2019-08-29 17:48] jdramsey commented on #1065
This is fixed.

[2019-08-29 17:48] #1065 closed

[2019-08-30 09:20] jdramsey commented on #870
By the way, in case it's gotten lost in the the shuffle, this is the paper.

[Sellke-Bayarri-Berger-calibration-of-P-2001.pdf](https://github.com/cmu-phil/tetrad/files/3559237/Sellke-Bayarri-Berger-calibration-of-P-2001.pdf)

[2019-08-30 11:20] jdramsey commented on #870
OK, I believe I've done this right. I have added the formula (3) from the above paper to the Fisher Z test. It's optional; I added a parameter ("Yes if the Sellke et al. adjustment should be used for alpha values.") which when set to Yes applies this transform.

The adjustment is alpha = 1.0 / (1.0 + (1.0 / (-e * p * log(p)))). I believe e is the original alpha, p the p-value, and alpha the adjust

[2019-08-30 18:30] jdramsey commented on #61
Yay, we can finally close this issue! It's in development and has been checked!

[2019-08-30 18:30] #61 closed

[2019-08-30 18:32] jdramsey commented on #1202
This has been fixed! https://github.com/cmu-phil/tetrad/pull/1198

[2019-08-30 18:32] #1202 closed

[2019-08-30 18:35] jdramsey commented on #868
@mglymour Can you remind me where the unmixing code is living? I think ICA is right now so maybe it will magically improve if given the chance.

[2019-08-30 18:42] mglymour commented on #868
The most up-to-date version lives... somewhere on my computer. Want me to dig it up and try it out with the new improved ICA?

[2019-08-30 18:52] cg09 commented on #868
Absolutely.

On Fri, Aug 30, 2019 at 2:42 PM mglymour <notifications@github.com> wrote:

[2019-08-30 18:57] jdramsey commented on #868
Oh I just found it! It's in the branch demixernongaussian. I pulled all of the code from development into it, as a heavy handed way to get the updated Fast ICA, and adjust the data loading code.

I honestly think it's better. One thing that needs attention though is the orienation of each matrix. The new FAstICA is variables x cases; before it was cases x variables. (I finally gave into the Europe

[2019-08-30 19:05] jdramsey commented on #868
@mglymour Oh, sorry, I just registered that you have an even more up to date version--awesome! I'm wondering if you can reconcile that with what's in the branch? That is, whenever you have time. I'm not in a rush, just trying to tie up some loose ends.

[2019-08-30 19:39] cg09 opened #1208 "Why to use the gui tetrad from the CCD webpage must I install a JDK developer kit? That's what the thing requires."

[2019-08-30 19:43] jdramsey commented on #1208
No, that's a good point. It just requires a JRE. I think.

[2019-08-30 19:54] cg09 commented on #1208
Right, but the sign says the jdk. Works, of course, with the jdk, but the
JRE ought to suffice.

On Fri, Aug 30, 2019 at 3:43 PM Joseph Ramsey <notifications@github.com>
wrote:

[2019-08-30 20:09] kvb2univpitt commented on #1208
JDK developer kit is required to compile Tetrad.  Tetrad can be run using either JDK or JRE.  I think we need to make that clarification.

[2019-08-30 22:49] espinoj commented on #1208
Where and what page does it say that?

[2019-09-02 17:26] jdramsey opened #1209 "Need to distinguish the two structure priors."
Small bit of detective work. I just realized that the structure prior coefficient of BDeu is being conflated with the structure prior coefficient of SEM BIC. That's why the default had been set to zero, then one, then zero, then one. These two parameters need to be distinguished. The structure prior for BDeu should by default be 1 (definitely, or the search will return no edges!), but the structur

[2019-09-03 19:25] jdramsey commented on #1203
@espinoj Would you like me to do this? I think I understand Bryan's code...

[2019-09-03 19:28] jdramsey commented on #1205
@espinoj After discussion with Clark and Peter, I'm taking this out of the issues list, since we have a working LiNGAM now.

[2019-09-03 19:28] #1205 closed

[2019-09-03 19:32] jdramsey commented on #1200
This is done.

[2019-09-03 19:32] #1200 closed

[2019-09-03 19:39] jdramsey commented on #867
@espinoj Talking with Clark just now--CCI and KCI are enough. We can close this I think.

[2019-09-03 19:41] jdramsey commented on #826
@espinoj Whoever was requesting that hasn't said anything in a long time, so I'm taking this back out. (I put it in.)

[2019-09-03 19:41] #826 closed

[2019-09-03 19:47] jdramsey commented on #596
@espinoj @cg09 Regarding Two-Step, which we have a Matlab java jar for, I recall the problem we were having with it, putting in the interface, was that you couldn't stop it once you started it, and it took a very long time. the only way to stop it was to quit the program. However, in the spirit of realizing things, that doesn't matter at all if you put it in the command line version or the R or Pa

[2019-09-18 14:04] LizMcQuillan opened #1212 "Knowledge box not accepting Data box as input"
V 6.7.0-0
The "Help" text for the Knowledge Box, Forbidden Graph lists Data as an acceptable input. However, when I select Forbidden Graph it results in the following error: "I couldn't find a parent graph".

[2019-09-19 20:22] LizMcQuillan opened #1213 ""Run Search & Generate Graph" button not working"
On version 6.7.0. Attempting to run FCI with default parameters. When I click the "Run Search & Generate Graph" button nothing happens, nothing prints to the log.

[2019-09-20 12:36] jdramsey opened #1214 "Need to re-add graph item that lists ambiguous and underline triples."
There is a menu item somewhere in the code that lists all of the ambiguous triples and underline triples for a graph. This needs to be located and added into the graph menu for all of the graphs that have one. Should be easy.

[2019-09-23 16:20] khaisieu1995 opened #1215 "FCI and GFCI either do not run or take too long"
To whom this may concern,
I am working on a causal search for a real-world dataset. Unfortunately, I cannot share the dataset here due to confidentiality issue, but here is a description of the dataset:
1. It has 25000 rows and 20 (mixed) variables
2. About 10 of the variables are continuous, potentially multivariate, and potentially dependent on the discrete variables.
3. About 10 of the variable

[2019-09-23 18:13] jdramsey commented on #1215
Well, one thing is you have discrete variables with up to 100 categories. That can lead to some rather sizeable tables.

[2019-09-23 18:37] khaisieu1995 commented on #1215
Dear jdramsey,
I have corrected that typo. I meant there are only 6 categories for each discrete variables.
Sieu

[2019-09-23 18:51] bja43 commented on #1215
The CG score/test is failing in this case because it is repeatedly partitioning your 25,000 instances according to the various settings of your discrete variables. Another score, the degenerate Gaussian (DG) score, was recently developed for this case since it is a known failure case for the CG score.

Unfortunately, I am not sure if the DG score is in the published version of TETRAD yet and I kno

[2019-09-23 19:07] espinoj commented on #1215
Checking with @chirayukong to see where he is in terms of pulling this into development.

[2019-09-23 23:32] chirayukong commented on #1215
Give me a moment. Let me check out this branch.

[2019-09-24 06:10] chirayukong commented on #1215
https://github.com/cmu-phil/tetrad/pull/1216

[2019-09-24 17:05] chirayukong commented on #1215
@khaisieu1995 the degenerate Gaussian independent test and score are merged into the development branch. You can try the new test/score for GFCI and a test for FCI.

[2019-09-24 18:31] khaisieu1995 commented on #1215
Thank you very much for responding so quickly and for all of your help. I will test this new version and report any additional issues if I found any.

[2019-09-27 15:26] espinoj opened #1217 "Speed of Knowledge File loading"
Chunhui is reporting slow knowledge file loading for a large knowledge file in causal command.  @kvb2univpitt Can this be sped up?

I think relevent class is
edu/cmu/tetrad/data/DataReader.java
even though it is deprecated I don't think we moved to use data-reader package yet.

[2019-09-27 15:53] kvb2univpitt commented on #1217
@espinoj I think now is a good time to write a "new and improved" knowledge reader so that we can move away from the deprecated DataReader class.

[2019-09-27 16:34] espinoj commented on #1217
@kvb2univpitt great.  Looking in my emails also take a look of the forbidden group declaration is actually working.

"Chuhui is trying to load a large forbidden graph and would benefit from the syntactic sugar of forbidden groups in the knowledge file. I've seen the code but I don't know the syntax.  We want to do something like.

Forbid X1 to anything in the group X2,X3,X4,X5"

[2019-09-27 18:20] kvb2univpitt commented on #1217
@espinoj So, you want a compact way of representing forbidden edges?  That will break a lot of things.  And, it wouldn't be compatible with existing knowledge file.

[2019-10-01 18:45] kvb2univpitt commented on #1217
It turns out that printing Knowledge object to log causes the performance issue.

[2019-10-01 20:33] hsmith1123 opened #1219 "Unknown Question Boxes for Model Statistics in IM"
When running a SEM instantiated model from our SEM parametric model and looking at the model statistics tab we are running into a few questions. First, the degrees of freedom continually changes when we make small changes to our data which should not effect the df. Second, where we should see model statistics we only see question mark boxes which are unexplained. Here is a screenshot of what we ar

[2019-10-02 08:22] jdramsey commented on #1219
Curious, is it possible there is any of the following situation with your data?

* Missing values

* Constant column

* Singularity

[2019-10-10 17:20] abbasalipour opened #1220 "error in estimator"
Hi
What is the problem with my estimator?
![Capture 1](https://user-images.githubusercontent.com/46406150/66591247-59c63480-eb9f-11e9-9e24-3b893ddad39f.PNG)

[2019-10-17 19:36] jdramsey commented on #1220
Why is there an edges from data to PM?

[2019-10-24 19:28] rubenSaro opened #1224 "problem with imgs_cont/fges algorithm in CMD 1.1.1"
Hi,
In the new tetrad command line, 1.1.1.  when calling imgs_cont or fges, no option to control the penalty discount is available.

Unrecognized option: --penaltyDiscount

Is this a bug or a new modification on the score of fGES and IMaGES ?

[2019-10-24 20:52] rubenSaro opened #1225 "Problem with fges and imgs_cont in CMD 1.1.1"
Hi,
In the new tetrad command line, 1.1.1.  when calling imgs_cont or fges, no option to control the penalty discount is available.

Unrecognized option: --penaltyDiscount

[2019-10-24 20:52] #1224 closed

[2019-10-25 17:39] jdramsey opened #1226 "Put CStar in the interface."
So CStaR is still basically working. It needs to be cleaned up a little to put in the interface, but I forgot about one thing (sorry, It's been a while). The problem is, a more or less meaningless graph is being displayed currently for this. What we need instead of a graph is just a text box. The text table to display in the text box is already calculated; we just need to be able to display is in

[2019-10-25 17:41] jdramsey commented on #1226
Oh, the class is called CStaS (Causal Stability Selection); the CStaR table (which is what should be displayed) is easy to print out. There's a method for that in CStaS.

I'm renaming the CStaS algorithm wrapper to CStaR.

[2019-10-25 17:46] jdramsey commented on #1226
OK I pushed it. There may be some outstanding issues still; I haven't looked at this in a while, but just getting the CStaR table in the interface would be a coup.

[2019-10-25 17:49] MikeKonrad commented on #1226
Yes, it would be wonderful to have CStaR accessible from the GUI. Our team of Tetrad users here would really benefit from this added functionality!!

Mike Konrad

From: Joseph Ramsey <notifications@github.com>
Sent: Friday, October 25, 2019 1:46 PM
To: cmu-phil/tetrad <tetrad@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [cmu-phil/tetrad] Put CStar in the interfac

[2019-10-25 17:53] jdramsey commented on #1226
I realize this is going to require an explanation. The text giving in the previous annotation description tag is a little helpful:

Performs a CStaS analysis of the given dataset (Stekhoven, Daniel J., et al. Causal stability ranking. Bioinformatics 28.21 (2012): 2819-2823) and returns a graph in which all selected variables are shown as into the targets.

That's fine, except we need to replace th

[2019-10-27 14:18] kvb2univpitt commented on #1225
@rubenSaro Staring with Tetrad version 6.7.0, parameters for test and score are no long part of the algorithm's getParameters method.  Causal-cmd is still using the old way of getting the parameters for test and score through getParameters() method of the algorithm.

This is a causal-cmd issue.  I will close the issue here and reopen it in the causal-cmd repository.

[2019-10-27 14:18] #1225 closed

[2019-10-27 22:22] rubenSaro commented on #1225
thanks Kevin

On Sun, Oct 27, 2019, 10:18 AM Kevin Bui <notifications@github.com> wrote:

[2019-10-28 18:36] jdramsey opened #1227 "TsFCI description in search box not available, but it's in the manual."
Got a report that when you select TSFCI in the search box, the description box is empty. The algorithm is described in the manual (which I pointed out), but still, should this text box be displaying something? In 6.8.0.

[2019-10-28 19:24] kvb2univpitt commented on #1227
@jdramsey The problem is that the value of the attribute _id_ of the div tag in the manual is incorrect.  It should be this `ts-fci` and not `tsfci`.
I can fix that.  I'll send you a pull request.